﻿<template>
    <div class="d-table mx-auto">
        <ul class="pages-element noneStyle flex-align-center" data-aos="fade-up">
        <!--<ul class="pages-element noneStyle flex-align-center" v-if="datacount > 0" data-aos="fade-up">-->
            <li class="prev-prev mx-1 mx-sm-2">
                <a class="flex-center" @click="handleFirst">
                    <i class="icon-left-left text-blue225387 font-20"></i>
                </a>
            </li>
            <li class="prev ml-1 ml-sm-2 mr-3 mr-sm-4" v-if="hasPrev">
                <a class="flex-center" @click="handlePrev">
                    <i class="icon-left text-blue225387 font-20"></i>
                </a>
            </li>

            <li v-for="item in pageCount" class="num mx-1 mx-sm-2" v-bind:class="{active:pageIndex == item}" @click="handlePageChange(item)"><a>{{item}}</a></li>
          
            <li class="next mx-1 mx-sm-2 ml-3 ml-sm-4 mr-1 mr-sm-2" v-if="hasNext">
                <a class="flex-center" @click="handleNext">
                    <i class="icon-right text-blue225387 font-20"></i>
                </a>
            </li>
            <li class="next-next mx-1 mx-sm-2">
                <a class="flex-center" @click="handleLast">
                    <i class="icon-right-right text-blue225387 font-20"></i>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ["pagesize", "datacount"],
        data() {
            return {
                pageIndex : 1
            }
        },
        created: function () {
            AOS.init();
        },
        computed: {
            pages: function () {
                return Math.ceil(this.datacount / this.pagesize);
            },
            hasNext: function () {
                if (this.pageIndex < this.pages)
                    return true;
                else
                    return false;
            },
            hasPrev: function () {
                if (this.pageIndex > 1)
                    return true;
                else
                    return false;     
            },
            pageCount: function () {
                let result = [];

                let startPage = 1;
                let endPage = 1;

                if (this.pageIndex == 1)
                    startPage = 1;
                else if(this.pageIndex == 2)
                    startPage = 1;
                else
                    startPage = this.pageIndex - 2;

                if ((this.pageIndex + 2) > this.pages) {
                    endPage = this.pages;
                    startPage = endPage - 4;
                    if (startPage < 1) startPage = 1;
                }
                else {
                    endPage = startPage + 4;

                    if (endPage > this.pages)
                        endPage = this.pages;
                }
                  
                for (let i = startPage; i <= endPage; i++) {
                    result.push(i);
                }

                console.log(result);
                return result;
            }
        },
        methods: {
            handlePageChange: function (pageIndex) {
                this.pageIndex = pageIndex;
                this.$emit("pagechanged", pageIndex);
            },
            handleNext: function () {
                if (this.pageIndex == this.pages) return;

                this.pageIndex = this.pageIndex + 1;
                this.$emit("pagechanged", this.pageIndex);
            },
            handlePrev: function () {
                if (this.pageIndex == 1) return;

                this.pageIndex = this.pageIndex - 1;
                this.$emit("pagechanged", this.pageIndex);
            },
            handleFirst: function () {
                this.pageIndex = 1;
                this.$emit("pagechanged", this.pageIndex);
            },
            handleLast: function () {
                this.pageIndex = this.pages;
                this.$emit("pagechanged", this.pageIndex);
            }
        }
    }
</script>