﻿<template>
    <perfect-scrollbar class="wrapper item bg-F4F4F4 pl-2 py-2" :options="{minScrollbarLength :60,suppressScrollX :true}">
        <ul class="noneStyle pr-3">
            <li v-for="item in categories" class="bg-white rounded-10 pl-2 pr-4 mb-2" v-bind:class="{active:item.key == selectedKey}" @click="handleClick(item)">
                <div class="d-flex align-center pl-1 py-2">
                    <input type="radio" class="flex-shrink-0" :name="groupname" :id="idname" :value="item.key" v-model="selectedKey">
                    <label class="flex-shrink-0 flex-grow cursor pl-2 ml-1" for="idname">{{item.value}}</label>
                </div>
            </li>
        </ul>
    </perfect-scrollbar>
</template>

<script>

     export default {
        props: ["categories", "index", "initkey"],
        data: function() {
            return {
                selectedKey: this.initkey
            }
        },
        created: function () {
            this.$emit("itemclick", this.selectedKey);
        },
        computed: {
            idname: function () {
                return "products-" + this.index + "-1";
            },
            groupname: function () {
                return "products-" + this.index;
            }
        },
        methods: {
            handleClick: function (item) {
                if (item.key == this.selectedKey) {
                    this.selectedKey = null;
                    this.$emit("itemclick", null);
                } else {
                    this.selectedKey = item.key;
                    this.$emit("itemclick", item.key);
                }      
            }
        }
     }
</script>

<style>
    .items .ps {
    }

    .items .ps__rail-y {
        opacity: 0;
    }

    .items .ps__thumb-y {
        background-color: #97B2DD;
    }

    .items .ps__rail-y:hover > .ps__thumb-y,
    .items .ps__rail-y:focus > .ps__thumb-y,
    .items .ps__rail-y.ps--clicking .ps__thumb-y {
        background-color: #97B2DD;
        width: 6px;
    }
</style>