﻿<template>
    <div id="products-3">
        <div class="bg-white border-C8C8C8 box-shadow-style-3 rounded-bottom-20 py-4 px-3 p-md-4 p-lg-5 mt-3 mt-md-4 mt-lg-0 mb-4 mb-md-5" data-aos="fade-up">
            <div class="d-table les1 lh19 mx-auto mb-3 mb-md-4" data-aos="fade-up">
                <!--在all標籤時 class加 bg-red text-white-->
                <a class="d-inline-block border-C8C8C8 bg-hover-red text-hover-white rounded-10 py-1 px-2 mx-1 mb-3" v-bind:class="{'bg-red':tableKey == 'A','text-white':tableKey == 'A'}" @click="handleClick('A')">
                    <span class="mx-1">All</span>
                </a>
                <a class="d-inline-block border-C8C8C8 bg-hover-red text-hover-white rounded-10 py-1 px-2 mx-1 mb-3" v-bind:class="{'bg-red':tableKey == 'H','text-white':tableKey == 'H'}" @click="handleClick('H')">
                    <span class="mx-1">{{hosingText}}</span>
                </a>
                <a class="d-inline-block border-C8C8C8 bg-hover-red text-hover-white rounded-10 py-1 px-2 mx-1 mb-3" v-bind:class="{'bg-red':tableKey == 'T','text-white':tableKey == 'T'}" @click="handleClick('T')">
                    <span class="mx-1">{{terminalText}}</span>
                </a>
                <a class="d-inline-block border-C8C8C8 bg-hover-red text-hover-white rounded-10 py-1 px-2 mx-1 mb-3" v-bind:class="{'bg-red':tableKey == 'R','text-white':tableKey == 'R'}" @click="handleClick('R')">
                    <span class="mx-1">{{rubberText}}</span>
                </a>
                <a class="d-inline-block border-C8C8C8 bg-hover-red text-hover-white rounded-10 py-1 px-2 mx-1 mb-3" v-bind:class="{'bg-red':tableKey == 'S','text-white':tableKey == 'S'}" @click="handleClick('S')">
                    <span class="mx-1">{{pvcText}}</span>
                </a>
                <a class="d-inline-block border-C8C8C8 bg-hover-red text-hover-white rounded-10 py-1 px-2 mx-1 mb-3" v-bind:class="{'bg-red':tableKey == 'G','text-white':tableKey == 'G'}" @click="handleClick('G')">
                    <span class="mx-1">{{grommetText}}</span>
                </a>
            </div>
            <div class="px-xl-4 mx-xl-3">
                <div class="row">
                    <div class="col-12 col-md-auto flex-grow mb-3 mb-md-0">
                        <div class="form-field bg-F4F4F4 border-C8C8C8 rounded-35 py-1 py-md-2 px-4">
                            <div class="d-flex py-md-1">
                                <input class="flex-grow" type="text" :placeholder="[[keywordNo]]" name="keyword" id="keyword" v-model="searchItems.keyword" @keyup.enter="searchByKey">
                                <a @click="searchByKey">
                                    <i class="icon-search text-red font-20"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--會員登入才顯示-->
                    <div class="col-12 col-md-6" v-if="isauth">
                        <div class="form-field bg-F4F4F4 border-C8C8C8 rounded-35 py-1 py-md-2 px-4">
                            <div class="d-flex py-md-1">
                                <input class="flex-grow" type="text" placeholder="Cross Reference Part No." name="reference" id="reference" v-model="searchItems.partNo">
                                <a @click="searchByPartNo">
                                    <i class="icon-search text-red font-20"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--會員登入才顯示-->
                </div>

            </div>
        </div>
        
        <div class="pt-lg-3">
            <div class="font-20 d-block d-sm-flex mb-md-4 mt-1 pb-3" data-aos="fade-up">
                <div class="font-weight-500">
                    {{keywordText}}：{{searchItems.keyword}} / {{totalRecord}}<span class="d-inline-block font-22 bg-gradient-red text-white rounded-25 les1 box-shadow-style-4 px-3 mx-3">{{dataCount}}</span>{{conformHits}}
                </div>
            </div>
            <search-result :datas="searchDatas"></search-result>
            <div class="mt-4 mt-sm-5">
                <pagination v-bind:pagesize="pageSize" v-bind:datacount="dataCount" v-on:pagechanged="searchByKeyword"></pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import SearchResult from './SearchResult.vue'
    import Pagination from './Pagination.vue'

    export default {
        props: ["isauth","keyword","homesearchitems"],
        components: {
            SearchResult,
            Pagination
        },
        data() {
            let initTableKey = "A";
            if (this.homesearchitems.ProductTable !== null) {
                initTableKey = this.homesearchitems.ProductTable;
            }

            return {
                tableKey: initTableKey,
                searchDatas: [],
                pageSize: 10,
                dataCount: 0,
                keywordNo: "",
                conformHits: "",
                totalRecord: "",
                keywordText: "",
                hosingText: "",
                terminalText: "",
                rubberText: "",
                pvcText: "",
                grommetText: "",
                searchItems: {
                    keyword: this.keyword,
                    partNo: "",
                    findWay: 0,
                    tableKey: initTableKey
                }
            }
        },
        created: function () {
            this.getAllTables();
            this.$nextTick(function () {
                let url = new URL(window.location);
                if (url.pathname.includes("/products/keyword")) {
                    this.searchByKeyword(1);
                }
            });
        },
        //mounted() {
        //    window.addEventListener('keyup', event => {
        //        console.log(event.keyCode);
        //        if (event.keyCode === 13) {
        //            this.searchItems.findWay = 0;
        //            this.searchByKeyword(1);
        //        }
        //    })
        //},
        methods: {
            getAllTables: function () {
                this.$axios.get($('#langPath').val() +'/Products/GetProductTables')
                    .then((res) => {
                        this.keywordNo = res.data.keywordNo;
                        this.conformHits = res.data.conformHits;
                        this.totalRecord = res.data.totalRecord;
                        this.keywordText = res.data.keywordText;

                        this.hosingText = res.data.hosingText;
                        this.terminalText = res.data.terminalText;
                        this.rubberText = res.data.rubberText;
                        this.pvcText = res.data.pvcText;
                        this.grommetText = res.data.grommetText;
                    })
                    .catch((error) => {
                        console.error(error)
                    })

            },
            sendSearchByKey() {
                
            },
            handleClick: function (tableKey) {
                console.log(8);
                this.tableKey = tableKey;

                this.searchItems.tableKey = tableKey;
            },
            searchByKey: function () {
                this.searchItems.findWay = 0;
                this.searchByKeyword(1);
            },
            searchByKeyword: function (pageIndex) {
                this.$axios.post('/products/SearchByKeyword', { pageSize: this.pageSize, pageIndex: pageIndex, ...this.searchItems })
                    .then((res) => {
                        this.dataCount = res.data.TotalCount;
                        this.searchDatas = res.data.PageDatas;
                        runLangJson();//取代語系文字
                    })
                    .catch((error) => {
                        console.error(error)
                    })
            },
            searchByPartNo: function () {
                this.searchItems.findWay = 1;
                this.searchByKeyword(1);
            }
        }
    }
</script>

