﻿<template>
    <div id="products-4" class="pt-lg-3 mt-3 mt-lg-4">
        <div class="d-table les1 lh19 mx-auto mb-3 mb-md-4" data-aos="fade-up">
            <!--在all標籤時 class加 bg-red text-white-->
            <a class="d-inline-block border-C8C8C8 bg-hover-red text-hover-white rounded-10 py-1 px-2 mx-1 mb-3" v-bind:class="{'bg-red':selectedIndex == 0,'text-white':selectedIndex == 0}" @click="handleClick(0)">
                <span class="mx-1">All</span>
            </a>
            <a class="d-inline-block border-C8C8C8 bg-hover-red text-hover-white rounded-10 py-1 px-2 mx-1 mb-3" v-bind:class="{'bg-red':selectedIndex == 1,'text-white':selectedIndex == 1}" @click="handleClick(1)">
                <span class="mx-1">{{hosingText}}</span>
            </a>
            <a class="d-inline-block border-C8C8C8 bg-hover-red text-hover-white rounded-10 py-1 px-2 mx-1 mb-3" v-bind:class="{'bg-red':selectedIndex == 2,'text-white':selectedIndex == 2}" @click="handleClick(2)">
                <span class="mx-1">{{terminalText}}</span>
            </a>
            <a class="d-inline-block border-C8C8C8 bg-hover-red text-hover-white rounded-10 py-1 px-2 mx-1 mb-3" v-bind:class="{'bg-red':selectedIndex == 3,'text-white':selectedIndex == 3}" @click="handleClick(3)">
                <span class="mx-1">{{rubberText}}</span>
            </a>
            <a class="d-inline-block border-C8C8C8 bg-hover-red text-hover-white rounded-10 py-1 px-2 mx-1 mb-3" v-bind:class="{'bg-red':selectedIndex == 4,'text-white':selectedIndex == 4}" @click="handleClick(4)">
                <span class="mx-1">{{pvcText}}</span>
            </a>
            <a class="d-inline-block border-C8C8C8 bg-hover-red text-hover-white rounded-10 py-1 px-2 mx-1 mb-3" v-bind:class="{'bg-red':selectedIndex == 5,'text-white':selectedIndex == 5}" @click="handleClick(5)">
                <span class="mx-1">{{grommetText}}</span>
            </a>
        </div>

        <search-result :datas="searchDatas"></search-result>
        <div class="mt-4 mt-sm-5">
            <pagination v-bind:pagesize="pageSize" v-bind:datacount="dataCount" v-on:pagechanged="searchByLast"></pagination>
        </div>
    </div>
</template>

<script>
    import SearchResult from './SearchResult.vue'
    import Pagination from './Pagination.vue'

    export default {
        components: {
            SearchResult,
            Pagination
        },
        data: function () {
            return {
                hosingText: "",
                terminalText: "",
                rubberText: "",
                pvcText: "",
                grommetText: "",
                searchDatas: [],
                selectedIndex: 0,
                dataCount: 0,
                pageSize: 10,
            };
        },
        created: function () {
            this.getAllTables();
        },
        methods: {
            getAllTables: function () {
                this.$axios.get($('#langPath').val() +'/Products/GetProductTables')
                    .then((res) => {
                        this.keywordNo = res.data.keywordNo;
                        this.conformHits = res.data.conformHits;
                        this.totalRecord = res.data.totalRecord;
                        this.keywordText = res.data.keywordText;

                        this.hosingText = res.data.hosingText;
                        this.terminalText = res.data.terminalText;
                        this.rubberText = res.data.rubberText;
                        this.pvcText = res.data.pvcText;
                        this.grommetText = res.data.grommetText;
                    })
                    .catch((error) => {
                        console.error(error)
                    })

            },
            handleClick: function (currentIndex) {
                this.selectedIndex = currentIndex;

                this.searchByLast(1);
            },
            searchByLast: function (pageIndex) {
                this.$axios.post('/products/SearchByLast', { pageSize: this.pageSize, pageIndex: pageIndex, table: this.selectedIndex })
                    .then((res) => {
                        console.log(res.data);
                        this.dataCount = res.data.TotalCount;
                        this.searchDatas = res.data.PageDatas;
                        runLangJson();//取代語系文字
                    })
                    .catch((error) => {
                        console.error(error)
                    })
            },
        }
    }
</script>