﻿<template>
    <div class="products-linkElement position-relative z-3" data-aos="fade-up">
        <div class="toggle d-flex d-lg-none justify-between bg-black text-white rounded-5 py-1 py-md-2 px-3">
            <span></span>
            <i class="icon-plus"></i>
        </div>
        <div class="content w-100 position-absolute position-lg-static">
            <div class="d-block d-lg-flex row h-100 mx-0" >
                <div class="item col-12 col-lg-3 px-0" v-bind:class="{active:currentItem == 0}">
                    <a href="javascript:void(0)" @click="clickBySpec" class="flex-center bg-F4F4F4 text-center text-hover-red h-100 border-C8C8C8 py-2">
                        <span class="d-block">
                            <i class="icon-products-icon-1 font-22"></i>
                            <span class="name">{{tab1}}</span>
                        </span>
                    </a>
                </div>
                <div class="item col-12 col-lg-3 px-0" v-bind:class="{active:currentItem == 1}">
                    <a href="javascript:void(0)" @click="clickByApply" class="flex-center bg-F4F4F4 text-center text-hover-red h-100 border-C8C8C8 py-2">
                        <span class="d-block">
                            <i class="icon-products-icon-2 font-18 mr-2"></i>
                            <span class="name">{{tab2}}</span>
                        </span>
                    </a>
                </div>
                <div class="item col-12 col-lg-3 px-0" v-bind:class="{active:currentItem == 2}">
                    <a href="javascript:void(0)" @click="clickByKeyword" class="flex-center bg-F4F4F4 text-center text-hover-red h-100 border-C8C8C8 py-2">
                        <span class="d-block">
                            <i class="icon-products-icon-3 font-24 mr-1"></i>
                            <span class="name">{{tab3}}</span>
                        </span>
                    </a>
                </div>
                <div class="item col-12 col-lg-3 px-0" v-bind:class="{active:currentItem == 3}">
                    <a href="javascript:void(0)" @click="clickByLast" class="flex-center bg-F4F4F4 text-center text-hover-red h-100 border-C8C8C8 py-2">
                        <span class="d-block">
                            <span class="font-18 font-weight-bold mr-2">NEW</span>
                            <span class="name">{{tab4}}</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["tabindex"],
        data() {
            return {
                tab1:"",
                tab2:"",
                tab3:"",
                tab4:"",
                currentItem: this.tabindex
            }
        },
        created: function () {
            this.$axios.get($('#langPath').val() +'/products/getProductsCategories')
                .then((res) => {
                    this.tab1 = res.data.tab1;
                    this.tab2 = res.data.tab2;
                    this.tab3 = res.data.tab3;
                    this.tab4 = res.data.tab4;
                })
                .catch((error) => {
                    console.error(error)
                })
        },
        methods: {
            clickBySpec: function () {
                this.currentItem = 0;
                this.$emit("tab-index-change",0)
            },
            clickByApply: function () {
                this.currentItem = 1;
                this.$emit("tab-index-change", 1)
            },
            clickByKeyword: function () {
                this.currentItem = 2;
                this.$emit("tab-index-change", 2)
            },
            clickByLast: function () {
                this.currentItem = 3;
                this.$emit("tab-index-change", 3)
            },
        }
    }
</script>