﻿<template>
    <div id="products-1" class="pt-3">
        <form class="radio-style-2 shallowBlueBg-style small-style mt-md-4">
            <search-by-spec-all-category :homesearchitems="homesearchitems" ref="searchCategory">
            </search-by-spec-all-category>

            <div class="d-block d-lg-flex flex-justify-space-between align-center pt-md-4 mt-md-3 px-0" data-aos="fade-up">
                <div class="font-20 lh14 font-weight-500 mt-4 mt-md-0">
                    <button class="form-button button-blue btn-dec mr-3 mr-xl-5" @click.prevent="searchBySpec(1)" id="搜尋"><!--搜尋--></button>
                    <div class="d-md-inline-block mt-2 mt-md-0">
                        <span id="規格搜尋結果"><!--規格搜尋結果，--></span>
                        <span id="共篩選到"><!--共篩選到--></span>
                        <span class="d-inline-block font-22 bg-gradient-red text-white rounded-25 les1 box-shadow-style-4 px-3 py-1 mx-3">{{dataCount}}</span>
                        <span id="個符合條件的產品"><!--個符合條件的產品--></span>
                    </div>
                </div>
                <div class="d-flex mt-3 mt-md-4 mt-lg-0">
                    <a class="d-inline-block bg-blue-gradient-4 text-white rounded-25 btn-dec py-1 px-3 mr-2" href="#" id="電子書目錄"><!--電子書目錄--></a>
                    <a class="d-inline-block bg-blue-gradient-4 text-white rounded-25 btn-dec py-1 px-3" href="styles/SOPa.pdf" target='_blank' id="搜尋說明"><!--搜尋說明--></a>
                </div>
            </div>
        </form>
        <div id="searchResult" class="pt-4">
            <div>
                <search-result :datas="searchDatas"></search-result>
            </div>
            <div class="mt-4 mt-sm-5">
                <pagination v-bind:pagesize="pageSize" v-bind:datacount="dataCount" v-on:pagechanged="searchBySpec" ref="pagin"></pagination>
            </div>
        </div>
    </div>

</template>

<script>
    import SearchBySpecAllCategory from './SearchBySpecAllCategory.vue'
    import SearchResult from './SearchResult.vue'
    import Pagination from './Pagination.vue'

    export default {
        props: ["homesearchitems"],
        components: {
            SearchBySpecAllCategory,
            SearchResult,
            Pagination
        },
        data: function () {
            return {
                pageSize: 10,
                dataCount:0,
                searchDatas: []
            }
        },
        created: function () {
            //if (sessionStorage.getItem('backSearch')) {
            //    console.log(168);
            //    this.$axios.post('/products/SearchBySpec', { pageSize: this.pageSize, pageIndex: sessionStorage.getItem('backPageIndex'), ...sessionStorage.getItem('backSearch') })
            //        .then((res) => {
            //            this.dataCount = res.data.TotalCount;
            //            this.searchDatas = res.data.PageDatas;
            //            this.$refs.pagin.pageIndex = pageIndex;

            //            runLangJson();
            //        })
            //        .catch((error) => {
            //            console.error(error)
            //        })
            //}
            this.$nextTick(function () {
                let url = new URL(window.location);
                if (url.pathname.includes("/products/spec")) {
                    this.searchBySpec(1);
                }
            });
        },
        methods: {
            searchBySpec: function (pageIndex) {
                //sessionStorage.setItem('backSearch', this.$refs.searchCategory.searchItems)
                //console.log(this.homesearchitems);
                //console.log(this.$refs.searchCategory.searchItems);
                this.$axios.post('/products/SearchBySpec', { pageSize: this.pageSize, pageIndex: pageIndex, ...this.$refs.searchCategory.searchItems })
                    .then((res) => {
                        this.dataCount = res.data.TotalCount;
                        this.searchDatas = res.data.PageDatas;
                        this.$refs.pagin.pageIndex = pageIndex;
                        sessionStorage.setItem('backPageIndex', this.$refs.pagin.pageIndex)
                        runLangJson();
                    })
                    .catch((error) => {
                        console.error(error)
                    })

            }
        }
    }
</script>

<style>
    #products-1 form .scrollbarX::after, #products-1 form .scrollbarX::before {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: calc(100% - 21px);
        background: #285297;
        top: 0;
        z-index: 1;
    }

    #products-1 form .scrollbarX::after {
        left: 0;
    }

    #products-1 form .scrollbarX::before {
        right: 0;
    }

    #products-1 form .items-group {
        margin-left: -3px;
        margin-right: -3px;
        border-top: 1px solid #285297;
        border-bottom: 1px solid #285297;
    }

        #products-1 form .items-group .items {
            padding-right: 3px;
            padding-left: 3px;
            min-width: 202px;
        }

            #products-1 form .items-group .items .item {
                height: 320px;
                border-left: 1px solid #285297;
                border-right: 1px solid #285297;
            }

                #products-1 form .items-group .items .item .bg-white.active {
                    color: #285297;
                    background: #BECFEA !important;
                }

    #products-1 form .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background: #97B2DD;
    }

    #products-1 form .mCSB_container {
        margin-bottom: 20px;
        margin-right: 0;
    }

    #products-1 form .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
        height: 10px;
        background: #97B2DD;
    }

    #products-1 form .bootstrap-select {
        width: 145px;
    }

        #products-1 form .bootstrap-select .dropdown-toggle {
            color: black !important;
        }


</style>