﻿<template>
    <perfect-scrollbar id="p1scrollX" :options="{suppressScrollY :true}">
        <div class="fit-content">
            <div class="items-group d-flex">
                <div class="items">
                    <div class="text-white font-weight-500 bg-blue-gradient text-center lh19 px-2 py-2" style="height:46px;">{{productCategoryTitle}}</div>
                    <search-by-spec-category :index="1" :categories="productTables" :initkey="homesearchitems.ProductTable" @itemclick="handleTableClick" ref="producttable"></search-by-spec-category>
                </div>
                <div class="items">
                    <div class="text-white font-weight-500 bg-blue-gradient text-center lh19 px-2 py-2" style="height:46px;">{{sizeTypeTitle}}</div>
                    <search-by-spec-category :index="2" :categories="productSizeType" :initkey="homesearchitems.ProductSizeType" @itemclick="handleProductSizeClick"></search-by-spec-category>
                </div>
                <div class="items">
                    <div class="text-white font-weight-500 bg-blue-gradient text-center lh19 px-2 py-2" style="height:46px;">{{functionCategoryTitle}}</div>
                    <search-by-spec-category :index="3" :categories="productClass" :initkey="homesearchitems.ProductClass" @itemclick="handleProductClassClick"></search-by-spec-category>
                </div>
                <div class="items" v-show="productSerial != null">
                    <div class="text-white font-weight-500 bg-blue-gradient text-center lh19 px-2 py-2" style="height:46px;">{{seriesCodeTitle}}</div>
                    <search-by-spec-category :index="4" :categories="productSerial" :initkey="homesearchitems.ProductSerial" @itemclick="handleProductSerialClick"></search-by-spec-category>
                </div>
                <div class="items" v-show="productSex != null">
                    <div class="text-white font-weight-500 bg-blue-gradient text-center lh19 px-2 py-2" style="height:46px;">{{maleFemaleTitle}}</div>
                    <search-by-spec-category :index="5" :categories="productSex" :initkey="homesearchitems.ProductSex" @itemclick="handleProductSexClick"></search-by-spec-category>
                </div>
                <div class="items" v-show="productSealable != null">
                    <div class="text-white font-weight-500 bg-blue-gradient text-center lh19 px-2 py-2" style="height:46px;">{{sealedUnsealedTitle}}</div>
                    <search-by-spec-category :index="6" :categories="productSealable" :initkey="homesearchitems.ProductSealable" @itemclick="handleProductSealableClick"></search-by-spec-category>
                </div>
                <div class="items" v-show="productPosition != null">
                    <div class="text-white font-weight-500 bg-blue-gradient text-center lh19 px-2 py-2" style="height:46px;">{{numofPositionsTitle}}</div>
                    <search-by-spec-category :index="7" :categories="productPosition" :initkey="homesearchitems.ProductPosition" @itemclick="handleProductPositionClick"></search-by-spec-category>
                </div>
                <div class="items" v-show="productTemper != null">
                    <div class="text-white font-weight-500 bg-blue-gradient text-center lh19 px-2 py-2" style="height:46px;">{{temperatureRTitle}}</div>
                    <search-by-spec-category :index="8" :categories="productTemper" :initkey="homesearchitems.ProductTemper" @itemclick="handleProductTemperClick"></search-by-spec-category>
                </div>
                <div class="items" v-show="productDepth != null">
                    <div class="text-white font-weight-500 bg-blue-gradient text-center lh19 px-2 py-2" style="height:46px;">{{thicknessTitle}}</div>
                    <search-by-spec-category :index="9" :categories="productDepth" :initkey="homesearchitems.ProductDepth" @itemclick="handleProductDepthClick"></search-by-spec-category>
                </div>
                <div class="items" v-show="productDiameter != null">
                    <div class="text-white font-weight-500 bg-blue-gradient text-center lh19 px-2 py-2" style="height:46px;">{{appWireSizeTitle}}</div>
                    <search-by-spec-category :index="10" :categories="productDiameter" :initkey="homesearchitems.ProductDiameter" @itemclick="handleProductDiameterClick"></search-by-spec-category>
                </div>
                <div class="items" v-show="productTab != null">
                    <div class="text-white font-weight-500 bg-blue-gradient text-center lh19 px-2 py-2" style="height:46px;">{{tabThicknessTitle}}</div>
                    <search-by-spec-category :index="11" :categories="productTab" :initkey="homesearchitems.ProductTab" @itemclick="handleProductTabClick"></search-by-spec-category>
                </div>
                <div class="items">
                    <div class="text-white font-weight-500 bg-blue-gradient text-center lh19 px-2 py-2" style="height:46px;">{{sizeAllTitle}}</div>
                    <div class="item scrollbarY bg-F4F4F4 pl-2 py-2">
                        <ul class="noneStyle pr-3">
                            <li class="bg-white rounded-10 px-2 mb-2" v-for="(item,no) in productSize">
                                <div class="d-flex align-center justify-between py-2">
                                    <span class="pl-1">{{item.key}}</span>
                                    <div class="bg-blueECF1F9 border-blue779DDB rounded-5 lh165">
                                        <input style="width:116px;" class="px-2" type="text" :name="'products-11-' + no" :id="'products-11-' + no" v-model="searchItems.size[item.value]">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </perfect-scrollbar>
</template>

<script>
    import SearchBySpecCategory from './SearchBySpecCategory.vue'

    export default {
        props: ["homesearchitems"],
        data: function () {
            return {
            }
        },
        components: {
            SearchBySpecCategory
        },
        data: function () {
            return {
                productTables: [],
                productSizeType: [],
                productClass: [],
                productSerial: [],
                productSex: [],
                productSealable: [],
                productTemper: [],
                productPosition: [],
                productDepth: [],
                productDiameter: [],
                productTab: [],
                productSize: null,

                productCategoryTitle: "",
                sizeTypeTitle: "",
                functionCategoryTitle: "",
                seriesCodeTitle: "",
                maleFemaleTitle: "",
                sealedUnsealedTitle: "",
                numofPositionsTitle: "",
                temperatureRTitle: "",
                thicknessTitle: "",
                appWireSizeTitle: "",
                tabThicknessTitle: "",
                searchBtnTitle: "",
                totalRecordTitle: "",
                conformHitsTitle: "",
                sizeAllTitle:"",

                searchItems: {
                    productTable: null,
                    productSizeType: null,
                    productClass: null,
                    productSerial: null,
                    productSex: null,
                    productSealable: null,
                    productPosition: null,
                    productTemper: null,
                    productDepth: null,
                    productDiameter: null,
                    productTab: null,
                    size: {}
                }
            }
        },
        mounted: function () {
            this.getAllTables();

            this.$axios.get($('#langPath').val() +'/Products/GetProductTables')
                .then((res) => {
                    //this.productTables = res.data.categoryItems;
                    this.productCategoryTitle = res.data.productCategory;
                    this.sizeTypeTitle = res.data.sizeType;
                    this.functionCategoryTitle = res.data.functionCategory;
                    this.seriesCodeTitle = res.data.seriesCode;
                    this.maleFemaleTitle = res.data.maleFemale;
                    this.sealedUnsealedTitle = res.data.sealedUnsealed;
                    this.numofPositionsTitle = res.data.numofPositions;
                    this.temperatureRTitle = res.data.temperatureR;
                    this.thicknessTitle = res.data.thickness;
                    this.appWireSizeTitle = res.data.appWireSize;
                    this.tabThicknessTitle = res.data.tabThickness;
                    this.searchBtnTitle = res.data.searchBtn;
                    this.totalRecordTitle = res.data.totalRecord;
                    this.conformHitsTitle = res.data.conformHits;
                    this.sizeAllTitle = res.data.sizeAll;
                })
                .catch((error) => {
                    console.error(error)
                })

            let urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('table')) {
                this.searchItems.productTable = urlParams.get('table');
                this.getAllCategoryByTable(urlParams.get('table'));
            }
            else
                this.getAllCategoryByTable("A");
        },
        methods: {
            handleTableClick: function (item) {
                this.getAllCategoryByTable(item);
                this.searchItems.productTable = item;
            },
            handleProductSizeClick: function (item) {
                this.searchItems.productSizeType = item;
            },
            handleProductClassClick: function (item) {
                this.searchItems.productClass = item;
            },
            handleProductSerialClick: function (item) {
                this.searchItems.productSerial = item;
            },
            handleProductSexClick: function (item) {
                this.searchItems.productSex = item;
            },
            handleProductSealableClick: function (item) {
                this.searchItems.productSealable = item;
            },
            handleProductTemperClick: function (item) {
                this.searchItems.productTemper = item;
            },
            handleProductPositionClick: function (item) {
                this.searchItems.productPosition = item;
            },
            handleProductDepthClick: function (item) {
                this.searchItems.productDepth = item;
            },
            handleProductDiameterClick: function (item) {
                this.searchItems.productDiameter = item;
            },
            handleProductTabClick: function (item) {
                this.searchItems.productTab = item;
            },
            getAllTables: function () {
                this.$axios.get($('#langPath').val() +'/Products/GetProductTables')
                    .then((res) => {
                        this.productTables = res.data.categoryItems;
                    })
                    .catch((error) => {
                        console.error(error)
                    })

            },
            getAllCategoryByTable: function (key) {
                this.$axios.get($('#langPath').val() +'/Products/GetProductTable?key=' + key)
                    .then((res) => {
                        let result = res.data;

                        this.productSizeType = result.sizeType == null ? [] : result.sizeType.categoryItems;
                        this.productClass = result.productClass == null ? [] : result.productClass.categoryItems;
                        this.productSerial = result.serial == null ? null : result.serial.categoryItems;
                        this.productSex = result.sex == null ? null : result.sex.categoryItems;
                        this.productSealable = result.sealable == null ? null : result.sealable.categoryItems;
                        this.productPosition = result.position == null ? null : result.position.categoryItems;
                        this.productTemper = result.temper == null ? null : result.temper.categoryItems;
                        this.productDepth = result.depth == null ? null : result.depth.categoryItems;
                        this.productDiameter = result.diameter == null ? null : result.diameter.categoryItems;
                        this.productTab = result.tab == null ? null : result.tab.categoryItems;
                        this.productSize = result.size == null ? null : result.size.categoryItems;
                    })
                    .catch((error) => {
                        console.error(error)
                    })
            }
        }
    }
</script>

<style>
    .radio-style-2 > div {
        padding : 18px 0px
    }

    .ps {
    
    }

    .ps__rail-x {
        opacity: 0;
    }

    .ps__thumb-x {
        background-color: #97B2DD;
    }

    .ps__rail-x:hover > .ps__thumb-x,
    .ps__rail-x:focus > .ps__thumb-x,
    .ps__rail-x.ps--clicking .ps__thumb-x {
        background-color: #97B2DD;
    }

</style>

