﻿<template>
    <div id="products-2" class="pt-3 mt-lg-4">
        <div class="categtories-section text-white font-weight-bold rounded-15 position-relative z-2 py-4 px-4 mb-4" data-aos="fade-up">
            <div class="row px-md-1">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="categories position-relative">
                        <div class="toggle flex-justify-space-between align-center d-md-none bg-blue-gradient-3 border-white rounded-10 px-3 py-2">
                            <span>發動機線束</span>
                            <i class="icon-right-big font-16"></i>
                        </div>
                        <search-by-apply-category v-on:l2selected="l2selected"></search-by-apply-category>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9 max660 position-relative pr-3 mt-4 mt-md-0">
                    <div class="items active">
                        <div class="row g-1 pr-lg-3">
                            <div v-for="(item,index) in l3items" class="col-auto col-md-6 col-lg-4 px-1 mb-3" v-bind:class="{active:l3CurrentIndex == index}">
                                <a class="d-block border-white03 border-hover-white bg-hover-yellow rounded-10 overflow-hidden py-2 px-3" @click="handleL3ItemClick(index,item)">
                                    <span class="white-dec-line position-relative z-1 pl-4">{{item.Caption}}</span>
                                </a>
                            </div>
                        </div>      
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="font-20 d-block d-sm-flex flex-justify-space-between align-center pt-3 mb-4 pb-2" data-aos="fade-up">
                <p class="font-weight-bold left-blue-dec mb-0" data-aos="fade-up">{{l2name}} > {{changeCaption}}</p>
                <div class="font-weight-500 mt-3 mt-sm-0">
                    共有<span class="d-inline-block font-22 bg-gradient-red text-white rounded-25 les1 box-shadow-style-4 px-3 mx-3">{{dataCount}}</span>個產品
                </div>
            </div>
            <search-result :datas="searchDatas"></search-result>
        </div>
        <div class="mt-4 mt-sm-5">
            <pagination v-bind:pagesize="pageSize" v-bind:datacount="dataCount" v-on:pagechanged="searchByApply" ref="pagin"></pagination>
        </div>
    </div>
</template>

<script>
    import SearchResult from './SearchResult.vue'
    import Pagination from './Pagination.vue'

    export default {
        components: {
            SearchResult,
            Pagination
        },
        data: function () {
            return {
                changeCaption:"",
                l3CurrentIndex: -1,
                l3CurrentItem: null,
                l3items: [],
                l2name:"",
                dataCount: 0,
                pageSize: 10,
                searchDatas: []
            }
        },
        mounted: function () {
        },
        methods: {
            l2selected: function (l3items, l2name) {
                this.l3items = l3items;
                this.l2name = l2name;
                this.changeCaption = "";
            },
            handleL3ItemClick: function (index ,item) {
                this.l3CurrentIndex = index;
                this.l3CurrentItem = item;
                this.changeCaption = item.Caption;
                this.searchByApply(1);
            },
            searchByApply: function (pageIndex) {
                this.$axios.post('/products/SearchByApply', { pageSize: this.pageSize, pageIndex: pageIndex, ...this.l3CurrentItem })
                    .then((res) => {
                        console.log(res.data);
                        this.dataCount = res.data.TotalCount;
                        this.searchDatas = res.data.PageDatas;
                        this.$refs.pagin.pageIndex = pageIndex;
                        runLangJson();//取代語系文字
                    })
                    .catch((error) => {
                        console.error(error)
                    })
            },
        },
    }
</script>