﻿<template>
    <div class="table-style-3 long-table text-center lh14" data-aos="fade-up">
        <div>
            <div class="table position-relative d-flex mb-0">
                <div class="left-table z-1">
                    <div class="thead bg-blue4C87A7" v-for="(item,index) in datas" :key="item.id" v-if="index == 0">
                        <div v-if="item.th == 1" class="tr d-flex mx-0">
                            <div class="th flex-center px-0 flex-140" id="產品照片"><!--產品照片--></div>
                            <div class="th flex-center px-0 flex-grow" id="ID品號品號"><!--ID品號 / 品號--></div>
                        </div>
                    </div>
                    <div class="tbody">
                        <div class="tr row mx-0" v-for="(item,index) in datas" :key="'r' +index" @mouseover="handleMouseover(index)">
                            <div class="td px-0 flex-140">
                                <!--:href="productUrl+'/index/'+item.id" target="_blank"-->
                                <a class="flex-center flex-grow h-100" style="flex:0 0 140px;">
                                    <!--<img src="styles/images/products/product-0.png" alt="胡連精密">-->
                                    <img v-bind:src="item.productImg" alt="">
                                </a>
                            </div>
                            <div class="td px-0 flex-grow">
                                <a :href="productUrl+'/index/'+item.id"
                                   :data-id="item.id" target="_self" class="flex-center h-100" :data-product="index" v-bind:class="{active:index == selectedIndex}">
                                    <span class="d-block">
                                        <span class="d-block">{{item.new_name}}</span>
                                        <span class="d-block text-C8C8C8">{{item.name}}</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-table">
                    <div class="scrollbarX">
                        <div class="d-flex wrapper-style">
                            <div class="inner-table mb-0">
                                <div class="thead bg-blue-gradient-3" v-for="(item,index) in datas" :key="item.id" v-if="index == 0">
                                    <div class="tr d-flex">
                                        <div v-if="item.type == 'All' || item.type == '膠盒'" class="th flex-center px-2" id="產品類別"><!--類別--></div>
                                        <div v-if="item.type == 'All'" class="th flex-center px-2" id="材質">材質</div>
                                        <div v-if="item.type == '膠盒'" class="th flex-center px-2" id="系列碼"><!--系列--></div>
                                        <div v-if="item.type == 'All' || item.type == '膠盒'" class="th flex-center px-2" id="公母"><!--公/母--></div>
                                        <div v-if="item.type == '膠盒'" class="th flex-center px-2"><span class="d-block d-lg-inline" id="防水非防水"><!--防水非防水--></span></div>
                                        <div v-if="item.type == '膠盒'" class="th flex-center px-2" id="孔數"><!--孔數--></div>
                                        <!--<div v-if="item.type == 'All'" class="th flex-center px-2" id="適用溫度">適用溫度</div>-->
                                        <div v-if="item.type == '膠盒'" class="th flex-center px-2" id="材質">材質</div>
                                        <div v-if="item.type == '膠盒'" class="th flex-center px-2" id="顏色">顏色</div>
                                        <div v-if="item.type == 'All' || item.type == '膠盒'" class="th flex-center px-2 flex-300">
                                            <div class="flex-grow">
                                                <div class="mb-3" id="尺寸"><!--尺寸 (mm)--></div>
                                                <div class="row">
                                                    <div class="col-4">L</div>
                                                    <div class="col-4">W</div>
                                                    <div class="col-4">H</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div v-if="item.type == '端子'" class="th flex-center px-2" id="產品類別"><!--類別--></div>
                                        <div v-if="item.type == '端子'" class="th flex-center px-2" id="公母"><!--公/母--></div>
                                        <div v-if="item.type == '端子'" class="th flex-center px-2"><span class="d-block d-lg-inline" id="防水非防水"><!--防水非防水--></span></div>
                                        <div v-if="item.type == '端子'" class="th flex-center px-2" id="料厚"><!--料厚--></div>
                                        <div v-if="item.type == '端子'" class="th flex-center px-2" id="適用線徑"><!--適用線徑--></div>
                                        <div v-if="item.type == '端子'" class="th flex-center px-2" id="材質"><!--材質--></div>
                                        <div v-if="item.type == '端子'" class="th flex-center px-2" id="表面處理"><!--表面處理--></div>
                                        <div v-if="item.type == '端子'" class="th flex-center px-2 flex-400">
                                            <div class="flex-grow">
                                                <div class="mb-3" id="尺寸"><!--尺寸 (mm)--></div>
                                                <div class="row">
                                                    <div class="col-3">L</div>
                                                    <div class="col-3">W</div>
                                                    <div class="col-3">H</div>
                                                    <div class="col-3">D</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div v-if="item.type == 'PVC絕緣護套'" class="th flex-center px-2" id="產品類別"><!--類別--></div>
                                        <div v-if="item.type == 'PVC絕緣護套'" class="th flex-center px-2" id="適用電線外徑"><!--適用電線外徑--></div>
                                        <div v-if="item.type == 'PVC絕緣護套'" class="th flex-center px-2" id="材質"><!--材質--></div>
                                        <div v-if="item.type == 'PVC絕緣護套'" class="th flex-center px-2" id="顏色"><!--顏色--></div>
                                        <div v-if="item.type == 'PVC絕緣護套'" class="th flex-center px-2 flex-300">
                                            <div class="flex-grow">
                                                <div class="mb-3" id="尺寸"><!--尺寸 (mm)--></div>
                                                <div class="row">
                                                    <div class="col-3">L</div>
                                                    <div class="col-3">D1</div>
                                                    <div class="col-4">D2</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div v-if="item.type == '防水栓'" class="th flex-center px-2" id="產品類別"><!--類別--></div>
                                        <div v-if="item.type == '防水栓'" class="th flex-center px-2" id="適用電線外徑"><!--適用電線外徑--></div>
                                        <div v-if="item.type == '防水栓'" class="th flex-center px-2" id="材質"><!--材質--></div>
                                        <div v-if="item.type == '防水栓'" class="th flex-center px-2" id="顏色"><!--顏色--></div>
                                        <div v-if="item.type == '防水栓'" class="th flex-center px-2 flex-300">
                                            <div class="flex-grow">
                                                <div class="mb-3" id="尺寸"><!--尺寸 (mm)--></div>
                                                <div class="row">
                                                    <div class="col-3">L</div>
                                                    <div class="col-3">D1</div>
                                                    <div class="col-4">D2</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div v-if="item.type == '索環護套'" class="th flex-center px-2" id="產品類別"><!--類別--></div>
                                        <div v-if="item.type == '索環護套'" class="th flex-center px-2" id="適用電線外徑"><!--適用電線外徑--></div>
                                        <div v-if="item.type == '索環護套'" class="th flex-center px-2" id="材質"><!--材質--></div>
                                        <div v-if="item.type == '索環護套'" class="th flex-center px-2" id="顏色"><!--顏色--></div>
                                        <div v-if="item.type == '索環護套'" class="th flex-center px-2 flex-300">
                                            <div class="flex-grow">
                                                <div class="mb-3" id="尺寸"><!--尺寸 (mm)--></div>
                                                <div class="row">
                                                    <div class="col-3">L</div>
                                                    <div class="col-3">D1</div>
                                                    <div class="col-4">D2</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tbody">
                                    <!--
                                    :href="productUrl+'/index/'+item.id"
                                    target="_self"
                                    :data-id="item.id"
                                        -->
                                    <a v-for="(item,index) in datas" :key="'p' + index"
                                       class="tr d-flex"
                                       :data-product="index"
                                       @mouseover="handleMouseover(index)"
                                       v-bind:class="{active:index == selectedIndex}">

                                        <span class="td flex-center px-2">{{item.item_class}}</span>
                                        <span v-if="item.type == 'All'" class="td flex-center px-2">{{item.reMaterial}}</span>
                                        <span v-if="item.type == '膠盒'" class="td flex-center px-2">{{item.series}}</span>
                                        <span v-if="item.type != 'PVC絕緣護套' && item.type != '防水栓' && item.type != '索環護套'" class="td flex-center px-2">{{item.reSex}}</span>
                                        <span v-if="item.type != 'PVC絕緣護套' && item.type != '防水栓' && item.type != '索環護套' && item.type != 'All'" class="td flex-center px-2">{{item.reSealable}}</span>
                                        <span v-if="item.type == '膠盒'" class="td flex-center px-2">{{item.positions}}</span>

                                        <!--<span v-if="item.type == 'All'" class="td flex-center px-2">{{item.temper_operating}}</span>-->
                                        <span v-if="item.type == '膠盒'" class="td flex-center px-2">{{item.reMaterial}}</span>
                                        <span v-if="item.type == '膠盒'" class="td flex-center px-2">{{item.color}}</span>

                                        <span v-if="item.type == '端子'" class="td flex-center px-2">{{item.depth}}</span>
                                        <span v-if="item.type == '端子'" class="td flex-center px-2">{{item.diameter}}</span>
                                        <span v-if="item.type == '端子'" class="td flex-center px-2">{{item.reMaterial}}</span>
                                        <span v-if="item.type == '端子'" class="td flex-center px-2">{{item.rePlating}}</span>

                                        <span v-if="item.type == 'PVC絕緣護套' || item.type == '索環護套'" class="td flex-center px-2">{{item.applicable_wire}}</span>
                                        <span v-if="item.type == 'PVC絕緣護套' || item.type == '索環護套'" class="td flex-center px-2">{{item.reMaterial}}</span>
                                        <span v-if="item.type == 'PVC絕緣護套' || item.type == '索環護套'" class="td flex-center px-2">{{item.color}}</span>

                                        <span v-if="item.type == '膠盒' || item.type == 'All'" class="td flex-center px-2 flex-100">{{item.length}}</span>
                                        <span v-if="item.type == '膠盒' || item.type == 'All'" class="td flex-center px-2 flex-100">{{item.width}}</span>
                                        <span v-if="item.type == '膠盒' || item.type == 'All'" class="td flex-center px-2 flex-100">{{item.height}}</span>
                                        <span v-if="item.type == '端子'" class="td flex-center px-2 flex-100">{{item.length}}</span>
                                        <span v-if="item.type == '端子'" class="td flex-center px-2 flex-100">{{item.width}}</span>
                                        <span v-if="item.type == '端子'" class="td flex-center px-2 flex-100">{{item.height}}</span>
                                        <span v-if="item.type == '端子'" class="td flex-center px-2 flex-100">{{item.wire_size}}</span>
                                        <span v-if="item.type == 'PVC絕緣護套' || item.type == '索環護套'" class="td flex-center px-2 flex-100">{{item.length}}</span>
                                        <span v-if="item.type == 'PVC絕緣護套' || item.type == '索環護套'" class="flex-center px-2 flex-100">{{item.diameter_1}}</span>
                                        <span v-if="item.type == 'PVC絕緣護套' || item.type == '索環護套'" class="td flex-center px-2 flex-100">{{item.diameter_2}}</span>

                                        <!--<span v-if="item.type == '防水栓'" class="td flex-center px-2">{{item.applicable_wire}}</span>-->
                                        <span v-if="item.type == '防水栓'" class="td flex-center px-2">{{item.diameter}}</span>
                                        <span v-if="item.type == '防水栓'" class="td flex-center px-2">{{item.reMaterial}}</span>
                                        <span v-if="item.type == '防水栓'" class="td flex-center px-2">{{item.color}}</span>
                                        <span v-if="item.type == '防水栓'" class="td flex-center px-2 flex-100">{{item.length}}</span>
                                        <span v-if="item.type == '防水栓'" class="flex-center px-2 flex-100">{{item.diameter_1}}</span>
                                        <span v-if="item.type == '防水栓'" class="td flex-center px-2 flex-100">{{item.diameter_2}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra-table position-absolute">
                    <div v-for="(item,index) in datas" :key="'s' + index" class="extra-box flex-center bg-purple border-C8C8C8 rounded-right py-2 px-2" :data-product="index" v-bind:class="{active:index == selectedIndex}">
                        <div class="extra-btn"><span class="line"></span></div>
                        <div class="extra-content mx-1">
                            <a href="javascript:void(0)" class="flex-align-center bg-white text-hover-blue1B79C4 rounded-25 mb-2 addToInquery" :data-product="index" :data-id="item.id">
                                <i class="icon-pen font-18 text-blue1B79C4 mr-1"></i>
                                <span class="規格比較"><!--規格比較--></span>
                            </a>
                            <a href="../contact/index" class="flex-align-center bg-white text-hover-blue1B79C4 rounded-25">
                                <i class="icon-mail font-14 text-blue1B79C4 mr-2"></i>
                                <span class="產品詢問"><!--產品詢問--></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["datas"],
        data: function () {
            return {
                selectedIndex: -1,
                //productUrl: $('#langPath').val(),
                productUrl: $('#langPath').val() + this.$options.filters.appPathFormat("/product"),
            }
        },
        mounted: function () {
            runLangJson();//取代語系文字
            /*uniformHeight($(".items-group .items .bg-blue-gradient"));*/
        },
        methods: {
            handleMouseover: function (index) {
                this.selectedIndex = index;

                runLangJson();//取代語系文字
            }
        }
    }

</script>