﻿<div class="border-bottom-C8C8C8 pb-md-4 mb-3 mb-md-4" data-content="0">
    <h3 class="font-26 font-weight-bold" data-aos="fade-up">胡連福利</h3>
    <p class="mb-2" data-aos="fade-up">胡連遵循以人為本，重視員工福利與健康，亦提供社會保險，以保障同仁工作與生活安全。</p>
    <p class="mb-2" data-aos="fade-up">◎福利措施</p>
    <p class="mb-2" data-aos="fade-up">胡連同仁均享有各項福利，包含每年定期舉辦年終尾牙、家庭日、年度員工旅遊、年度健康檢查、員工制服....等。</p>
    <div class="max820 mx-0 pt-4 mt-3 pb-md-5">
        <ul class="noneStyle row font-weight-bold text-center lh14">
            <li class="col-12 col-md mb-4 mb-md-0" data-aos="fade-up">
                <div class="mb-3">
                    <img src="Styles/images/recruiting/welfare/icon-1.png" alt="胡連精密">
                </div>
                <span class="d-block px-3 px-lg-4">績效管理與發展制度</span>
            </li>
            <li class="col-12 col-md mb-4 mb-md-0" data-aos="fade-up">
                <div class="mb-3">
                    <img src="Styles/images/recruiting/welfare/icon-2.png" alt="胡連精密">
                </div>
                <span class="d-block px-3 px-lg-4">教育訓練</span>
            </li>
            <li class="col-12 col-md mb-4 mb-md-0" data-aos="fade-up">
                <div class="mb-3">
                    <img src="Styles/images/recruiting/welfare/icon-3.png" alt="胡連精密">
                </div>
                <span class="d-block px-3 px-lg-4">體檢</span>
            </li>
            <li class="col-12 col-md mb-4 mb-md-0" data-aos="fade-up">
                <div class="mb-3">
                    <img src="Styles/images/recruiting/welfare/icon-4.png" alt="胡連精密">
                </div>
                <span class="d-block px-3 px-lg-4">員工旅遊</span>
            </li>
            <li class="col-12 col-md mb-4 mb-md-0" data-aos="fade-up">
                <div class="mb-3">
                    <img src="Styles/images/recruiting/welfare/icon-5.png" alt="胡連精密">
                </div>
                <span class="d-block px-3 px-lg-4">福委會</span>
            </li>
        </ul>
    </div>
    <div class="row g-2">
        <div class="col-12 col-md-6 px-2" data-aos="fade-up">
            <img src="Styles/images/recruiting/welfare/img-1.png" alt="胡連精密">
            <p class="mt-2 pt-1">▲ 家庭日</p>
        </div>
        <div class="col-12 col-md-6 px-2" data-aos="fade-up">
            <img src="Styles/images/recruiting/welfare/img-2.png" alt="胡連精密">
            <p class="mt-2 pt-1">▲ 家庭日</p>
        </div>
    </div>
</div>