﻿<div class="pt-md-3" data-content="1">
    <h3 class="font-26 font-weight-bold" data-aos="fade-up">培訓發展</h3>
    <p data-aos="fade-up">胡連為培育經營發展所需人才，制定教育訓練程序辦法，規範教育訓練體系與訓練規範，定期與不定期檢視公司與員工需求，制定年度教育訓練計畫，據以辦理訓練，提升知識及技能。藉由人才培育制度，強化管理能力與專業能力，儲備各級管理及專業人才，同時鼓勵同仁持續自我進修。本公司訓練體系分為新進人員職前訓練與在職員工發展，在職能訓練依訓練屬性可以區分專業(技術)訓練、管理訓練、發展訓練、專案訓練、自我啟發。</p>
    <img class="d-table mx-auto mt-5" src="styles/images/recruiting/welfare/nurture.png" alt="胡連精密" data-aos="fade-up">
</div>