﻿<div class="mb-4 pb-1" data-content="0" data-aos="fade-up">
    <p class="font-26 font-weight-bold mb-2" data-aos="fade-up">招募流程</p>
    <picture>
        <source media="(min-width: 576px)" srcset="Styles/images/recruiting/recruit/process.jpg" />
        <source media="(max-width: 576px)" srcset="Styles/images/recruiting/recruit/process-mobile.png" />
        <img src="#" alt="胡連精密" />
    </picture>
</div>