﻿<div class="pb-1" data-content="1">
    <p class="font-26 font-weight-bold mb-2" data-aos="fade-up">招募職缺</p>
    <div class="row font-weight-bold g-2">
        <div class="col-12 col-lg-6 px-2 mb-4" data-aos="fade-up">
            <div class="border-top-5green2AB3AC bg-F5F5F5 rounded-bottom h-100 p-3 p-sm-4">
                <div class="px-xl-2">
                    <p class="font-20 text-center pb-sm-1">台北胡連</p>
                    <div class="pb-2">
                        <a href="#" target="_blank" class="flex-justify-space-between bg-white rounded-5 box-shadow-hover-style-1 px-3 py-3 mb-1">
                            <span class="flex-align-center flex-grow">
                                <span class="flex-center rounded-circle bg-green2AB3AC mr-2" style="flex:0 0 20px;height:20px;">
                                    <i class="icon-ok font-12 text-white"></i>
                                </span>
                                <span>104人力銀行</span>
                            </span>
                            <span class="flex-align-center">
                                <i class="icon-links-2 font-12 scale08 text-green2AB3AC mr-2"></i>
                                <span class="text-green2AB3AC">職缺查詢</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 px-2 mb-4" data-aos="fade-up">
            <div class="border-top-5green2AB3AC bg-F5F5F5 rounded-bottom h-100 p-3 p-sm-4">
                <div class="px-xl-2">
                    <p class="font-20 text-center pb-sm-1">南京胡連</p>
                    <div class="pb-2">
                        <a href="https://jobs.51job.com/all/co3105069.html" target="_blank" class="flex-justify-space-between bg-white rounded-5 box-shadow-hover-style-1 px-3 py-3 mb-1">
                            <span class="flex-align-center flex-grow">
                                <span class="flex-center rounded-circle bg-green2AB3AC mr-2" style="flex:0 0 20px;height:20px;">
                                    <i class="icon-ok font-12 text-white"></i>
                                </span>
                                <span>前程無憂人力銀行</span>
                            </span>
                            <span class="flex-align-center">
                                <i class="icon-links-2 font-12 scale08 text-green2AB3AC mr-2"></i>
                                <span class="text-green2AB3AC">職缺查詢</span>
                            </span>
                        </a>
                        <a href="https://company.zhaopin.com/CZ131938320.htm" target="_blank" class="flex-justify-space-between bg-white rounded-5 box-shadow-hover-style-1 px-3 py-3 mb-1">
                            <span class="flex-align-center flex-grow">
                                <span class="flex-center rounded-circle bg-green2AB3AC mr-2" style="flex:0 0 20px;height:20px;">
                                    <i class="icon-ok font-12 text-white"></i>
                                </span>
                                <span>智聯招聘人力銀行</span>
                            </span>
                            <span class="flex-align-center">
                                <i class="icon-links-2 font-12 scale08 text-green2AB3AC mr-2"></i>
                                <span class="text-green2AB3AC">職缺查詢</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 px-2 mb-4" data-aos="fade-up">
            <div class="border-top-5green2AB3AC bg-F5F5F5 rounded-bottom h-100 p-3 p-sm-4">
                <div class="px-xl-2">
                    <p class="font-20 text-center pb-sm-1">東莞胡連</p>
                    <div class="pb-2">
                        <a href="https://jobs.51job.com/all/co3977738.html" target="_blank" class="flex-justify-space-between bg-white rounded-5 box-shadow-hover-style-1 px-3 py-3 mb-1">
                            <span class="flex-align-center flex-grow">
                                <span class="flex-center rounded-circle bg-green2AB3AC mr-2" style="flex:0 0 20px;height:20px;">
                                    <i class="icon-ok font-12 text-white"></i>
                                </span>
                                <span>前程無憂人力銀行</span>
                            </span>
                            <span class="flex-align-center">
                                <i class="icon-links-2 font-12 scale08 text-green2AB3AC mr-2"></i>
                                <span class="text-green2AB3AC">職缺查詢</span>
                            </span>
                        </a>
                        <a href="https://www.job5156.com/comp/zp-1214993.html" target="_blank" class="flex-justify-space-between bg-white rounded-5 box-shadow-hover-style-1 px-3 py-3 mb-1">
                            <span class="flex-align-center flex-grow">
                                <span class="flex-center rounded-circle bg-green2AB3AC mr-2" style="flex:0 0 20px;height:20px;">
                                    <i class="icon-ok font-12 text-white"></i>
                                </span>
                                <span>智通人才網</span>
                            </span>
                            <span class="flex-align-center">
                                <i class="icon-links-2 font-12 scale08 text-green2AB3AC mr-2"></i>
                                <span class="text-green2AB3AC">職缺查詢</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 px-2 mb-4" data-aos="fade-up">
            <div class="border-top-5green2AB3AC bg-F5F5F5 rounded-bottom h-100 p-3 p-sm-4">
                <div class="px-xl-2">
                    <p class="font-20 text-center pb-sm-1">越南胡連</p>
                    <div class="pb-2">
                        <a href="#" target="_blank" class="flex-justify-space-between bg-white rounded-5 box-shadow-hover-style-1 px-3 py-3 mb-1">
                            <span class="flex-align-center flex-grow">
                                <span class="flex-center rounded-circle bg-green2AB3AC mr-2" style="flex:0 0 20px;height:20px;">
                                    <i class="icon-ok font-12 text-white"></i>
                                </span>
                                <span>Việc Làm 24h</span>
                            </span>
                            <span class="flex-align-center">
                                <i class="icon-links-2 font-12 scale08 text-green2AB3AC mr-2"></i>
                                <span class="text-green2AB3AC">職缺查詢</span>
                            </span>
                        </a>
                        <a href="#" target="_blank" class="flex-justify-space-between bg-white rounded-5 box-shadow-hover-style-1 px-3 py-3 mb-1">
                            <span class="flex-align-center flex-grow">
                                <span class="flex-center rounded-circle bg-green2AB3AC mr-2" style="flex:0 0 20px;height:20px;">
                                    <i class="icon-ok font-12 text-white"></i>
                                </span>
                                <span>VietnamWorks</span>
                            </span>
                            <span class="flex-align-center">
                                <i class="icon-links-2 font-12 scale08 text-green2AB3AC mr-2"></i>
                                <span class="text-green2AB3AC">職缺查詢</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 px-2 mb-4" data-aos="fade-up">
            <div class="border-top-5green2AB3AC bg-F5F5F5 rounded-bottom h-100 p-3 p-sm-4">
                <div class="px-xl-2">
                    <p class="font-20 text-center pb-sm-1">印尼胡連</p>
                    <div class="pb-2">
                        <a href="#" target="_blank" class="flex-justify-space-between bg-white rounded-5 box-shadow-hover-style-1 px-3 py-3 mb-1">
                            <span class="flex-align-center flex-grow">
                                <span class="flex-center rounded-circle bg-green2AB3AC mr-2" style="flex:0 0 20px;height:20px;">
                                    <i class="icon-ok font-12 text-white"></i>
                                </span>
                                <span>Linked in</span>
                            </span>
                            <span class="flex-align-center">
                                <i class="icon-links-2 font-12 scale08 text-green2AB3AC mr-2"></i>
                                <span class="text-green2AB3AC">職缺查詢</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 px-2 mb-4" data-aos="fade-up">
            <div class="border-top-5green2AB3AC bg-F5F5F5 rounded-bottom h-100 p-3 p-sm-4">
                <div class="px-xl-2">
                    <p class="font-20 text-center pb-sm-1">臨時人力</p>
                    <div class="pb-2">
                        <a href="styles/001.pdf" download class="flex-justify-space-between bg-white rounded-5 box-shadow-hover-style-1 px-3 py-3 mb-1">
                            <span class="flex-align-center flex-grow">
                                <span class="flex-center rounded-circle bg-green2AB3AC mr-2" style="flex:0 0 20px;height:20px;">
                                    <i class="icon-ok font-12 text-white"></i>
                                </span>
                                <span>其他招募資訊</span>
                            </span>
                            <span class="flex-align-center">
                                <i class="icon-download font-18 text-green2AB3AC mr-2"></i>
                                <span class="text-green2AB3AC">檔案下載</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>