﻿<div class="mb-4 pb-1" data-content="2">
    <p class="font-26 font-weight-bold mb-2" data-aos="fade-up">招募連絡資訊</p>
    <div class="bg-black21262E rounded-10 p-3 p-md-5">
        <ul class="noneStyle text-white px-lg-4 py-3">
            <li class="d-sm-flex broder-bottom-green2AB3AC broder-top-green2AB3AC py-3" data-aos="fade-up">
                <div class="pl-sm-1 pr-4 pr-md-5 mr-md-5">
                    <i class="icon-right-open text-green2AB3AC font-12"></i>
                    <span class="opacity05">台北胡連 / 劉小姐</span>
                </div>
                <div class="pl-sm-2">
                    <a target="_blank" href="mailto:eg@hulane.com.tw">
                        <i class="icon-mail text-green2AB3AC mr-2"></i>
                        <span class="opacity05">eg@hulane.com.tw</span>
                    </a>
                </div>
            </li>
            <li class="d-sm-flex broder-bottom-green2AB3AC py-3" data-aos="fade-up">
                <div class="pl-sm-1 pr-4 pr-md-5 mr-md-5">
                    <i class="icon-right-open text-green2AB3AC font-12"></i>
                    <span class="opacity05">南京胡連 / 朱小姐</span>
                </div>
                <div class="pl-sm-2">
                    <a target="_blank" href="mailto:zhuyanqiu@hulane.com.cn">
                        <i class="icon-mail text-green2AB3AC mr-2"></i>
                        <span class="opacity05">zhuyanqiu@hulane.com.cn</span>
                    </a>
                </div>
            </li>
            <li class="d-sm-flex broder-bottom-green2AB3AC py-3" data-aos="fade-up">
                <div class="pl-sm-1 pr-4 pr-md-5 mr-md-5">
                    <i class="icon-right-open text-green2AB3AC font-12"></i>
                    <span class="opacity05">東莞胡連 / 鄺小姐</span>
                </div>
                <div class="pl-sm-2">
                    <a target="_blank" href="mailto:kuangaichang@hulane.com.cn">
                        <i class="icon-mail text-green2AB3AC mr-2"></i>
                        <span class="opacity05">kuangaichang@hulane.com.cn</span>
                    </a>
                </div>
            </li>
            <li class="d-sm-flex broder-bottom-green2AB3AC py-3" data-aos="fade-up">
                <div class="pl-sm-1 pr-4 pr-md-5 mr-md-5">
                    <i class="icon-right-open text-green2AB3AC font-12"></i>
                    <span class="opacity05">越南胡連 / 范小姐</span>
                </div>
                <div class="pl-sm-2">
                    <a target="_blank" href="mailto:v1hr01@hulane.com.tw">
                        <i class="icon-mail text-green2AB3AC mr-2"></i>
                        <span class="opacity05">v1hr01@hulane.com.tw</span>
                    </a>
                </div>
            </li>
            <li class="d-sm-flex broder-bottom-green2AB3AC py-3" data-aos="fade-up">
                <div class="pl-sm-1 pr-4 pr-md-5 mr-md-5">
                    <i class="icon-right-open text-green2AB3AC font-12"></i>
                    <span class="opacity05">印尼胡連 / 林小姐</span>
                </div>
                <div class="pl-sm-2">
                    <a target="_blank" href="mailto:hr.id@hulane.com.tw">
                        <i class="icon-mail text-green2AB3AC mr-2"></i>
                        <span class="opacity05">hr.id@hulane.com.tw</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>