﻿<div data-content="3">
    <p class="font-26 font-weight-bold mb-2" data-aos="fade-up">如何前往台北胡連總公司</p>
    <div class="box-shadow-style-2 rounded-10 mb-5" style="height:400px;" data-aos="fade-up">
        <iframe class="w-100 h-100 rounded-10" style="border:0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.1489548361064!2d121.626831515379!3d25.062940043283753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x345d5352b9d04491%3A0x72c3f4c8c95935c!2zMjIx5paw5YyX5biC5rGQ5q2i5Y2A56aP5b635LiA6LevMzQy5be3MeW8hDHomZ8!5e0!3m2!1szh-TW!2stw!4v1619140037044!5m2!1szh-TW!2stw" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <img class="py-3 mb-3 mb-sm-5" src="styles/images/recruiting/recruit/map.jpg" alt="胡連精密" data-aos="fade-up">
    <ul class="noneList font-weight-bold row g-2 pl-0 mb-0 mb-md-3">
        <li class="col-12 col-sm-6 col-md-3 px-2 mb-3" data-aos="fade-up">
            <a href="#" target="_blank" class="d-block rounded-10 overflow-hidden text-hover-red">
                <img class="w-100" src="styles/images/recruiting/recruit/1.jpg" alt="胡連精密">
                <span class="flex-center bg-F4F4F4 py-4">
                    <span class="flex-center bg-black rounded-circle mr-2" style="width:30px;height:30px;">
                        <i class="icon-location text-green2AB3AC"></i>
                    </span>
                    <span class="pl-2 ml-1">南京胡連</span>
                </span>
            </a>
        </li>
        <li class="col-12 col-sm-6 col-md-3 px-2 mb-3" data-aos="fade-up">
            <a href="#" target="_blank" class="d-block rounded-10 overflow-hidden text-hover-red">
                <img class="w-100" src="styles/images/recruiting/recruit/2.jpg" alt="胡連精密">
                <span class="flex-center bg-F4F4F4 py-4">
                    <span class="flex-center bg-black rounded-circle mr-2" style="width:30px;height:30px;">
                        <i class="icon-location text-green2AB3AC"></i>
                    </span>
                    <span class="pl-2 ml-1">東莞胡連</span>
                </span>
            </a>
        </li>
        <li class="col-12 col-sm-6 col-md-3 px-2 mb-3" data-aos="fade-up">
            <a href="#" target="_blank" class="d-block rounded-10 overflow-hidden text-hover-red">
                <img class="w-100" src="styles/images/recruiting/recruit/3.jpg" alt="胡連精密">
                <span class="flex-center bg-F4F4F4 py-4">
                    <span class="flex-center bg-black rounded-circle mr-2" style="width:30px;height:30px;">
                        <i class="icon-location text-green2AB3AC"></i>
                    </span>
                    <span class="pl-2 ml-1">越南胡連</span>
                </span>
            </a>
        </li>
        <li class="col-12 col-sm-6 col-md-3 px-2 mb-md-3" data-aos="fade-up">
            <a href="#" target="_blank" class="d-block rounded-10 overflow-hidden text-hover-red">
                <img class="w-100" src="styles/images/recruiting/recruit/4.jpg" alt="胡連精密">
                <span class="flex-center bg-F4F4F4 py-4">
                    <span class="flex-center bg-black rounded-circle mr-2" style="width:30px;height:30px;">
                        <i class="icon-location text-green2AB3AC"></i>
                    </span>
                    <span class="pl-2 ml-1">印尼胡連</span>
                </span>
            </a>
        </li>
    </ul>
</div>