

.bootstrap-select{
    &.firstHide{
        .dropdown-menu li:nth-child(1){
            display: none;
        }
    }
    .dropdown-toggle{
        border:0 !important;
        &:focus{
            outline: none !important;
        }
    }
    &.red-tri{
        .dropdown-toggle{
            &::after{
                margin-top: 0;
                border-top: 6px solid red;
                border-right: 6px solid transparent;
                border-bottom: 0;
                border-left: 6px solid transparent;
            }
        }
    }
    &.style-1{
        .dropdown-toggle{
            color:black !important;
            background: $grayF4F4F4 !important;
        }
        .dropdown-item{
            &.active,
            &:active{
                background: red;
            }
        }
        &.style-1-1{ //index
           .dropdown-toggle{
               padding: 11px 15px;
               border-radius: 0;
           }
           .dropdown-item{
                padding-right: 15px; 
                padding-left: 15px;
           }
        }
        &.style-1-2{ //投資人專區
            width: 120px !important;
           .dropdown-item{
                padding-right: 15px;
                padding-left: 15px;
           }
        }
        &.style-1-3{ //inquire
           .dropdown-toggle{
               border-radius: 0;
               padding: 0px 16px;
           }
           .dropdown-item{
                padding-right: 16px; 
                padding-left: 16px;
           }
        }
    }
    &.style-2{ //news new
        .dropdown-toggle{
            padding: 6px 12.5px;
            color:$blue225387 !important;
            border-radius: 0;
            background: transparent !important;
            font-weight: bold;
            border:0 !important;
            box-shadow: none !important;
            &::after{
                margin-top: 0;
                margin-left: 10px;
                border-top: 6px solid $blue225387;
                border-right: 4px solid transparent;
                border-bottom: 0;
                border-left: 4px solid transparent;
            }
        }
        .dropdown-item{
            padding-right: 12.5px;
            padding-left: 12.5px;
            &.active,
            &:active{
                background: $blue225387;
            }
        }
    }
    &.style-3{
        .dropdown-toggle{
            padding: 6px 0px;
            border-radius: 0;
            background: transparent !important;
            border:0 !important;
            box-shadow: none !important;
            &::after{
                margin-top: 0;
                margin-left: 10px;
                border-top: 6px solid $blue225387;
                border-right: 4px solid transparent;
                border-bottom: 0;
                border-left: 4px solid transparent;
            }
        }
        .dropdown-item{
            padding-right: 12.5px;
            padding-left: 12.5px;
            &.active,
            &:active{
                background: $blue225387;
            }
        }   
    }
    @media (max-width:576px){
        &.style-1{
            &.style-1-3{
            .dropdown-toggle{
                padding: 1.4px 16px;
            }
            }
        }
    }
}
.btn-dec{
    position: relative;
    overflow: hidden;
    &::before{
        content:"";
        display: block;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background: radial-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0));
        position: absolute; 
        left: -62px;
        top: 0;
        transition:left .5s;
    }
    &:hover{
        &::before{ 
           left: 100%;
        }
    }
}
.btn-style-1{
    height: 50px;
    width: 150px;
    text-align: center;
    border-radius: 25px;
    display: block;
    line-height: 50px;
    &:hover{
        color:white;
    }
    @media (max-width:575px){
        height: 40px;
        line-height: 40px;
    }
}
.ul-style-1{
    li{
        position: relative;
        padding-left: 19px;
        margin-bottom: 10px;
        &::before{
            content:"";
            display: block;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            position: absolute;
            top: 12px;
            left: 6px;
            background: white;
        }
    }
}
.ul-style-2{
    li{
        position: relative;
        padding-left: 22px;
        &::before{
            content:"";
            display: block;
            border-style: solid;
            border-width: 4px 0 4px 8px;
            border-color: transparent transparent transparent #c8c8c8;
            position: absolute;
            top: 10px;
            left: 0px;
        }
    }
}
.ul-style-3{
    li{
        position: relative;
        padding-left: 15px;
        &::before{
            content:"";
            display: block;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            position: absolute;
            top: 12px;
            left: 6px;
            background: black;
        }
    }
}
.ul-style-4{
    li{
        position: relative;
        padding-left: 15px;
        &::before{
            content:"";
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            position: absolute;
            top: 12px;
            left:0px;
            background: black;
        }
    }
}
.ul-style-5{
    border:1px dashed $grayC8C8C8;
    li:not(:last-child){
        border-bottom:1px dashed $grayC8C8C8;
    }
}
.arrows-style-1{
    .slick-arrow{
        background: transparent; 
        width: 30px;
        height: 30px;
        svg{
            flex:0 0 20px;
        }
    }
}
.dots-style-1{
    .slick-dots li{
        &.slick-active{
            button{
                background: $gray646464;
            }
            
        }
        button{        
            border:1px solid $gray646464;
        }
    }
}
.dots-style-2{
    .slick-dots li{
        width: 12px;
        height: 12px;
        border:2px solid $gray646464;
        border-radius: 50%;
        margin: 0 4px;
        &.slick-active{
            button{
                background: $gray646464;
            }
            
        }
        button{        
            width: 100%;
            height: 100%;
            
        }
    }
}

.arrows{
    .slick-arrow{
        position: static;
        transform: none;
    }
}
.banner{
    &.banner-style-1{
        height: 380px;
    }
    &.banner-style-2{
        height: 280px;
    }
    &.banner-style-3{
        height: 200px; 
    }
    .links-element{
        bottom: 0;
        background: rgba(0,0,0,0.3);
        .toggle{
            background: #3B3B3B;
            transform: skew(-15deg,0deg);
            >*{
                transform: skew(15deg,0deg);
            }
            img{
                width: 10px;
            }
        }
        ul{           
            li{
                &.active{
                    a{
                        background: red;
                    }
                
                }
                &+li{
                    position: relative;
                    &::before{
                        content:"";
                        display: block;
                        width: 1px;
                        height: 15px;
                        background:$grayC8C8C8;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    @media (max-width:991px) {
        .links-element{
            background: #000;
            ul{
                display: none;
                position: absolute;
                width:calc(100% - 40px);
                border-radius: 5px; 
                margin-top: 5px;
                left: 50%;
                transform: translateX(-50%);
                background: #000;
                li{
                    border-bottom:1px solid rgba(255,255,255,0.3);
                    &.active{
                      
                        span::after{
                            display: none;
                        }
                        a{
                           background: transparent;
                        }
                    }
                    &::before{
                        display: none !important;
                    }
                    a{
                        width: 100%;
                        color:white;
                    }
                }
            }
       }
    }
    @media (max-width:575px){
        &.banner-style-1,
        &.banner-style-2{
            height: auto; 
            background: none;
            img{
                display: block !important;
            }
        }
    } 
}
.breadcrumb-element{
    .breadcrumb{
        line-height: 22px;
        background: transparent;
        li{
            &:last-child{
                color:red;
                font-weight: bold;
            }
            &+li::before{     
                content:"";
                padding: 0;
                margin: 0 8px;
                width: 5px;
                height: 5px;
                background: url(images/common/breadcrumb-tri.svg) center no-repeat;
            }
        }

    }
}
.video-element{
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.pages-element{
    .prev-prev,
    .next-next {
        svg,
        img {
            width: 12.8px;
        }
    }
    .prev,
    .next {
        svg,
        img {
            width: 10.8px;
        }
    }
    li {
        &.num{
            &.active,
            &:hover {
                a{
                    position: relative;
                    background: $blue225387;
                    color:white;
                }
            }
            a{
                display: block;
                border-radius: 50%;
                padding: 0px 9.5px;
                color:$blue225387;
                border: 1px solid $blue225387;
                transition: all .3s;
            }
        }

    }
    @media (max-width:575px) {
        li { 
            margin: 0 7px;
            a{
                padding: 0 7px;
            }
        }
    }
}
.circle-element{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.left-blue-dec{
    position: relative;
    padding-left: 15px;
    line-height: 21px;
    &::before{
        content:"";
        display: block;
        width: 5px;
        height: 20px;
        background: linear-gradient(#557FC4,#2A5499);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 5px;
    }
}
.left-blue-dec-circle{
    position: relative;
    padding-left: 30px;
    &.style-2{
        &::before{
            top:.5rem;
            transform: none;
        }
    }
    &::before{
        content:"";
        display: block;
        width: 20px;
        height: 20px;
        background: white;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        border:5px solid $blue5E86BC;
    }
}
.right-C8C8C8-sm-dec-line{
    @media(min-width:576px){
        position: relative;
        &::after{
            content:"";
            display: block;
            width: 1px;
            height: 80%;
            background: $grayC8C8C8;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

}
.white-dec-line{
    position: relative;
    &::before{
        content:"";
        display: block;
        width: 10px;
        height: 2px;
        background: white;
        position: absolute;
        left: 0;
        top: 10px;

    }
}
.table-style-1{
    min-width: 800px;
    border:1px solid #929292;
    td{
        border:1px solid #DCDCDC;
    }
}
.table-style-2{
    thead{
        color:white;
        background: linear-gradient(#557FC4,#2A5499);
        tr{
            th{
                padding: 10px 30px;
                &+th{
                    position: relative;
                    &::before{
                        content:"";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 20px;
                        background: rgba(255,255,255,0.3);
                    }
                }
            }
        }
    }
    tbody{
        tr{
            border-bottom:1px solid $grayDCDCDC;
            &:nth-child(even){
                background: $grayF5F5F5;
            }
            td{
                &+td{
                    position: relative;
                    &::before{
                        content:"";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 20px;
                        background: $grayDCDCDC;
                    }
                }
            }
        }
    }
    &.table-style-2-1{
        thead{
            tr{
                th{ 
                    &:nth-child(1){
                        border-radius: 5px 0 0 5px;
                    }
                    &:last-child{
                        border-radius: 0 5px 5px 0;
                    }
                }
            }
        }
        td{
            padding: 6px 30px;
        }
        @media (max-width:991px) {
            thead tr th,
            tbody tr td{
                padding: 5px 16px
            }
        }
        @media (max-width:575px) {
            line-height: 1.5;
            thead tr th,
            tbody tr td{
                padding: 5px 10px;
            }
        }
    }
    &.table-style-2-2{
        td{
            padding: 13px 20px;
        }
        @media (max-width:991px) {
            thead tr th,
            tbody tr td{
                padding: 5px 16px
            }
        }
        @media (max-width:767px) {
            display: block;
            thead{
                display: none;
            }
            tbody{
                display: block;
                tr{
                    border:1px solid $grayDCDCDC;
                    display: block;
                    margin-bottom: 20px;
                    background: transparent;
                    td{
                        padding: 8px 16px;
                        display: block;
                        &:nth-child(even){
                            background: $grayF4F4F4;
                        }
                        &::before{
                            content:attr(data-title) "：";
                            display: block;
                            position: static;
                            transform: none;
                            width: auto;
                            height: auto;
                            background: transparent;
                        }
                    }
                }
            }
        }  
    }

}
.table-style-3{
    overflow: initial;
    &.long-table{
        >.mCustomScrollBox{
            overflow: initial;
            >.mCSB_container{
                overflow: initial;
            }
        }
        .left-table{
            width: 350px;
            flex:0 0 350px;
            .flex-140{
                flex:0 0 140px;
            }  
        }
        .right-table{
            width: calc(100% - 350px);
            flex:0 0 calc(100% - 350px);
            .th,
            .td{
                flex:0 0 110px;
                &.flex-100{
                    flex:0 0 100px;
                }
                &.flex-140{
                    flex:0 0 140px;
                }   
                &.flex-160{
                    flex:0 0 160px;
                }
                &.flex-300{
                    flex:0 0 300px;
                }
            }
        }
    }
    .left-table{
        width: 345px;
        flex:0 0 345px;
        box-shadow: 7px 0px 12px rgba(0,0,0,0.2);
        [data-product]{
            &::after{
                content:"";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(to right,white,#DDE6F4 );
                opacity: 0;
                transition: opacity .3s;
                z-index: -1;
            }
            &.active{
               &::after{
                   opacity: 1;
               }
            }
        }
    }
    .right-table{
        width:calc(100% - 345px);
        flex:0 0 calc(100% - 345px);
        box-shadow: -7px 3px 12px rgba(0,0,0,0.2) inset;
        .th,
        .td{
            flex:0 0 94px;
            &.flex-282{
                flex:0 0 282px;
            }
        }
        [data-product]{
            position: relative;
            &::after{
                content:"";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: #DDE6F4;
                opacity: 0;
                transition: opacity .3s;
                z-index: -1;
            }
            &.active{
               &::after{
                   opacity: 1;
               }
            }
        }
    }
    .extra-table{
        width: 156px;
        left: 100%;
        padding-top: 80px;
        .bg-purple{
            height: 101px;
            opacity: 0;
            pointer-events: none;
            &.active{
                opacity: 1;
                pointer-events: all;
            }
            a{
                padding: 2px 11px;
                height: 30px;
            }
        }

    }
    .thead{
        color:white;
        .tr{
            .th{
                height: 80px;
                &+.th{
                    position: relative;
                    &::before{
                        content:"";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 30px;
                        background: rgba(255,255,255,0.3);
                    }
                }
            }
        }
    }
    .tbody{
       .tr{
           transition: background .3s;
            border-bottom:1px solid $grayDCDCDC;
            .td{
                height: 100px;
                &+.td{
                    position: relative;
                    &::before{
                        content:"";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 30px;
                        background: $grayDCDCDC;
                    }
                }
            }
        }
    }
    @media(max-width:1800px){
        .extra-table{
            display: none;  
        }
    }
    @media(max-width:991px){
        &.long-table{
            >.mCustomScrollBox{
                overflow: hidden;
                >.mCSB_container{
                    overflow: hidden;
                }
            }
            .left-table{
                width: 345px;
                flex:0 0 345px;
            }
            .right-table{
                width: auto;
                .th,
                .td{
                    flex:0 0 83px;
                    &.flex-100,
                    &.flex-140,
                    &.flex-160{
                        flex:0 0 83px;
                    }
                    &.flex-300{
                        flex:0 0 249px;
                    }
                }

            }
        }
        .table{
            width: 1092px;
            max-width: initial;
        }
       .right-table{
           width: auto;
            .th,
            .td{
                flex:0 0 83px;
                &.flex-282{
                    flex:0 0 249px;
                }
            }

       }
    }
}

.menu-side{
    ul{
        @media(max-width:1199px){
            margin-top: 5px;
            padding: 10px 16px;
            border-radius: 5px;
            display: none;
            background: #323232 !important;
           
            li{
                &:last-child{
                    a{
                        border-bottom: none;
                    }
                }
                a{
                     color:white;
                    .bg-red{
                        display: none;
                    }
                }
            }
        }
    }
}
.form-style-1{ 
    .form-field{
        padding:5.5px 0px;
        label{
            padding-left: 16px;
        }
    }   
}
.form-button{//不一定是form
    width: 150px;
    height: 58px;
    line-height: 58px;
    border-radius: 50px;
    color:white;
    display: inline-block;
    text-align: center;
    &.button-black{
        background: linear-gradient(#616161,#383838);
    }
    &.button-blue{
        background: linear-gradient(#547FC3,#295398);
    }
    @media (max-width: 767px){
       width: 120px;
       height: 41px;
       line-height: 41px;
    }
}
.radio-style-1{
    input[type=radio],
    input[type=checkbox]{
        &+label{
            position: relative;
            padding-left: 30px;
            &::before{
                content:"";
                width: 16px;
                height: 16px;
                border:1px solid $grayC8C8C8;
                display: block;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 5px;
            }

        }
        &:checked+label{
            &::after{
                content:"";
                display: block;
                position: absolute;
                width: 8px;
                height: 8px;
                background: red;
                top:9px;
                left: 4px;
                border-radius: 50%;

            }
        }
        @media (max-width:575px){
            &+label{
                padding-left: 25px;
            }
        }
    }
}
.radio-style-2{
    &.shallowBlueBg-style{
        input[type=radio],
        input[type=checkbox]{
            &:before{
                background: #ECF1F9;
            }
        }  
    }
    &.black-style{
        input[type=radio],
        input[type=checkbox]{
            &:before{
                border:1px solid #D5D5D5;
                background: $grayF4F4F4;
            }
        }
    }
    &.small-style{
        input[type=radio],
        input[type=checkbox]{
            width: 16px;
            height: 16px;
            &:before{
                width: 16px;
                height: 16px;
            }
            &:checked::after{
                width: 8px;
                height: 8px;
                top: 4px;
                left: 4px;
            }
        }
    }
    >div{
        padding: 18px 19px;
    }
    input[type=radio],
    input[type=checkbox]{
        width: 20px;
        height: 20px;
        position: relative;
        &:before{
                content:"";
                width: 20px;
                height: 20px;
                border:1px solid $blue325FAB;
                background: white;
                display: block;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 0;     
        }
        &:checked{
            &::after{
                content:"";
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                background: $blue325FAB;
                top:5px;
                left: 5px;
                border-radius: 50%;
            }
        }

    }
    @media (max-width:991px){
        >div{
            padding: 8px 15px 8px 0;
        }
    }
}
.checkbox-style-1{
    input[type="radio"],
    input[type="checkbox"]{
        display: none;
        &:checked+label{
            &::after{
                opacity: 1;
            }
        }
    }
    label{
        position: relative;
        padding-left: 35px;
        &::before{
            content:"";
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border:1px solid $grayC8C8C8;
            background: $grayF4F4F4;
            position: absolute;
            top: 4px;
            left: 0;
        }
        &::after{
            content:"";
            display: block;
            background: url(images/common/checked-2.svg) center no-repeat;
            width: 12px;
            height: 12px;
            position: absolute;
            top: 8px;
            left: 4px;
            opacity: 0;
            transition: opacity .3s;
        }
    }
    @media (max-width: 575px){
       label{
           padding-left: 28px;
       }
    }
}

.checked-circle{
    width: 130px;
    height: 130px;
    background: linear-gradient(#547FC3,#547FC3);
    border-radius: 50%;
    >div{
        width: 66px;
        height: 45px;
    }
    @media (max-width: 767px){
       width: 100px;
       height: 100px;
       >div{
           width: 40px;
           height: 40px;
       }
    }
}


.modal-style-1{
    .close{
        position: absolute;
        width: 36px;
        height: 36px;
        background: #000;
        border-radius: 50%;
        top: -18px;
        right: -18px;
        z-index: 1;
        color:white;
        transition: all .3s;
        float:none;
        &:hover{
            background: $red;
        }
    }
    @media (max-width: 575px){
      .close{ 
          position: static;
          width: 25px;
          height: 25px;
      }
    }
}

.products-linkElement{
    height: 74px;
    .content{
        height: 100%;   
        .row{    
            .item{
                margin-top: 10px;
                &.active{
                    margin-top: 0;
                    color:red;
                    a{
                        border-top:5px solid red;
                        background: white;
                        >span{
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 991px){
        height: auto;
        .content{
            display: none;  
            height: auto;
            top: 41px;
            .row{
                .item{
                    margin-top: 0;
                    height: 50px;
                    &.active a{
                        background: $grayF4F4F4;
                        border: 1px solid #c8c8c8;
                        >span{
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }
}
.listList{
    a{
        img{
            transition: all .5s;
        }
        &:hover{
            img{
                transform: scale(1.02);
            }
            box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
        }
    }
}
.faqList{
    .circle-element,
    .title{
        transition: all .3s;
    }
    button{
        &[aria-expanded="true"],
        &:hover{
            .circle-element{
                background: $blue225387;
            }
            .title{
                color:$blue225387;
            }
        }
    }
    @media (max-width:575px) {
        .content{
            border-top: 1px solid $grayC8C8C8;
        }
    }
}
.newsList{
    a{
        img{
            transition: all .5s;
        }
        .text-323232{
             transition: all .3s;
        }
        &:hover{
            img{
                transform: scale(1.02);
            }
            .text-323232{
                color:red;
            }
        }
    } 
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
