.historyPage{
    .year-block{
        >span{
            flex:0 0 85px;
        }
        >div{
            width:calc(100% - 85px);
        }
    }
    @media (max-width:575px){
        .year-block{
            >div{
                width: 100%;
            }
        }
    }
}