@keyframes slideRight {
  from {
    opacity: 0;
    transform: translate3d(30px, 0px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes radarWave{
	0% {
	    opacity: 0;
        transform: translate(-50%, -50%) scale(0);
	}
	5% {
         background: rgba(175,144,106,0.2);
        opacity: 1;
	}
	100% {
	 	transform:translate(-50%, -50%)  scale(1) ;
	 	 background: rgba(158,125,84,0);
	 }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0px, 50px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}