
/* ==========================================================================
    header
 ==========================================================================*/
html.menuOpen{
	.menu-toggle{
		div {
			&.bar1 {
				width: 20px;
				top: 20px;
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
			&.bar2 {
				width: 20px;
				top: 20px;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
	}
	.bg_phone{
		right: 0;
		.menu li{
			animation-name: slideRight;
		}
	}
	.gray_block{
		display: block;
		left: 0;
		top: 60px;
		width: 100vw;
		height: calc(100vh - 60px);
		background-color: rgba(0, 0, 0,0.5);
		cursor: pointer;
	}
}
 header {
	.logo{ 
		flex:0 0 257px;
	}
	.menu-toggle{
		width: 40px;
		height: 40px;
		transition: transform .3s;
		margin-right: -10px;
		div {
			height: 3px;
			transition: all .3s;
			&.bar1 {
				top: 15px;
				right: 10px;
				width: 20px;
			}
			&.bar2 { 
				top: 22px;
				right: 10px;
				width: 15px;
			}
		}
	}
	.menu{
		li{
			&.active{
				position: relative;
				color:red;
				&::before{
					content:"";
					display: block;
					position: absolute;
					top: calc(100% - 3px);
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 62px;
					height: 3px;
					background: red;
				}
			}
			a{
				padding: 22px 34px;
			}
		}
	}
	.lang{
		.content{
			top: 100%;
			display: none;
		}
	}
	@media (max-width:1800px){
		.menu li a{
			padding: 24px 26px;
		}
	}
	@media (max-width:1600px){
		.menu li a{
			padding: 24px 10px;
		}
	}
	@media (max-width:1400px){
		.border-right-dec{
			&::after{
				display: none;
			}
		}
		>div{
			height: 60px;
		}
		.logo{
			flex:0 0 200px;
		}
		.bg_phone {
			padding: 0;
			width: 320px;
			overflow-y: auto;
			overflow-x: hidden;
			position: fixed;
			display: block;
			right: -320px;
			top: 60px;
			height: calc(100vh - 60px);		
			transition: right .3s;
		}
		.menu{
			transform: none;
			li{
				animation-duration: .5s;
				animation-iteration-count: 1;
				animation-fill-mode: both;
				border-bottom:1px solid $grayC8C8C8;
				&.active{
					&::before{
						display: none;
					}
					color:red;
				}
				&:nth-child(1){
					    animation-delay: .05s;
				}
				&:nth-child(2){
					    animation-delay: .1s;
				}
				&:nth-child(3){
					    animation-delay: .15s;
				}
				&:nth-child(4){
					    animation-delay: .2s;
				}
				&:nth-child(5){
					    animation-delay: .25s;
				}
				&:nth-child(6){
					    animation-delay: .3s;
				}
				a{
					padding: 10px 0;
				}
			}
		}

	}
	@media (max-width:575px){
		.bg_phone{
			width: 100%;
			right: -100%;
		} 
	}
}
/* ==========================================================================
    footer
 ==========================================================================*/
footer{
	.side-wrapper{
		bottom:20px; 
		right: 20px;
		.bg-red{
			overflow: hidden;
			&.active{
				.toggle{
					display: none;
				}
				ul{
					opacity: 1;
					transform: none;
					height: auto;
					width: auto;
				}
			}
			ul{
				transform: translateY(10px);
				transition: all .3s;
				opacity: 0;
				height: 0;
				width: 0;
				li{
					&:not(:last-child){
						border-bottom:1px solid rgba(255,255,255,0.5);
					}
					
				}
			}
		}

		#goTop{
			width: 60px;
			height: 60px;
			&:hover{
				.opacity05{
					opacity: 1;
				}
			}
		}
		.writing-vertical{
			line-height: 20px;
		}
	}
	.top-wrapper{
		background: linear-gradient(to right,#2C6592,#18407C);
		li{
			&:not(:last-child){
				border-right:1px solid rgba(255,255,255,0.3);
			}
			.img{
				width: 80px;
				height: 80px;
			}
			a{
				&:hover{
					>span{
						&:nth-child(1){
							-webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.7));
							filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.7))
						}
						&:nth-child(2){
							text-shadow: 0 4px 10px rgba(0,0,0,0.5);
						}
					}
				}
			}
		}
	}
	.bottom-wrapper{
		.logo{
			max-width: 310px;
		}

	}
	@media (max-width:1199px){ 
		.bottom-wrapper>div{
			flex-wrap: wrap;
		}
		.side-wrapper .bg-red.active .toggle{
			display: flex;
		}
	}
	@media (max-width:991px){
		.top-wrapper li .img{
			width: 50px;
			height: 50px;
		}
	}
	@media (max-width:767px){
		.top-wrapper li:not(:last-child){
			border:0;
		}
	}
	@media (max-width:575px){
		.side-wrapper{
			border-radius: 5px;
			#goTop{
				width: 40px;
				height: 40px;
			}
		}
	}
}