﻿@using Web.DB.Models
@using Web.Models
@using Web.Service;
@{
    List<SearchResultDetailVM> products = ViewBag.products;
    FormCollection form = ViewBag.form;
}

<main>
    <div class="banner banner-style-2 position-relative text-white font-weight-bold z-1" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["聯絡我們"]</h1>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/about.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/about-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1200">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["聯絡我們"]</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="blank pb-5">
        <div class="max1200 pb-md-5">
            <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-4 mb-4 pt-1" data-aos="fade-up">@ViewBag.ResLang["客戶聯絡表單"]</h2>

            <form action="@Url.Content("~/contact/Send")" method="post" class="form-style-1" name="ContactForm" id="ContactForm">
                @Html.AntiForgeryToken()
                <div class="mb-4">
                    <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">@ViewBag.ResLang["客戶基本資訊"]</p>
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                <label for="name" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                    <span class="font-weight-bold">@ViewBag.ResLang["姓名"]</span>
                                    <span class="reqire text-red">*</span>
                                </label>
                                <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="name" name="name" required>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 position-relative z-3 mb-2 mb-md-3" data-aos="fade-up">
                                <label for="department" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                    <span class="font-weight-bold">@ViewBag.ResLang["部門"]</span>
                                </label>
                                <select class="selectpicker style-1 style-1-3 firstHide red-tri w-100" name="department" id="department">
                                    <option value="">@ViewBag.ResLang["請選擇"]</option>
                                    @foreach (system_item item in Helper.SystemItemList("department", ViewBag.Lang))
                                    {
                                        <option @if ((form.AllKeys.Contains("department") ? form["department"].ToString() : "") == item.title) { @Html.Raw("selected") ; } value="@item.title">@item.title</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                <label for="email" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                    <span class="font-weight-bold">E-Mail</span>
                                    <span class="reqire text-red">*</span>
                                </label>
                                <input type="email" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="email" name="email" required>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 position-relative z-2 mb-2 mb-md-3" data-aos="fade-up">
                                <label for="jobTitle" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                    <span class="font-weight-bold">@ViewBag.ResLang["職稱"]</span>
                                </label>
                                <select class="selectpicker style-1 style-1-3 firstHide red-tri w-100" name="jobTitle" id="jobTitle">
                                    <option value="">@ViewBag.ResLang["請選擇"]</option>
                                    @foreach (system_item item in Helper.SystemItemList("job", ViewBag.Lang))
                                    {
                                        <option @if ((form.AllKeys.Contains("jobTitle") ? form["jobTitle"].ToString() : "") == item.title) { @Html.Raw("selected") ; } value="@item.title">@item.title</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="d-md-flex" data-aos="fade-up">
                        <span class="d-block font-weight-bold mr-md-3 pr-0 pr-md-1 mb-1 mb-md-0">eNews</span>
                        <div class="checkbox-style-1">
                            <input type="checkbox" id="eNews" name="eNews" value="Y">
                            <label for="eNews">Please mail me detail information of products, services and news of events.</label>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">@ViewBag.ResLang["公司資訊"]</p>
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                <label for="company" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                    <span class="font-weight-bold">@ViewBag.ResLang["公司"]</span>
                                    <span class="reqire text-red">*</span>
                                </label>
                                <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="company" name="company" required>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3 position-relative z-1" data-aos="fade-up">
                                <label for="country" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                    <span class="font-weight-bold">@ViewBag.ResLang["國家"]</span>
                                    <span class="reqire text-red">*</span>
                                </label>
                                <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="country" name="country" required>
                                @*<select class="selectpicker style-1 style-1-3 red-tri w-100" name="country" id="country">
                                    @foreach (system_item item in Helper.SystemItemList("country", ViewBag.Lang))
                                    {
                                        <option @if ((form.AllKeys.Contains("country") ? form["country"].ToString() : "") == item.title) { @Html.Raw("selected") ; } value="@item.title">@item.title</option>
                                    }
                                </select>*@
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                <label for="website" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                    <span class="font-weight-bold">@ViewBag.ResLang["網址"]</span>
                                </label>
                                <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="website" name="website">
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                <label for="tel" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                    <span class="font-weight-bold">@ViewBag.ResLang["電話"]</span>
                                </label>
                                <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="tel" name="tel">
                            </div>
                        </div>
                    </div>
                </div>

                @if (products.Count > 0)
                {
                    <div class="mb-4">


                        <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">@ViewBag.ResLang["感興趣的商品"]</p>
                        <div data-aos="fade-up">
                            <div class="table-style-3 scrollbarX text-center lh14">
                                <div class="table d-flex mb-0">
                                    <div class="left-table z-1">
                                        <div class="thead bg-blue4C87A7">
                                            <div class="tr row mx-0">
                                                <div class="th col-6 flex-center px-0">@ViewBag.ResLang["產品照片"]</div>
                                                <div class="th col-6 flex-center px-0">@ViewBag.ResLang["ID品號品號"]</div>
                                            </div>
                                        </div>

                                        <div class="tbody">

                                            @foreach (SearchResultDetailVM product in products)
                                            {
                                                <div class="tr row mx-0">


                                                    <div class="td col-6 px-0">
                                                        <div class="d-flex px-2 h-100">
                                                            <div class="flex-center">
                                                                <button onclick="handleCancel(@product.id)" type="button" class="flex-center bg-black text-white bg-hover-red rounded-circle" style="width:21px;height:21px;">
                                                                    <i class="icon-cancel"></i>
                                                                </button>
                                                            </div>
                                                            <a href="product" target="_blank" class="flex-center flex-grow h-100 pl-1" style="flex:0 0 140px;" data-target="0">
                                                                @*<img src="~/styles/images/products/product-0.png" alt="胡連精密">*@
                                                                <img src="@product.productImg" alt="胡連精密">
                                                            </a>
                                                        </div>
                                                    </div>


                                                    <div class="td col-6 px-0">
                                                        <a href="product" target="_blank" class="flex-center h-100" data-product="0" data-target="0">
                                                            <span class="d-block">
                                                                <span class="d-block">@product.new_name</span>
                                                                <span class="d-block text-C8C8C8">@product.name</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            }





                                        </div>
                                    </div>
                                    <div class="right-table">
                                        <div class="scrollbarX">
                                            <div style="width:854px;">
                                                <div class="inner-table mb-0">
                                                    <div class="thead bg-blue-gradient-3">
                                                        <div class="tr d-flex">
                                                            <div class="th flex-center px-2">@ViewBag.ResLang["類別"]</div>
                                                            <div class="th flex-center px-2">@ViewBag.ResLang["系列碼"]</div>
                                                            <div class="th flex-center px-2">@ViewBag.ResLang["公母"]</div>
                                                            <div class="th flex-center px-2">@ViewBag.ResLang["防水"]/<br>@ViewBag.ResLang["非防水"]</div>
                                                            <div class="th flex-center px-2">@ViewBag.ResLang["孔數"]</div>
                                                            <div class="th flex-center px-2">@ViewBag.ResLang["適用溫度"]</div>
                                                            <div class="th flex-center px-2 flex-282">
                                                                <div class="flex-grow">
                                                                    <div class="mb-3">@ViewBag.ResLang["尺寸"] (mm)</div>
                                                                    <div class="row">
                                                                        <div class="col-4">L</div>
                                                                        <div class="col-4">W</div>
                                                                        <div class="col-4">H</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="tbody">

                                                        @foreach (SearchResultDetailVM product in products)
                                                        {

                                                            <a href="product" target="_blank" class="tr d-flex" data-product="0" data-target="0">
                                                                <span class="td flex-center px-2">@product.type</span>
                                                                <span class="td flex-center px-2">@product.series</span>
                                                                <span class="td flex-center px-2">@product.sex</span>
                                                                <span class="td flex-center px-2">@product.sealable</span>
                                                                <span class="td flex-center px-2 text-C8C8C8">@product.positions</span>
                                                                <span class="td flex-center px-2 text-C8C8C8">@product.temper_operating</span>
                                                                <span class="td flex-center px-2">@product.length</span>
                                                                <span class="td flex-center px-2">@product.width</span>
                                                                <span class="td flex-center px-2">@product.height</span>
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }




                <div class="mb-4">
                    <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">@ViewBag.ResLang["詢問訊息"]</p>
                    <div class="form-field border-C8C8C8 bg-F4F4F4 rounded-5" data-aos="fade-up">
                        <textarea class="border-0 bg-transparent w-100 py-0 px-3" name="message" id="message" rows="3"></textarea>
                    </div>
                </div>
                <div class="row justify-center pt-sm-4">
                    <div class="col-12 col-sm-auto d-sm-flex align-center mb-4 mb-lg-0" data-aos="fade-up">
                        <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mr-sm-2" style="flex:0 0 240px">
                            <label for="verificationCode" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                <span class="font-weight-bold">@ViewBag.ResLang["驗証碼"]</span>
                                <span class="reqire text-red">*</span>
                            </label>
                            <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="verification" name="verification" required>
                        </div>
                        <div class="flex-align-center justify-center mt-3 mt-sm-0">
                            <div class="mr-3 pr-1">
                                <img id="captcha" src="@Url.Content("~/Content/BuildCaptchaHome.aspx")" class="code">
                            </div>
                            <a href="javascript:void(0);" id="changeImg">@ViewBag.ResLang["換另一張"]</a>
                        </div>
                        <div class="col-auto" data-aos="fade-up">
                            <button class="form-button button-black btn-dec mx-1" type="reset">@ViewBag.ResLang["重填表單"]</button>
                            <button class="form-button button-blue btn-dec mx-1" type="submit">@ViewBag.ResLang["送出表單"]</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>



@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });

        $('#changeImg').click(function () {

            $('#captcha').attr("src" , "@Url.Content("~/Content/BuildCaptchaHome.aspx")?d="+Date.now())

        });

        function handleCancel(productid) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("deleteToProductInquery", "Ajax")',
                data: { productid: productid },
                success: function (data) {
                    location.reload();
                }
            });
        }
    </script>
}

