﻿@using Web.DB.Models
@using Web.Service;
@{
    List<history_category> categories = ViewBag.categories;
    List<history> data = ViewBag.data;
    int i = 0;
}

<main>
    <div class="banner banner-style-1 position-relative text-white font-weight-bold z-3" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["關於胡連"]</h1>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/about.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/about-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
        @Html.Partial("../About/Nav")<!--共用選單-->
    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1200">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["關於胡連"]</li>
                    <li class="flex-align-center">@ViewBag.ResLang["胡連沿革"]</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="blank pb-5 pt-lg-1">
        <div class="editor mb-lg-4" id="about-editor">
            <!--編輯器開始-->
            <div class="max1200 historyPage">
                <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-3 pb-lg-4 mb-2 mb-sm-3 mb-lg-4" data-aos="fade-up">@ViewBag.ResLang["胡連沿革"]</h2>
                <div class="row">
                    <div class="col-12 col-lg-2 mb-3 mb-md-4 mb-lg-0">
                        <ul class="nav row noneStyle font-weight-bold lh14" data-aos="fade-up">
                            @foreach(history_category item in categories)
                            {
                                <li class="col-6 col-lg-12 flex-align-center border-bottom-C8C8C8 cursor text-hover-red py-2 py-lg-3 pl-1">
                                    <div class="flex-center text-white bg-red rounded-circle flex-shrink-0 mr-2" style="width:18px;height:18px;">
                                        <i class="icon-right-open font-12 scale075"></i>
                                    </div>
                                    <span class="pl-1">@item.title</span>
                                </li>
                            }
                         

                        </ul>
                    </div>
                    <div class="col-12 col-lg-10 pl-xl-5">
                         @foreach (history_category item in categories)
                         {
                              <div class="pb-2" data-block="@i.ToString()">
                                    <div class="font-26 font-weight-bold border-bottom-blue text-darkBlue" data-aos="fade-up">
                                        <span class="d-table border-bottom-5blue pb-1">@item.title</span>
                                    </div>
                                    <ul class="noneStyle">

                                         @foreach (history subItem in data.Where(m=>m.category == item.guid.ToString()).ToList())
                                         {
                                             <li class="year-block d-block d-sm-flex row border-bottom-blue pt-4 pb-3 mx-0 align-center" data-aos="fade-up">
                                            <span class="d-block font-20 font-weight-bold text-646464 lh14 px-0 mb-2 mb-sm-0">@subItem.title</span>
                                            <div>
                                                @Html.Raw(FunctionService.FormatImagePath(subItem.content))
                                            </div>
                                        </li>
                                         }


                                    </ul>
                                </div>

                             i++;
                         }


                    </div>
                </div>
            </div>
            <!--編輯器結束-->
        </div>
    </div>
</main>


@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });

    </script>
}

