﻿@using Web.DB.Models
@using Web.Service;
@{
    abouts data = ViewBag.data;
}

    <main>
        <div class="banner banner-style-1 position-relative text-white font-weight-bold z-3" data-aos="fade-up">
            <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["關於胡連"]</h1>
            <div class="imgFill h-100" data-query="size">
                <picture>
                    <source media="(min-width: 576px)" srcset="~/styles/images/banner/about.jpg" />
                    <source media="(max-width: 575px)" srcset="~/styles/images/banner/about-mobile.png" />
                    <img src="#" alt="胡連精密" />
                </picture>
            </div>

            @Html.Partial("../About/Nav")<!--共用選單-->
           
        </div>
        <div class="border-bottom-C8C8C8 blank mb-3">
            <div class="max1200">
                <div class="breadcrumb-element border-bottom-5-red d-table">
                    <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                        <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                        <li class="flex-align-center">@ViewBag.ResLang["關於胡連"]</li>
                        <li class="flex-align-center">@ViewBag.ResLang["關於胡連"]</li>
                    </ol>
                </div>
            </div>
        </div>
        @Html.Raw(FunctionService.FormatImagePath(data.content))

    </main>


@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });

    </script>
}

