﻿
<div class="links-element position-absolute w-100">
    <div class="d-flex d-lg-none align-center py-2 px-4">
        <span class="text-white pr-4">單元</span>
        <span class="toggle bg-3B3B3B flex-grow flex-justify-space-between text-white px-3 py-1">
            <span></span>
            <i class="icon-plus"></i>
        </span>
    </div>
    <div class="d-lg-table mx-auto">
        <ul class="noneStyle d-lg-flex text-center">
            <li @Html.Raw(ViewBag.active.ContainsKey("about") ? ViewBag.active["about"] : "")>
                <a class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4" href="@Url.Content("~/"+ViewBag.Lang)/about/index"><span class="d-block m-1">@ViewBag.ResLang["關於胡連"]</span></a>
            </li>
            <li @Html.Raw(ViewBag.active.ContainsKey("history") ? ViewBag.active["history"] : "")>
                <a class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4" href="@Url.Content("~/"+ViewBag.Lang)/about/history"><span class="d-block m-1">@ViewBag.ResLang["胡連沿革"]</span></a>
            </li>
            <li @Html.Raw(ViewBag.active.ContainsKey("overview") ? ViewBag.active["overview"] : "")>
                <a class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4" href="@Url.Content("~/"+ViewBag.Lang)/about/overview"><span class="d-block m-1">@ViewBag.ResLang["企業願景"]</span></a>
            </li>
            <li @Html.Raw(ViewBag.active.ContainsKey("stronghold") ? ViewBag.active["stronghold"] : "")>
                <a class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4" href="@Url.Content("~/"+ViewBag.Lang)/about/stronghold"><span class="d-block m-1">@ViewBag.ResLang["全球據點"]</span></a>
            </li>
            <li @Html.Raw(ViewBag.active.ContainsKey("glory") ? ViewBag.active["glory"] : "")>
                <a class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4" href="@Url.Content("~/"+ViewBag.Lang)/about/glory"><span class="d-block m-1">@ViewBag.ResLang["品質榮耀"]</span></a>
            </li>
            <li @Html.Raw(ViewBag.active.ContainsKey("technology") ? ViewBag.active["technology"] : "")>
                <a class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4" href="@Url.Content("~/"+ViewBag.Lang)/about/technology"><span class="d-block m-1">@ViewBag.ResLang["技術發展"]</span></a>
            </li>
            <li @Html.Raw(ViewBag.active.ContainsKey("organization") ? ViewBag.active["organization"] : "")>
                <a class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4" href="@Url.Content("~/"+ViewBag.Lang)/about/organization"><span class="d-block m-1">@ViewBag.ResLang["胡連組織"]</span></a>
            </li>
            @if (ViewBag.Lang == "en")
            {

            }
            else
            {
                <li @Html.Raw(ViewBag.active.ContainsKey("team") ? ViewBag.active["team"] : "")>
                    <a class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4" href="@Url.Content("~/"+ViewBag.Lang)/about/team"><span class="d-block m-1">@ViewBag.ResLang["經營團隊"]</span></a>
                </li>
            }
        </ul>
    </div>
</div>
