﻿@using Web.DB.Models
@using Web.Service;
@{
    abouts data = ViewBag.data;
    List<locations> locations = ViewBag.location;
}
<main>
    <div class="banner banner-style-1 position-relative text-white font-weight-bold z-3" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["關於胡連"]</h1>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/about.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/about-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
        @Html.Partial("../About/Nav")<!--共用選單-->
    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1200">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["關於胡連"]</li>
                    <li class="flex-align-center">@ViewBag.ResLang["全球據點"]</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="blank pb-4 pb-sm-5 pt-lg-1">
        <div class="editor" id="about-editor">
            <!--編輯器開始-->
            <div class="max1200">
                <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-3 pb-lg-4 mb-2 mb-sm-3 mb-lg-4" data-aos="fade-up">@ViewBag.ResLang["全球據點"]</h2>
                <div class="pt-4">

                    @Html.Raw(FunctionService.FormatImagePath(data.content))

                    <div class="row g-2">


                        @if (locations.Count > 0)
                        {
                            foreach (locations location in locations)
                            {

                                <div class="col-12 col-lg-6 px-2 mb-4 pb-sm-3" data-aos="fade-up">
                                    <div class="border-top-5green2AB3AC bg-F5F5F5 rounded-bottom h-100 p-3 p-sm-4">
                                        <div class="px-xl-2">
                                            <h3 class="font-20 font-weight-bold pb-sm-2">@location.title</h3>
                                            @Html.Raw(location.content)
                                            <div class="col-12 flex-center bg-white box-shadow-style-1 rounded-5 px-xl-5 py-sm-3 mb-2 mb-sm-0">
                                                <div class="row flex-grow">
                                                    @if (!string.IsNullOrEmpty(location.map))
                                                    {
                                                        <a href="@location.map" target="_blank" class="col-12 col-sm-6 flex-center border-right-sm-C8C8C8 border-bottom-C8C8C8 border-bottom-sm-0 text-hover-green2AB3AC py-2 py-sm-0">
                                                            <span class="flex-center bg-black rounded-circle mr-2" style="width:30px;height:30px;">
                                                                <i class="icon-location text-green2AB3AC"></i>
                                                            </span>
                                                            <span class="font-weight-bold">Google Map</span>
                                                        </a>
                                                    }

                                                    @if (!string.IsNullOrEmpty(location.email))
                                                    {
                                                        @*<a href="mailto:@location.email" class="col-12 col-sm-6 flex-center text-hover-green2AB3AC py-2 py-sm-0">
                                                                <span class="d-block text-green2AB3AC mr-2">
                                                                    <i class="icon-mail font-20"></i>
                                                                </span>
                                                                <span class="font-weight-bold">Email @ViewBag.ResLang["聯絡我們"]</span>
                                                            </a>*@
                                                        <a href="~/contact/index" class="col-12 col-sm-6 flex-center text-hover-green2AB3AC py-2 py-sm-0">
                                                            <span class="d-block text-green2AB3AC mr-2">
                                                                <i class="icon-mail font-20"></i>
                                                            </span>
                                                            <span class="font-weight-bold">Email @ViewBag.ResLang["聯絡我們"]</span>
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }




                    </div>
                </div>

            </div>
            <!--編輯器結束-->
        </div>
    </div>
</main>


@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });

    </script>
}
}

