﻿@using Web.DB.Models
    <div class="menu-side position-relative z-2 mb-xl-4 pb-xl-3 mt-3 mt-xl-0" data-aos="fade-up">
        <div class="toggle d-flex d-xl-none justify-between bg-black text-white rounded-5 py-2 px-3">
            <span></span>
            <i class="icon-plus"></i>
        </div>
        <ul class="noneStyle lh14 w-100 bg-white position-absolute position-xl-static">
            <li @Html.Raw(ViewBag.active.ContainsKey("corporateBriefing") ? ViewBag.active["corporateBriefing"] : "")>
                <a href="@Url.Content("~/"+ViewBag.Lang)/investor/corporateBriefing" class="flex-align-center border-bottom-C8C8C8 text-hover-red py-2 py-xl-3 pl-xl-2">
                    <span class="flex-center text-white bg-red rounded-circle flex-shrink-0" style="width:18px;height:18px;">
                        <i class="icon-right-open font-12 scale075"></i>
                    </span>
                    <span class="d-block ml-xl-2 pl-xl-1">@ViewBag.ResLang["法人說明會"]</span>
                </a>
            </li>
            <li>
                <a href="https://mops.twse.com.tw/mops/web/t146sb05" target="_blank" class="flex-align-center border-bottom-C8C8C8 text-hover-red py-2 py-xl-3 pl-xl-2">
                    <span class="flex-center text-white bg-red rounded-circle flex-shrink-0" style="width:18px;height:18px;">
                        <i class="icon-right-open font-12 scale075"></i>
                    </span>
                    <span class="d-block ml-xl-2 pl-xl-1">@Html.Raw(ViewBag.ResLang["股價資訊"] + "(" + ViewBag.ResLang["代碼"] +":6279)")</span>
                    <span class="d-block ml-auto mr-2" style="width:20px;height:20px;">
                        <i class="icon-links text-C8C8C8 font-20"></i>
                    </span>
                </a>
            </li>

              @if (((List<downloads>)ViewBag.investor["list"]).Count() > 0)
              {
                  foreach (downloads data in ((List<downloads>)ViewBag.investor["list"]))
                  {
                        <li>
                            <a href="@Url.Content("~/"+data.file)" target="_blank" class="flex-align-center border-bottom-C8C8C8 text-hover-red py-2 py-xl-3 pl-xl-2">
                                <span class="flex-center text-white bg-red rounded-circle flex-shrink-0" style="width:18px;height:18px;">
                                    <i class="icon-right-open font-12 scale075"></i>
                                </span>
                                <span class="d-block ml-xl-2 pl-xl-1">@data.title</span>
                                <span class="d-block ml-auto mr-2" style="width:20px;height:20px;">
                                    <i class="icon-pdf-1 text-C8C8C8 font-20"></i>
                                </span>
                            </a>
                        </li>
                  }
              }

        </ul>
    </div>

