﻿@using Web.DB.Models
@using Web.Service;
@{
    Dictionary<string, object> obj = ViewBag.data;
}
<main>
    <div class="banner banner-style-1 position-relative text-white font-weight-bold z-3" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["投資人專區"]</h1>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/investor.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/investor-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
        @Html.Partial("../Investor/Nav")<!--共用選單-->
    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1400">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["投資人專區"]</li>
                    <li class="flex-align-center">@ViewBag.ResLang["公司治理"] </li>
                    <li class="flex-align-center">@ViewBag.ResLang["企業社會責任"]</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="blank pb-5">
        <div class="max1400">
            <div class="row pt-lg-1">
                <div class="font-weight-bold col-12 col-xl-3 mb-4 mb-xl-0">
                    <div class="pr-xl-2">
                        <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-4 mb-sm-2" data-aos="fade-up">@ViewBag.ResLang["公司治理"]</h2>
                        @Html.Partial("../Investor/StakeholderMenu")<!--共用選單-->
                    <div class="d-sm-table d-xl-block mx-auto">

                        <img class="d-none d-xl-inline" src="~/styles/images/investor/dec/csren.png" alt="胡連精密" data-aos="fade-up">
                        @*@if (ViewBag.Lang == "en")
                        {
                            <img class="d-none d-xl-inline" src="~/styles/images/investor/dec/csren.png" alt="胡連精密" data-aos="fade-up">
                        }
                        else
                        {
                            <img class="d-none d-xl-inline" src="~/styles/images/investor/dec/csr.png" alt="胡連精密" data-aos="fade-up">
                        }*@

                        <a href="https://mops.twse.com.tw/mops/web/t146sb05" target="_blank" class="d-block btn-dec rounded-10 background-cover background-center background-no-repeat px-3 py-1 py-xl-3 mt-2 mt-sm-3" style="background-image:url(~/styles/images/investor/shareholder/btn-bg.png)" data-aos="fade-up">
                            <span class="flex-align-center my-1">
                                <img style="width:14px;" src="~/styles/images/investor/shareholder/btn-circle.svg" alt="胡連精密">
                                @if (ViewBag.Lang == "en")
                                {
                                    <span class="text-blue325FAB ml-2 pl-1">TWSE Market Observation Post (HU Lane Code:6279)</span>
                                }
                                else
                                {
                                    <span class="text-blue325FAB ml-2 pl-1">公開資訊觀測站 (胡連精密:6279)</span>
                                }
                            </span>
                        </a>


                    </div>
                    </div>
                </div>
                <div class="col-12 col-xl-9 pb-md-3">

                    <div class="pl-xl-5">

                        <div class="border-bottom-C8C8C8 mb-4 pb-3">

                            <div class="d-sm-flex align-center justify-between mb-1">
                                <h3 class="font-22 font-weight-bold left-blue-dec mb-0" data-aos="fade-up">@ViewBag.ResLang["企業社會責任"]</h3>

                                 @if ( ((List<Web.Models.Year>)obj["years"]).Count > 0)
                                 {
                                <div class="flex-align-center position-relative z-1 mt-3 mt-sm-0" data-aos="fade-up">
                                    <span class="flex-shrink-0 text-646464">@ViewBag.ResLang["請指定年份"]：</span>
                                    <select name="year" id="year" class="selectpicker style-1 style-1-2 red-tri border-C8C8C8 rounded-5"
                                            onchange="window.location.href='@Url.Content("~/"+ViewBag.Lang + "/investor/csr?year=")' + $(this).val()"
                                            >
                                        <option value="">@ViewBag.ResLang["全部"]</option>

                                          @foreach (Web.Models.Year years in ((List<Web.Models.Year>)obj["years"]))
                                          {
                                              if(!string.IsNullOrEmpty(years.year))
                                              {
                                                   <option value="@years.year" @if (ViewBag.year == years.year) { @Html.Raw("selected"); }>@years.year</option>
                                              }

                                          }


                                    </select>
                                </div>
                                 }


                            </div>
                        </div>

                    </div>


                    <div class="pl-xl-5">
                        <ul class="noneList row g-3 text-center px-3 mb-0 mb-md-3">


                              @if (((PagedList.PagedList<downloads>)obj["list"]).Count > 0)
                              {
                                  int i = 0;
                                  foreach (downloads data in (PagedList.PagedList<downloads>)obj["list"])
                                  {
                                    <li class="col-12 col-sm-6 col-lg-3 border-bottom-C8C8C8 pb-4 mb-4 pt-3 px-xl-4" data-aos="fade-up">
                                        <a href="@Url.Content("~/"+data.file)" target="_blank" class="d-block text-hover-blue225387 pb-2">
                                            @*<a href="@Url.Content("~/"+data.file)" download class="d-block text-hover-blue225387 pb-2">*@
                                            <span class="d-table box-shadow-style-1 mx-auto mb-3">
                                                <img class="w-100" src="@Url.Content("~/"+data.pic)" alt="@Html.Raw( string.IsNullOrEmpty(data.pic_alt) ? data.pic_alt : "" )">
                                            </span>
                                            <span class="d-block font-18 font-weight-bold text-blue225387 pt-1">@data.title</span>
                                            <span class="d-block">@ViewBag.ResLang["胡連企業社會責任報告書"]</span>
                                        </a>
                                    </li>
                                  }
                              }




                        </ul>
                        <div class="pt-sm-3">


                            <div class="d-table mx-auto">
                                <ul class="pages-element noneStyle flex-align-center" data-aos="fade-up">
                                    @Html.Raw(obj["pageView"])
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });
    </script>
}
