﻿@using Web.DB.Models
@using Web.Service;
@{
    FormCollection form = ViewBag.form;
}
<main>
    <div class="banner banner-style-1 position-relative text-white font-weight-bold z-3" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["投資人專區"]</h1>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/investor.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/investor-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
        @Html.Partial("../Investor/Nav")<!--共用選單-->
    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1400">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["投資人專區"]</li>
                    <li class="flex-align-center">@ViewBag.ResLang["投資人意見留言板"]</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="blank pb-5">
        <div class="max1400">
            <div class="row pt-lg-1">
                <div class="font-weight-bold col-12 col-xl-3 mb-4 mb-xl-0">
                    <div class="pr-xl-2">
                        <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-4 mb-sm-2" data-aos="fade-up">@ViewBag.ResLang["投資人問答集"]</h2>
                        @Html.Partial("../Investor/FaqMenu")<!--共用選單-->
                    <div class="d-sm-table d-xl-block mx-auto">

                        @if (ViewBag.Lang == "en")
                        {
                            <img class="d-none d-xl-inline" src="~/styles/images/investor/shareholder/decen.png" alt="胡連精密" data-aos="fade-up">
                        }
                        else
                        {
                            <img class="d-none d-xl-inline" src="~/styles/images/investor/shareholder/dec.png" alt="胡連精密" data-aos="fade-up">
                        }

                        <a href="https://mops.twse.com.tw/mops/web/t146sb05" target="_blank" class="d-block btn-dec rounded-10 background-cover background-center background-no-repeat px-3 py-1 py-xl-3 mt-2 mt-sm-3" style="background-image:url(~/styles/images/investor/shareholder/btn-bg.png)" data-aos="fade-up">
                            <span class="flex-align-center my-1">
                                <img style="width:14px;" src="~/styles/images/investor/shareholder/btn-circle.svg" alt="胡連精密">

                                @if (ViewBag.Lang == "en")
                                {
                                    <span class="text-blue325FAB ml-2 pl-1">TWSE Market Observation Post (HU Lane Code:6279)</span>
                                }
                                else
                                {
                                    <span class="text-blue325FAB ml-2 pl-1">公開資訊觀測站 (胡連精密:6279)</span>
                                }
                            </span>
                        </a>


                    </div>
                    </div>
                </div>
                <div class="col-12 col-xl-9 pb-sm-5">
                    <div class="pl-xl-5">
                        <div>
                            <div class="justify-between border-bottom-red pb-2 pb-md-4">
                                <h3 class="font-30 font-weight-bold mb-0" data-aos="fade-up">@ViewBag.ResLang["投資人意見留言板"]</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pl-xl-5">
                            <form action="@Url.Content("~/"+ViewBag.Lang)/investor/InquireSend" method="post" class="form-style-1 pt-4" name="ContactForm" id="ContactForm">
                                @Html.AntiForgeryToken()
                                <div class="mb-4 pb-md-2">
                                    <p class="font-weight-bold left-blue-dec-circle mb-2 mb-md-3" data-aos="fade-up">@ViewBag.ResLang["聯絡人資訊"]</p>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                        <label for="name" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                            <span class="font-weight-bold">@ViewBag.ResLang["姓名"]</span>
                                            <span class="reqire text-red">*</span>
                                        </label>
                                        <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="name" name="name" required>
                                    </div>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                        <label for="email" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                            <span class="font-weight-bold">E-Mail</span>
                                            <span class="reqire text-red">*</span>
                                        </label>
                                        <input type="email" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="email" name="email" required>
                                    </div>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                        <label for="department" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                            <span class="font-weight-bold">@ViewBag.ResLang["部門"]</span>

                                        </label>
                                        <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="department" name="department">
                                    </div>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                        <label for="jobTitle" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                            <span class="font-weight-bold">@ViewBag.ResLang["職稱"]</span>
                                        </label>
                                        <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="jobTitle" name="jobTitle">
                                    </div>
                                    <div class="d-md-flex" data-aos="fade-up">
                                        <span class="d-block font-weight-bold mr-md-3 pr-0 pr-md-1 mb-1 mb-md-0">eNews</span>
                                        <div class="checkbox-style-1">
                                            <input type="checkbox" id="eNews" name="eNews" value="Y" >
                                            <label for="eNews">Please mail me detail information of products, services and news of events.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <p class="font-weight-bold left-blue-dec-circle mb-2 mb-md-3" data-aos="fade-up">@ViewBag.ResLang["公司資訊"]</p>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                        <label for="company" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                            <span class="font-weight-bold">@ViewBag.ResLang["公司"] </span>
                                            <span class="reqire text-red">*</span>
                                        </label>
                                        <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="company" name="company" required>
                                    </div>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                        <label for="website" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                            <span class="font-weight-bold">@ViewBag.ResLang["網址"]</span>
                                        </label>
                                        <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="website" name="website">
                                    </div>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3 position-relative z-1" data-aos="fade-up">
                                        <label for="country" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                            <span class="font-weight-bold">@ViewBag.ResLang["國家"]</span>
                                            <span class="reqire text-red">*</span>
                                        </label>
                                        <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="country" name="country" required>
                                        @*<select class="selectpicker style-1 style-1-3 red-tri w-100 pt-1 pt-sm-0" name="country" id="country">
                                            @foreach (system_item item in Helper.SystemItemList("country", ViewBag.Lang))
                                            {
                                                <option @if ((form.AllKeys.Contains("country") ? form["country"].ToString() : "") == item.title) { @Html.Raw("selected") ; } value="@item.title">@item.title</option>
                                            }
                                        </select>*@
                                    </div>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                        <label for="address" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                            <span class="font-weight-bold">@ViewBag.ResLang["住址"]</span>
                                        </label>
                                        <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="address" name="address">
                                    </div>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                        <label for="tel" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                            <span class="font-weight-bold">@ViewBag.ResLang["電話"]</span>
                                        </label>
                                        <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="tel" name="tel">
                                    </div>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                        <label for="fax" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                            <span class="font-weight-bold">@ViewBag.ResLang["傳真"]</span>
                                        </label>
                                        <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="fax" name="fax">
                                    </div>
                                </div>
                                <div class="mb-4 mb-sm-5">
                                    <p class="font-weight-bold left-blue-dec-circle mb-2 mb-md-3" data-aos="fade-up">@ViewBag.ResLang["詢問訊息"]</p>
                                    <div class="form-field border-C8C8C8 bg-F4F4F4 rounded-5">
                                        <textarea class="border-0 bg-transparent w-100 py-0 px-3" name="message" id="message" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="row justify-center">
                                    <div class="col-12 col-sm-auto d-sm-flex align-center mb-3 mb-md-4 mb-lg-0" data-aos="fade-up">
                                        <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mr-sm-2" style="flex:0 0 240px">
                                            <label for="verificationCode" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                                <span class="font-weight-bold">@ViewBag.ResLang["驗証碼"]</span>
                                                <span class="reqire text-red">*</span>
                                            </label>
                                            <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="verification" name="verification" required>
                                        </div>
                                        <div class="flex-align-center justify-center mt-2 mt-sm-0">
                                            <div class="mr-3 pr-1">
                                                <img id="captcha" src="@Url.Content("~/Content/BuildCaptchaHome.aspx")" class="code">
                                            </div>
                                            <a href="javascript:void(0);" id="changeImg">@ViewBag.ResLang["換另一張"]</a>
                                        </div>
                                    </div>
                                    <div class="col-auto" data-aos="fade-up">
                                        <button class="form-button button-black btn-dec mx-1" type="reset">@ViewBag.ResLang["重填表單"]</button>
                                        <button class="form-button button-blue btn-dec mx-1" type="submit">@ViewBag.ResLang["送出表單"]</button>
                                    </div>
                                </div>
                            </form>
</div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });
          $('#changeImg').click(function () {

            $('#captcha').attr("src" , "@Url.Content("~/Content/BuildCaptchaHome.aspx")?d="+Date.now())

        });
    </script>
}
