﻿

<main>
    <div class="banner banner-style-1 position-relative text-white font-weight-bold z-3" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["投資人專區"]</h1>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/Styles/images/banner/investor.jpg" />
                <source media="(max-width: 575px)" srcset="~/Styles/images/banner/investor-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
        @Html.Partial("../Investor/Nav")<!--共用選單-->
    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1200">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["投資人專區"]</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="blank pb-4 pb-sm-5 pt-3 pt-lg-4">
        <div class="max1200 pt-lg-2">
            <ul class="listList noneList row text-center px-5 px-sm-0 mb-0">
                <li class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5 pb-0 pb-lg-2" data-aos="fade-up">
                    <h2 class="hidden">@ViewBag.ResLang["利害關係人"]</h2>
                    <a href="@Url.Content("~/"+ViewBag.Lang)/investor/stakeholder" class="d-block bg-E6E6E6 bg-hover-white rounded-35 overflow-hidden h-100">
                        <span class="d-block">
                            <img class="w-100" src="~/Styles/images/investor/investor-list/1.png" alt="胡連精密">
                        </span>
                        <span class="d-block px-3">
                            <span class="d-block font-18 font-weight-bold py-3">@ViewBag.ResLang["利害關係人"]</span>
                            <span class="d-block border-top-C8C8C8 pt-2 pb-4 mb-0"></span>
                        </span>
                    </a>
                </li>
                <li class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5 pb-0 pb-lg-2" data-aos="fade-up">
                    <h2 class="hidden">@ViewBag.ResLang["企業社會責任"]</h2>
                    <a href="@Url.Content("~/"+ViewBag.Lang)/investor/csr" class="d-block bg-E6E6E6 bg-hover-white rounded-35 overflow-hidden h-100">
                        <span class="d-block">
                            <img class="w-100" src="~/Styles/images/investor/investor-list/2.png" alt="胡連精密">
                        </span>
                        <span class="d-block px-3">
                            <span class="d-block font-18 font-weight-bold py-3">@ViewBag.ResLang["企業社會責任"]</span>
                            <span class="d-block border-top-C8C8C8 pt-2 pb-4 mb-0"></span>
                        </span>
                    </a>
                </li>
                <li class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5 pb-0 pb-lg-2" data-aos="fade-up">
                    <h2 class="hidden">@ViewBag.ResLang["公司治理"]</h2>
                    <a href="@Url.Content("~/"+ViewBag.Lang)/investor/stakeholder" class="d-block bg-E6E6E6 bg-hover-white rounded-35 overflow-hidden h-100">
                        <span class="d-block">
                            <img class="w-100" src="~/Styles/images/investor/investor-list/3.png" alt="胡連精密">
                        </span>
                        <span class="d-block px-3">
                            <span class="d-block font-18 font-weight-bold py-3">@ViewBag.ResLang["公司治理"]</span>
                            <span class="d-block border-top-C8C8C8 pt-2 pb-4 mb-0">@ViewBag.ResLang["公司治理資訊"]</span>
                        </span>
                    </a>
                </li>
                <li class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5 pb-0 pb-lg-2" data-aos="fade-up">
                    <h2 class="hidden">@ViewBag.ResLang["財務資訊"]</h2>
                    <a href="@Url.Content("~/"+ViewBag.Lang)/investor/monthlyReport" class="d-block bg-E6E6E6 bg-hover-white rounded-35 overflow-hidden h-100">
                        <span class="d-block">
                            <img class="w-100" src="~/Styles/images/investor/investor-list/4.png" alt="胡連精密">
                        </span>
                        <span class="d-block px-3">
                            <span class="d-block font-18 font-weight-bold py-3">@ViewBag.ResLang["財務資訊"]</span>
                            <span class="d-block border-top-C8C8C8 pt-2 pb-4 mb-0">@ViewBag.ResLang["財務資訊資訊"]</span>
                        </span>
                    </a>
                </li>
                <li class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5 pb-0 pb-lg-2" data-aos="fade-up">
                    <h2 class="hidden">@ViewBag.ResLang["重大訊息"]</h2>
                    <a href="https://mops.twse.com.tw/mops/web/t05st01" target="_blank" class="d-block bg-E6E6E6 bg-hover-white rounded-35 overflow-hidden h-100">
                        <span class="d-block">
                            <img class="w-100" src="~/Styles/images/investor/investor-list/5.png" alt="胡連精密">
                        </span>
                        <span class="d-block px-3">
                            <span class="d-block font-18 font-weight-bold py-3">@ViewBag.ResLang["重大訊息"]</span>
                            <span class="d-block border-top-C8C8C8 pt-2 pb-4 mb-0">
                                <span class="d-block">@ViewBag.ResLang["連結公開資訊觀測站"]</span>
                                <span class="d-block">(@ViewBag.ResLang["代碼"]6279)</span>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5 pb-0 pb-lg-2" data-aos="fade-up">
                    <h2 class="hidden">@ViewBag.ResLang["投資人資訊"]</h2>
                    <a href="@Url.Content("~/"+ViewBag.Lang)/investor/corporateBriefing" class="d-block bg-E6E6E6 bg-hover-white rounded-35 overflow-hidden h-100">
                        <span class="d-block">
                            <img class="w-100" src="~/Styles/images/investor/investor-list/6.png" alt="胡連精密">
                        </span>
                        <span class="d-block px-3">
                            <span class="d-block font-18 font-weight-bold py-3">@ViewBag.ResLang["投資人資訊"]</span>
                            <span class="d-block border-top-C8C8C8 pt-2 pb-4 mb-0">@ViewBag.ResLang["投資人資訊資訊"]</span>
                        </span>
                    </a>
                </li>
                <li class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5 pb-0 pb-lg-2" data-aos="fade-up">
                    <h2 class="hidden">@ViewBag.ResLang["投資人問答集"]</h2>
                    <a href="@Url.Content("~/"+ViewBag.Lang)/investor/shareholderFaq" class="d-block bg-E6E6E6 bg-hover-white rounded-35 overflow-hidden h-100">
                        <span class="d-block">
                            <img class="w-100" src="~/Styles/images/investor/investor-list/7.png" alt="胡連精密">
                        </span>
                        <span class="d-block px-3">
                            <span class="d-block font-18 font-weight-bold py-3">@ViewBag.ResLang["投資人問答集"]</span>
                            <span class="d-block border-top-C8C8C8 pt-2 pb-4 mb-0">@ViewBag.ResLang["投資人問答集資訊"]</span>
                        </span>
                    </a>
                </li>
                <li class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5 pb-0 pb-lg-2" data-aos="fade-up">
                    <h2 class="hidden">@ViewBag.ResLang["投資人服務"]</h2>
                    <a href="@Url.Content("~/"+ViewBag.Lang)/investor/service" class="d-block bg-E6E6E6 bg-hover-white rounded-35 overflow-hidden h-100">
                        <span class="d-block">
                            <img class="w-100" src="~/Styles/images/investor/investor-list/8.png" alt="胡連精密">
                        </span>
                        <span class="d-block px-3">
                            <span class="d-block font-18 font-weight-bold py-3">@ViewBag.ResLang["投資人服務"]</span>
                            <span class="d-block border-top-C8C8C8 pt-2 pb-4 mb-0">@ViewBag.ResLang["投資人服務資訊"]</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>

@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });
    </script>
}
