﻿@using Web.DB.Models
@using Web.Service;
@{

}

<main>
    <div class="banner banner-style-1 position-relative text-white font-weight-bold z-3" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["投資人專區"]</h1>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/investor.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/investor-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
        @Html.Partial("../Investor/Nav")<!--共用選單-->
    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1400">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["投資人專區"]</li>
                    <li class="flex-align-center">@ViewBag.ResLang["財務資訊"]</li>
                    <li class="flex-align-center">@ViewBag.ResLang["月營業額報告"]</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="blank pb-5">
        <div class="max1400">
            <div class="row pt-lg-1">
                <div class="font-weight-bold col-12 col-xl-3 mb-4 mb-xl-0">
                    <div class="pr-xl-2">
                        <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-4 mb-sm-2" data-aos="fade-up">@ViewBag.ResLang["財務資訊"]</h2>
                        @Html.Partial("../Investor/ReportrMenu")<!--共用選單-->
                        <div class="d-sm-table d-xl-block mx-auto">
                            <img class="d-none d-xl-inline" src="~/styles/images/investor/dec/governance.png" alt="胡連精密" data-aos="fade-up">
                            <a href="https://mops.twse.com.tw/mops/web/t146sb05" target="_blank" class="d-block btn-dec rounded-10 background-cover background-center background-no-repeat px-3 py-1 py-xl-3 mt-2 mt-sm-3" style="background-image:url(~/styles/images/investor/shareholder/btn-bg.png)" data-aos="fade-up">
                                <span class="flex-align-center my-1">
                                    <img style="width:14px;" src="~/styles/images/investor/shareholder/btn-circle.svg" alt="胡連精密">
                                    @if (ViewBag.Lang == "en")
                                    {
                                        <span class="text-blue325FAB ml-2 pl-1">TWSE Market Observation Post (HU Lane Code:6279)</span>
                                    }
                                    else
                                    {
                                        <span class="text-blue325FAB ml-2 pl-1">公開資訊觀測站 (胡連精密:6279)</span>
                                    }
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-9 pb-md-3">
                    <div class="pl-xl-5">
                        <div class="pb-3">
                            <div class="d-sm-flex align-center justify-between mb-1">
                                <h3 class="font-22 font-weight-bold left-blue-dec mb-0" data-aos="fade-up">@ViewBag.ResLang["月營業額報告"]</h3>
                                @if (ViewBag.pageYear.Count > 0)
                                {
                                    <div class="flex-align-center position-relative z-1 mt-3 mt-sm-0" data-aos="fade-up">
                                        <span class="flex-shrink-0 text-646464">@ViewBag.ResLang["請指定年份"]：</span>
                                        <select name="year" id="year" class="selectpicker style-1 style-1-2 red-tri border-C8C8C8 rounded-5"
                                                onchange="window.location.href='@Url.Content("~/"+ViewBag.Lang + "/investor/monthlyReport?year=")' + $(this).val()">
                                            <option value="">@ViewBag.ResLang["全部"]</option>

                                            @foreach (int y in ViewBag.pageYear)
                                            {

                                                <option value="@y.ToString()" @if (ViewBag.year == y.ToString()) { @Html.Raw("selected") ; }>@y.ToString()</option>


                                            }


                                        </select>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="pl-xl-5">
                        <div>
                            <div class="mb-md-4 pb-md-2" data-aos="fade-up">
                                <table class="table-style-2 table-style-2-1 w-100">
                                    <thead>
                                        <tr>
                                            <th style=width:70%>@ViewBag.ResLang["報告"]</th>
                                            <th class="text-center" style=width:13%;min-width:100px;>@ViewBag.ResLang["發布年分"]</th>
                                            <th class="text-center" style=width:17%;min-width:52px;>@ViewBag.ResLang["檢視"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @if (((List<downloads>)ViewBag.monthly_report["list"]).Count() > 0)
                                        {
                                            foreach (downloads data in ((List<downloads>)ViewBag.monthly_report["list"]))
                                            {
                                                <tr>
                                                    <td>@data.title</td>
                                                    <td class="text-center">@Html.Raw((!string.IsNullOrEmpty(data.startdate.ToString())) ? DateTime.Parse(data.startdate.ToString()).ToString("yyyy") : "-")</td>
                                                    <td class="text-center">
                                                        <a href="@Url.Content("~/"+data.file)" download>
                                                            <i class="icon-pdf text-red font-22"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }


                                  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });
    </script>
}
