﻿<div class="links-element position-absolute w-100">
    <div class="d-flex d-lg-none align-center py-2 px-4">
        <span class="text-white pr-4">單元</span>
        <span class="toggle bg-3B3B3B flex-grow flex-justify-space-between text-white px-3 py-1">
            <span>@ViewBag.ResLang["投資人專區"]</span>
            <i class="icon-plus"></i>
        </span>
    </div>
    <div class="d-lg-table mx-auto">
        <ul class="noneStyle d-lg-flex text-center">
            @if (ViewBag.Lang == "en")
            {

            }
            else
            {
                <li @Html.Raw(ViewBag.topActive.ContainsKey("stakeholder") ? ViewBag.topActive["stakeholder"] : "")>
                    <a href="@Url.Content("~/"+ViewBag.Lang)/investor/stakeholder" class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4"><span class="d-block m-1">@ViewBag.ResLang["利害關係人"]</span></a>
                </li>
            }
            <li @Html.Raw(ViewBag.topActive.ContainsKey("csr") ? ViewBag.topActive["csr"] : "")>
                <a href="@Url.Content("~/"+ViewBag.Lang)/investor/csr" class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4"><span class="d-block m-1">@ViewBag.ResLang["企業社會責任"]</span></a>
            </li>
            <li @Html.Raw(ViewBag.topActive.ContainsKey("corporate") ? ViewBag.topActive["corporate"] : "")>
                <a href="@Url.Content("~/"+ViewBag.Lang)/investor/meeting" class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4"><span class="d-block m-1">@ViewBag.ResLang["公司治理"]</span></a>
            </li>
            <li @Html.Raw(ViewBag.topActive.ContainsKey("monthlyReport") ? ViewBag.topActive["monthlyReport"] : "")>
                <a href="@Url.Content("~/"+ViewBag.Lang)/investor/monthlyReport" class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4"><span class="d-block m-1">@ViewBag.ResLang["財務資訊"]</span></a>
            </li>
            <li>
                <a href="https://mops.twse.com.tw/mops/web/t05st01" target="_blank" class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4"><span class="d-block m-1">@ViewBag.ResLang["重大訊息"]</span></a>
            </li>
            <li @Html.Raw(ViewBag.topActive.ContainsKey("corporateBriefing") ? ViewBag.topActive["corporateBriefing"] : "")>
                <a href="@Url.Content("~/"+ViewBag.Lang)/investor/corporateBriefing" class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4"><span class="d-block m-1">@ViewBag.ResLang["投資人資訊"]</span></a>
            </li>
            <li @Html.Raw(ViewBag.topActive.ContainsKey("shareholderFaq") ? ViewBag.topActive["shareholderFaq"] : "")>
                <a href="@Url.Content("~/"+ViewBag.Lang)/investor/shareholderFaq" class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4"><span class="d-block m-1">@ViewBag.ResLang["投資人問答集"]</span></a>
            </li>
            <li @Html.Raw(ViewBag.topActive.ContainsKey("service") ? ViewBag.topActive["service"] : "")>
                <a href="@Url.Content("~/"+ViewBag.Lang)/investor/service" class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4"><span class="d-block m-1">@ViewBag.ResLang["投資人服務"]</span></a>
            </li>
        </ul>
    </div>
</div>