﻿<div class="menu-side position-relative z-2 mb-xl-4 pb-xl-3 mt-3 mt-xl-0" data-aos="fade-up">
    <div class="toggle d-flex d-xl-none justify-between bg-black text-white rounded-5 py-2 px-3">
        <span></span>
        <i class="icon-plus"></i>
    </div>
    <ul class="noneStyle lh14 w-100 bg-white position-absolute position-xl-static">
        <li @Html.Raw(ViewBag.active.ContainsKey("monthlyReport") ? ViewBag.active["monthlyReport"] : "")>
            <a href="@Url.Content("~/"+ViewBag.Lang)/investor/monthlyReport" class="flex-align-center border-bottom-C8C8C8 text-hover-red py-2 py-xl-3 pl-xl-2">
                <span class="flex-center text-white bg-red rounded-circle flex-shrink-0" style="width:18px;height:18px;">
                    <i class="icon-right-open font-12 scale075"></i>
                </span>
                <span class="d-block ml-xl-2 pl-xl-1">@ViewBag.ResLang["月營業額報告"]</span>
            </a>
        </li>
        <li @Html.Raw(ViewBag.active.ContainsKey("financialReport") ? ViewBag.active["financialReport"] : "")>
            <a href="@Url.Content("~/"+ViewBag.Lang)/investor/financialReport" class="flex-align-center border-bottom-C8C8C8 text-hover-red py-2 py-xl-3 pl-xl-2">
                <span class="flex-center text-white bg-red rounded-circle flex-shrink-0" style="width:18px;height:18px;">
                    <i class="icon-right-open font-12 scale075"></i>
                </span>
                <span class="d-block ml-xl-2 pl-xl-1">@ViewBag.ResLang["財務報告"]</span>
            </a>
        </li>
    </ul>
</div>
