﻿@using Web.DB.Models
@using Web.Service;
@{
      notes_data data = ViewBag.data;
}

<main>
    <div class="banner banner-style-1 position-relative text-white font-weight-bold z-3" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["投資人專區"]</h1>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/investor.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/investor-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
        @Html.Partial("../Investor/Nav")<!--共用選單-->
    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1200">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["投資人專區"]</li>
                    <li class="flex-align-center">@ViewBag.ResLang["投資人服務"]</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="blank pb-5">
        <div class="max1200">
            <h3 class="font-22 font-weight-bold left-blue-dec my-4 pt-1 pb-2" data-aos="fade-up">@ViewBag.ResLang["投資人服務"]</h3>
            <div class="editor pb-lg-5" id="service-editor">
                <!--編輯器開始-->
                @Html.Raw(FunctionService.FormatImagePath(data.content))
                <!--編輯器結束-->
            </div>
        </div>
    </div>
</main>
@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });
    </script>
}
