﻿@using Web.DB.Models
@using Web.Service;
@{
    Dictionary<string, object> obj = ViewBag.data;
}
<main>
    <div class="banner banner-style-1 position-relative text-white font-weight-bold z-3" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["投資人專區"]</h1>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/investor.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/investor-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
        @Html.Partial("../Investor/Nav")<!--共用選單-->
    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1400">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["投資人專區"]</li>
                    <li class="flex-align-center">@ViewBag.ResLang["投資人Q&A"]</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="blank pb-5">
        <div class="max1400">
            <div class="row pt-lg-1">
                <div class="font-weight-bold col-12 col-xl-3 mb-4 mb-xl-0">
                    <div class="pr-xl-2">
                        <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-4 mb-sm-2" data-aos="fade-up">@ViewBag.ResLang["投資人問答集"]</h2>
                        @Html.Partial("../Investor/FaqMenu")<!--共用選單-->
                    <div class="d-sm-table d-xl-block mx-auto">
                        @if (ViewBag.Lang == "en")
                        {
                            <img class="d-none d-xl-inline" src="~/styles/images/investor/shareholder/decen.png" alt="胡連精密" data-aos="fade-up">
                        }
                        else
                        {
                            <img class="d-none d-xl-inline" src="~/styles/images/investor/shareholder/dec.png" alt="胡連精密" data-aos="fade-up">
                        }


                        <a href="https://mops.twse.com.tw/mops/web/t146sb05" target="_blank" class="d-block btn-dec rounded-10 background-cover background-center background-no-repeat px-3 py-1 py-xl-3 mt-2 mt-sm-3" style="background-image:url(~/styles/images/investor/shareholder/btn-bg.png)" data-aos="fade-up">
                            <span class="flex-align-center my-1">
                                <img style="width:14px;" src="~/styles/images/investor/shareholder/btn-circle.svg" alt="胡連精密">
                                @if (ViewBag.Lang == "en")
                                {
                                    <span class="text-blue325FAB ml-2 pl-1">TWSE Market Observation Post (HU Lane Code:6279)</span>
                                }
                                else
                                {
                                    <span class="text-blue325FAB ml-2 pl-1">公開資訊觀測站 (胡連精密:6279)</span>
                                }
                            </span>
                        </a>


                    </div>
                    </div>
                </div>
                <div class="col-12 col-xl-9 pb-md-3">
                    <div class="pl-xl-5">
                        <div>
                            <div class="d-sm-flex align-center justify-between border-bottom-red pb-4">
                                <h3 class="font-30 font-weight-bold mb-0" data-aos="fade-up">@ViewBag.ResLang["投資人Q&A"]</h3>
                                <form action="@Url.Content("~/"+ViewBag.Lang)/investor/shareholderFaq" method="get" class="d-flex border-C8C8C8 rounded-5 bg-F4F4F4 p-2 mt-3 mt-sm-0" style="flex:0 0 300px;">
                                    <input type="text" class="flex-grow px-2" name="keyword" placeholder="關鍵字搜尋" value="@ViewBag.keyword">
                                    <button class="text-red px-2" type="submit">
                                        <i class="icon-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="pl-xl-5">
                        <div class="editor pb-4 pb-sm-5" id="shareholder-faq-faq-editor">
                            <!--編輯器開始-->
                            <div class="accordion faqList lh18" id="accordion">
                                @if (ViewBag.list.Count > 0)
                                {
                                    int i = 0;
                                    foreach (shareholder_faq data in ViewBag.list)
                                    {
                                        <div class="border-bottom-C8C8C8 @if(i % 2 == 0){ @Html.Raw("bg-F5F5F5"); } px-3">
                                            <div class="border-0" data-aos="fade-up">
                                                <div id="accordionHeading-1">
                                                    <h4 class="hidden">@data.title</h4>
                                                    <button class="d-sm-flex font-weight-bold text-left w-100 py-2 py-sm-3" type="button" data-toggle="collapse" data-target="#collapse-@i" aria-expanded="false" aria-controls="collapse-1">
                                                        <span class="d-flex">
                                                            <span class="d-none d-sm-flex flex-center font-15 bg-blue5E86BC text-white circle-element flex-shrink-0 mr-2">
                                                                <span class="lh1">Q</span>
                                                            </span>
                                                            <span class="title pl-sm-1 pr-sm-4">@data.title</span>
                                                        </span>
                                                    </button>
                                                </div>
                                                <div id="collapse-@i" class="content collapse" aria-labelledby="accordionHeading-1" data-parent="#accordion">
                                                    <div class="pl-sm-4 ml-sm-2 pt-sm-2 pb-3 pb-sm-4 mt-sm-1">
                                                        <div class="d-sm-flex">
                                                            <span class="d-none d-sm-flex flex-center flex-shrink-0 font-weight-bold font-15 bg-blue225387 text-white circle-element mr-2">
                                                                <span class="lh1">A</span>
                                                            </span>
                                                            <div class="pl-sm-1 pt-3 pt-sm-0">
                                                                @Html.Raw(FunctionService.FormatImagePath(data.notes))
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        i++;
                                    }
                                }

                            </div>
                            <!--編輯器結束-->
                        </div>
                        <div class="d-table mx-auto">
                            <ul class="pages-element noneStyle flex-align-center" data-aos="fade-up">
                                @Html.Raw(ViewBag.pageView)
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });
    </script>
}
