﻿<div class="menu-side position-relative z-2 mb-xl-4 pb-xl-3 mt-3 mt-xl-0" data-aos="fade-up">
    <div class="toggle d-flex d-xl-none justify-between bg-black text-white rounded-5 py-2 px-3">
        <span></span>
        <i class="icon-plus"></i>
    </div>
    <ul class="noneStyle lh14 w-100 bg-white position-absolute position-xl-static">
        @if (ViewBag.Lang == "en")
        {

        }
        else
        {
            if (ViewBag.isStakeholder == "false")
            {

            }
            else
            {
                <li @Html.Raw(ViewBag.active.ContainsKey("stakeholder") ? ViewBag.active["stakeholder"] : "")>
                    <a href="@Url.Content("~/"+ViewBag.Lang)/investor/stakeholder" class="flex-align-center border-bottom-C8C8C8 text-hover-red py-2 py-xl-3 pl-xl-2">
                        <span class="flex-center text-white bg-red rounded-circle flex-shrink-0" style="width:18px;height:18px;">
                            <i class="icon-right-open font-12 scale075"></i>
                        </span>
                        <span class="d-block ml-xl-2 pl-xl-1">@ViewBag.ResLang["利害關係人"]</span>
                    </a>
                </li>
            }
        }
        <li @Html.Raw(ViewBag.active.ContainsKey("csr") ? ViewBag.active["csr"] : "")>
            <a href="@Url.Content("~/"+ViewBag.Lang)/investor/csr" class="flex-align-center border-bottom-C8C8C8 text-hover-red py-2 py-xl-3 pl-xl-2">
                <span class="flex-center text-white bg-red rounded-circle flex-shrink-0" style="width:18px;height:18px;">
                    <i class="icon-right-open font-12 scale075"></i>
                </span>
                <span class="d-block ml-xl-2 pl-xl-1">@ViewBag.ResLang["企業社會責任"]</span>
            </a>
        </li>
        <li @Html.Raw(ViewBag.active.ContainsKey("meeting") ? ViewBag.active["meeting"] : "")>
            <a href="@Url.Content("~/"+ViewBag.Lang)/investor/meeting" class="flex-align-center border-bottom-C8C8C8 text-hover-red py-2 py-xl-3 pl-xl-2">
                <span class="flex-center text-white bg-red rounded-circle flex-shrink-0" style="width:18px;height:18px;">
                    <i class="icon-right-open font-12 scale075"></i>
                </span>
                <span class="d-block ml-xl-2 pl-xl-1">@ViewBag.ResLang["股東會"]</span>
            </a>
        </li>
        <li @Html.Raw(ViewBag.active.ContainsKey("diretors") ? ViewBag.active["diretors"] : "")>
            <a href="@Url.Content("~/"+ViewBag.Lang)/investor/diretors" class="flex-align-center border-bottom-C8C8C8 text-hover-red py-2 py-xl-3 pl-xl-2">
                <span class="flex-center text-white bg-red rounded-circle flex-shrink-0" style="width:18px;height:18px;">
                    <i class="icon-right-open font-12 scale075"></i>
                </span>
                <span class="d-block ml-xl-2 pl-xl-1">@ViewBag.ResLang["董事會"]</span>
            </a>
        </li>
        <li @Html.Raw(ViewBag.active.ContainsKey("regulations") ? ViewBag.active["regulations"] : "")>
            <a href="@Url.Content("~/"+ViewBag.Lang)/investor/regulations" class="flex-align-center border-bottom-C8C8C8 text-hover-red py-2 py-xl-3 pl-xl-2">
                <span class="flex-center text-white bg-red rounded-circle flex-shrink-0" style="width:18px;height:18px;">
                    <i class="icon-right-open font-12 scale075"></i>
                </span>
                <span class="d-block ml-xl-2 pl-xl-1">@ViewBag.ResLang["公司規章"]</span>
            </a>
        </li>
        <li @Html.Raw(ViewBag.active.ContainsKey("audit") ? ViewBag.active["audit"] : "")>
            <a href="@Url.Content("~/"+ViewBag.Lang)/investor/audit" class="flex-align-center border-bottom-C8C8C8 text-hover-red py-2 py-xl-3 pl-xl-2">
                <span class="flex-center text-white bg-red rounded-circle flex-shrink-0" style="width:18px;height:18px;">
                    <i class="icon-right-open font-12 scale075"></i>
                </span>
                <span class="d-block ml-xl-2 pl-xl-1">@ViewBag.ResLang["內部稽核組織及運作"]</span>
            </a>
        </li>
        <li @Html.Raw(ViewBag.active.ContainsKey("organizationDownload") ? ViewBag.active["organizationDownload"] : "")>
            <a href="@Url.Content("~/"+ViewBag.Lang)/investor/organizationDownload" class="flex-align-center border-bottom-C8C8C8 text-hover-red py-2 py-xl-3 pl-xl-2">
                <span class="flex-center text-white bg-red rounded-circle flex-shrink-0" style="width:18px;height:18px;">
                    <i class="icon-right-open font-12 scale075"></i>
                </span>
                <span class="d-block ml-xl-2 pl-xl-1">@ViewBag.ResLang["關係企業組織圖"]</span>
            </a>
        </li>
    </ul>
</div>