﻿@using Web.DB.Models
@using Web.Service;
@{
    notes_data data = ViewBag.data;
}
<main>
    <div class="banner banner-style-1 position-relative text-white font-weight-bold z-3" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["投資人專區"]</h1>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/investor.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/investor-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
        @Html.Partial("../Investor/Nav")<!--共用選單-->
    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1400">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["投資人專區"]</li>
                    <li class="flex-align-center">@ViewBag.ResLang["公司治理"] </li>
                    <li class="flex-align-center">@ViewBag.ResLang["利害關係人"]</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="blank pb-sm-5">
        <div class="max1400">
            <div class="row pt-lg-1">
                <div class="font-weight-bold col-12 col-xl-3 mb-4 mb-xl-0">
                    <div class="pr-xl-2">
                        <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-4 mb-sm-2">@ViewBag.ResLang["公司治理"]</h2>

                        @Html.Partial("../Investor/StakeholderMenu")<!--共用選單-->
                    <div class="d-sm-table d-xl-block mx-auto">
                        @if (ViewBag.Lang == "en")
                        {
                            <img class="d-none d-xl-inline" src="~/styles/images/investor/shareholder/decen.png" alt="胡連精密" data-aos="fade-up">
                        }
                        else
                        {
                            <img class="d-none d-xl-inline" src="~/styles/images/investor/shareholder/dec.png" alt="胡連精密" data-aos="fade-up">
                        }


                        <a href="https://mops.twse.com.tw/mops/web/t146sb05" target="_blank" class="d-block btn-dec rounded-10 background-cover background-center background-no-repeat px-3 py-1 py-xl-3 mt-2 mt-sm-3" style="background-image:url(~/styles/images/investor/shareholder/btn-bg.png)" data-aos="fade-up">
                            <span class="flex-align-center my-1">
                                <img style="width:14px;" src="~/styles/images/investor/shareholder/btn-circle.svg" alt="胡連精密">
                                <span class="text-blue325FAB ml-2 pl-1">公開資訊觀測站 (胡連精密:6279)</span>
                            </span>
                        </a>


                    </div>
                    </div>
                </div>
                <div class="col-12 col-xl-9 pb-5">
                    <div class="px-xl-5">
                        <h3 class="font-22 font-weight-bold left-blue-dec mt-sm-2 mb-3 mb-sm-4" data-aos="fade-up">@ViewBag.ResLang["利害關係人"]</h3>
                    </div>
                    <div class="editor pl-xl-5" id="stakeholder-editor">
                        <!--編輯器開始-->
                        @if (data != null)
                        {
                            @Html.Raw(FunctionService.FormatImagePath(data.content))
                        }
                        <!--編輯器結束-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });
    </script>
}
