@charset 'utf-8';
@import url('scss/plugins/bootstrap.min.css');
@import url('scss/plugins/mCustomScrollbar.css');
@import url('scss/plugins/slick.css');
@import url('scss/plugins/slick-theme.css');
@import url('scss/plugins/bootstrap-select.min.css');
@import url('scss/plugins/bootstrap-datepicker.min.css');
@import url('scss/plugins/aos.css'); 
@import url('font/css/fontello.css'); 
// config
@font-face {
  font-family: Noto Sans TC;
  src: url(NotoSansTC-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Noto Sans TC;
  src: url(NotoSansTC-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: Noto Sans TC;
  src: url(NotoSansTC-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Noto Sans TC;
  src: url(NotoSansTC-Lightr.otf);
  font-weight: 300;
}

@font-face {
  font-family: Heebo;
  src: url(Heebo-VariableFont_wght.ttf);
}
@font-face {
  font-family: Open Sans;
  src: url(OpenSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Open Sans;
  src: url(OpenSans-Regular.ttf);
  font-weight:400;
}
@import 'config/_variable.scss';
@import 'config/_config.scss';
@import 'config/_fontSize.scss';
// layouts
@import 'layouts/_reset.scss';
@import 'layouts/_common.scss';
@import 'layouts/_layouts.scss';
@import 'layouts/_keyframes.scss';
@import 'layouts/_editor.scss';
// pages
@import 'layouts/pages/_index.scss';
@import 'layouts/pages/_products-2.scss'; 
@import 'layouts/pages/_products-1.scss'; 
@import 'layouts/pages/_product.scss'; 