﻿<div id="product" class="wp" data-products-link-active="0">
    <product-main>
        <div class="banner banner-style-2 position-relative text-white font-weight-bold z-1" data-aos="fade-up">
            <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["產品介紹"]</h1>
            <h2 class="hidden">{{productData.type}} </h2>
            <h3 class="hidden">{{productData.item_class}} </h3>
            <h4 class="hidden">{{productData.new_name}}</h4>
            <div class="imgFill h-100" data-query="size">
                <picture>
                    <source media="(min-width: 576px)" srcset="~/styles/images/banner/product.jpg" />
                    <source media="(max-width: 575px)" srcset="~/styles/images/banner/product-mobile.png" />
                    <img src="#" alt="胡連精密" />
                </picture>
            </div>
        </div>
        <div class="blank pb-md-5">
            <div class="max1400 pb-5">
                <div class="d-md-flex align-center py-2 py-sm-3 py-lg-4">
                    <a :href="productUrlTw + '/index/'" class="d-table d-md-flex align-center border-red bg-hover-red text-red text-hover-white rounded-35 px-2 mr-4 mt-2 mt-md-0">
                        <i class="icon-left-open font-12 mr-1"></i>
                        <span class="font-14 font-weight-bold">Back</span>
                    </a>
                    <div class="breadcrumb-element mt-2 mt-md-0">
                        <ol class="breadcrumb p-0 mb-0" data-aos="fade-up">
                            <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                            <li class="flex-align-center">@ViewBag.ResLang["產品介紹"]</li>
                            <li class="flex-align-center">{{productData.productReType}}</li>
                            <li class="flex-align-center">{{productData.productReItemClass}} </li>
                            <li class="flex-align-center font-weight-bold text-red"> {{productData.new_name}}</li>
                        </ol>
                    </div>
                </div>
                <div class="row">

                    <div class="col main-section mb-4 mb-md-5 mb-lg-0">
                        <div>
                            <product-box v-bind:product="productData" v-on:zoomtoggle="handleZoomToggle" v-on:open3ddialog="handleOpen3DDialog" v-on:opendownloaddialog="handleOpenDownloadDialog" v-on:openpaperdialog="handleOpenPaperDialog" v-on:openspcdialog="handleOpenSpcDialog">
                                @*<img class="productImg d-table mx-auto" src="@Session["productImg"]" alt="">*@
                            </product-box>

                            <product-info v-bind:product="productData"></product-info>

                            <div class="editor bg-blueEDF4FF border-C8C8C8 py-3 px-3 px-md-4" id="productEditor" data-aos="fade-up">
                                <!--編輯器開始-->
                                <p class="mb-1">@ViewBag.ResLang["請依單位包裝量倍數訂購"]</p>
                                <p class="mb-1">@ViewBag.ResLang["若採買特殊顏色"]</p>
                                <p class="mb-1">@ViewBag.ResLang["尺寸規格僅供參考"]</p>
                                <!--編輯器結束-->
                            </div>
                        </div>
                    </div>
                    <div class="col side-section" data-aos="fade-up">
                        <div class="pl-xl-4 ml-xl-2">
                            <div class="accordion lh165" id="accordion">
                                <product-relation v-for="(relation,index) in productRelations" :index="index" :caption="relation.name" :productions="relation.productions"></product-relation>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </product-main>
    <div class="modal fade blank" id="productModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-10 px-1 pb-3 pb-md-2 pt-4">
                <div class="h-100">
                    <button type="button" class="position-absolute w36 h36 bg-black rounded-circle" data-dismiss="modal">
                        <i class="icon-cancel font-24 text-white"></i>
                    </button>
                    <div class="h-100">
                        <div class="logo position-absolute">
                            <img src="~/Styles/images/products/product/logo.svg" alt="">
                        </div>
                        @*<iframe class="border-0 w-100 h-100" src="~/Styles/images/products/product/3D.html"></iframe>*@
                        <iframe class="border-0 w-100 h-100" v-bind:src="productData.product3D"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade blank" id="downloadModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-10 px-5 py-4">
                <div class="border-bottom-dash pb-4 pt-3">@ViewBag.ResLang["下載文件說明"]</div>
                <div class="d-table mx-auto pt-4 mt-2 pb-2">
                    @*<button type="button" class="bg-blue-gradient btn-dec text-white rounded-5 py-2 px-4 mx-2" data-dismiss="modal">
                            同意並下載檔案
                        </button>*@
                    <a v-bind:href="productData.productSpc" class="bg-blue-gradient btn-dec text-white rounded-5 py-2 px-4 mx-2" onclick="isDownload()" target="_blank">@ViewBag.ResLang["同意並下載檔案"]</a>
                    <button type="button" class="bg-black btn-dec text-white rounded-5 py-2 px-4 mx-2" data-dismiss="modal">@ViewBag.ResLang["不同意"]</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade blank" id="paperModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-10 px-5 py-4">
                <div class="border-bottom-dash pb-4 pt-3">@ViewBag.ResLang["下載文件說明"]</div>
                <div class="d-table mx-auto pt-4 mt-2 pb-2">
                    @*<button type="button" class="bg-blue-gradient btn-dec text-white rounded-5 py-2 px-4 mx-2" v-bind:href="productData.productSpc">
                            同意並下載檔案
                        </button>*@
                    <a v-bind:href="productData.productPaper" class="bg-blue-gradient btn-dec text-white rounded-5 py-2 px-4 mx-2" onclick="isDownload2()" target="_blank">@ViewBag.ResLang["同意並下載檔案"]</a>
                    <button type="button" id="downloadDiss" class="bg-black btn-dec text-white rounded-5 py-2 px-4 mx-2" data-dismiss="modal">@ViewBag.ResLang["不同意"]</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade blank" id="spcModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-10 px-5 py-4">
                <div class="border-bottom-dash pb-4 pt-3">@ViewBag.ResLang["下載文件說明"]</div>
                <div class="d-table mx-auto pt-4 mt-2 pb-2">
                    @*<button type="button" class="bg-blue-gradient btn-dec text-white rounded-5 py-2 px-4 mx-2" v-bind:href="productData.productSpc">
                            同意並下載檔案
                        </button>*@
                    <a href="~/Content/Upload/files/SeriesSpec_Latest/D213V_92_JD_1.0.pdf" class="bg-blue-gradient btn-dec text-white rounded-5 py-2 px-4 mx-2" onclick="isDownload3()" target="_blank">@ViewBag.ResLang["同意並下載檔案"]</a>
                    <button type="button" class="bg-black btn-dec text-white rounded-5 py-2 px-4 mx-2" data-dismiss="modal">@ViewBag.ResLang["不同意"]</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script>
        function initAOS() {
            AOS.init({
                duration: 500,
                offset: 10,
                mirror: true,
            });
        }

        function initScrollbar() {
            $(".scrollbarX").mCustomScrollbar({
                axis: "x",
                advanced: { autoScrollOnFocus: false },
                mouseWheel: { enable: false }
            });
            $(".scrollbarY").mCustomScrollbar({
                axis: "y",
            });
        }

        function isDownload() {

            $(document).ready(function () {
                $("#downloadModal").modal('hide');
            });
        }

        function isDownload2() {

            $(document).ready(function () {
                $("#paperModal").modal('hide');
            });
        }

        function isDownload3() {

            $(document).ready(function () {
                $("#spcModal").modal('hide');
            });
        }

        uniformHeight($(".main-section .item .bg-white"));
    </script>

    @Scripts.Render("~/ViewsApp/bundle/product.js")
}


