﻿<div class="links-element position-absolute w-100">
    <div class="d-flex d-lg-none align-center py-2 px-4">
        <span class="text-white pr-4">單元</span>
        <span class="toggle bg-3B3B3B flex-grow flex-justify-space-between text-white px-3 py-1">
            <span>@ViewBag.ResLang["人力資源"]</span>
            <i class="icon-plus"></i>
        </span>
    </div>
    <div class="d-lg-table mx-auto">
        <ul class="noneStyle d-lg-flex text-center">
            <li @Html.Raw(ViewBag.active.ContainsKey("welfare") ? ViewBag.active["welfare"] : "")>
                <a href="@Url.Content("~/"+ViewBag.Lang)/welfare/index" class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4"><span class="d-block m-1">@ViewBag.ResLang["選擇胡連"]</span></a>
            </li>
            <li @Html.Raw(ViewBag.active.ContainsKey("recruit") ? ViewBag.active["recruit"] : "")>
                <a href="@Url.Content("~/"+ViewBag.Lang)/welfare/recruit" class="d-block bg-hover-red py-1 py-lg-3 px-3 px-xl-4"><span class="d-block m-1">@ViewBag.ResLang["人才招募"]</span></a>
            </li>
        </ul>
    </div>
</div>

