﻿@using Web.DB.Models
@using Web.Service;
@{
     List<welfare> list = ViewBag.data;
}
<main>
    <div class="banner banner-style-1 position-relative text-white font-weight-bold z-3" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["人力資源"]</h1>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/recruiting.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/recruiting-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
        @Html.Partial("../Welfare/Nav")<!--共用選單-->
    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1400">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["人力資源"]</li>
                    <li class="flex-align-center">@ViewBag.ResLang["人才招募"]</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="blank pb-5">
        <div class="max1400">
            <div class="row pt-lg-1">
                <div class="font-weight-bold col-12 col-xl-3 mb-2 mb-xl-0">
                    <div class="pr-xl-2">
                        <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-4 mb-sm-2" data-aos="fade-up">@ViewBag.ResLang["人才招募"]</h2>
                        <div class="menu-side d-none d-xl-block position-relative z-2 mb-xl-4 pb-xl-3 mt-3 mt-xl-0" data-aos="fade-up">
                            <div class="toggle d-flex d-xl-none justify-between bg-black text-white rounded-5 py-2 px-3">
                                <span></span>
                                <i class="icon-plus"></i>
                            </div>
                            <ul class="noneStyle lh14 w-100 bg-white position-absolute position-xl-static">
                                @if (list.Count > 0)
                                {
                                    int ii = 0;

                                    foreach (welfare data in list)
                                    {
                                        <li>
                                            <div class="flex-align-center border-bottom-C8C8C8 text-hover-red cursor py-2 py-sm-3 pl-2">
                                                <span class="flex-center text-white bg-red rounded-circle flex-shrink-@ii" style="width:18px;height:18px;">
                                                    <i class="icon-right-open font-12 scale075"></i>
                                                </span>
                                                <span class="d-block ml-xl-2 pl-xl-1">@data.title</span>
                                            </div>
                                        </li>
                                        ii++;
                                    }

                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-9 pb-md-3">
                    <div class="pl-xl-5">
                        <div class="editor pt-md-2 mt-md-1" id="welfareEditor">
                            <!--編輯器開始-->
                            @if (list.Count > 0)
                            {
                                foreach (welfare data in list)
                                {
                                    @Html.Raw(FunctionService.FormatImagePath(data.content))
                                }
                            }
                            <!--編輯器結束-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });

    </script>
}

