@charset "UTF-8";
@import url("scss/plugins/bootstrap.min.css");
@import url("scss/plugins/mCustomScrollbar.css");
@import url("scss/plugins/slick.css");
@import url("scss/plugins/slick-theme.css");
@import url("scss/plugins/bootstrap-select.min.css");
@import url("scss/plugins/bootstrap-datepicker.min.css");
@import url("scss/plugins/aos.css");
@import url("font/css/fontello.css");
@font-face {
  font-family: Noto Sans TC;
  src: url(NotoSansTC-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Noto Sans TC;
  src: url(NotoSansTC-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: Noto Sans TC;
  src: url(NotoSansTC-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Noto Sans TC;
  src: url(NotoSansTC-Lightr.otf);
  font-weight: 300;
}
@font-face {
  font-family: Heebo;
  src: url(Heebo-VariableFont_wght.ttf);
}
@font-face {
  font-family: Open Sans;
  src: url(OpenSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Open Sans;
  src: url(OpenSans-Regular.ttf);
  font-weight: 400;
}
.Heebo {
  font-family: "Heebo";
}

.NotoSansTC {
  font-family: Noto Sans TC;
}

.h50 {
  height: 50px;
}

.max1640 {
  max-width: 1640px;
  margin: auto;
}

.max1400 {
  max-width: 1400px;
  margin: auto;
}

.max1200 {
  max-width: 1200px;
  margin: auto;
}

.max830 {
  max-width: 830px;
  margin: auto;
}

.max820 {
  max-width: 820px;
  margin: auto;
}

.max780 {
  max-width: 780px;
}

.max660 {
  max-width: 660px;
}

.max510 {
  max-width: 510px;
}

.max550 {
  max-width: 550px;
}

.max450 {
  max-width: 450px;
  margin: auto;
}

.max380 {
  max-width: 380px;
  margin: auto;
}

.max300 {
  max-width: 300px;
}

.w36 {
  width: 36px;
}

.h36 {
  height: 36px;
}

.w40 {
  width: 40px;
}

.h40 {
  height: 40px;
}

.w60 {
  width: 60px;
}

.h60 {
  height: 60px;
}

.w80 {
  width: 80px;
}

.h80 {
  height: 80px;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.lh1 {
  line-height: 1;
}

.lh14 {
  line-height: 1.4;
}

.lh165 {
  line-height: 1.65;
}

.lh18 {
  line-height: 1.8;
}

.lh19 {
  line-height: 1.9;
}

.lh2 {
  line-height: 2;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

@media (min-width: 1400px) {
  .d-xxl-none {
    display: none !important;
  }
}

@media (min-width: 1400px) {
  .d-xxl-block {
    display: block !important;
  }
}

@media (min-width: 1400px) {
  .d-xxl-flex {
    display: flex !important;
  }
}

@media (min-width: 1400px) {
  .pl-xxl-3 {
    padding-left: 1rem !important;
  }
}

@media (min-width: 1400px) {
  .pl-xxl-4 {
    padding-left: 1.5rem !important;
  }
}

@media (min-width: 1400px) {
  .pl-xxl-5 {
    padding-left: 3rem !important;
  }
}

@media (min-width: 1400px) {
  .pr-xxl-0 {
    padding-right: 0 !important;
  }
}

@media (min-width: 1400px) {
  .pr-xxl-4 {
    padding-right: 1.5rem !important;
  }
}

@media (min-width: 1400px) {
  .pr-xxl-5 {
    padding-right: 3rem !important;
  }
}

@media (min-width: 1400px) {
  .py-xxl-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}

@media (min-width: 1400px) {
  .px-xxl-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
}

@media (min-width: 1400px) {
  .mr-xxl-2 {
    margin-right: 0.5rem !important;
  }
}

@media (min-width: 1400px) {
  .mr-xxl-4 {
    margin-right: 1.5rem !important;
  }
}

@media (min-width: 1400px) {
  .mb-xxl-4 {
    margin-bottom: 1.5rem !important;
  }
}

@media (min-width: 1400px) {
  .mt-xxl-0 {
    margin-top: 0rem !important;
  }
}

.les06 {
  letter-spacing: 0.6px;
}

.les1 {
  letter-spacing: 1px;
}

.les2 {
  letter-spacing: 2px;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.text-red {
  color: red;
}

.text-C8C8C8 {
  color: #c8c8c8;
}

.text-969696 {
  color: #969696;
}

.text-black {
  color: black;
}

.text-hover-red {
  transition: all 0.3s;
}
.text-hover-red:hover {
  color: red !important;
}

.text-green2AB3AC {
  color: #2AB3AC;
}

.text-hover-green2AB3AC {
  transition: all 0.3s;
}
.text-hover-green2AB3AC:hover {
  color: #2AB3AC;
}

.text-darkBlue {
  color: #306AB6;
}

.text-blue225387 {
  color: #225387;
}

.text-hover-blue225387 {
  transition: all 0.3s;
}
.text-hover-blue225387:hover {
  color: #225387 !important;
}

.text-blue5E86BC {
  color: #5E86BC;
}

.text-hover-blue5E86BC {
  transition: all 0.3s;
}
.text-hover-blue5E86BC:hover {
  color: #5E86BC !important;
}

.text-blue325FAB {
  color: #325FAB;
}

.text-blue1B79C4 {
  color: #1B79C4;
}

.text-hover-blue1B79C4 {
  transition: all 0.3s;
}
.text-hover-blue1B79C4:hover {
  color: #1B79C4 !important;
}

.text-BABABA {
  color: #BABABA;
}

.text-646464 {
  color: #646464;
}

.text-323232 {
  color: #323232;
}

.text-hover-white {
  transition: all 0.3s;
}
.text-hover-white:hover {
  color: white !important;
}

.bg-black {
  background: #323232;
}

.bg-orange {
  background: #F08F00;
}

.bg-black21262E {
  background: #21262E;
}

.bg-F4F4F4 {
  background: #F4F4F4;
}

.bg-E6E6E6 {
  background: #E6E6E6;
}

.bg-DCDCDC {
  background: #DCDCDC;
}

.bg-F5F5F5 {
  background: #F5F5F5;
}

.bg-green2AB3AC {
  background: #2AB3AC;
}

.bg-green91A82C {
  background: #91A82C;
}

.bg-green2CA897 {
  background: #2CA897;
}

.bg-transparent {
  background: transparent;
}

.bg-red {
  background: red;
}

.bg-gradient-red {
  background: linear-gradient(#FD2D2D, #C00101);
}

.bg-gradient-yellow {
  background: linear-gradient(#FED073, #F09104);
}

.bg-gradient-green {
  background: linear-gradient(#61BA96, #338E77);
}

.bg-blue225387 {
  background: #225387;
}

.bg-blue5E86BC {
  background: #5E86BC;
}

.bg-blue4C87A7 {
  background: #4C87A7;
}

.bg-blueECF1F9 {
  background: #ECF1F9;
}

.bg-blue2C65A8 {
  background: #2C65A8;
}

.bg-blueEDF4FF {
  background: #EDF4FF;
}

.bg-purple {
  background: #DDE6F4;
}

@media (min-width: 992px) {
  .bg-lg-blueCAE3ED {
    background: #CAE3ED;
  }
}

.bg-blueB4D8E5 {
  background: #B4D8E5;
}

.bg-darkGreen {
  background: #518730;
}

.bg-darkRed {
  background: #B10000;
}

.bg-hover-lightGreen {
  transition: all 0.3s;
}
.bg-hover-lightGreen:hover {
  background: #6AAE40;
}

.bg-hover-yellow {
  position: relative;
}
.bg-hover-yellow .icon-right-big {
  opacity: 0;
}
.bg-hover-yellow::after {
  transition: all 0.3s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#FED073, #F19205);
  opacity: 0;
}
.bg-hover-yellow:hover {
  opacity: 1;
}
.bg-hover-yellow:hover .icon-right-big {
  opacity: 1;
}
.bg-hover-yellow:hover::after {
  opacity: 1;
}

.bg-hover-white {
  transition: all 0.3s;
}
.bg-hover-white:hover {
  background: white;
}

.bg-hover-red {
  transition: all 0.3s;
}
.bg-hover-red:hover {
  background: red;
}

.bg-gray-gradient {
  background: linear-gradient(#C5C5C5, #D2D2D2);
}

.bg-blue-gradient {
  background: linear-gradient(#547FC3, #295398);
}

.bg-blue-gradient-2 {
  background: linear-gradient(#295398, #5781C6);
}

.bg-blue-gradient-3 {
  background: linear-gradient(#5781C6, #295398);
}

.bg-blue-gradient-4 {
  background: linear-gradient(to right, #2C6592, #18417D);
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

@media (min-width: 768px) {
  .justify-md-end {
    justify-content: flex-end;
  }
}

.justify-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .justify-md-start {
    justify-content: flex-start;
  }
}

.border-bottom-white {
  border-bottom: 1px solid white;
}

.border-red {
  border: 1px solid red;
}

.border-orangeCB7B03 {
  border: 1px solid #CB7B03;
}

.border-DCDCDC {
  border: 2px solid #DCDCDC;
}

.border-hover-orangeFCB813 {
  transition: all 0.3s;
}
.border-hover-orangeFCB813:hover {
  border: 2px solid #FCB813;
}

.border-green2A7764 {
  border: 1px solid #2A7764;
}

.border-bottom-red {
  border-bottom: 1px solid red;
}

.border-bottom-5-red {
  border-bottom: 5px solid red;
}
@media (max-width: 575px) {
  .border-bottom-5-red {
    border-bottom: 0;
  }
}

.broder-bottom-green2AB3AC {
  border-bottom: 1px solid rgba(42, 179, 172, 0.3);
}

.broder-top-green2AB3AC {
  border-top: 1px solid rgba(42, 179, 172, 0.3);
}

.border-right-black {
  border-right: 1px solid black;
}

.border-blue225387 {
  border: 1px solid #225387;
}

.border-blue779DDB {
  border: 1px solid #779DDB;
}

@media (min-width: 992px) {
  .border-lg-blue9AC4D5 {
    border: 1px solid #9AC4D5;
  }
}

.border-bottom-blue {
  border-bottom: 1px solid #C1D3E9;
}

.border-bottom-5blue {
  border-bottom: 5px solid #C1D3E9;
}

.border-top-5green2AB3AC {
  border-top: 5px solid #2AB3AC;
}

.border-C8C8C8 {
  border: 1px solid #c8c8c8;
}

.border-bottom-C8C8C8 {
  border-bottom: 1px solid #c8c8c8;
}

@media (min-width: 992px) {
  .border-bottom-lg-C8C8C8 {
    border-bottom: 1px solid #c8c8c8;
  }
}

.border-bottom-2-C8C8C8 {
  border-bottom: 2px solid #c8c8c8;
}

.border-top-C8C8C8 {
  border-top: 1px solid #c8c8c8;
}

.border-right-C8C8C8 {
  border-right: 1px solid #c8c8c8;
}

@media (min-width: 992px) {
  .border-right-lg-C8C8C8 {
    border-right: 1px solid #c8c8c8;
  }
}

@media (min-width: 992px) {
  .border-left-lg-C8C8C8 {
    border-left: 1px solid #c8c8c8;
  }
}

@media (min-width: 1200px) {
  .border-right-xl-C8C8C8 {
    border-right: 1px solid #c8c8c8;
  }
}

@media (min-width: 576px) {
  .border-sm-C8C8C8 {
    border: 1px solid #c8c8c8;
  }
}

.border-white03 {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (min-width: 576px) {
  .border-sm-0 {
    border: 0;
  }
}

@media (min-width: 576px) {
  .border-bottom-sm-0 {
    border-bottom: 0;
  }
}

@media (min-width: 992px) {
  .border-bottom-lg-0 {
    border-bottom: 0;
  }
}

@media (min-width: 992px) {
  .border-bottom-lg-0 {
    border-bottom: none;
  }
}

@media (min-width: 576px) {
  .border-right-sm-C8C8C8 {
    border-right: 1px solid #c8c8c8;
  }
}

.border-bottom-dec-2-red {
  position: relative;
}
.border-bottom-dec-2-red::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: red;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1400px) {
  .border-right-dec-xxl-C8C8C8 {
    position: relative;
  }
  .border-right-dec-xxl-C8C8C8::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    background: #c8c8c8;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.border-right-dec-C8C8C8 {
  position: relative;
}
.border-right-dec-C8C8C8::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 15px;
  background: #c8c8c8;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media (min-width: 767px) {
  .border-right-md-dec-black {
    position: relative;
  }
  .border-right-md-dec-black::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    background: black;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.border-white {
  border: 1px solid white;
}

.border-white-5 {
  border: 5px solid white;
}

.border-hover-white:hover {
  border: 1px solid white;
}

.border-bottom-dash {
  border-bottom: 2px dashed #c8c8c8;
}

.fill-currentColor {
  fill: currentColor !important;
}

.stroke-currentColor {
  stroke: currentColor !important;
}

.rounded-5 {
  border-radius: 5px;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-15 {
  border-radius: 15px;
}

.rounded-25 {
  border-radius: 25px;
}

.rounded-35 {
  border-radius: 35px;
}

.rounded-50 {
  border-radius: 50px;
}

.rounded-bottom {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.rounded-bottom-20 {
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.rounded-top {
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

.rounded-right {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

@media (min-width: 768px) {
  .rounded-right-md-15 {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
  }
}

@media (min-width: 768px) {
  .rounded-left-md-15 {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
  }
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .absolute-md-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

@media (min-width: 1200px) {
  .position-xl-relative {
    position: relative !important;
  }
}

@media (min-width: 1200px) {
  .position-xl-static {
    position: static !important;
  }
}

.row.g-1 {
  margin-left: -4px;
  margin-right: -4px;
}
.row.g-2 {
  margin-left: -8px;
  margin-right: -8px;
}
.row.g-3 {
  margin-left: -48px;
  margin-right: -48px;
}
@media (max-width: 1199px) {
  .row.g-3 {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.box-shadow-style-1 {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.box-shadow-style-2 {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.box-shadow-style-3 {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.box-shadow-style-4 {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.box-shadow-style-5 {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.box-shadow-style-6 {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.box-shadow-hover-style-1 {
  transition: box-shadow 0.3s;
}
.box-shadow-hover-style-1:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.box-shadow-hover-style-2 {
  transition: box-shadow 0.3s;
}
.box-shadow-hover-style-2:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.background-cover {
  background-size: cover;
}

.background-center {
  background-position: center;
}

.background-no-repeat {
  background-repeat: no-repeat;
}

.blank {
  padding-right: 30px;
  padding-left: 30px;
}
@media (max-width: 1199px) {
  .blank {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.shadow-style-1 {
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
}

.opacity0 {
  opacity: 0;
}

.opacity05 {
  transition: all 0.3s;
  opacity: 0.5;
}

.opacity08 {
  opacity: 0.8;
}

.line3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 1600px) {
  .col-xxxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.writing-vertical {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}

.cursor {
  cursor: pointer;
}

.background-no-repeat {
  background-repeat: no-repeat;
}

.background-position-center {
  background-position: center;
}

.text-decoration-underline {
  text-decoration: underline;
}

.table-layout-fixed {
  table-layout: fixed;
}

.fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

[class^=icon-].scale075::before {
  transform: scale(0.75);
}

[class^=icon-].scale08::before {
  transform: scale(0.8);
}

.white-space-nowrap {
  white-space: nowrap;
}

.wrapper-style {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  flex-wrap: nowrap;
}

.font-80 {
  font-size: 80px;
}

.font-60 {
  font-size: 60px;
}

.font-40 {
  font-size: 40px;
}

.font-30 {
  font-size: 30px;
}

.font-26 {
  font-size: 26px;
}

.font-25 {
  font-size: 25px;
}

.font-24 {
  font-size: 24px;
}

.font-22 {
  font-size: 22px;
}

.font-20 {
  font-size: 20px;
}

.font-19 {
  font-size: 19px;
}

.font-18 {
  font-size: 18px;
}

.font-17 {
  font-size: 17px;
}

.font-16 {
  font-size: 16px;
}

.font-15 {
  font-size: 15px;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

@media (max-width: 1199px) {
  .font-80 {
    font-size: 55px;
  }

  .font-60 {
    font-size: 50px;
  }

  .font-40 {
    font-size: 35px;
  }

  .font-30 {
    font-size: 28px;
  }

  .font-25 {
    font-size: 22px;
  }

  .font-24 {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  .font-80 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .font-80 {
    font-size: 35px;
  }

  .font-60 {
    font-size: 35px;
  }

  .font-40 {
    font-size: 32px;
  }

  .font-30 {
    font-size: 24px;
  }

  .font-26 {
    font-size: 22px;
  }

  .font-25 {
    font-size: 18px;
  }

  .font-24 {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .font-18 {
    font-size: 16px;
  }
}
/* ==========================================================================
	clear
 ========================================================================== */
label {
  margin-bottom: 0;
}

textarea {
  -webkit-appearance: none;
}

button,
input {
  line-height: normal;
  outline: 0;
  background: transparent;
  border: 0;
}

button,
select {
  text-transform: none;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  nowhitespace: afterproperty;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

figure,
address {
  padding: 0;
  margin: 0;
}

* {
  outline: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

/* ==========================================================================
    public
 ========================================================================== */
body {
  height: 100.1% !important;
  margin: 0;
  font-family: "Open Sans", "Noto Sans TC";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: black;
  overflow-x: hidden;
  line-height: 1.8;
  transition: opacity 0.3s;
}

main {
  padding-top: 72px;
}
@media (max-width: 1400px) {
  main {
    padding-top: 60px;
  }
}

.safari body {
  -webkit-text-size-adjust: none;
}

/* ==========================================================================
    public
 ========================================================================== */
/*不顯示外虛線*/
button, a {
  outline: none !important;
}

a, a:active {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a {
  transition: color 0.3s ease-in-out;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  line-height: normal;
}

img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  border: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  image-rendering: -webkit-optimize-contrast;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.hidden {
  display: none;
}

ul.noneStyle {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.noneList {
  list-style: none;
}

ul.noneStyle > li {
  list-style: none;
}

textarea {
  resize: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #646464;
}

::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #646464;
}

::-o-placeholder {
  /* Mozilla Firefox 19+ */
  color: #646464;
}

::-ms-placeholder {
  /* Internet Explorer 10+ */
  color: #646464;
}

::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #646464;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  /*透明*/
}

/**/
.scrollbar,
.scrollbarX,
.scrollbarY {
  -webkit-overflow-scrolling: touch;
}

.scrollbarX {
  overflow-x: auto;
}

table {
  -webkit-backface-visibility: visible;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.modal-content {
  border: 0;
}
.modal-content .modal-dialog {
  margin: 0;
}
.modal-content .close {
  text-shadow: none;
  opacity: 1;
}

.slick-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 0.3s;
}
.slick-arrow.slick-prev {
  left: 0;
}
.slick-arrow.slick-next {
  right: 0;
}
.slick-arrow::before {
  display: none;
}

.slick-dots li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li button {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.slick-dots li button::before {
  display: none;
}

[class^=icon-]:before, [class*=" icon-"]:before {
  width: auto;
  margin: 0;
}

.bootstrap-select .dropdown-toggle {
  box-shadow: none !important;
}

.bootstrap-select.firstHide .dropdown-menu li:nth-child(1) {
  display: none;
}
.bootstrap-select .dropdown-toggle {
  border: 0 !important;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
.bootstrap-select.red-tri .dropdown-toggle::after {
  margin-top: 0;
  border-top: 6px solid red;
  border-right: 6px solid transparent;
  border-bottom: 0;
  border-left: 6px solid transparent;
}
.bootstrap-select.style-1 .dropdown-toggle {
  color: black !important;
  background: #F4F4F4 !important;
}
.bootstrap-select.style-1 .dropdown-item.active, .bootstrap-select.style-1 .dropdown-item:active {
  background: red;
}
.bootstrap-select.style-1.style-1-1 .dropdown-toggle {
  padding: 11px 15px;
  border-radius: 0;
}
.bootstrap-select.style-1.style-1-1 .dropdown-item {
  padding-right: 15px;
  padding-left: 15px;
}
.bootstrap-select.style-1.style-1-2 {
  width: 120px !important;
}
.bootstrap-select.style-1.style-1-2 .dropdown-item {
  padding-right: 15px;
  padding-left: 15px;
}
.bootstrap-select.style-1.style-1-3 .dropdown-toggle {
  border-radius: 0;
  padding: 0px 16px;
}
.bootstrap-select.style-1.style-1-3 .dropdown-item {
  padding-right: 16px;
  padding-left: 16px;
}
.bootstrap-select.style-2 .dropdown-toggle {
  padding: 6px 12.5px;
  color: #225387 !important;
  border-radius: 0;
  background: transparent !important;
  font-weight: bold;
  border: 0 !important;
  box-shadow: none !important;
}
.bootstrap-select.style-2 .dropdown-toggle::after {
  margin-top: 0;
  margin-left: 10px;
  border-top: 6px solid #225387;
  border-right: 4px solid transparent;
  border-bottom: 0;
  border-left: 4px solid transparent;
}
.bootstrap-select.style-2 .dropdown-item {
  padding-right: 12.5px;
  padding-left: 12.5px;
}
.bootstrap-select.style-2 .dropdown-item.active, .bootstrap-select.style-2 .dropdown-item:active {
  background: #225387;
}
.bootstrap-select.style-3 .dropdown-toggle {
  padding: 6px 0px;
  border-radius: 0;
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
}
.bootstrap-select.style-3 .dropdown-toggle::after {
  margin-top: 0;
  margin-left: 10px;
  border-top: 6px solid #225387;
  border-right: 4px solid transparent;
  border-bottom: 0;
  border-left: 4px solid transparent;
}
.bootstrap-select.style-3 .dropdown-item {
  padding-right: 12.5px;
  padding-left: 12.5px;
}
.bootstrap-select.style-3 .dropdown-item.active, .bootstrap-select.style-3 .dropdown-item:active {
  background: #225387;
}
@media (max-width: 576px) {
  .bootstrap-select.style-1.style-1-3 .dropdown-toggle {
    padding: 1.4px 16px;
  }
}

.btn-dec {
  position: relative;
  overflow: hidden;
}
.btn-dec::before {
  content: "";
  display: block;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  position: absolute;
  left: -62px;
  top: 0;
  transition: left 0.5s;
}
.btn-dec:hover::before {
  left: 100%;
}

.btn-style-1 {
  height: 50px;
  width: 150px;
  text-align: center;
  border-radius: 25px;
  display: block;
  line-height: 50px;
}
.btn-style-1:hover {
  color: white;
}
@media (max-width: 575px) {
  .btn-style-1 {
    height: 40px;
    line-height: 40px;
  }
}

.ul-style-1 li {
  position: relative;
  padding-left: 19px;
  margin-bottom: 10px;
}
.ul-style-1 li::before {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 6px;
  background: white;
}

.ul-style-2 li {
  position: relative;
  padding-left: 22px;
}
.ul-style-2 li::before {
  content: "";
  display: block;
  border-style: solid;
  border-width: 4px 0 4px 8px;
  border-color: transparent transparent transparent #c8c8c8;
  position: absolute;
  top: 10px;
  left: 0px;
}

.ul-style-3 li {
  position: relative;
  padding-left: 15px;
}
.ul-style-3 li::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 6px;
  background: black;
}

.ul-style-4 li {
  position: relative;
  padding-left: 15px;
}
.ul-style-4 li::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 0px;
  background: black;
}

.ul-style-5 {
  border: 1px dashed #c8c8c8;
}
.ul-style-5 li:not(:last-child) {
  border-bottom: 1px dashed #c8c8c8;
}

.arrows-style-1 .slick-arrow {
  background: transparent;
  width: 30px;
  height: 30px;
  color: black;
}
.arrows-style-1 .slick-arrow:hover {
  color: red !important;
}
.arrows-style-1 .slick-arrow svg {
  flex: 0 0 20px;
}

.dots-style-1 .slick-dots li.slick-active button {
  background: #646464;
}
.dots-style-1 .slick-dots li button {
  border: 1px solid #646464;
}

.dots-style-2 .slick-dots li {
  width: 12px;
  height: 12px;
  border: 2px solid #646464;
  border-radius: 50%;
  margin: 0 4px;
}
.dots-style-2 .slick-dots li.slick-active button {
  background: #646464;
}
.dots-style-2 .slick-dots li button {
  width: 100%;
  height: 100%;
}

.arrows .slick-arrow {
  position: static;
  transform: none;
}

.banner.banner-style-1 {
  height: 380px;
}
.banner.banner-style-2 {
  height: 280px;
}
.banner.banner-style-3 {
  height: 200px;
}
.banner .links-element {
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.banner .links-element .toggle {
  background: #3B3B3B;
  transform: skew(-15deg, 0deg);
}
.banner .links-element .toggle > * {
  transform: skew(15deg, 0deg);
}
.banner .links-element .toggle img {
  width: 10px;
}
.banner .links-element ul li.active a {
  background: red;
}
.banner .links-element ul li + li {
  position: relative;
}
.banner .links-element ul li + li::before {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  background: #c8c8c8;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 991px) {
  .banner .links-element {
    background: #000;
  }
  .banner .links-element ul {
    display: none;
    position: absolute;
    width: calc(100% - 40px);
    border-radius: 5px;
    margin-top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
  }
  .banner .links-element ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .banner .links-element ul li.active span::after {
    display: none;
  }
  .banner .links-element ul li.active a {
    background: transparent;
  }
  .banner .links-element ul li::before {
    display: none !important;
  }
  .banner .links-element ul li a {
    width: 100%;
    color: white;
  }
}
@media (max-width: 575px) {
  .banner.banner-style-1, .banner.banner-style-2 {
    height: auto;
    background: none;
  }
  .banner.banner-style-1 img, .banner.banner-style-2 img {
    display: block !important;
  }
}

.breadcrumb-element .breadcrumb {
  line-height: 22px;
  background: transparent;
}
.breadcrumb-element .breadcrumb li:last-child {
  color: red;
  font-weight: bold;
}
.breadcrumb-element .breadcrumb li + li::before {
  content: "";
  padding: 0;
  margin: 0 8px;
  width: 5px;
  height: 5px;
  background: url(images/common/breadcrumb-tri.svg) center no-repeat;
}

.video-element {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.video-element iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pages-element .prev-prev svg,
.pages-element .prev-prev img,
.pages-element .next-next svg,
.pages-element .next-next img {
  width: 12.8px;
}
.pages-element .prev svg,
.pages-element .prev img,
.pages-element .next svg,
.pages-element .next img {
  width: 10.8px;
}
.pages-element li.num.active a, .pages-element li.num:hover a {
  position: relative;
  background: #225387;
  color: white;
}
.pages-element li.num a {
  display: block;
  border-radius: 50%;
  padding: 0px 9.5px;
  color: #225387;
  border: 1px solid #225387;
  transition: all 0.3s;
}
@media (max-width: 575px) {
  .pages-element li {
    margin: 0 7px;
  }
  .pages-element li a {
    padding: 0 7px;
  }
}

.circle-element {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.left-blue-dec {
  position: relative;
  padding-left: 15px;
  line-height: 21px;
}
.left-blue-dec::before {
  content: "";
  display: block;
  width: 5px;
  height: 20px;
  background: linear-gradient(#557FC4, #2A5499);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
}

.left-blue-dec-circle {
  position: relative;
  padding-left: 30px;
}
.left-blue-dec-circle.style-2::before {
  top: 0.5rem;
  transform: none;
}
.left-blue-dec-circle::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: white;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 5px solid #5E86BC;
}

@media (min-width: 576px) {
  .right-C8C8C8-sm-dec-line {
    position: relative;
  }
  .right-C8C8C8-sm-dec-line::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #c8c8c8;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.white-dec-line {
  position: relative;
}
.white-dec-line::before {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background: white;
  position: absolute;
  left: 0;
  top: 10px;
}

.table-style-1 {
  min-width: 800px;
  border: 1px solid #929292;
}
.table-style-1 td {
  border: 1px solid #DCDCDC;
}

.table-style-2 thead {
  color: white;
  background: linear-gradient(#557FC4, #2A5499);
}
.table-style-2 thead tr th {
  padding: 10px 30px;
}
.table-style-2 thead tr th + th {
  position: relative;
}
.table-style-2 thead tr th + th::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.3);
}
.table-style-2 tbody tr {
  border-bottom: 1px solid #DCDCDC;
}
.table-style-2 tbody tr:nth-child(even) {
  background: #F5F5F5;
}
.table-style-2 tbody tr td + td {
  position: relative;
}
.table-style-2 tbody tr td + td::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background: #DCDCDC;
}
.table-style-2.table-style-2-1 thead tr th:nth-child(1) {
  border-radius: 5px 0 0 5px;
}
.table-style-2.table-style-2-1 thead tr th:last-child {
  border-radius: 0 5px 5px 0;
}
.table-style-2.table-style-2-1 td {
  padding: 6px 30px;
}
@media (max-width: 991px) {
  .table-style-2.table-style-2-1 thead tr th,
.table-style-2.table-style-2-1 tbody tr td {
    padding: 5px 16px;
  }
}
@media (max-width: 575px) {
  .table-style-2.table-style-2-1 {
    line-height: 1.5;
  }
  .table-style-2.table-style-2-1 thead tr th,
.table-style-2.table-style-2-1 tbody tr td {
    padding: 5px 10px;
  }
}
.table-style-2.table-style-2-2 td {
  padding: 13px 20px;
}
@media (max-width: 991px) {
  .table-style-2.table-style-2-2 thead tr th,
.table-style-2.table-style-2-2 tbody tr td {
    padding: 5px 16px;
  }
}
@media (max-width: 767px) {
  .table-style-2.table-style-2-2 {
    display: block;
  }
  .table-style-2.table-style-2-2 thead {
    display: none;
  }
  .table-style-2.table-style-2-2 tbody {
    display: block;
  }
  .table-style-2.table-style-2-2 tbody tr {
    border: 1px solid #DCDCDC;
    display: block;
    margin-bottom: 20px;
    background: transparent;
  }
  .table-style-2.table-style-2-2 tbody tr td {
    padding: 8px 16px;
    display: block;
  }
  .table-style-2.table-style-2-2 tbody tr td:nth-child(even) {
    background: #F4F4F4;
  }
  .table-style-2.table-style-2-2 tbody tr td::before {
    content: attr(data-title) "：";
    display: block;
    position: static;
    transform: none;
    width: auto;
    height: auto;
    background: transparent;
  }
}

.table-style-3 {
  overflow: initial;
}
.table-style-3.long-table > .mCustomScrollBox {
  overflow: initial;
}
.table-style-3.long-table > .mCustomScrollBox > .mCSB_container {
  overflow: initial;
}
.table-style-3.long-table .left-table {
  width: 350px;
  flex: 0 0 350px;
}
.table-style-3.long-table .left-table .flex-140 {
  flex: 0 0 140px;
}
.table-style-3.long-table .right-table {
  width: calc(100% - 350px);
  flex: 0 0 calc(100% - 350px);
}
.table-style-3.long-table .right-table .th,
.table-style-3.long-table .right-table .td {
  width: 140px;
}
.table-style-3.long-table .right-table .th.flex-100,
.table-style-3.long-table .right-table .td.flex-100 {
  width: 100px;
}
.table-style-3.long-table .right-table .th.flex-300,
.table-style-3.long-table .right-table .td.flex-300 {
  width: 300px;
}
.table-style-3.long-table .right-table .th.flex-400,
.table-style-3.long-table .right-table .td.flex-400 {
  width: 400px;
}
.table-style-3 .left-table {
  width: 345px;
  flex: 0 0 345px;
  box-shadow: 7px 0px 12px rgba(0, 0, 0, 0.2);
}
.table-style-3 .left-table [data-product]::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, white, #DDE6F4);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}
.table-style-3 .left-table [data-product].active::after {
  opacity: 1;
}
.table-style-3 .right-table {
  width: calc(100% - 345px);
  flex: 0 0 calc(100% - 345px);
  box-shadow: -7px 3px 12px rgba(0, 0, 0, 0.2) inset;
}
.table-style-3 .right-table .th,
.table-style-3 .right-table .td {
  width: 94px;
}
.table-style-3 .right-table .th.flex-282,
.table-style-3 .right-table .td.flex-282 {
  width: 282px;
}
.table-style-3 .right-table [data-product] {
  position: relative;
}
.table-style-3 .right-table [data-product]::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #DDE6F4;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}
.table-style-3 .right-table [data-product].active::after {
  opacity: 1;
}
.table-style-3 .right-table .mCSB_container{
  min-width: 100%;
}
.table-style-3 .right-table .inner-table{
  min-width: 100%;
}
.table-style-3 .right-table .wrapper-style{
  min-width: 100%;
}


.table-style-3 .extra-table {
  left: 100%;
  padding-top: 80px;
}
.table-style-3 .extra-table .bg-purple {
  height: 101px;
  opacity: 0;
  pointer-events: none;
}
.table-style-3 .extra-table .bg-purple.active {
  opacity: 1;
  pointer-events: all;
}
.table-style-3 .extra-table .bg-purple a {
  padding: 2px 11px;
  height: 30px;
  white-space:nowrap;
}
.table-style-3 .thead {
  color: white;
}
.table-style-3 .thead .tr .th {
  height: 80px;
}
.table-style-3 .thead .tr .th + .th {
  position: relative;
}
.table-style-3 .thead .tr .th + .th::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background: rgba(255, 255, 255, 0.3);
}
.table-style-3 .tbody .tr {
  transition: background 0.3s;
  border-bottom: 1px solid #DCDCDC;
}
.table-style-3 .tbody .tr .td {
  height: 100px;
  word-break: break-all;
}
.table-style-3 .tbody .tr .td + .td {
  position: relative;
}
.table-style-3 .tbody .tr .td + .td::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background: #DCDCDC;
}
@media (max-width: 1800px) {
  .table-style-3 .extra-table {
    display: none;
  }
}
@media (max-width: 991px) {
  .table-style-3.long-table{
    overflow: auto;
  }
  .table-style-3.long-table > .mCustomScrollBox {
    overflow: hidden;
  }
  .table-style-3.long-table > .mCustomScrollBox > .mCSB_container {
    overflow: hidden;
  }
  .table-style-3.long-table .left-table {
    width: 345px;
    flex: 0 0 345px;
  }
  .table-style-3.long-table .right-table {
    width: auto;
  }


  .table-style-3 .table {
    width: 1092px;
    max-width: initial;
  }
  .table-style-3 .right-table {
    width: auto;
  }

}

@media (max-width: 1199px) {
  .menu-side ul {
    margin-top: 5px;
    padding: 10px 16px;
    border-radius: 5px;
    display: none;
    background: #323232 !important;
  }
  .menu-side ul li:last-child a {
    border-bottom: none;
  }
  .menu-side ul li a {
    color: white;
  }
  .menu-side ul li a .bg-red {
    display: none;
  }
}

.form-style-1 .form-field {
  padding: 5.5px 0px;
}
.form-style-1 .form-field label {
  padding-left: 16px;
}

.form-button {
  width: 150px;
  height: 58px;
  line-height: 58px;
  border-radius: 50px;
  color: white;
  display: inline-block;
  text-align: center;
}
.form-button.button-black {
  background: linear-gradient(#616161, #383838);
}
.form-button.button-blue {
  background: linear-gradient(#547FC3, #295398);
}
@media (max-width: 767px) {
  .form-button {
    width: 120px;
    height: 41px;
    line-height: 41px;
  }
}

.radio-style-1 input[type=radio] + label,
.radio-style-1 input[type=checkbox] + label {
  position: relative;
  padding-left: 30px;
}
.radio-style-1 input[type=radio] + label::before,
.radio-style-1 input[type=checkbox] + label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #c8c8c8;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 5px;
}
.radio-style-1 input[type=radio]:checked + label::after,
.radio-style-1 input[type=checkbox]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background: red;
  top: 9px;
  left: 4px;
  border-radius: 50%;
}
@media (max-width: 575px) {
  .radio-style-1 input[type=radio] + label,
.radio-style-1 input[type=checkbox] + label {
    padding-left: 25px;
  }
}

.radio-style-2.shallowBlueBg-style input[type=radio]:before,
.radio-style-2.shallowBlueBg-style input[type=checkbox]:before {
  background: #ECF1F9;
}
.radio-style-2.black-style input[type=radio]:before,
.radio-style-2.black-style input[type=checkbox]:before {
  border: 1px solid #D5D5D5;
  background: #F4F4F4;
}
.radio-style-2.small-style input[type=radio],
.radio-style-2.small-style input[type=checkbox] {
  width: 16px;
  height: 16px;
}
.radio-style-2.small-style input[type=radio]:before,
.radio-style-2.small-style input[type=checkbox]:before {
  width: 16px;
  height: 16px;
}
.radio-style-2.small-style input[type=radio]:checked::after,
.radio-style-2.small-style input[type=checkbox]:checked::after {
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
}
.radio-style-2 > div {
  padding: 18px 29px;
}
.radio-style-2 input[type=radio],
.radio-style-2 input[type=checkbox] {
  width: 20px;
  height: 20px;
  position: relative;
}
.radio-style-2 input[type=radio]:before,
.radio-style-2 input[type=checkbox]:before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #325FAB;
  background: white;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.radio-style-2 input[type=radio]:checked::after,
.radio-style-2 input[type=checkbox]:checked::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #325FAB;
  top: 5px;
  left: 5px;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .radio-style-2 > div {
    padding: 8px 15px 8px 0;
  }
}

.checkbox-style-1 input[type=radio],
.checkbox-style-1 input[type=checkbox] {
  display: none;
}
.checkbox-style-1 input[type=radio]:checked + label::after,
.checkbox-style-1 input[type=checkbox]:checked + label::after {
  opacity: 1;
}
.checkbox-style-1 label {
  position: relative;
  padding-left: 35px;
}
.checkbox-style-1 label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  background: #F4F4F4;
  position: absolute;
  top: 4px;
  left: 0;
}
.checkbox-style-1 label::after {
  content: "";
  display: block;
  background: url(images/common/checked-2.svg) center no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 8px;
  left: 4px;
  opacity: 0;
  transition: opacity 0.3s;
}
@media (max-width: 575px) {
  .checkbox-style-1 label {
    padding-left: 28px;
  }
}

.checked-circle {
  width: 130px;
  height: 130px;
  background: linear-gradient(#547FC3, #547FC3);
  border-radius: 50%;
}
.checked-circle > div {
  width: 66px;
  height: 45px;
}
@media (max-width: 767px) {
  .checked-circle {
    width: 100px;
    height: 100px;
  }
  .checked-circle > div {
    width: 40px;
    height: 40px;
  }
}

.modal-style-1 .close {
  position: absolute;
  width: 36px;
  height: 36px;
  background: #000;
  border-radius: 50%;
  top: -18px;
  right: -18px;
  z-index: 1;
  color: white;
  transition: all 0.3s;
  float: none;
}
.modal-style-1 .close:hover {
  background: red;
}
@media (max-width: 575px) {
  .modal-style-1 .close {
    position: static;
    width: 25px;
    height: 25px;
  }
}

.products-linkElement {
  height: 74px;
}
.products-linkElement .content {
  height: 100%;
}
.products-linkElement .content .row .item {
  margin-top: 10px;
}
.products-linkElement .content .row .item.active {
  margin-top: 0;
  color: red;
}
.products-linkElement .content .row .item.active a {
  border-top: 5px solid red;
  background: white;
}
.products-linkElement .content .row .item.active a > span {
  padding-top: 10px;
}
@media (max-width: 991px) {
  .products-linkElement {
    height: auto;
  }
  .products-linkElement .content {
    display: none;
    height: auto;
    top: 41px;
  }
  .products-linkElement .content .row .item {
    margin-top: 0;
    height: 50px;
  }
  .products-linkElement .content .row .item.active a {
    background: #F4F4F4;
    border: 1px solid #c8c8c8;
  }
  .products-linkElement .content .row .item.active a > span {
    padding-top: 0;
  }
}

.listList a img {
  transition: all 0.5s;
}
.listList a:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}
.listList a:hover img {
  transform: scale(1.02);
}

.faqList .circle-element,
.faqList .title {
  transition: all 0.3s;
}
.faqList button[aria-expanded=true] .circle-element, .faqList button:hover .circle-element {
  background: #225387;
}
.faqList button[aria-expanded=true] .title, .faqList button:hover .title {
  color: #225387;
}
@media (max-width: 575px) {
  .faqList .content {
    border-top: 1px solid #c8c8c8;
  }
}

.newsList a img {
  transition: all 0.5s;
}
.newsList a .text-323232 {
  transition: all 0.3s;
}
.newsList a:hover img {
  transform: scale(1.02);
}
.newsList a:hover .text-323232 {
  color: red;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* ==========================================================================
    header
 ==========================================================================*/
html.menuOpen .menu-toggle div.bar1 {
  width: 20px;
  top: 20px;
  transform: rotate(-45deg);
}
html.menuOpen .menu-toggle div.bar2 {
  width: 20px;
  top: 20px;
  transform: rotate(45deg);
}
html.menuOpen .bg_phone {
  right: 0;
}
html.menuOpen .bg_phone .menu li {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
}
html.menuOpen .gray_block {
  display: block;
  left: 0;
  top: 60px;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

header .logo {
  flex: 0 0 257px;
}
header .menu-toggle {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  margin-right: -10px;
}
header .menu-toggle div {
  height: 3px;
  transition: all 0.3s;
}
header .menu-toggle div.bar1 {
  top: 15px;
  right: 10px;
  width: 20px;
}
header .menu-toggle div.bar2 {
  top: 22px;
  right: 10px;
  width: 15px;
}
header .menu li.active {
  position: relative;
  color: red;
}
header .menu li.active::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - 3px);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 62px;
  height: 3px;
  background: red;
}
header .menu li a {
  padding: 22px 34px;
}
header .lang .content {
  top: 100%;
  display: none;
}
@media (max-width: 1800px) {
  header .menu li a {
    padding: 24px 26px;
  }
}
@media (max-width: 1600px) {
  header .menu li a {
    padding: 24px 10px;
  }
}
@media (max-width: 1400px) {
  header .border-right-dec::after {
    display: none;
  }
  header > div {
    height: 60px;
  }
  header .logo {
    flex: 0 0 200px;
  }
  header .bg_phone {
    padding: 0;
    width: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    display: block;
    right: -320px;
    top: 60px;
    height: calc(100vh - 60px);
    transition: right 0.3s;
  }
  header .menu {
    transform: none;
  }
  header .menu li {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    border-bottom: 1px solid #c8c8c8;
  }
  header .menu li.active {
    color: red;
  }
  header .menu li.active::before {
    display: none;
  }
  header .menu li:nth-child(1) {
    -webkit-animation-delay: 0.05s;
            animation-delay: 0.05s;
  }
  header .menu li:nth-child(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  header .menu li:nth-child(3) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
  }
  header .menu li:nth-child(4) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  header .menu li:nth-child(5) {
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
  }
  header .menu li:nth-child(6) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  header .menu li a {
    padding: 10px 0;
  }
}
@media (max-width: 575px) {
  header .bg_phone {
    width: 100%;
    right: -100%;
  }
}

/* ==========================================================================
    footer
 ==========================================================================*/
footer .side-wrapper {
  bottom: 20px;
  right: 20px;
}
footer .side-wrapper .bg-red {
  overflow: hidden;
}
footer .side-wrapper .bg-red.active .toggle {
  display: none;
}
footer .side-wrapper .bg-red.active ul {
  opacity: 1;
  transform: none;
  height: auto;
  width: auto;
}
footer .side-wrapper .bg-red ul {
  transform: translateY(10px);
  transition: all 0.3s;
  opacity: 0;
  height: 0;
  width: 0;
}
footer .side-wrapper .bg-red ul li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
footer .side-wrapper #goTop {
  width: 60px;
  height: 60px;
}
footer .side-wrapper #goTop:hover .opacity05 {
  opacity: 1;
}
footer .side-wrapper .writing-vertical {
  line-height: 20px;
}
footer .top-wrapper {
  background: linear-gradient(to right, #2C6592, #18407C);
}
footer .top-wrapper li:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
footer .top-wrapper li .img {
  width: 80px;
  height: 80px;
}
footer .top-wrapper li a:hover > span:nth-child(1) {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.7));
}
footer .top-wrapper li a:hover > span:nth-child(2) {
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
footer .bottom-wrapper .logo {
  max-width: 310px;
}
@media (max-width: 1199px) {
  footer .bottom-wrapper > div {
    flex-wrap: wrap;
  }
  footer .side-wrapper .bg-red.active .toggle {
    display: flex;
  }
}
@media (max-width: 991px) {
  footer .top-wrapper li .img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 767px) {
  footer .top-wrapper li:not(:last-child) {
    border: 0;
  }
}
@media (max-width: 575px) {
  footer .side-wrapper {
    border-radius: 5px;
  }
  footer .side-wrapper #goTop {
    width: 40px;
    height: 40px;
  }
}

@-webkit-keyframes slideRight {
  from {
    opacity: 0;
    transform: translate3d(30px, 0px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translate3d(30px, 0px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes radarWave {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  5% {
    background: rgba(175, 144, 106, 0.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    background: rgba(158, 125, 84, 0);
  }
}
@keyframes radarWave {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  5% {
    background: rgba(175, 144, 106, 0.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    background: rgba(158, 125, 84, 0);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0px, 50px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0px, 50px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.historyPage .year-block > span {
  flex: 0 0 85px;
}
.historyPage .year-block > div {
  width: calc(100% - 85px);
}
@media (max-width: 575px) {
  .historyPage .year-block > div {
    width: 100%;
  }
}

.index-banner-wrapper .text {
  top: 50%;
  left: 133px;
  transform: translateY(-50%);
  line-height: 1;
}
.index-banner-wrapper .text > p:nth-child(1) span {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
.index-banner-wrapper .text > p:nth-child(2) {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
.index-banner-wrapper .circle-group {
  top: 50%;
  transform: translateY(-50%);
  right: 14.2%;
}
.index-banner-wrapper .circle-group .circle-bg {
  width: 251px;
  height: 251px;
}
.index-banner-wrapper .circle-group .circle-bg img {
  left: -20px;
}
.index-banner-wrapper .circle {
  height: 534px;
  width: 534px;
  margin: auto;
}
.index-banner-wrapper .circle .wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(158, 125, 84, 0.2);
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: radarWave cubic-bezier(0, 0.54, 0.53, 1) 5s 0s;
          animation: radarWave cubic-bezier(0, 0.54, 0.53, 1) 5s 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border: 1px solid white;
}
.index-banner-wrapper .circle .wave.wave-1 {
  width: 100%;
  height: 100%;
}
.index-banner-wrapper .circle .wave.wave-2 {
  width: 95%;
  height: 95%;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.index-banner-wrapper .circle .wave.wave-3 {
  width: 90%;
  height: 90%;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.index-banner-wrapper .circle .wave.wave-4 {
  width: 85%;
  height: 85%;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.index-banner-wrapper .circle .wave.wave-5 {
  width: 80%;
  height: 80%;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.index-banner-wrapper .circle .wave.wave-6 {
  width: 100%;
  height: 100%;
}
.index-banner-wrapper .circle .wave.wave-7 {
  width: 75%;
  height: 75%;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.index-banner-wrapper .circle .wave.wave-8 {
  width: 70%;
  height: 70%;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.index-banner-wrapper .circle .wave.wave-9 {
  width: 65%;
  height: 65%;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.index-banner-wrapper .circle .wave.wave-10 {
  width: 60%;
  height: 60%;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.index-banner-wrapper .slick-dots {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  width: auto;
  display: table;
}
.index-banner-wrapper .slick-dots li {
  display: block;
  margin: 10px 0;
  width: 12px;
  height: 12px;
}
.index-banner-wrapper .slick-dots li.slick-active button {
  background: white;
}
.index-banner-wrapper .slick-dots li button {
  width: 100%;
  height: 100%;
  border: 3px solid white;
  padding: 0;
}
@media (max-width: 1199px) {
  .index-banner-wrapper .text {
    left: 100px;
  }
  .index-banner-wrapper .circle-group {
    top: 60%;
    right: 10%;
  }
  .index-banner-wrapper .circle-group .circle-bg {
    width: 150px;
    height: 150px;
  }
  .index-banner-wrapper .circle-group .circle {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 991px) {
  .index-banner-wrapper .text {
    top: 50%;
    left: 60px;
  }
  .index-banner-wrapper .circle-group {
    top: 50%;
    right: 60px;
  }
  .index-banner-wrapper .slick-dots {
    left: 20px;
  }
}
@media (max-width: 767px) {
  .index-banner-wrapper .slider {
    margin-bottom: 0;
  }
  .index-banner-wrapper .slick-slide {
    margin-bottom: 0;
  }
  .index-banner-wrapper .slick-slide > div > div {
    height: auto;
  }
  .index-banner-wrapper .slick-slide img {
    display: block !important;
  }
  .index-banner-wrapper .text {
    left: 20px;
    top: 10%;
    transform: none;
  }
  .index-banner-wrapper .circle-group {
    top: 60%;
    right: 5%;
  }
  .index-banner-wrapper .circle-group .circle-bg {
    width: 150px;
    height: 150px;
  }
  .index-banner-wrapper .circle-group .circle {
    width: 150px;
    height: 150px;
  }
  .index-banner-wrapper .circle-group .circle .wave {
    display: none;
  }
  .index-banner-wrapper .slick-dots {
    top: auto;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  .index-banner-wrapper .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  .index-banner-wrapper .slick-dots li button {
    border: 2px solid white;
  }
}
@media (max-width: 575px) {
  .index-banner-wrapper .text {
    top: 20px;
    right: 20px;
  }
  .index-banner-wrapper .circle-group {
    top: auto;
    bottom: 20px;
    right: 20px;
    transform: none;
  }
  .index-banner-wrapper .circle-group .circle {
    width: 80px;
    height: 80px;
  }
  .index-banner-wrapper .circle-group .circle-bg {
    width: 80px;
    height: 80px;
  }
  .index-banner-wrapper .circle-group .circle-bg img {
    left: -10px;
  }
  .index-banner-wrapper .slick-dots {
    left: 20px;
    transform: none;
  }
}

.index-products .dropdown-toggle {
  border: 0 !important;
}
.index-products .border-C8C8C8 > div:first-child .dropdown-toggle {
  border-radius: 5px 0 0 5px;
}
.index-products .border-C8C8C8 > div:last-child .dropdown-toggle {
  border-radius: 0 5px 5px 0;
}
.index-products .latest li.active {
  background: white;
  border-top: 2px solid red;
}

.index-about {
  box-shadow: 0px 13px 25px -4px rgba(0, 0, 0, 0.5);
}
.index-about .scrollbarY {
  height: 380px;
}
.index-about button {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.index-about .more {
  bottom: -25px;
  right: 0;
  background: #37504F;
  transition: all 0.3s;
}
.index-about .more:hover {
  background: #425F5E;
}
@media (max-width: 1600px) {
  .index-about {
    padding-bottom: 120px !important;
  }
  .index-about .scrollbarY {
    height: auto;
    padding-bottom: 30px;
  }
}
@media (max-width: 1199px) {
  .index-about .more {
    bottom: 0;
  }
}
@media (max-width: 575px) {
  .index-about .play {
    transform: scale(0.7);
  }
  .index-about .more {
    width: 100%;
  }
  .index-about .more .border-white {
    transform: scale(0.8);
  }
}

.index-global {
  top: 68px;
}
.index-global .border-white {
  height: calc(100% - 32px);
}
.index-global .slider {
  height: auto;
  padding: 0 70px;
}
.index-global .slider span {
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.index-global .slider .slick-slide {
  padding: 0 30px;
}
.index-global .slider .slick-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  background: #518730;
}
.index-global .slider .slick-arrow:hover {
  background: #6AAE40;
}
.index-global .slider .slick-arrow svg, .index-global .slider .slick-arrow img {
  width: 19px;
}
.index-global .slider .slick-dots li.slick-active button {
  background: white;
}
.index-global .slider .slick-dots li button {
  border: 2px solid white;
}
@media (max-width: 991px) {
  .index-global .slider {
    padding: 0 55px;
  }
  .index-global .slider .slick-slide {
    padding: 0 10px;
  }
}
@media (max-width: 575px) {
  .index-global .slider {
    padding: 0;
  }
  .index-global .slider .slick-slide {
    padding: 0;
  }
}

.index-news {
  padding: 48px;
}
.index-news .title {
  margin-left: 40px;
}
.index-news .title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #c8c8c8;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.index-news .slick-slide {
  padding: 0 24px;
}
@media (max-width: 1600px) {
  .index-news {
    padding: 48px 0;
  }
  .index-news .title {
    margin-left: 16px;
  }
  .index-news .slick-slide {
    padding: 0 0px;
  }
}
@media (max-width: 1199px) {
  .index-news .title {
    margin-left: 0px;
  }
}

.index-car {
  height: 951px;
}
.index-car ul li a {
  background: linear-gradient(#4E84B6, #366A9E);
  transition: all 0.3s;
  border: 2px solid white;
}
.index-car ul li a:hover {
  background: linear-gradient(#FDC866, #F19409);
  color: black;
  opacity: 1;
}
.index-car .car-back {
  top: 10px;
  right: 0;
}
.index-car .car {
  top: 10px;
  right: 0;
}
.index-car .car .car-front {
  top: 0;
  right: 0;
}
.index-car .car ul li {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.index-car .car ul li.car-1 {
  width: 338px;
  top: 41.5%;
  left: 9%;
}
.index-car .car ul li.car-2 {
  width: 960px;
  top: 2%;
  left: 22%;
}
.index-car .car ul li.car-3 {
  width: 206px;
  top: 48%;
  left: 54.6%;
}
.index-car .car ul li.car-4 {
  width: 252px;
  top: 12%;
  left: 67.5%;
}
.index-car .car ul li.car-5 {
  width: 155px;
  top: 42.5%;
  left: 73.5%;
}
.index-car .car ul li.car-6 {
  width: 368px;
  top: 2%;
  left: 50%;
}
.index-car .car ul li.car-7 {
  width: 368px;
  top: 2%;
  left: 50%;
}
.index-car .car ul li.car-8 {
  width: 211px;
  top: 47%;
  left: 6%;
}
.index-car .car ul li.car-9 {
  width: 252px;
  top: 12%;
  left: 67.5%;
}
.index-car .car ul li.car-10 {
  width: 228px;
  top: 2%;
  left: 72%;
}
.index-car .car ul li.car-11 {
  width: 416px;
  top: 39%;
  left: 21%;
}
.index-car .car ul li.car-12 {
  width: 642px;
  top: 44%;
  left: 1%;
}
.index-car .car ul li.active {
  opacity: 1;
}
@media (max-width: 1400px) {
  .index-car {
    height: 850px;
  }
  .index-car .car-back,
.index-car .car {
    width: 1100px;
  }
  .index-car .car ul {
    display: none;
  }
}
@media (max-width: 1199px) {
  .index-car .car-back,
.index-car .car {
    width: 1000px;
  }
}
@media (max-width: 991px) {
  .index-car {
    height: auto;
  }
}

.index-applications .jqimgFill {
  height: 320px;
}
.index-applications .slick-slide {
  position: relative;
}
.index-applications .slick-slide::after {
  content: "";
  display: block;
  height: 100%;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}
.index-applications .slick-arrow {
  background: black;
  width: 60px;
  height: 60px;
  transform: none;
  top: 288px;
}
.index-applications .slick-arrow:hover {
  background: red;
}
.index-applications .slick-arrow.slick-next {
  right: 20px;
}
.index-applications .slick-arrow.slick-prev {
  left: 20px;
}
@media (max-width: 1600px) {
  .index-applications .jqimgFill {
    height: 250px;
  }
  .index-applications .slick-arrow {
    top: 219px;
  }
}
@media (max-width: 1400px) {
  .index-applications .jqimgFill {
    height: 200px;
  }
  .index-applications .slick-arrow {
    top: 169px;
  }
}
@media (max-width: 1199px) {
  .index-applications .jqimgFill {
    height: 300px;
  }
  .index-applications .slick-arrow {
    top: 269px;
  }
}
@media (max-width: 991px) {
  .index-applications .jqimgFill {
    height: 250px;
  }
  .index-applications .slick-arrow {
    top: 219px;
  }
}
@media (max-width: 575px) {
  .index-applications .slick-arrow {
    top: 229px;
    width: 40px;
    height: 40px;
  }
}

#products-2 .categtories-section {
  min-height: 410px;
  background: url(images/products/car-bg.jpg);
  background-size: cover;
  background-position: center;
}
#products-2 .categtories-section .content {
  height: 364px;
}
#products-2 .categtories-section .content .mCSB_scrollTools {
  width: 10px;
}
#products-2 .categtories-section .content .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 10px;
  background: white;
  opacity: 0.5;
}
#products-2 .categtories-section .content .mCSB_scrollTools .mCSB_draggerRail {
  display: none;
}
#products-2 .categtories-section .content .category.active {
  position: relative;
  opacity: 1;
}
#products-2 .categtories-section .content .category.active::after {
  transition: all 0.3s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#FED073, #F19205);
  opacity: 1;
}
#products-2 .categtories-section .content .category.active .icon-right-big {
  opacity: 1;
}
#products-2 .categtories-section .items {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
#products-2 .categtories-section .items.active {
  position: static;
  pointer-events: all;
  opacity: 1;
}
@media (max-width: 767px) {
  #products-2 .categtories-section .content {
    display: none;
    height: auto;
    background: linear-gradient(#5781C6, #295398);
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 5px;
    position: absolute;
    z-index: 2;
  }
  #products-2 .categtories-section .content .category {
    opacity: 1;
    background: transparent;
    border: 0;
  }
  #products-2 .categtories-section .content .category::after {
    display: none;
  }
  #products-2 .categtories-section .content .category .icon-right-big {
    opacity: 1;
    font-size: 16px;
  }
}

#products-1 main form .scrollbarX::after, #products-1 main form .scrollbarX::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: calc(100% - 21px);
  background: #285297;
  top: 0;
  z-index: 1;
}
#products-1 main form .scrollbarX::after {
  left: 0;
}
#products-1 main form .scrollbarX::before {
  right: 0;
}
#products-1 main form .items-group {
  margin-left: -3px;
  margin-right: -3px;
  border-top: 1px solid #285297;
  border-bottom: 1px solid #285297;
}
#products-1 form .items-group .items {
  padding-right: 3px;
  padding-left: 3px;
  min-width: 202px;
  flex-shrink: 0;
}
#products-1 main form .items-group .items .item {
  height: 320px;
  border-left: 1px solid #285297;
  border-right: 1px solid #285297;
}
#products-1 main form .items-group .items .item .bg-white.active {
  color: #285297;
  background: #BECFEA !important;
}
#products-1 main form .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #97B2DD;
}
#products-1 main form .mCSB_container {
  margin-bottom: 20px;
  margin-right: 0;
}
#products-1 main form .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  height: 10px;
  background: #97B2DD;
}
#products-1 main form .bootstrap-select {
  width: 145px;
}
#products-1 main form .bootstrap-select .dropdown-toggle {
  color: black !important;
}

.Android #products-1 main form .scrollbarX {
  border-left: 1px solid #285297;
  border-right: 1px solid #285297;
}
.Android #products-1 main form .scrollbarX::after, .Android #products-1 main form .scrollbarX:before {
  display: none;
}
.Android #products-1 main form .items-group {
  margin-left: 0;
  margin-right: 0;
}
.Android #products-1 main form .items-group .items:nth-child(1) {
  padding-left: 0;
}
.Android #products-1 main form .items-group .items:last-child {
  padding-right: 0;
}
.Android #products-1 main form .items-group .items .item {
  overflow-y: auto;
}

#product main .dec {
  height: 10px;
  background: linear-gradient(to right, #285297, #5781C6);
}
#product main .main-section {
  flex: 0 0 69%;
  max-width: 69%;
}
#product main .main-section .product-block {
  flex: 0 0 56.3%;
  max-width: 56.3%;
}
#product main .main-section .product-block .zoom-toggle.zoom i:nth-child(1) {
  display: none;
}
#product main .main-section .product-block .zoom-toggle.zoom i:nth-child(2) {
  display: block;
}
#product main .main-section .product-block .zoom-toggle i:nth-child(2) {
  display: none;
}
#product main .main-section .detail-block {
  flex: 0 0 43%;
  max-width: 43%;
}
#product main .main-section .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #C5D9F8;
}
#product main .main-section .mCSB_container {
  margin-bottom: 20px;
  margin-right: 0;
}
#product main .main-section .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  height: 6px;
  background: #C5D9F8;
}
#product main .side-section {
  flex: 0 0 31%;
  max-width: 31%;
}
#product main .side-section .card.active {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#product main .side-section .card.active i:before {
  transform: rotate(180deg);
}
#product main .side-section .scrollbarY {
  max-height: 513px;
}
#product main .side-section .mCSB_inside > .mCSB_container {
  margin-right: 0;
}
#product main .side-section .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #97B2DD;
}
#product main .side-section .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  background: #97B2DD;
}
#product main .side-section .mCSB_scrollTools .mCSB_draggerRail {
  background: transparent;
}
#product #downloadModal .modal-dialog {
  max-width: 600px;
}
#product #successModal .modal-dialog {
  max-width: 260px;
}
#product #successModal .modal-dialog button {
  top: -18px;
  right: -18px;
}
#product #productModal .modal-dialog {
  max-width: 800px;
}
#product #productModal .modal-dialog .modal-content {
  height: 610px;
}
#product #productModal .modal-dialog .modal-content button {
  top: -18px;
  right: -18px;
}
#product #productModal .modal-dialog .modal-content .logo {
  top: 130px;
  left: 50px;
  width: 110px;
}
#product #productModal .modal-dialog .modal-content iframe body {
  background: red;
}
@media (max-width: 1199px) {
  #product main .main-section .product-block,
#product main .main-section .detail-block {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #product main .main-section .zoom-toggle {
    display: none;
  }
}
@media (max-width: 991px) {
  #product main .main-section,
#product main .side-section {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  #product #productModal .modal-dialog .modal-content {
    height: 300px;
  }
  #product #productModal .modal-dialog .modal-content .logo {
    display: none;
  }
}

.round-loupe {
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.round-loupe img {
  max-width: initial;
  max-height: initial;
}/*# sourceMappingURL=style.css.map */