﻿@using Web.DB.Models
@using Web.Service;
@{
    List<course_category> categoriec = ViewBag.category;

   // List<courses> list = ViewBag.list;
}

<main>
    <div class="banner banner-style-2 position-relative text-white font-weight-bold z-1" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["商務專區"]</h1>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/business.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/business-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1200 d-sm-flex justify-between align-center">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["商務專區"]</li>
                    <li class="flex-align-center">@ViewBag.ResLang["客戶教育訓練平台"]</li>
                </ol>
            </div>
            <div data-aos="fade-up">
                <a class="flex-align-center text-hover-red mt-1 mt-sm-0 mb-2 mb-sm-0" href="~/business/list">
                    <i class="icon-block mr-2"></i>
                    <span class="font-weight-bold">@ViewBag.ResLang["返回列表"]</span>
                </a>
            </div>
        </div>
    </div>
    <div class="blank pb-md-4">
        <div class="max1200">
            <div class="row pt-lg-1">
                <div class="font-weight-bold col-12 col-xl-3 mb-4 mb-xl-0">
                    <div class="pr-xl-2">
                        <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-4 mb-sm-2" data-aos="fade-up">@ViewBag.ResLang["客戶教育訓練平台"]</h2>
                        <h3 class="hidden">@ViewBag.title</h3>
                        <div class="menu-side position-relative z-2 mb-xl-4 pb-xl-3 mt-3 mt-xl-0" data-aos="fade-up">
                            <div class="toggle d-flex d-xl-none justify-between bg-black text-white rounded-5 py-2 px-3">
                                <span></span>
                                <i class="icon-plus"></i>
                            </div>
                            <ul class="noneStyle lh14 w-100 bg-white position-absolute position-xl-static">
                                @foreach (course_category category in categoriec)
                                {
                                    <li>
                                        <a href="@Url.Content("~/"+ViewBag.Lang)/business/course/@category.guid" class="flex-align-center border-bottom-C8C8C8 text-hover-red py-2 py-xl-3 pl-xl-2">
                                            <span class="flex-center text-white bg-red rounded-circle flex-shrink-0" style="width:18px;height:18px;">
                                                <i class="icon-right-open font-12 scale075"></i>
                                            </span>
                                            <span class="d-block ml-xl-2 pl-xl-1">@category.title</span>
                                        </a>
                                    </li>
                                }



                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-9 pb-5">
                    <div class="pl-xl-4">
                        <div class="editor" id="courseEditor">
                            <!--編輯器開始-->
                            <ul class="noneStyle">


                                @if (ViewBag.list.Count > 0)
                                {
                                    int i = 0;
                                    foreach (courses data in ViewBag.list)
                                    {
                                        <li class="border-bottom-C8C8C8 pb-4 pt-sm-3 mb-4" data-aos="fade-up">
                                            <div class="row mx-0 pb-sm-3">
                                                @if (!string.IsNullOrEmpty(data.pic))
                                                {
                                                    List<string> pics = data.pic.Split(',').ToList();
                                                    List<string> picAlts = new List<string>();
                                                    if (!string.IsNullOrEmpty(data.pic_alt))
                                                    {
                                                        picAlts = data.pic_alt.Split('§').ToList();
                                                    }


                                                    int p = 0;

                                                    <div class="col-12 col-sm-4 align-self-start pl-0 pr-0 pr-lg-2 mb-3 mb-sm-0">
                                                        <div class="slider-mode-1 dots-style-2">
                                                            @foreach (string pic in pics)
                                                            {
                                                                <div>
                                                                    <img class="w-100" src="@Url.Content(pic)" alt="@Html.Raw( (picAlts.Count > p && string.IsNullOrEmpty(picAlts[p].ToString()) ) ? picAlts[p].ToString() : "")">
                                                                </div>
                                                                p++;
                                                            }
                                                        </div>
                                                    </div>
                                                }


                                                <div class="col-12 col-sm-8 pl-0 pl-sm-3 pl-lg-4 px-0">
                                                    <div class="pl-1">
                                                        <h4 class="font-22 font-weight-bold">@data.title</h4>
                                                        <p>@data.notes</p>
                                                        <ul class="noneStyle ul-style-5 rounded-15 overflow-hidden">
                                                            @if (!string.IsNullOrEmpty(data.file))
                                                            {
                                                                <li class="d-flex bg-F5F5F5 px-3 py-2">
                                                                    <div class="flex-center" style="width:26px;height:26px;">
                                                                        <i class="icon-download-3 text-blue5E86BC font-26"></i>
                                                                    </div>
                                                                    <a href="@Url.Content(data.file)" download class="text-hover-blue5E86BC ml-2">@data.file_title</a>
                                                                </li>

                                                            }
                                                             @if (!string.IsNullOrEmpty(data.video))
                                                             {
                                                                <li class="d-flex bg-F5F5F5 px-3 py-2">
                                                                    <div class="flex-center" style="width:26px;height:26px;">
                                                                        <i class="icon-youtube-play text-blue5E86BC font-26"></i>
                                                                    </div>
                                                                    <button type="button" class="text-left text-hover-blue5E86BC ml-2 showVideo" data-toggle="modal" data-target="#videoModal" data-video="@data.video">
                                                                        @data.video_title
                                                                    </button>
                                                                </li>
                                                             }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>


                                        i++;

                                    }
                                }


                            </ul>
                            <!--編輯器結束-->
                        </div>
                        <div class="pt-sm-3">
                            <!-- 這裏要再造一個分頁器 -->
                            <div class="d-table mx-auto">
                                <ul class="pages-element noneStyle flex-align-center" data-aos="fade-up">
                                    @Html.Raw(ViewBag.pageView)
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- main ======================================================================================= -->
<!-- Modal -->
<div class="modal fade modal-style-1 blank" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered max830" role="document">
        <div class="modal-content p-3">
            <div>
                <button type="button" class="close d-table ml-auto mb-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="video-element">
                    <iframe id="video" class="border-0 w-100" src="" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });
    </script>
    <script>
       /* var player;
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        function onYouTubeIframeAPIReady() {
            player = new YT.Player("video", {});
        }*/

        $('.showVideo').click(function () {
            console.log($(this).data('video'));
            $('#video').attr('src' , $(this).data('video'));
        });
    </script>
}

