﻿@using Web.DB.Models
@using Web.Service;
@{
    List<business_faq> list = ViewBag.list;
}

    <main>
        <div class="banner banner-style-2 position-relative text-white font-weight-bold z-1" data-aos="fade-up">
            <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["商務專區"]</h1>
            <div class="imgFill h-100" data-query="size">
                <picture>
                    <source media="(min-width: 576px)" srcset="~/styles/images/banner/business.jpg" />
                    <source media="(max-width: 575px)" srcset="~/styles/images/banner/business-mobile.png" />
                    <img src="#" alt="胡連精密" />
                </picture>
            </div>
        </div>
        <div class="border-bottom-C8C8C8 blank mb-3">
            <div class="max1200 d-sm-flex justify-between align-center">
                <div class="breadcrumb-element border-bottom-5-red d-table">
                    <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                        <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                        <li class="flex-align-center">@ViewBag.ResLang["商務專區"]</li>
                        <li class="flex-align-center">@ViewBag.ResLang["FAQ問與答"]</li>
                    </ol>
                </div>
                <a class="flex-align-center text-hover-red mt-1 mt-sm-0 mb-2 mb-sm-0" href="~/business/list">
                    <i class="icon-block mr-2"></i>
                    <span class="font-weight-bold">@ViewBag.ResLang["返回列表"]</span>
                </a>
            </div>
        </div>
        <div class="blank pb-5 pt-lg-1">
            <div class="editor pb-4 pb-sm-5" id="business-faq-editor">
                <!--編輯器開始-->
                <div class="max1200">
                    <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-3 pb-lg-4 mb-0" data-aos="fade-up">@ViewBag.ResLang["FAQ問與答"]</h2>
                    <div class="accordion faqList lh18" id="accordion">

                        @if (list.Count > 0)
                        {
                            int i =0;
                            foreach (business_faq data in list)
                            {
                                <div class="border-bottom-C8C8C8  @if(i % 2 == 0){ @Html.Raw("bg-F5F5F5"); } px-3">
                                    <div class="border-0" data-aos="fade-up">
                                        <div id="accordionHeading-@Html.Raw(data.guid)">
                                            <h3 class="hidden">@data.title</h3>
                                            <button class="d-sm-flex font-weight-bold text-left w-100 py-2 py-sm-3" type="button" data-toggle="collapse" data-target="#collapse-@Html.Raw(data.guid)" aria-expanded="false" aria-controls="collapse-@Html.Raw(data.guid)">
                                                <span class="d-flex">
                                                    <span class="d-none d-sm-flex flex-center font-15 bg-blue5E86BC text-white circle-element flex-shrink-0 mr-2">
                                                        <span class="lh1">Q</span>
                                                    </span>
                                                    <span class="title pl-sm-1 pr-sm-4">@data.title</span>
                                                </span>
                                                <span class="d-table text-646464 ml-auto flex-shrink-0 mt-1">@DateTime.Parse(data.create_date.ToString()).ToString("yyyy-MM-dd")</span>
                                            </button>
                                        </div>
                                        <div id="collapse-@Html.Raw(data.guid)" class="content collapse" aria-labelledby="accordionHeading-@Html.Raw(data.guid)" data-parent="#accordion">
                                            <div class="pl-sm-4 ml-sm-2 pt-sm-2 pb-3 pb-sm-4 mt-sm-1">
                                                <div class="d-sm-flex">
                                                    <span class="d-none d-sm-flex flex-center flex-shrink-0 font-weight-bold font-15 bg-blue225387 text-white circle-element mr-2">
                                                        <span class="lh1">A</span>
                                                    </span>
                                                    <div class="pl-sm-1 pt-3 pt-sm-0">
                                                        @Html.Raw(FunctionService.FormatImagePath(data.notes))
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                i++;
                            }

                        }

                    </div>
                </div>
                <!--編輯器結束-->
            </div>
        </div>
    </main>


@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });
    </script>
}

