﻿
    <main>
        <div class="banner banner-style-2 position-relative text-white font-weight-bold z-1" data-aos="fade-up">
            <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["商務專區"]</h1>
            <div class="imgFill h-100" data-query="size">
                <picture>
                    <source media="(min-width: 576px)" srcset="~/styles/images/banner/business.jpg" />
                    <source media="(max-width: 575px)" srcset="~/styles/images/banner/business-mobile.png" />
                    <img src="#" alt="胡連精密" />
                </picture>
            </div>
        </div>

        <div class="border-bottom-C8C8C8 blank mb-3">
            <div class="max1200">
                <div class="breadcrumb-element border-bottom-5-red d-table">
                    <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                        <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                        <li class="flex-align-center">@ViewBag.ResLang["商務專區"]</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="blank pb-4 pb-sm-5 pt-3 pt-lg-4">
            <div class="max1200 pt-lg-2">
                <ul class="listList noneList row text-center px-5 px-sm-0 mb-0">
                    <li class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5 pb-0 pb-lg-2" data-aos="fade-up">
                        <h2 class="hidden">@ViewBag.ResLang["FAQ問與答"]</h2>
                        <a class="d-block bg-E6E6E6 bg-hover-white rounded-35 overflow-hidden h-100" href="@Url.Content("~/"+ViewBag.Lang)/business/faq">
                            <span class="d-block">
                                <img class="w-100" src="~/styles/images/business/1.png" alt="胡連精密">
                            </span>
                            <span class="d-block px-3">
                                <span class="d-block font-18 font-weight-bold py-3">@ViewBag.ResLang["FAQ問與答"]</span>
                            </span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5 pb-0 pb-lg-2" data-aos="fade-up">
                        <h2 class="hidden">@ViewBag.ResLang["客戶線上教育訓練"]</h2>
                        <a class="d-block bg-E6E6E6 bg-hover-white rounded-35 overflow-hidden h-100" href="@Url.Content("~/"+ViewBag.Lang)/business/login">
                            <span class="d-block">
                                <img class="w-100" src="~/styles/images/business/2.png" alt="胡連精密">
                            </span>
                            <span class="d-block px-3">
                                <span class="d-block font-18 font-weight-bold py-3">@ViewBag.ResLang["客戶線上教育訓練"]</span>
                            </span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5 pb-0 pb-lg-2" data-aos="fade-up">
                        <h2 class="hidden">@ViewBag.ResLang["客戶滿意度調查"]</h2>
                        <a class="d-block bg-E6E6E6 bg-hover-white rounded-35 overflow-hidden h-100" href="@Url.Content("~/"+ViewBag.Lang)/business/survey">
                            <span class="d-block">
                                <img class="w-100" src="~/styles/images/business/3.png" alt="胡連精密">
                            </span>
                            <span class="d-block px-3">
                                <span class="d-block font-18 font-weight-bold py-3">@ViewBag.ResLang["客戶滿意度調查"]</span>
                            </span>
                        </a>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-5 pb-0 pb-lg-2" data-aos="fade-up">
                        <h2 class="hidden">@ViewBag.ResLang["客戶意見反饋"]</h2>
                        <a href="@ViewBag.feedBackUrl" target="_blank" class="d-block bg-E6E6E6 bg-hover-white rounded-35 overflow-hidden h-100">
                            <span class="d-block">
                                <img class="w-100" src="~/styles/images/business/4.png" alt="胡連精密">
                            </span>
                            <span class="d-block px-3">
                                <span class="d-block font-18 font-weight-bold py-3">@ViewBag.ResLang["客戶意見反饋"]</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>


@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });
    </script>
}
