﻿@using Web.DB.Models
@using Web.Service;


<main>
    <div class="banner banner-style-2 position-relative text-white font-weight-bold z-1" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["商務專區"]</h1>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/business.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/business-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
    </div>
    <div class="background-center background-cover" style="background-image:url(styles/images/member/bg.jpg)">
        <div class="border-bottom-white blank mb-3">
            <div class="max1200 d-sm-flex justify-between align-center">
                <div class="breadcrumb-element border-bottom-5-red d-table">
                    <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                        <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                        <li class="flex-align-center">@ViewBag.ResLang["商務專區"]</li>
                        @*<li class="flex-align-center">@ViewBag.ResLang["客戶教育訓練平台"]</li>*@
                    </ol>
                </div>
                <div data-aos="fade-up">
                    <a class="flex-align-center text-hover-red mb-2 mb-sm-0" href="~/business/list">
                        <i class="icon-block mr-2"></i>
                        <span class="font-weight-bold">@ViewBag.ResLang["返回列表"]</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blank">
            <div class="max450 pb-5 pt-4">
                <h2 class="font-30 font-weight-bold text-center mb-3 mb-md-4" data-aos="fade-up">@ViewBag.ResLang["商務專區"]</h2>
                <form action="@Url.Content("~/business/CourseLogin")" method="post" class="form-style-1 pb-sm-5" name="LoginForm" id="LoginForm" >
                    @Html.AntiForgeryToken()
                    <div class="form-field d-sm-flex border-C8C8C8 rounded-5 bg-white mb-2 mb-md-3" data-aos="fade-up">
                        <label for="account" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 133px;">
                            <span class="font-weight-bold">@ViewBag.ResLang["帳號客戶編號"]</span>
                        </label>
                        <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="username" name="username" required>
                    </div>
                    <div class="form-field d-sm-flex border-C8C8C8 rounded-5 bg-white mb-2 mb-md-3" data-aos="fade-up">
                        <label for="password" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 133px;">
                            <span class="font-weight-bold">@ViewBag.ResLang["密碼"]</span>
                        </label>
                        <input type="password" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="password" name="password" required>
                    </div>
                    <div class="d-sm-flex align-center mb-4 mb-lg-0" data-aos="fade-up">
                        <div class="form-field d-sm-flex border-C8C8C8 bg-white rounded-5 mr-sm-2" style="flex:0 0 240px">
                            <label for="verificationCode" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                <span class="font-weight-bold">@ViewBag.ResLang["驗証碼"]</span>
                            </label>
                            <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="verification" name="verification" required>
                        </div>
                        <div class="flex-align-center justify-center mt-2 mt-sm-0">
                            <div class="mr-3 pr-1">
                                <img id="captcha" src="@Url.Content("~/Content/BuildCaptchaHome.aspx")" class="code">
                            </div>
                            <a href="javascript:void(0);" id="changeImg" class="text-hover-red">@ViewBag.ResLang["換另一張"]</a>
                        </div>
                    </div>
                    <div class="d-table mx-auto pt-sm-4 mt-md-2" data-aos="fade-up">
                        <button class="form-button button-blue btn-dec mx-1" type="submit">@ViewBag.ResLang["登入"]</button>
                        <a href="../../business/customerform" class="form-button button-blue mx-1">@ViewBag.ResLang["申請新會員"]</a>
                        <a href="mailto:https://webmaster@hulane.com.tw" class="d-table font-weight-bold text-hover-red mx-auto mt-2 mt-md-4">@ViewBag.ResLang["忘記密碼"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });
          $('#changeImg').click(function () {

            $('#captcha').attr("src" , "@Url.Content("~/Content/BuildCaptchaHome.aspx")?d="+Date.now())

        });

        function handleAdd() {
            console.log(168);
        }
    </script>
}
