﻿

<main>
    <div class="banner banner-style-2 position-relative text-white font-weight-bold z-1" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["商務專區"]</h1>
        <h2 class="hidden">@ViewBag.ResLang["客戶滿意度調查"]</h2>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/business.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/business-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
    </div>
    <div class="blank py-5 my-5">
        <div class="d-block d-lg-flex flex-center">
            <div class="d-block d-lg-flex flex-center text-center border-right-lg-C8C8C8 px-lg-5">
                <div class="checked-circle flex-center text-white fill-currentColor ml-auto mr-auto mr-lg-4 mr-lg-0" data-aos="fade-up">
                    <i class="icon-ok font-60"></i>
                </div>
                <div class="font-weight-bold pl-lg-2 pr-lg-2 mt-3 mt-lg-0" data-aos="fade-up">
                    <p class="mb-0">@ViewBag.ResLang["您的意見是我們進步的動力"]</p>
                    <p class="mb-0">@ViewBag.ResLang["您的建議是我們改善的方向"]</p>
                </div>
            </div>
            <div class="text-center pl-lg-5 ml-lg-4 mt-4 mt-sm-5 mt-lg-0" data-aos="fade-up">
                <a href="@Url.Content("~/"+ViewBag.Lang)/business/list" class="form-button button-blue text-white btn-dec">@ViewBag.ResLang["返回列表"]</a>
            </div>
        </div>
    </div>
</main>

@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });

    </script>
}
