﻿@using Web.DB.Models
@using Web.Service;
@{
    notes_data data = ViewBag.data;
    FormCollection form = ViewBag.form;

    List<problem_category> category = ViewBag.category;
    List<problem> problem = ViewBag.problem;
    int code = 65;
}
<div class="wp" id="course" data-links-active="2" data-menu-active="5">
    <main>
        <div class="banner banner-style-2 position-relative text-white font-weight-bold z-1" data-aos="fade-up">
            <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["商務專區"]</h1>
            <div class="imgFill h-100" data-query="size">
                <picture>
                    <source media="(min-width: 576px)" srcset="~/Styles/images/banner/business.jpg" />
                    <source media="(max-width: 575px)" srcset="~/Styles/images/banner/business-mobile.png" />
                    <img src="#" alt="胡連精密" />
                </picture>
            </div>
        </div>
        <div class="border-bottom-C8C8C8 blank mb-3">
            <div class="max1200 d-sm-flex justify-between align-center">
                <div class="breadcrumb-element border-bottom-5-red d-table">
                    <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                        <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                        <li class="flex-align-center">@ViewBag.ResLang["商務專區"]</li>
                        <li class="flex-align-center">@ViewBag.ResLang["客戶滿意度調查"]</li>
                    </ol>
                </div>
                <div data-aos="fade-up">
                    <a class="flex-align-center text-hover-red mt-1 mt-sm-0 mb-2 mb-sm-0" href="~/business/list">
                        <i class="icon-block mr-2"></i>
                        <span class="font-weight-bold">@ViewBag.ResLang["返回列表"]</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blank pb-5">
            <div class="max1200 pb-md-5">
                <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-4 mb-4 pt-1" data-aos="fade-up">@ViewBag.ResLang["客戶滿意度調查"]</h2>
                <div class="border-bottom-C8C8C8 pb-4">
                    @Html.Raw(FunctionService.FormatImagePath(data.content))
                </div>

                <form action="@Url.Content("~/business/SurveySend")" method="post" class="form-style-1 pt-4" name="SurveyForm" id="SurveyForm">
                    @Html.AntiForgeryToken()

                    <div class="border-bottom-C8C8C8 mb-4 pb-md-3">
                        <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">@ViewBag.ResLang["客戶基本資訊"]</p>
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="numbering" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                        <span class="font-weight-bold">@ViewBag.ResLang["客戶編號"]</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="no" name="no" value="@Html.Raw(form.AllKeys.Contains("no") ? form["no"].ToString() : "")">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="company" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                        <span class="reqire text-red">*</span>
                                        <span class="font-weight-bold">@ViewBag.ResLang["公司名稱"]</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="company_title" name="company_title" required value="@Html.Raw(form.AllKeys.Contains("company_title") ? form["company_title"].ToString() : "")">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="tel" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                        <span class="font-weight-bold">@ViewBag.ResLang["公司電話"]</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="company_tel" name="company_tel" value="@Html.Raw(form.AllKeys.Contains("company_tel") ? form["company_tel"].ToString() : "")">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="email" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                        <span class="font-weight-bold">E-Mail</span>
                                    </label>
                                    <input type="email" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="email" name="email" value="@Html.Raw(form.AllKeys.Contains("email") ? form["email"].ToString() : "")">
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="name" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                        <span class="reqire text-red">*</span>
                                        <span class="font-weight-bold">@ViewBag.ResLang["姓名"]</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="name" name="name" required value="@Html.Raw(form.AllKeys.Contains("name") ? form["name"].ToString() : "")">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 position-relative z-3 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="department" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                        <span class="font-weight-bold">@ViewBag.ResLang["部門"]</span>
                                    </label>
                                    <select class="selectpicker style-1 style-1-3 firstHide red-tri w-100 pt-1 pt-sm-0" id="company_department" name="company_department">
                                        <option value="">@ViewBag.ResLang["請選擇"]</option>
                                        @foreach (system_item item in Helper.SystemItemList("department", ViewBag.Lang))
                                        {
                                            <option @if ((form.AllKeys.Contains("company_department") ? form["company_department"].ToString() : "") == item.title) { @Html.Raw("selected") ; } value="@item.title">@item.title</option>
                                        }



                                    </select>
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 position-relative z-2 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="jobTitle" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                        <span class="font-weight-bold">@ViewBag.ResLang["職稱"]</span>
                                    </label>
                                    @*<input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="company_jobTitle" name="company_jobTitle" required value="@Html.Raw(form.AllKeys.Contains("company_jobTitle") ? form["company_jobTitle"].ToString() : "")">*@
                                    <select class="selectpicker style-1 style-1-3 firstHide red-tri w-100 pt-1 pt-sm-0" id="company_jobTitle" name="company_jobTitle">
                                        <option value="">@ViewBag.ResLang["請選擇"]</option>
                                        @foreach (system_item item in Helper.SystemItemList("job", ViewBag.Lang))
                                        {
                                            <option @if ((form.AllKeys.Contains("company_jobTitle") ? form["company_jobTitle"].ToString() : "") == item.title) { @Html.Raw("selected") ; } value="@item.title">@item.title</option>
                                        }
                                    </select>
                                </div>
                                <div class="d-block d-md-flex flex-align-center position-relative z-1" data-aos="fade-up">
                                    <div style="flex:0 0 400px;">
                                        <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5">
                                            <label for="jobTitle" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                                <span class="font-weight-bold">@ViewBag.ResLang["客戶區域"]</span>
                                            </label>
                                            <select class="selectpicker style-1 style-1-3 firstHide red-tri w-100 pt-1 pt-sm-0" name="area_area" id="area_area">
                                                <option value="">@ViewBag.ResLang["請選擇"]</option>
                                                @foreach (system_item item in Helper.SystemItemList("area", ViewBag.Lang))
                                                {
                                                    <option @if ((form.AllKeys.Contains("area_area") ? form["area_area"].ToString() : "") == item.title) { @Html.Raw("selected") ; } value="@item.title">@item.title</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="flex-align-center justify-md-end">
                                        <div class="checkbox-style-1 my-3 my-md-0">
                                            <input type="checkbox" id="other" name="other">
                                            <label for="other">@ViewBag.ResLang["其他"]</label>
                                        </div>
                                        <div style="flex:0 0 173px;" class="ml-3">
                                            <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                                <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="area_other" name="area_other" value="@Html.Raw(form.AllKeys.Contains("area_other") ? form["area_other"].ToString() : "")">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom-C8C8C8 mb-4 pb-md-3">
                        <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">@ViewBag.ResLang["請勾選貴公司的產業分類"]</p>
                        <div class="d-lg-flex align-center" data-aos="fade-up">
                            <span class="d-block font-weight-bold mr-4 mb-2 mb-sm-3">1.@ViewBag.ResLang["產業分類"]</span>
                            <div class="checkbox-style-1 d-sm-flex align-center flex-wrap">
                                <div class="mr-3 pr-1 mb-2 mb-sm-3">
                                    <input type="radio" id="industry_industry1" name="industry_industry" value="@ViewBag.ResLang["汽車"]" @if ((form.AllKeys.Contains("industry_industry") ? form["industry_industry"].ToString() : "") == "汽車") { @Html.Raw("checked") ; }>
                                    <label for="industry_industry1">@ViewBag.ResLang["汽車"]</label>
                                </div>
                                <div class="mr-3 pr-1 mb-2 mb-sm-3">
                                    <input type="radio" id="industry_industry2" name="industry_industry" value="@ViewBag.ResLang["機車"]" @if ((form.AllKeys.Contains("industry_industry") ? form["industry_industry"].ToString() : "") == "機車") { @Html.Raw("checked") ; }>
                                    <label for="industry_industry2">@ViewBag.ResLang["機車"]</label>
                                </div>
                                <div class="mr-3 pr-1 mb-2 mb-sm-3">
                                    <input type="radio" id="industry_industry3" name="industry_industry" value="@ViewBag.ResLang["醫療"]" @if ((form.AllKeys.Contains("industry_industry") ? form["industry_industry"].ToString() : "") == "醫療") { @Html.Raw("checked") ; }>
                                    <label for="industry_industry3">@ViewBag.ResLang["醫療"]</label>
                                </div>
                                <div class="mr-3 pr-1 mb-2 mb-sm-3">
                                    <input type="radio" id="industry_industry4" name="industry_industry" value="@ViewBag.ResLang["家電"]" @if ((form.AllKeys.Contains("industry_industry") ? form["industry_industry"].ToString() : "") == "家電") { @Html.Raw("checked") ; }>
                                    <label for="industry_industry4">@ViewBag.ResLang["家電"]</label>
                                </div>
                                <div class="mr-3 pr-1 mb-2 mb-sm-3">
                                    <input type="radio" id="industry_industry5" name="industry_industry" value="@ViewBag.ResLang["電子"]" @if ((form.AllKeys.Contains("industry_industry") ? form["industry_industry"].ToString() : "") == "電子") { @Html.Raw("checked") ; }>
                                    <label for="industry_industry5">@ViewBag.ResLang["電子"]</label>
                                </div>
                                <div class="d-flex align-center mb-2 mb-sm-3">
                                    <div class="mr-3">
                                        <input type="radio" id="industry_industry6" name="industry_industry" value="@ViewBag.ResLang["其他"]" @if ((form.AllKeys.Contains("industry_industry") ? form["industry_industry"].ToString() : "") == "其他") { @Html.Raw("checked") ; }>
                                        <label for="industry_industry6">@ViewBag.ResLang["其他"]</label>
                                    </div>
                                    <div style="flex:0 0 200px;">
                                        <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                            <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="industry_other" name="industry_other" value="@Html.Raw(form.AllKeys.Contains("industry_other") ? form["industry_other"].ToString() : "")">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-flex align-center" data-aos="fade-up">
                            <span class="d-block font-weight-bold mr-4 mb-2 mb-sm-3">2.@ViewBag.ResLang["產品分類"]</span>
                            <div class="checkbox-style-1 d-sm-flex align-center flex-wrap">
                                <div class="mr-3 pr-1 mb-2 mb-sm-3">
                                    <input type="radio" id="product-1" name="industry_product" value="@ViewBag.ResLang["主線"]" @if ((form.AllKeys.Contains("industry_product") ? form["industry_product"].ToString() : "") == "主線") { @Html.Raw("checked") ; }>
                                    <label for="product-1">@ViewBag.ResLang["主線"]</label>
                                </div>
                                <div class="mr-3 pr-1 mb-2 mb-sm-3">
                                    <input type="radio" id="product-2" name="industry_product" value="@ViewBag.ResLang["週邊線束"]" @if ((form.AllKeys.Contains("industry_product") ? form["industry_product"].ToString() : "") == "週邊線束") { @Html.Raw("checked") ; }>
                                    <label for="product-2">@ViewBag.ResLang["週邊線束"]</label>
                                </div>
                                <div class="d-flex align-center mb-2 mb-sm-3">
                                    <div class="mr-3">
                                        <input type="radio" id="otherproduct" name="industry_product" value="@ViewBag.ResLang["其他"]" @if ((form.AllKeys.Contains("industry_product") ? form["industry_product"].ToString() : "") == "其他") { @Html.Raw("checked") ; }>
                                        <label for="otherproduct">@ViewBag.ResLang["其他"]</label>
                                    </div>
                                    <div style="flex:0 0 200px;">
                                        <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                            <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="product_other" name="industry_product_other" value="@Html.Raw(form.AllKeys.Contains("industry_product_other") ? form["industry_product_other"].ToString() : "")">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-flex align-center" data-aos="fade-up">
                            <span class="d-block font-weight-bold mr-4 mb-2 mb-sm-3">3.@ViewBag.ResLang["市場分類"]</span>
                            <div class="checkbox-style-1 d-sm-flex align-center flex-wrap">
                                <div class="mr-3 pr-1 mb-2 mb-sm-3">
                                    <input type="radio" id="market-1" name="industry_market" value="@ViewBag.ResLang["主機廠"]" @if ((form.AllKeys.Contains("industry_market") ? form["industry_market"].ToString() : "") == "主機廠") { @Html.Raw("checked") ; }>
                                    <label for="market-1">@ViewBag.ResLang["主機廠"]</label>
                                </div>
                                <div class="mr-3 pr-1 mb-2 mb-sm-3">
                                    <input type="radio" id="market-2" name="industry_market" value="@ViewBag.ResLang["售服市場"]" @if ((form.AllKeys.Contains("industry_market") ? form["industry_market"].ToString() : "") == "售服市場") { @Html.Raw("checked") ; }>
                                    <label for="market-2">@ViewBag.ResLang["售服市場"]</label>
                                </div>
                                <div class="d-flex align-center mb-2 mb-sm-3">
                                    <div class="mr-3">
                                        <input type="radio" id="othermarket" name="industry_market" value="@ViewBag.ResLang["其他"]" @if ((form.AllKeys.Contains("industry_market") ? form["industry_market"].ToString() : "") == "其他") { @Html.Raw("checked") ; }>
                                        <label for="othermarket">@ViewBag.ResLang["其他"]</label>
                                    </div>
                                    <div style="flex:0 0 200px;">
                                        <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                            <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="market_other" name="industry_market_other" value="@Html.Raw(form.AllKeys.Contains("industry_market_other") ? form["industry_market_other"].ToString() : "")">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-4 pb-md-1">
                        <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">@ViewBag.ResLang["滿意度調查"]</p>
                        <div class="d-none d-lg-flex font-15 font-weight-bold text-center" data-aos="fade-up">
                            <div class="flex-grow bg-gray-gradient rounded-top py-2 mr-1">@ViewBag.ResLang["項目"]</div>
                            <div class="text-white bg-blue-gradient-2 rounded-top py-2" style="flex:0 0 400px;">@ViewBag.ResLang["胡連精密公司"]</div>
                        </div>
                        @{ int a = 1; }
                        @foreach (problem_category item in category)
                        {
                            <div class="mb-1">

                                <div class="d-flex" data-aos="fade-up">
                                    <div class="flex-align-center border-bottom-C8C8C8 border-top-C8C8C8 border-right-lg-C8C8C8 border-left-lg-C8C8C8 bg-F4F4F4 flex-grow font-weight-bold py-2 py-lg-3 px-3 mr-lg-1" data-aos="fade-up">
                                        @if (item.guid == "category15")
                                        {
                                            @*<span class="d-block">@ViewBag.category6Title：@ViewBag.ResLang["請您給予意見"]<span class="d-block d-sm-inline">@ViewBag.ResLang["非常不同意1分非常同意5分"]</span></span>*@
                                            <span class="d-block">@ViewBag.category6Title<span class="d-block d-sm-inline"></span></span>
                                        }
                                        else if (item.guid == "category16")
                                        {
                                            <span class="d-block">@ViewBag.category7Title<span class="d-block d-sm-inline"></span></span>
                                        }
                                        else if (item.guid == "category19")
                                        {
                                            <span class="d-block">@ViewBag.category1Title<span class="d-block d-sm-inline"></span></span>
                                        }
                                        else if (item.guid == "category20")
                                        {
                                            <span class="d-block">@ViewBag.category2Title<span class="d-block d-sm-inline"></span></span>
                                        }
                                        else if (item.guid == "category21")
                                        {
                                            <span class="d-block">@ViewBag.category3Title<span class="d-block d-sm-inline"></span></span>
                                        }
                                        else if (item.guid == "category22")
                                        {
                                            <span class="d-block">@ViewBag.category4Title<span class="d-block d-sm-inline"></span></span>
                                        }
                                        else if (item.guid == "category23")
                                        {
                                            <span class="d-block">@ViewBag.category5Title<span class="d-block d-sm-inline"></span></span>
                                        }
                                        else
                                        {
                                            <span class="d-block">@item.title<span class="d-block d-sm-inline"></span></span>
                                        }
                                    </div>
                                    <div class="d-none d-lg-block text-center bg-blueB4D8E5" style="flex:0 0 400px;">
                                        <div class="row lh14 font-15 mx-0">
                                            <div class="flex-center col border-lg-blue9AC4D5 px-0 py-2">
                                                <span class="d-block px-1">@Html.Raw(ViewBag.ResLang["非常不同意"])</span>
                                            </div>
                                            <div class="flex-center col border-lg-blue9AC4D5 px-0 py-2">
                                                <span class="d-block px-1">@Html.Raw(ViewBag.ResLang["不同意"])</span>
                                            </div>
                                            <div class="flex-center col border-lg-blue9AC4D5 px-0 py-2">
                                                <span class="d-block px-1">@Html.Raw(ViewBag.ResLang["沒意見"])</span>
                                            </div>
                                            <div class="flex-center col border-lg-blue9AC4D5 px-0 py-2">
                                                <span class="d-block px-1">@Html.Raw(ViewBag.ResLang["同意"])</span>
                                            </div>
                                            <div class="flex-center col border-lg-blue9AC4D5 px-0 py-2">
                                                <span class="d-block px-1">@Html.Raw(ViewBag.ResLang["非常同意"])</span>
                                            </div>
                                        </div>
                                        <div class="row mx-0">
                                            <div class="col border-lg-blue9AC4D5 px-0 py-2">
                                                <span class="d-block py-1">
                                                    <img style="width:30px;" src="~/Styles/images/business/survey/icon-1.svg" alt="胡連精密">
                                                </span>
                                            </div>
                                            <div class="col border-lg-blue9AC4D5 px-0 py-2">
                                                <span class="d-block py-1">
                                                    <img style="width:30px;" src="~/Styles/images/business/survey/icon-2.svg" alt="胡連精密">
                                                </span>
                                            </div>
                                            <div class="col border-lg-blue9AC4D5 px-0 py-2">
                                                <span class="d-block py-1">
                                                    <img style="width:30px;" src="~/Styles/images/business/survey/icon-3.svg" alt="胡連精密">
                                                </span>
                                            </div>
                                            <div class="col border-lg-blue9AC4D5 px-0 py-2">
                                                <span class="d-block py-1">
                                                    <img style="width:30px;" src="~/Styles/images/business/survey/icon-4.svg" alt="胡連精密">
                                                </span>
                                            </div>
                                            <div class="col border-lg-blue9AC4D5 px-0 py-2">
                                                <span class="d-block py-1">
                                                    <img style="width:30px;" src="~/Styles/images/business/survey/icon-5.svg" alt="胡連精密">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @{ int b = 1; }
                                @foreach (problem subItem in problem.Where(m => m.category == item.guid).ToList())
                                {

                                    <div class="d-lg-flex border-bottom-C8C8C8 border-bottom-lg-0 py-2 py-lg-0" data-aos="fade-up">
                                        <div class="border-bottom-lg-C8C8C8 border-right-lg-C8C8C8 border-left-lg-C8C8C8 flex-grow py-2 py-lg-3 px-3 mr-lg-1">
                                            <span class="d-block pl-lg-3 ml-lg-1">@subItem.title</span>
                                        </div>
                                        <div class="radio-style-2 lh1 d-sm-flex flex-shrink-0 bg-lg-blueCAE3ED flex-wrap py-lg-0 px-3 px-lg-0">
                                            <div class="flex-align-center border-lg-blue9AC4D5">
                                                <input type="radio" id="survey-@Html.Raw(a)-@Html.Raw(b)-1" name="satisfaction_@Html.Raw(Helper.changeASCII(code))" value="1" @if ((form.AllKeys.Contains("satisfaction_" + Helper.changeASCII(code)) ? form["satisfaction_" + Helper.changeASCII(code)].ToString() : "3") == "1") { @Html.Raw("checked") ; }>
                                                <label class="d-lg-none pl-2" for="survey-@Html.Raw(a)-@Html.Raw(b)-1">@Html.Raw(ViewBag.ResLang["非常不同意"].Replace("<br>", ""))</label>
                                            </div>
                                            <div class="flex-align-center border-lg-blue9AC4D5">
                                                <input type="radio" id="survey-@Html.Raw(a)-@Html.Raw(b)-2" name="satisfaction_@Html.Raw(Helper.changeASCII(code))" value="2" @if ((form.AllKeys.Contains("satisfaction_" + Helper.changeASCII(code)) ? form["satisfaction_" + Helper.changeASCII(code)].ToString() : "3") == "2") { @Html.Raw("checked") ; }>
                                                <label class="d-lg-none pl-2" for="survey-@Html.Raw(a)-@Html.Raw(b)-2">@Html.Raw(ViewBag.ResLang["不同意"].Replace("<br>", ""))</label>
                                            </div>
                                            <div class="flex-align-center border-lg-blue9AC4D5">
                                                <input type="radio" id="survey-@Html.Raw(a)-@Html.Raw(b)-3" name="satisfaction_@Html.Raw(Helper.changeASCII(code))" value="3" @if ((form.AllKeys.Contains("satisfaction_" + Helper.changeASCII(code)) ? form["satisfaction_" + Helper.changeASCII(code)].ToString() : "3") == "3") { @Html.Raw("checked") ; }>
                                                <label class="d-lg-none pl-2" for="survey-@Html.Raw(a)-@Html.Raw(b)-3">@Html.Raw(ViewBag.ResLang["沒意見"].Replace("<br>", ""))</label>
                                            </div>
                                            <div class="flex-align-center border-lg-blue9AC4D5">
                                                <input type="radio" id="survey-@Html.Raw(a)-@Html.Raw(b)-4" name="satisfaction_@Html.Raw(Helper.changeASCII(code))" value="4" @if ((form.AllKeys.Contains("satisfaction_" + Helper.changeASCII(code)) ? form["satisfaction_" + Helper.changeASCII(code)].ToString() : "3") == "4") { @Html.Raw("checked") ; }>
                                                <label class="d-lg-none pl-2" for="survey-@Html.Raw(a)-@Html.Raw(b)-4">@Html.Raw(ViewBag.ResLang["同意"].Replace("<br>", ""))</label>
                                            </div>
                                            <div class="flex-align-center border-lg-blue9AC4D5">
                                                <input type="radio" id="survey-@Html.Raw(a)-@Html.Raw(b)-5" name="satisfaction_@Html.Raw(Helper.changeASCII(code))" value="5" @if ((form.AllKeys.Contains("satisfaction_" + Helper.changeASCII(code)) ? form["satisfaction_" + Helper.changeASCII(code)].ToString() : "3") == "5") { @Html.Raw("checked") ; }>
                                                <label class="d-lg-none pl-2" for="survey-@Html.Raw(a)-@Html.Raw(b)-5">@Html.Raw(ViewBag.ResLang["非常同意"].Replace("<br>", ""))</label>
                                            </div>
                                        </div>
                                    </div>

                                    code++;
                                    b++;
                                }




                            </div>
                            a++;
                        }


                    </div>
                    <div class="border-bottom-C8C8C8 mb-4 pb-md-3">
                        <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">@ViewBag.ResLang["綜合問題"]：【@ViewBag.ResLang["請您針對下列問題給予意見"]】</p>
                        <div class="d-lg-flex pl-sm-4 ml-sm-2" data-aos="fade-up">
                            <span class="d-flex font-weight-bold mr-2 mb-2 mb-sm-3" style="flex:0 0 250px;">
                                <span>1. </span>
                                @foreach (problem category8Title in problem.Where(m => m.category == "category8").ToList())
                                {
                                    <span>@category8Title.title</span>
                                }
                                @*<span>@ViewBag.ResLang["貴公司近期是否有綠能或醫療產業相關的產品開發計畫"]</span>*@
                            </span>
                            <div class="checkbox-style-1 d-sm-flex align-center flex-wrap border-bottom-C8C8C8 flex-grow pb-3">
                                @{ int w = 1; }
                                @foreach (problem subItem in problem.Where(m => m.category == "category6").ToList())
                                {
                                    <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                        <input type="checkbox" id="Comprehensive-1-@w" name="problem_comprehensive_@w" value="@subItem.title">
                                        <label for="Comprehensive-1-@w">@subItem.title</label>
                                    </div>
                                    w++;
                                }
                                @*<div class="mr-3 pr-1 mb-2 pb-sm-1">
                                        <input type="checkbox" id="Comprehensive-1-1" name="problem_comprehensive_1" value="@ViewBag.ResLang["電動汽車"]">
                                        <label for="Comprehensive-1-1">@ViewBag.ResLang["電動汽車"]</label>
                                    </div>
                                    <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                        <input type="checkbox" id="Comprehensive-1-2" name="problem_comprehensive_2" value="@ViewBag.ResLang["電動摩托車"]">
                                        <label for="Comprehensive-1-2">@ViewBag.ResLang["電動摩托車"]</label>
                                    </div>
                                    <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                        <input type="checkbox" id="Comprehensive-1-3" name="problem_comprehensive_3" value="@ViewBag.ResLang["電動腳踏車"]">
                                        <label for="Comprehensive-1-3">@ViewBag.ResLang["電動腳踏車"]</label>
                                    </div>
                                    <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                        <input type="checkbox" id="Comprehensive-1-4" name="problem_comprehensive_4" value="@ViewBag.ResLang["電動輔助車"]">
                                        <label for="Comprehensive-1-4">@ViewBag.ResLang["電動輔助車"]</label>
                                    </div>
                                    <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                        <input type="checkbox" id="Comprehensive-1-5" name="problem_comprehensive_5" value="@ViewBag.ResLang["醫療儀器產品"]">
                                        <label for="Comprehensive-1-5">@ViewBag.ResLang["醫療儀器產品"]</label>
                                    </div>
                                    <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                        <input type="checkbox" id="Comprehensive-1-6" name="problem_comprehensive_6" value="@ViewBag.ResLang["太陽能產品"]">
                                        <label for="Comprehensive-1-6">@ViewBag.ResLang["太陽能產品"]</label>
                                    </div>
                                    <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                        <input type="checkbox" id="Comprehensive-1-7" name="problem_comprehensive_7" value="@ViewBag.ResLang["沙灘車"]">
                                        <label for="Comprehensive-1-7">@ViewBag.ResLang["沙灘車"]</label>
                                    </div>

                                    <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                        <input type="checkbox" id="Comprehensive-1-8" name="problem_comprehensive_8" value="@ViewBag.ResLang["高頻連接器"]">
                                        <label for="Comprehensive-1-8">@ViewBag.ResLang["高頻連接器"]</label>
                                    </div>
                                    <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                        <input type="checkbox" id="Comprehensive-1-9" name="problem_comprehensive_9" value="@ViewBag.ResLang["車用乙太網路"]">
                                        <label for="Comprehensive-1-9">@ViewBag.ResLang["車用乙太網路"]</label>
                                    </div>
                                    <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                        <input type="checkbox" id="Comprehensive-1-10" name="problem_comprehensive_10" value="@ViewBag.ResLang["綜合問題"]">
                                        <label for="Comprehensive-1-10">@ViewBag.ResLang["連接器"]</label>
                                    </div>*@
                                <div class="d-flex align-center mb-2 pb-sm-1">
                                    <div class="mr-3">
                                        <input type="checkbox" id="otherComprehensive-1" name="problem_comprehensive_11" value="@ViewBag.ResLang["其他"]">
                                        <label for="otherComprehensive-1">@ViewBag.ResLang["其他"]</label>
                                    </div>
                                    <div style="flex:0 0 200px;">
                                        <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                            <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="otherComprehensiveText-1" name="problem_comprehensive_other" value="@Html.Raw(form.AllKeys.Contains("problem_comprehensive_other") ? form["problem_comprehensive_other"].ToString() : "")">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-flex pl-sm-4 ml-sm-2 pt-4" data-aos="fade-up">
                            <span class="d-flex font-weight-bold mr-2 mb-2 mb-sm-3" style="flex:0 0 250px;">
                                <span>2. </span>
                                @foreach (problem category9Title in problem.Where(m => m.category == "category9").ToList())
                                {
                                    <span>@category9Title.title</span>
                                }
                                @*<span> @ViewBag.ResLang["貴公司對於環保法規及物質管制的要求為有哪些"]</span>*@
                            </span>
                            <div class="checkbox-style-1 d-sm-flex align-center flex-wrap border-bottom-C8C8C8 flex-grow pb-3">
                                @{ int x = 1; }
                                @foreach (problem subItem in problem.Where(m => m.category == "category13").ToList())
                                {
                                    <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                        <input type="checkbox" id="Comprehensive-1-@x@x" name="problem_env_@x@x" value="@subItem.title">
                                        <label for="Comprehensive-1-@x@x">@subItem.title</label>
                                    </div>
                                    x++;
                                }
                                @*<div class="mr-3 pr-1 mb-2 pb-sm-1">
                                    <input type="checkbox" id="Comprehensive-2-1" name="problem_env_1" value="RoHS">
                                    <label for="Comprehensive-2-1">RoHS</label>
                                </div>
                                <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                    <input type="checkbox" id="Comprehensive-2-2" name="problem_env_2" value="SONY GP">
                                    <label for="Comprehensive-2-2">SONY GP</label>
                                </div>
                                <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                    <input type="checkbox" id="Comprehensive-2-3" name="problem_env_3" value="WEEE">
                                    <label for="Comprehensive-2-3">WEEE</label>
                                </div>
                                <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                    <input type="checkbox" id="Comprehensive-2-4" name="problem_env_4" value="REACH">
                                    <label for="Comprehensive-2-4">REACH</label>
                                </div>
                                <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                    <input type="checkbox" id="Comprehensive-2-5" name="problem_env_5" value="EUP">
                                    <label for="Comprehensive-2-5">EUP</label>
                                </div>*@
                                <div class="d-flex align-center mb-2 pb-sm-1">
                                    <div class="mr-3">
                                        <input type="checkbox" id="otherComprehensive-2" name="problem_env_6" value="@ViewBag.ResLang["其他"]">
                                        <label for="otherComprehensive-2">@ViewBag.ResLang["其他"]</label>
                                    </div>
                                    <div style="flex:0 0 200px;">
                                        <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                            <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="otherComprehensiveText-2" name="problem_env_other" value="@Html.Raw(form.AllKeys.Contains("problem_env_other") ? form["problem_env_other"].ToString() : "")">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-flex pl-sm-4 ml-sm-2 pt-4" data-aos="fade-up">
                            <span class="d-flex font-weight-bold mr-2 mb-2 mb-sm-3" style="flex:0 0 250px;">
                                <span>3. </span>
                                @foreach (problem category10Title in problem.Where(m => m.category == "category10").ToList())
                                {
                                    <span>@category10Title.title</span>
                                }
                                @*<span>@ViewBag.ResLang["除了本公司產品請問您採購連接器另外三大家廠商是"]</span>*@
                            </span>
                            <div class="checkbox-style-1 d-sm-flex align-center flex-wrap flex-grow pb-3">
                                <div class="d-sm-flex align-center flex-grow mb-2 pb-sm-1">
                                    @{ int y = 1; }
                                    @foreach (problem subItem in problem.Where(m => m.category == "category14").ToList())
                                    {
                                        <div class="mr-3 pr-1 mb-2 pb-sm-1">
                                            <input type="checkbox" id="Comprehensive-1-@y@y@y" name="problem_company" value="@subItem.title">
                                            <label for="Comprehensive-1-@y@y@y">@subItem.title</label>
                                        </div>
                                        y++;
                                    }
                                    @*<div class="mr-3">
                                        <input type="radio" id="otherComprehensive-3" name="problem_company" value="Y">
                                        <label for="otherComprehensive-3">@ViewBag.ResLang["輸入廠商名稱"]</label>
                                    </div>*@
                                    <div class="flex-grow mt-2 mt-sm-0">
                                        <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                            <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="otherComprehensiveText-3" name="problem_company_other" value="@Html.Raw(form.AllKeys.Contains("problem_company_other") ? form["problem_company_other"].ToString() : "")">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 pb-md-3">
                        <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">@ViewBag.ResLang["其他意見"]：</p>
                        <textarea class="w-100 bg-F4F4F4 border-C8C8C8 rounded-5 py-3 px-3" name="message" id="message" rows="6" data-aos="fade-up">@Html.Raw(form.AllKeys.Contains("message") ? form["message"].ToString() : "")</textarea>
                    </div>
                    <div class="row justify-center">
                        <div class="col-12 col-sm-auto d-sm-flex align-center mb-4 mb-lg-0" data-aos="fade-up">
                            <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mr-sm-2" style="flex:0 0 240px">
                                <label for="verificationCode" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                    <span class="font-weight-bold">@ViewBag.ResLang["驗証碼"]</span>
                                    <span class="reqire text-red">*</span>
                                </label>
                                <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="verification" name="verification" required>
                            </div>
                            <div class="flex-align-center justify-center mt-2 mt-sm-0">
                                <div class="mr-3 pr-1">
                                    <img id="captcha" src="@Url.Content("~/Content/BuildCaptchaHome.aspx")" class="code">
                                </div>
                                <a href="javascript:void(0);" id="changeImg">@ViewBag.ResLang["換另一張"]</a>
                            </div>
                        </div>
                        <div class="col-auto" data-aos="fade-up">
                            <button class="form-button button-black btn-dec mx-1" type="reset">@ViewBag.ResLang["重填表單"]</button>
                            <button class="form-button button-blue btn-dec mx-1" type="submit">@ViewBag.ResLang["送出表單"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });

        $('#changeImg').click(function () {

            $('#captcha').attr("src" , "@Url.Content("~/Content/BuildCaptchaHome.aspx")?d="+Date.now())

        });
    </script>
}
