﻿<div class="row">
    <div class="col-12 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up">
        <div class="border-C8C8C8 rounded-5">
            <div class="bg-blue-gradient text-center py-3">
                <img style="width:40px;" src="Styles/images/investor/service/icon-1.svg" alt="胡連精密">
                <span class="font-weight-bold text-white ml-2">發言人</span>
            </div>
            <ul class="noneStyle">
                <li class="border-bottom-C8C8C8 px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <span class="font-weight-bold">集團營運中心IR經理：</span>
                        <span>高士翔</span>
                    </div>
                </li>
                <li class="border-bottom-C8C8C8 bg-F4F4F4 px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <span class="font-weight-bold">地址：</span>
                        <a class="text-hover-blue225387" href="https://www.google.com.tw/maps/place/221%E6%96%B0%E5%8C%97%E5%B8%82%E6%B1%90%E6%AD%A2%E5%8D%80%E7%92%B0%E6%B2%B3%E8%A1%9768%E8%99%9F/@25.0618187,121.6287163,17z/data=!3m1!4b1!4m5!3m4!1s0x345d5352f716568d:0x7a4e21c44566bfe6!8m2!3d25.0618139!4d121.630905?hl=zh-TW" target="_blank">221 新北市汐止區環河街68號</a>
                    </div>
                </li>
                <li class="border-bottom-C8C8C8 px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <span class="font-weight-bold">E-mail：</span>
                        <a class="text-hover-blue225387" href="mailto:hulane@hulane.com.tw">hulane@hulane.com.tw</a>
                    </div>
                </li>
                <li class="border-bottom-C8C8C8 bg-F4F4F4 px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <span class="font-weight-bold">電話：</span>
                        <a class="text-hover-blue225387" href="tel:+886-22694-0551,,5605">(02)2694-0551 #5605</a>
                    </div>
                </li>
                <li class="px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <span class="font-weight-bold">傳真：</span>
                        <span>(02)2694-1062</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up">
        <div class="border-C8C8C8 rounded-5">
            <div class="bg-blue-gradient text-center py-3">
                <img style="width:40px;" src="Styles/images/investor/service/icon-1.svg" alt="胡連精密">
                <span class="font-weight-bold text-white ml-2">代理發言人</span>
            </div>
            <ul class="noneStyle">
                <li class="border-bottom-C8C8C8 px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <span>集團營運中心IR副理：</span>
                        <span>張嘉琪</span>
                    </div>
                </li>
                <li class="border-bottom-C8C8C8 bg-F4F4F4 px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <span>地址：</span>
                        <a class="text-hover-blue225387" href="https://www.google.com.tw/maps/place/221%E6%96%B0%E5%8C%97%E5%B8%82%E6%B1%90%E6%AD%A2%E5%8D%80%E7%92%B0%E6%B2%B3%E8%A1%9768%E8%99%9F/@25.0618187,121.6287163,17z/data=!3m1!4b1!4m5!3m4!1s0x345d5352f716568d:0x7a4e21c44566bfe6!8m2!3d25.0618139!4d121.630905?hl=zh-TW" target="_blank">221 新北市汐止區環河街68號</a>
                    </div>
                </li>
                <li class="border-bottom-C8C8C8 px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <span>E-mail：</span>
                        <a class="text-hover-blue225387" href="mailto:hulane@hulane.com.tw">hulane@hulane.com.tw</a>
                    </div>
                </li>
                <li class="border-bottom-C8C8C8 bg-F4F4F4 px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <span>電話：</span>
                        <a class="text-hover-blue225387" href="tel:+886-22694-0551,,5310">(02)2694-0551 #5310</a>
                    </div>
                </li>
                <li class="px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <span class="font-weight-bold">傳真：</span>
                        <span>(02)2694-1062</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-lg-4 mb-md-4 mb-lg-0" data-aos="fade-up">
        <div class="border-C8C8C8 rounded-5">
            <div class="bg-blue-gradient text-center py-3">
                <img style="width:40px;" src="Styles/images/investor/service/icon-3.svg" alt="胡連精密">
                <span class="font-weight-bold text-white ml-2">股務代理機構</span>
            </div>
            <ul class="noneStyle">
                <li class="border-bottom-C8C8C8 px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <p class="mb-0">股東辦理股票過戶、贈予、繼承、遺失、質設、變更事項 ﹝通訊地址、印鑑、股利轉匯帳號及其他事項﹞</p>
                        <p class="mb-0">請洽本公司股務代理機構，機構名稱、地址、網址及電話傳真：</p>
                    </div>
                </li>
                <li class="border-bottom-C8C8C8 bg-F4F4F4 px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <span>永豐金證券股份有限公司</span>
                    </div>
                </li>
                <li class="border-bottom-C8C8C8 bg-F4F4F4 px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <span>地址：</span>
                        <a class="text-hover-blue225387" href="https://www.google.com.tw/maps/place/100%E5%8F%B0%E5%8C%97%E5%B8%82%E4%B8%AD%E6%AD%A3%E5%8D%80%E5%8D%9A%E6%84%9B%E8%B7%AF17%E8%99%9F3/@25.0456913,121.5093479,17z/data=!3m1!4b1!4m5!3m4!1s0x3442a90cf5d3d533:0x6101facd6bbc9e12!8m2!3d25.0456865!4d121.5115366?hl=zh-TW" target="_blank">100 台北市博愛路17號3樓</a>
                    </div>
                </li>
                <li class="border-bottom-C8C8C8 px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <a class="text-hover-blue225387" href="http://www.sinotrade.com.tw/" target="_blank">http://www.sinotrade.com.tw/</a>
                    </div>
                </li>
                <li class="border-bottom-C8C8C8 bg-F4F4F4 px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <span>電話：</span>
                        <a class="text-hover-blue225387" href="tel:+886-2-2381-6288">(02)2381-6288</a>
                    </div>
                </li>
                <li class="px-3 px-xl-4 py-2">
                    <div class="my-1">
                        <span class="font-weight-bold">傳真：</span>
                        <span>(02)2382-5666; (02)2382-6568</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>