﻿<p class="mb-2" data-aos="fade-up">胡連秉持誠信經營的原則，期許對所有利害關係人建立透明、有效的溝通管道，尊重、維護其應有之合法權益，適時回應利害關係人關切議題，作為我們善盡企業社會責任的努力目標。</p>
<p class="font-22 font-weight-bold mb-2 mb-sm-3" data-aos="fade-up">利害關係人之溝通管道與主要關切議題</p>
<div class="table-wrapper scrollbarX pb-4 mb-sm-2" data-aos="fade-up">
    <table class="w-100 table-style-1">
        <thead class="text-center text-white">
            <tr>
                <th class="font-weight-normal py-2" style="background:#1B3D6D;width:16.5%;">
                    <div class="py-1">對象</div>
                </th>
                <th class="font-weight-normal py-2" style="background:#2B5FAB;width:42%;">
                    <div class="py-1">溝通做法</div>
                </th>
                <th class="font-weight-normal py-2" style="background:#2B5FAB;width:42%;">
                    <div class="py-1">主要關切議題</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center" style="background:#DCF7FA;">
                    <div class="py-2">
                        <div class="img">
                            <img src="Styles/images/investor/shareholder/icon-1.png" alt="胡連精密">
                        </div>
                        <p class="font-weight-bold mb-0 mt-2 pt-1">政府 / 主管機關</p>
                    </div>
                </td>
                <td style="background:#F1FCFD">
                    <div class="px-3 py-2">
                        <ul class="noneStyle ul-style-3">
                            <li>官網設有利害關係人專區與溝通管道</li>
                            <li>公開資訊觀測站 / 財報 / 年報 / 官網揭露</li>
                            <li>配合政府 / 主管機關各項推動事宜、參與主管機關評鑑</li>
                        </ul>
                    </div>
                </td>
                <td style="background:#F1FCFD">
                    <div class="px-3 py-2">
                        <ul class="noneStyle ul-style-3">
                            <li>法規遵循</li>
                            <li>公司治理運作及誠信經營</li>
                            <li>災害預防與重大事件對策</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center" style="background:#D7E4F2;">
                    <div class="py-2">
                        <div class="img">
                            <img src="Styles/images/investor/shareholder/icon-2.png" alt="胡連精密">
                        </div>
                        <p class="font-weight-bold mb-0 mt-2 pt-1">員工</p>
                    </div>
                </td>
                <td style="background:#ECF3F9">
                    <div class="px-3 py-2">
                        <ul class="noneStyle ul-style-3">
                            <li>各廠定期舉辦勞資會議</li>
                            <li>各廠定期舉辦福委會大會</li>
                            <li>各廠設立總經理信箱</li>
                            <li>各廠設立公佈欄及線上公佈欄</li>
                            <li>各廠員工滿意度調查</li>
                            <li>各廠員工專屬資訊網站</li>
                        </ul>
                    </div>
                </td>
                <td style="background:#ECF3F9">
                    <div class="px-3 py-2">
                        <ul class="noneStyle ul-style-3">
                            <li>勞資關係 / 政府法令宣導</li>
                            <li>薪酬 / 福利 / 人權</li>
                            <li>員工溝通 / 保密申訴制度</li>
                            <li>職業安全與健康</li>
                            <li>員工滿意度</li>
                            <li>員工績效 / 教育訓練</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center" style="background:#FFF3D2;">
                    <div class="py-2">
                        <div class="img">
                            <img src="Styles/images/investor/shareholder/icon-3.png" alt="胡連精密">
                        </div>
                        <p class="font-weight-bold mb-0 mt-2 pt-1">客戶</p>
                    </div>
                </td>
                <td style="background:#FFFAED">
                    <div class="px-3 py-2">
                        <ul class="noneStyle ul-style-3">
                            <li>各廠客訴及回饋機制</li>
                            <li>各廠定期溝通討論會議</li>
                            <li>各廠現場稽核討論</li>
                            <li>各廠客戶滿意度調查</li>
                            <li>各廠線上服務平台</li>
                        </ul>
                    </div>
                </td>
                <td style="background:#FFFAED">
                    <div class="px-3 py-2">
                        <ul class="noneStyle ul-style-3">
                            <li>客戶隱私 / 產品責任</li>
                            <li>環境政策 / 永續發展策略</li>
                            <li>產品法規符合度</li>
                            <li>顧客服務 / 倫理與誠信</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center" style="background:#D9E5BF;">
                    <div class="py-2">
                        <div class="img">
                            <img src="Styles/images/investor/shareholder/icon-4.png" alt="胡連精密">
                        </div>
                        <p class="font-weight-bold mb-0 mt-2 pt-1">投資者</p>
                    </div>
                </td>
                <td style="background:#EDF3E0">
                    <div class="px-3 py-2">
                        <ul class="noneStyle ul-style-3">
                            <li>股東大會</li>
                            <li>國內外法人說明會</li>
                            <li>海內外投資機構研討會</li>
                            <li>年報資料、財務報告</li>
                            <li>公司網頁</li>
                            <li>企業社會責任報告書</li>
                        </ul>
                    </div>
                </td>
                <td style="background:#EDF3E0">
                    <div class="px-3 py-2">
                        <ul class="noneStyle ul-style-3">
                            <li>公司治理</li>
                            <li>經營績效</li>
                            <li>勞資關係</li>
                            <li>誠信經營</li>
                            <li>風險管理</li>
                            <li>企業社會責任</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center" style="background:#FFE8C4;">
                    <div class="py-2">
                        <div class="img">
                            <img src="Styles/images/investor/shareholder/icon-5.png" alt="胡連精密">
                        </div>
                        <p class="font-weight-bold mb-0 mt-2 pt-1">供應商</p>
                    </div>
                </td>
                <td style="background:#FFF6E8">
                    <div class="px-3 py-2">
                        <ul class="noneStyle ul-style-3">
                            <li>各廠檢討報告與會議</li>
                            <li>各廠知識與技術交流</li>
                            <li>各廠供應商管理 / 不定期訪談</li>
                            <li>各廠供應商年度評鑑</li>
                        </ul>
                    </div>
                </td>
                <td style="background:#FFF6E8">
                    <div class="px-3 py-2">
                        <ul class="noneStyle ul-style-3">
                            <li>倫理與誠信 / 法規遵循</li>
                            <li>法規遵循 / 產品責任</li>
                            <li>持續穩定供貨 / 供應商的企業社會責任認知 / 有害物質管理</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p class="font-22 font-weight-bold mb-2 mb-sm-3" data-aos="fade-up">利害關係人聯絡資訊</p>
<p class="mb-0" data-aos="fade-up">您對胡連精密有任何問題或擬檢舉任何不法事項，歡迎洽詢下列窗口服務，謝謝！</p>
<p class="mb-0" data-aos="fade-up">集團營運中心IR經理：高士翔</p>
<p class="mb-0" data-aos="fade-up">
    地址：
    <a href="#" class="text-hover-red" target="_blank">221 新北市汐止區環河街68號</a>
</p>
<p class="mb-0" data-aos="fade-up">
    E-mail：
    <a href="mailto:hulane@hulane.com.tw" class="text-hover-red" target="_blank">hulane@hulane.com.tw</a>
</p>
<p class="mb-0" data-aos="fade-up">
    電話：
    <a href="tel:+8862-2694-0551,,5605" class="text-hover-red" target="_blank">(02)2694-0551 #5605</a>
</p>
<p class="mb-0" data-aos="fade-up">傳真：(02)2694-1062</p>
<div class="d-table pt-4 mt-sm-2" data-aos="fade-up">
    <a href="shareholder-faq" class="h50 flex-align-center text-white rounded-5 btn-dec py-1 pl-3 pr-3 pr-md-5" style="background: linear-gradient(#5680C5,#295398);">
        <i class="icon-dialog font-22 mr-3"></i>
        <span class="font-weight-bold">利害關係人問答集</span>
    </a>
</div>