﻿<div class="border-bottom-C8C8C8 pb-4">
    <p class="mb-2" data-aos="fade-up">親愛的顧客， 您好 !</p>
    <p class="mb-2" data-aos="fade-up">感謝 貴公司長久以來對胡連的支持與愛護， 為秉持提供顧客最佳服務的信念，我們特別準備了這份客戶滿意度調查表， 以瞭解各位親愛的顧客對於胡連的評價， 並希望藉由您的看法及建議，幫助我們更加精進，感謝您撥冗填寫。以下您所填寫的個人資料，僅供作為整體性分析，請您放心填寫。另外，為確保問卷有效性，請您務必填答每一個問題，感謝您的協助及配合。並請回覆 ，感謝您的協助及配合。</p>
    <p class="font-weight-bold text-red mb-2" data-aos="fade-up">請您在2020年7月30日前填完回傳!感謝您!!!</p>
    <p class="mb-2" data-aos="fade-up">
        總共16題單選，3題問答題! 請隨時聯絡您的業務窗口或<a class="text-red text-decoration-underline NotoSansTC" href="mailto:sales@hulane.com.tw">E-mail:sales@hulane.com.tw</a>
    </p>
</div>