
.icon-phone:before { content: '\e800'; } /* '' */
.icon-pdf:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-trash:before { content: '\f1f8';}/* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-block:before { content: '\e805'; } /* '' */
.icon-products-icon-1:before { content: '\e806'; } /* '' */
.icon-products-icon-2:before { content: '\e807'; } /* '' */
.icon-right-big:before { content: '\e808'; } /* '' */
.icon-products-icon-3:before { content: '\e809'; } /* '' */
.icon-pen:before { content: '\e80a'; } /* '' */
.icon-left-open:before { content: '\e80b'; } /* '' */
.icon-up-open:before { content: '\e80c'; } /* '' */
.icon-down-open:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-humb:before { content: '\e80f'; } /* '' */
.icon-earth-2:before { content: '\e810'; } /* '' */
.icon-up-big:before { content: '\e811'; } /* '' */
.icon-person:before { content: '\e812'; } /* '' */
.icon-earth:before { content: '\e813'; } /* '' */
.icon-location:before { content: '\e814'; } /* '' */
.icon-ok:before { content: '\e815'; } /* '' */
.icon-download:before { content: '\e816'; } /* '' */
.icon-plus:before { content: '\e817'; } /* '' */
.icon-download-3:before { content: '\e818'; } /* '' */
.icon-download-1:before { content: '\e819'; } /* '' */
.icon-dialog:before { content: '\e81a'; } /* '' */
.icon-links-2:before { content: '\e81b'; } /* '' */
.icon-left-left:before { content: '\e81c'; } /* '' */
.icon-right-right:before { content: '\e81d'; } /* '' */
.icon-right:before { content: '\e81e'; } /* '' */
.icon-left:before { content: '\e81f'; } /* '' */
.icon-eye:before { content: '\e820'; } /* '' */
.icon-zoom:before { content: '\e821'; } /* '' */
.icon-share:before { content: '\e822'; } /* '' */
.icon-zoomout:before { content: '\e823'; } /* '' */
.icon-left-big:before { content: '\e824'; } /* '' */
.icon-pdf-1:before { content: '\e825'; } /* '' */
.icon-links:before { content: '\e826'; } /* '' */
.icon-play:before { content: '\e827'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */