﻿<ul class="noneStyle ul-style-2">
    <li class="mb-2">辦理現金增資 4,971 萬元及盈餘轉增資 4,509 萬元，使本公司資本額提高至 19,500 萬元，並經股東會通過更名為胡連精密股份有限公司</li>
    <li class="mb-2">辦理盈餘轉增資 5,850 萬元，使本公司資本額提高至 25,350 萬元</li>
    <li class="mb-2">發行新股暨補辦公開發行，並獲主管機關同意公開發行股份</li>
    <li class="mb-2">成立香港分公司</li>
    <li class="mb-2">取得胡連電子(深圳)有限公司及連盈電子(深圳)有限公司100%股權</li>
</ul>