﻿<ul class="noneStyle ul-style-2">
    <li class="mb-2">轉投資南京廠，正式成立胡連電子 ( 南京 ) 有限公司</li>
    <li class="mb-2">榮獲國家頒發盤石獎獎項</li>
    <li class="mb-2">正式與捷運工業股份有限公司完成合併，使本公司股本提高至48,996萬元</li>
    <li class="mb-2">辦理盈餘轉增資3,920萬元使公司資本額提高至52,916萬元</li>
    <li class="mb-2">投資印尼多達胡連太平洋股份有限公司取得該公司股權40%</li>
</ul>