﻿<ul class="noneStyle ul-style-2">
    <li class="mb-2">辦理盈餘轉增資2,117萬元，資本公積轉增資5,292萬元使資本額提 高至60,325萬元。</li>
    <li class="mb-2">轉投資南京子公司正式開工興建。</li>
    <li class="mb-2">南京子公司通過TUV ISO9001:2000認証。</li>
</ul>