﻿<ul class="noneStyle ul-style-2">
    <li class="mb-2">本公司、胡連電子深圳子公司及胡連電子南京子公司通過TUV認証ISO-14001:2004環境保護體系。</li>
    <li class="mb-2">本公司實驗室通過 ISO/IEC 17025:2005 長度校正實驗室認證(編號1779)。</li>
    <li class="mb-2">與義大利ELMAC S.R.L.公司簽立代理銷售合約。</li>
    <li class="mb-2">胡連電子(南京)有限公司正式建廠完成。</li>
    <li class="mb-2">辦理盈餘轉增資3,138萬元，使資本額提高至6.64億元。</li>
</ul>