﻿<ul class="noneStyle ul-style-2">
    <li class="mb-2">5月完成產品壽命管理系統(PLM)建置及導入。</li>
    <li class="mb-2">7月與北科大建置完成電性自動化量測系統。</li>
    <li class="mb-2">7月與北科大合作專案獲得教育部補助。</li>
    <li class="mb-2">通過上海通用汽車對南京廠實驗室的認證 (GP-10)。</li>
    <li class="mb-2">上海辦公室成立。</li>
    <li class="mb-2">辦理盈餘轉增資3,713萬元，使資本額提高至7.02億元。</li>
    <li class="mb-2">成立胡連電子(越南)股份有限公司。</li>
</ul>