﻿<ul class="noneStyle ul-style-2">
    <li class="mb-2">榮獲遠見雜誌第273期報導第五屆企業社會責任獎(CSR)，傑出企業70強上櫃公司10強之一。</li>
    <li class="mb-2">南京實驗室通過CNAS國家實驗室認證(ISO 17025)。</li>
    <li class="mb-2">辦理盈餘轉增資3,508萬元，使資本額提高至7.36億元。</li>
</ul>