﻿<ul class="noneStyle ul-style-2">
    <li class="mb-2">榮獲遠見雜誌第285期報導第六屆企業社會責任獎(CSR)，傑出企業65強上櫃公司5強之一。</li>
    <li class="mb-2">高階點焊端子開發完成並獲得工業局CITD專案補助。</li>
    <li class="mb-2">辦理現金增資8,390萬元，使資本額提高至8.21億元。</li>
    <li class="mb-2">投資成立香港福茂發展有限公司。</li>
</ul>