﻿<ul class="noneStyle ul-style-2">
    <li class="mb-2">開發完成電動車高電壓連接器。</li>
    <li class="mb-2">投資成立東莞胡連電子科技有限公司。</li>
    <li class="mb-2">胡連(越南)電子責任有限公司正式落成及量產。</li>
    <li class="mb-2">公司ERP系統導入SAP系統。</li>
    <li class="mb-2">辦理盈餘轉增資4,104萬元及員工認股權憑證轉換股份313萬元，使資本額提高至8.64億元。</li>
    <li class="mb-2 pb-1 d-flex text-darkBlue">
        <div class="flex-shrink-0 mr-2">
            <img src="Styles/images/about/trophy.png" alt="胡連精密">
        </div>
        <p class="mb-0">
            榮獲證券櫃檯買賣中心「上櫃公司金桂獎」-卓越永續經營獎殊榮。

        </p>
    </li>
    <li class="mb-2">氣動壓線模具開發成功，並正式量產買賣銷售。</li>
    <li class="mb-2">胡連電子(南京)有限公司獲得南京市企業技術中心。</li>
</ul>