﻿<div class="row">
    <div class="col-12 col-sm-7 mb-3 mb-sm-0">
        <ul class="noneStyle ul-style-2">
            <li class="mb-2">胡連電子(越南)責任有限公司通過TS- 16949:2009認證。</li>
            <li class="mb-2">辦理員工認股權憑證及現金增資，使資本額提高至9.71億元。</li>
            <li class="mb-2">胡連電子(南京)有限公司建置成型機與沖壓機台即時生產監控系統。</li>
            <li class="mb-2">東莞胡連電子科技有限公司正式投產。</li>
            <li class="mb-2 pb-1 d-flex text-darkBlue">
                <div class="flex-shrink-0 mr-2">
                    <img src="styles/images/about/trophy.png" alt="胡連精密">
                </div>
                <p class="mb-0">
                    胡連電子(南京)有限公司12月獲頒長城汽車質量學院第一屆零缺陷工程獎(為唯一獲獎連接器廠商)。
                </p>
            </li>
            <li class="mb-2">胡連電子(南京)有限公司二期擴廠完成。</li>
            <li class="mb-2">首次出版胡連企業社會責任報告書。</li>
            <li class="mb-2">取得一宏鋼鐵股份有限公司100%股權。</li>
        </ul>
    </div>
    <div class="col-12 col-sm-5 text-center align-self-start">
        <ul class="noneStyle slider-mode-1 dots-style-2">
            <li>
                <img class="mx-auto" src="Styles/images/about/history/4.jpg" alt="胡連精密">
            </li>
            <li>
                <img class="mx-auto" src="Styles/images/about/history/4.jpg" alt="胡連精密">
            </li>
            <li>
                <img class="mx-auto" src="Styles/images/about/history/4.jpg" alt="胡連精密">
            </li>
        </ul>
    </div>
</div>