﻿<div class="row align-center">
    <div class="col-12 col-sm-7 mb-3 mb-sm-0">
        <ul class="noneStyle ul-style-2">
            <li class="mb-2">胡連電子(越南)責任有限公司通過ISO- 14001:2004認證。</li>
            <li class="mb-2 pb-1 d-flex text-darkBlue">
                <div class="flex-shrink-0 mr-2">
                    <img src="Styles/images/about/trophy.png" alt="胡連精密">
                </div>
                <p class="mb-0">
                    榮獲經濟部第二屆中堅企業獎。
                </p>
            </li>
            <li class="mb-2">胡連電子(南京)有限公司自動倉儲系統完成啟用。</li>
        </ul>
    </div>
    <div class="col-12 col-sm-5 text-center">
        <div class="slider-mode-1 dots-style-2">
            <div>
                <img class="mx-auto" src="Styles/images/about/history/3.jpg" alt="胡連精密">
            </div>
            <div>
                <img class="mx-auto" src="Styles/images/about/history/3.jpg" alt="胡連精密">
            </div>
            <div>
                <img class="mx-auto" src="Styles/images/about/history/3.jpg" alt="胡連精密">
            </div>
        </div>
    </div>
</div>