﻿<div class="row align-center">
    <div class="col-12 col-sm-7 mb-3 mb-sm-0">
        <ul class="noneStyle ul-style-2">
            <li class="mb-2">台北總公司通過ISO-14001:2015認證。</li>
            <li class="mb-2 pb-1 d-flex text-darkBlue">
                <div class="flex-shrink-0 mr-2">
                    <img src="Styles/images/about/trophy.png" alt="胡連精密">
                </div>
                <p class="mb-0">
                    東莞胡連普光貿易有限公司 獲頒 比亞迪汽車工業有限公司第十五事業部之「優質供應商」。
                </p>
            </li>
        </ul>
    </div>
    <div class="col-12 col-sm-5 text-center">
        <div class="slider-mode-1 dots-style-2">
            <div>
                <img class="mx-auto" src="Styles/images/about/history/2.jpg" alt="胡連精密">
            </div>
            <div>
                <img class="mx-auto" src="Styles/images/about/history/2.jpg" alt="胡連精密">
            </div>
            <div>
                <img class="mx-auto" src="Styles/images/about/history/2.jpg" alt="胡連精密">
            </div>
        </div>
    </div>
</div>