﻿<ul class="noneStyle ul-style-2">
    <li class="mb-2 pb-1 d-flex text-darkBlue">
        <div class="flex-shrink-0 mr-2">
            <img src="Styles/images/about/trophy.png" alt="胡連精密">
        </div>
        <p class="mb-0">
            胡連集團推展品管圈活動，東莞胡連電子科技有限公司 獲得第51屆健峰全國品管圈大會之「石川獎」及「健峰獎」。
        </p>
    </li>
    <li class="mb-2">東莞胡連電子科技有限公司通過TÜV NORD ISO/TS 16949:2009 認證。</li>
    <li class="mb-2">胡連電子(南京)有限公司通過VDA 6.1認證</li>
    <li class="mb-2">成立印尼胡連科技製造有限責任公司</li>
</ul>