﻿<ul class="noneStyle ul-style-2">
    <li class="mb-2">東莞胡連電子科技有限公司通過ISO-14001:2015認證。</li>
    <li class="mb-2">東莞胡連電子科技有限公司通過IATF-16949:2016認證。</li>
    <li class="mb-2">胡連電子(越南)責任有限公司通過IATF-16949:2016認證。</li>
    <li class="mb-2 pb-1 d-flex text-darkBlue">
        <div class="flex-shrink-0 mr-2">
            <img src="Styles/images/about/trophy.png" alt="胡連精密">
        </div>
        <p class="mb-0">
            (11月) 東莞胡連電子科技有限公司通過全國高新技術企業認證。
        </p>
    </li>
    <li class="mb-2 pb-1 d-flex text-darkBlue">
        <div class="flex-shrink-0 mr-2">
            <img src="Styles/images/about/trophy.png" alt="胡連精密">
        </div>
        <p class="mb-0">
            (12月) 胡連電子(南京)有限公司通過全國高新技術企業認證。
        </p>
    </li>
</ul>