﻿<ul class="noneStyle ul-style-2">
    <li class="mb-2">設立歐洲辦事處。</li>
    <li class="mb-2 pb-1 d-flex text-darkBlue">
        <div class="flex-shrink-0 mr-2">
            <img src="Styles/images/about/trophy.png" alt="胡連精密">
        </div>
        <p class="mb-0">
            (7月) 胡連電子(南京)有限公司獲得南京市工業企業技術裝備投入普惠性獎。
        </p>
    </li>
    <li class="mb-2 pb-1 d-flex text-darkBlue">
        <div class="flex-shrink-0 mr-2">
            <img src="styles/images/about/trophy.png" alt="胡連精密">
        </div>
        <p class="mb-0">
            (7月) 胡連電子(南京)有限公司獲得南京市工業企業技術裝備投入普惠性獎。
        </p>
    </li>
</ul>