﻿<div class="row align-center">
    <div class="col-12 col-sm-7 mb-3 mb-sm-0">
        <ul class="noneStyle ul-style-2">
            <li>台北新廠擴廠落成。</li>
        </ul>
    </div>
    <div class="col-12 col-sm-5 text-center">
        <div class="slider-mode-1 dots-style-2">
            <div>
                <img class="mx-auto" src="Styles/images/about/history/1.jpg" alt="胡連精密">
            </div>
            <div>
                <img class="mx-auto" src="Styles/images/about/history/1.jpg" alt="胡連精密">
            </div>
            <div>
                <img class="mx-auto" src="Styles/images/about/history/1.jpg" alt="胡連精密">
            </div>
        </div>
    </div>
</div>