﻿<div class="max1200">
    <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-3 pb-lg-4 mb-0" data-aos="fade-up">品質榮耀</h2>
    <div class="bg-F5F5F5 font-weight-bold px-3 px-sm-4 pt-3 pt-sm-4 mb-5">
        <div class="row px-xl-2 pt-2">
            <div class="col-12 col-lg-6 pb-4 mb-sm-2">
                <h3 class="font-20" data-aos="fade-up">台北總公司</h3>
                <ul class="noneStyle">
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">IATF 16949 → 通過認證</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">ISO 14001 → 通過認證</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 pb-4 mb-sm-2">
                <h3 class="font-20" data-aos="fade-up">南京廠</h3>
                <ul class="noneStyle">
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">IATF 16949 → 通過認證</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">ISO 14001 → 通過認證</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">VDA 6.1 → 通過認證</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">CNAS L4194 (ISO/IEC 17025:2017) → 實驗室認可</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 pb-4 mb-sm-2">
                <h3 class="font-20" data-aos="fade-up">東莞廠</h3>
                <ul class="noneStyle">
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">IATF 16949 → 通過認證</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">ISO 14001 → 通過認證</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 pb-4 mb-sm-2">
                <h3 class="font-20" data-aos="fade-up">越南廠</h3>
                <ul class="noneStyle">
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">IATF 16949 → 通過認證</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">ISO 14001 → 通過認證</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 pb-4 mb-sm-2">
                <h3 class="font-20" data-aos="fade-up">印尼廠</h3>
                <ul class="noneStyle">
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">IATF 16949 → 預計2021年通過認證</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">ISO 14001 → 預計2021年通過認證</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">CNASＬ12848 (ISO/IEC 17025:2017) 實驗室認可</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 pb-4 mb-sm-2">
                <h3 class="font-20" data-aos="fade-up">**預留欄位</h3>
                <ul class="noneStyle">
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 pb-4 mb-sm-2">
                <h3 class="font-20" data-aos="fade-up">**預留欄位</h3>
                <ul class="noneStyle">
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 pb-4 mb-sm-2">
                <h3 class="font-20" data-aos="fade-up">**預留欄位</h3>
                <ul class="noneStyle">
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                    <li class="bg-white rounded-5 mb-1" data-aos="fade-up">
                        <a href="#" download class="d-block d-sm-flex justify-between text-hover-green2AB3AC align-center p-3">
                            <span class="d-flex">
                                <span class="flex-center rounded-circle bg-green2AB3AC text-white flex-shrink-0 mr-2 mt-1" style="width:20px;height:20px;">
                                    <i class="icon-ok font-12"></i>
                                </span>
                                <span class="pl-1">**預留欄位</span>
                            </span>
                            <span class="text-green2AB3AC flex-align-center flex-shrink-0 pl-sm-3 mt-2 mt-sm-0">
                                <i class="icon-download font-20 mr-2"></i>
                                <span class="text-green pl-1">證書下載</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row align-center text-center pt-sm-3 pb-lg-5 mb-sm-3 mb-lg-5">
        <div class="col-12 col-sm mb-4 mb-sm-0" data-aos="fade-up">
            <img src="Styles/images/about/glory/1.png" alt="胡連精密">
        </div>
        <div class="col-12 col-sm-6 col-xl-auto px-sm-0 mb-4 mb-sm-0" data-aos="fade-up">
            <img src="Styles/images/about/glory/2.png" alt="胡連精密">
        </div>
        <div class="col-12 col-sm" data-aos="fade-up">
            <img src="Styles/images/about/glory/3.png" alt="胡連精密">
        </div>
    </div>
    <div class="position-relative pt-5" data-aos="fade-up">
        <div class="jqimgFill d-none d-md-block rounded-5" style="height:350px;">
            <img src="Styles/images/about/glory/bg.jpg" alt="胡連精密">
        </div>
        <div class="absolute-md-center w-100 px-md-5">
            <div class="row align-center px-xl-4 mx-xl-1">
                <div class="text-center col-12 col-md-6 pb-md-2">
                    <img class="pb-lg-5 px-5 px-sm-0" src="Styles/images/about/glory/4.png" alt="胡連精密">
                </div>
                <div class="col-12 col-md-6 pb-md-2">
                    <p class="font-22 font-weight-bold">國際品質及環保認證</p>
                    <p>胡連產品均通過RoHS認證的無汙染材質，我們已通過IATF 16949及ISO14001之認證，依6標準差(DMAIC)體系運作品質系統</p>
                </div>
            </div>
        </div>
    </div>

</div>