﻿<div class="max1200">
    <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-3 pb-lg-4 mb-0" data-aos="fade-up">胡連組織</h2>

    <div class="bg-F5F5F5 rounded-bottom p-3 p-sm-4">
        <div class="px-sm-3 pt-sm-3 pb-sm-4" data-aos="fade-up">
            <picture>
                <source media="(min-width: 576px)" srcset="Styles/images/about/organization/img.png" />
                <source media="(max-width: 575px)" srcset="Styles/images/about/organization/img-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
    </div>
</div>