﻿<div class="max1200">
    <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-3 pb-lg-4 mb-2 mb-sm-3 mb-lg-4" data-aos="fade-up">企業願景</h2>
    <div class="pt-lg-4">
        <p class="font-26 font-weight-bold mb-1" data-aos="fade-up">創新胡連，連接世界 Connecting Worldwide</p>
        <p class="mb-0" data-aos="fade-up">胡連以 「誠信務實、技術創新、客戶滿意、共榮共存、放眼天下」之經營理念及「以人為本、信任支持、權責清楚、賞罰分明、成果分享」之管理原則，持續不斷地推動公司的發展性方針與基礎性方針為依據。</p>
        <p class="mb-0" data-aos="fade-up">同時秉持團隊合作、勇於挑戰與追求卓越的企業精神，在接插件相關事業領域上，全員追求貫徹以「成為全球前十大汽機車連接器供應商」為使命立基，進而實現「創新胡連，連接世界」的願景。</p>
        <img class="my-4 my-lg-5 py-sm-2" src="Styles/images/about/overview/img.png" alt="胡連精密" data-aos="fade-up">
        <p class="mb-0" data-aos="fade-up">胡連以上述之經營理念及管理原則作為指導並持續不斷地推動公司的發展性方針與基礎性方針為依據。</p>
        <p class="mb-0" data-aos="fade-up">同時秉持團隊合作、勇於挑戰與追求卓越的企業精神，在接插件相關事業領域上，全員追求貫徹以「成為全球前十大汽機車連接器供應商」為使命利基，進而實現「創新胡連，連接世界」的願景。</p>
    </div>

</div>