﻿<div class="max1200">
    <h2 class="font-30 font-weight-bold pb-2 pb-sm-3 pb-lg-4 mb-0" data-aos="fade-up">經營團隊</h2>
    <div>
        <table class="table-style-2 table-style-2-2">
            <thead data-aos="fade-up">
                <tr class="text-center">
                    <th style="width:15%;">職稱</th>
                    <th style="width:15%;">姓名</th>
                    <th style="width:15%;">學歷</th>
                    <th style="width:55%;">經歷</th>
                </tr>
            </thead>
            <tbody>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">董事長</td>
                    <td class="text-md-center" data-title="姓名">張子雄</td>
                    <td class="text-md-center" data-title="學歷">高中</td>
                    <td data-title="經歷">
                        <p class="mb-0">胡連電子(越南)董事長、連盈電子(深圳)董事長、胡連電子(南京)執行董事、胡連電子(深圳)董事、東莞胡連電子科技董事、東莞胡連普光貿易執行董事、常益投資董事、得福投資董事、多達胡連太平洋董事</p>
                    </td>
                </tr>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">總經理</td>
                    <td class="text-md-center" data-title="姓名">胡盛清</td>
                    <td class="text-md-center" data-title="學歷">中學</td>
                    <td data-title="經歷">
                        <p class="mb-0">胡連電子(深圳)董事長、東莞胡連電子科技董事長、連盈電子(深圳)董事、福茂發展有限公司董事、多達胡連太平洋董事</p>
                    </td>
                </tr>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">執行長兼台灣區、亞太區、集團營運中心(含資訊處)主管</td>
                    <td class="text-md-center" data-title="姓名">徐鳳財</td>
                    <td class="text-md-center" data-title="學歷">聯合工專機械科</td>
                    <td data-title="經歷">
                        <p class="mb-0">福特六和經理、副總經理兼大陸區執行長、副總經理兼執行長</p>
                    </td>
                </tr>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">副執行長兼大陸區總經理、歐美區、集團研發中心(含企劃處)、越南胡連主管</td>
                    <td class="text-md-center" data-title="姓名">張子傑</td>
                    <td class="text-md-center" data-title="學歷">逢甲大學機械工程系</td>
                    <td data-title="經歷">
                        <p class="mb-0">胡連精密研發部經理、連盈電子(深圳)經理、胡連香港分公司協理、胡連電子(南京)副總經理、大陸區總經理兼集團研發中心副總經理</p>
                    </td>
                </tr>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">台北胡連副總經理</td>
                    <td class="text-md-center" data-title="姓名">方凱平</td>
                    <td class="text-md-center" data-title="學歷">台北科技大學工業工程與管理碩士</td>
                    <td data-title="經歷">
                        <p class="mb-0">胡連精密研究發展處協理、胡連電子(深圳)協理、胡連精密台北銷售事業處副總經理</p>
                    </td>
                </tr>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">胡連電子(東莞)副總經理</td>
                    <td class="text-md-center" data-title="姓名">林明淼</td>
                    <td class="text-md-center" data-title="學歷">新竹高工</td>
                    <td data-title="經歷">
                        <p class="mb-0">中國端子協理、南通大地(江蘇)副總</p>
                    </td>
                </tr>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">胡連電子(南京)副總經理</td>
                    <td class="text-md-center" data-title="姓名">陳克宙</td>
                    <td class="text-md-center" data-title="學歷">台北科技大學工業工程與管理碩士</td>
                    <td data-title="經歷">
                        <p class="mb-0">胡連精密品質管理處代理經理、胡連電子(南京)品保部經理、胡連電子(深圳)協理</p>
                    </td>
                </tr>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">印尼胡連董事長兼總經理、亞太區銷售主管</td>
                    <td class="text-md-center" data-title="姓名">張秉鈞</td>
                    <td class="text-md-center" data-title="學歷">Georgia Institute of Technology Master of Science in Industrial Engineering</td>
                    <td data-title="經歷">
                        <p class="mb-0">瀚宇博德工程師、胡連精密品質管理處副理、胡連精密台北生產事業處生產部副理、集團研發中心副理</p>
                    </td>
                </tr>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">集團研發中心實驗處兼集團營運中心財務處副總經理</td>
                    <td class="text-md-center" data-title="姓名">趙菁山</td>
                    <td class="text-md-center" data-title="學歷">台灣大學工業工程所碩士</td>
                    <td data-title="經歷">
                        <p class="mb-0">胡連精密財務部兼經管部經理、胡連精密總管理處副總經理</p>
                    </td>
                </tr>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">集團研發中心研發處兼技術發展部副總工程師兼協理</td>
                    <td class="text-md-center" data-title="姓名">王志信</td>
                    <td class="text-md-center" data-title="學歷">永春中學</td>
                    <td data-title="經歷">
                        <p class="mb-0">捷運工業模具工程師、順信精密負責人、胡連電子(南京)工程部兼研發部資深工程師兼經理、台北研發中心副總工程師兼協理兼大陸區研發中心協理</p>
                    </td>
                </tr>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">大陸銷售事業處總監</td>
                    <td class="text-md-center" data-title="姓名">游景富</td>
                    <td class="text-md-center" data-title="學歷">宜蘭農工</td>
                    <td data-title="經歷">
                        <p class="mb-0">胡連精密國內部代理副理、大陸銷售事業處經理</p>
                    </td>
                </tr>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">董事長室兼集團營運中心法務暨投資處特助兼協理</td>
                    <td class="text-md-center" data-title="姓名">潘素秋</td>
                    <td class="text-md-center" data-title="學歷">大華大學經營管理研究所碩士</td>
                    <td data-title="經歷">
                        <p class="mb-0">眾智聯合會計師事務所副理、胡連精密董事長特別助理兼財務部經理、胡連精密董事長室主任督導兼董事長特助</p>
                    </td>
                </tr>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">稽核室協理</td>
                    <td class="text-md-center" data-title="姓名">張秋對</td>
                    <td class="text-md-center" data-title="學歷">台灣大學事業經營碩士</td>
                    <td data-title="經歷">
                        <p class="mb-0">胡連精密會計部副理、胡連精密監理室副理、胡連電子(南京)管理部經理、大陸生產事業群與銷售事業群群本部管理協理、胡連電子(東莞)管理單位協理</p>
                    </td>
                </tr>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">總經理室協理</td>
                    <td class="text-md-center" data-title="姓名">余宗吉</td>
                    <td class="text-md-center" data-title="學歷">南台工專</td>
                    <td data-title="經歷">
                        <p class="mb-0">英鎂熱處理副廠長、胡連電子(深圳)協理、胡連精密生產事業處協理</p>
                    </td>
                </tr>
                <tr data-aos="fade-up">
                    <td class="text-md-center" data-title="職稱">集團營運中心人資處協理</td>
                    <td class="text-md-center" data-title="姓名">張仲貽</td>
                    <td class="text-md-center" data-title="學歷">University of Strathclyde Master of Science in international Human Resource Management</td>
                    <td data-title="經歷">
                        <p class="mb-0">Next Animation Studio HR、星創在線人資管理師、集團營運中心人資處專案經理</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>