﻿<div class="max1200">
    <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-3 pb-lg-4 mb-0" data-aos="fade-up">技術發展</h2>
    <div class="position-relative pb-sm-5 mb-4">
        <div class="position-lg-absolute text-center w-100 pt-3 pt-sm-4 px-sm-4 mt-sm-2">
            <p class="font-26 font-weight-bold mb-1" data-aos="fade-up">胡連產品藍圖</p>
            <p data-aos="fade-up">滿足客戶與使用人之需求，使用核心技術，研發高品質且多樣化之產品，並開發新能源電動車系連接器及往高端技術連接器自主開發設計為目標。</p>
        </div>
        <img src="Styles/images/about/technology/1.jpg" alt="胡連精密" data-aos="fade-up">
    </div>
    <div class="pb-sm-5 mb-4">
        <p class="font-26 font-weight-bold text-center mb-2 mb-sm-4" data-aos="fade-up">開發設計-分析技術</p>
        <img src="Styles/images/about/technology/2.png" alt="胡連精密" data-aos="fade-up">
    </div>
    <div>
        <div class="pb-sm-4">
            <p class="font-26 font-weight-bold text-center mb-1" data-aos="fade-up">實驗驗證</p>
            <p class="text-center" data-aos="fade-up">強化驗證能力及開發高效能的檢測設備以達到產品品質要求，是胡連技術發展的目標。</p>
        </div>
        <div class="bg-F5F5F5 rounded-25 pt-4 pb-2 px-3 p-sm-4 p-xl-5">
            <div class="py-sm-2 px-xl-1">
                <div class="row g-1 mb-4 mb-sm-5 pb-sm-2">
                    <div class="col-4 col-sm-2 px-1 mb-3 mb-sm-0" data-aos="fade-up">
                        <img src="Styles/images/about/technology/3-1-1.png" alt="胡連精密">
                    </div>
                    <div class="col-4 col-sm-2 px-1 mb-3 mb-sm-0" data-aos="fade-up">
                        <img src="Styles/images/about/technology/3-1-2.png" alt="胡連精密">
                    </div>
                    <div class="col-4 col-sm-2 px-1 mb-3 mb-sm-0" data-aos="fade-up">
                        <img src="Styles/images/about/technology/3-1-3.png" alt="胡連精密">
                    </div>
                    <div class="col-4 col-sm-2 px-1 mb-3 mb-sm-0" data-aos="fade-up">
                        <img src="Styles/images/about/technology/3-1-4.png" alt="胡連精密">
                    </div>
                    <div class="col-4 col-sm-2 px-1 mb-3 mb-sm-0" data-aos="fade-up">
                        <img src="Styles/images/about/technology/3-1-5.png" alt="胡連精密">
                    </div>
                    <div class="col-4 col-sm-2 px-1 mb-3 mb-sm-0" data-aos="fade-up">
                        <img src="Styles/images/about/technology/3-1-6.png" alt="胡連精密">
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-6 col-sm-3 px-2 mb-3 mb-sm-0" data-aos="fade-up">
                        <div class="box-shadow-style-2 rounded-25">
                            <img class="w-100" src="Styles/images/about/technology/3-2-1.png" alt="胡連精密">
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 px-2 mb-3 mb-sm-0" data-aos="fade-up">
                        <div class="box-shadow-style-2 rounded-25">
                            <img class="w-100" src="Styles/images/about/technology/3-2-2.png" alt="胡連精密">
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 px-2 mb-3 mb-sm-0" data-aos="fade-up">
                        <div class="box-shadow-style-2 rounded-25">
                            <img class="w-100" src="Styles/images/about/technology/3-2-3.png" alt="胡連精密">
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 px-2 mb-3 mb-sm-0" data-aos="fade-up">
                        <div class="box-shadow-style-2 rounded-25">
                            <img class="w-100" src="Styles/images/about/technology/3-2-4.png" alt="胡連精密">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>