﻿<div class="wp">
    <!-- main ======================================================================================= -->
    <main>
        <div class="banner banner-style-2 position-relative text-white font-weight-bold z-1" data-aos="fade-up">
            <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">會員專區</h1>
            <div class="imgFill h-100" data-query="size">
                <picture>
                    <source media="(min-width: 576px)" srcset="styles/images/banner/member.jpg" />
                    <source media="(max-width: 575px)" srcset="styles/images/banner/member-mobile.png" />
                    <img src="#" alt="胡連精密" />
                </picture>
            </div>
        </div>
        <div class="background-center background-cover" style="background-image:url(styles/images/member/bg.jpg)">
            <div class="border-bottom-white blank mb-3">
                <div class="max1200">
                    <div class="breadcrumb-element border-bottom-5-red d-table">
                        <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                            <li class="flex-align-center"><a href="./">首頁</a></li>
                            <li class="flex-align-center">會員專區</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="blank">
                <div class="max450 pb-5 pt-4">
                    <h2 class="font-30 font-weight-bold text-center mb-3 mb-md-4" data-aos="fade-up">會員登入</h2>
                    <form action="@Url.Content("~/member/login")" class="form-style-1 pb-sm-5" method="post">
                        <div class="form-field d-sm-flex border-C8C8C8 rounded-5 bg-white mb-2 mb-md-3" data-aos="fade-up">
                            <label for="account" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 133px;">
                                <span class="font-weight-bold">帳號/客戶編號</span>
                            </label>
                            <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="account" name="account" required>
                        </div>
                        <div class="form-field d-sm-flex border-C8C8C8 rounded-5 bg-white mb-2 mb-md-3" data-aos="fade-up">
                            <label for="password" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 133px;">
                                <span class="font-weight-bold">密碼</span>
                            </label>
                            <input type="password" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="password" name="password" required>
                        </div>
                        <div class="d-sm-flex align-center mb-4 mb-lg-0" data-aos="fade-up">
                            <div class="form-field d-sm-flex border-C8C8C8 bg-white rounded-5 mr-sm-2" style="flex:0 0 240px">
                                <label for="verificationCode" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0" style="flex:0 0 116px;">
                                    <span class="font-weight-bold">驗証碼</span>
                                </label>
                                <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="verificationCode" name="verificationCode" required>
                            </div>
                            <div class="flex-align-center justify-center mt-3 mt-sm-0">
                                <div class="mr-1">
                                    <img id="captcha" style="max-width:80%;" src="@Url.Content("~/member/GetValidateCode")" />
                                </div>
                                <a onclick="reloadCaptcha()" class="text-hover-red">換另一張</a>
                            </div>
                        </div>
                        <div class="d-table mx-auto pt-sm-4 mt-md-2" data-aos="fade-up">
                            <button class="form-button button-blue btn-dec mx-1" type="submit">登入</button>
                            <a target="_blank" href="mailto:https://webmaster@hulane.com.tw" class="d-table font-weight-bold text-hover-red mx-auto mt-2 mt-md-4">忘記密碼</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

@section scripts {
    <script>
        $(function () {
            AOS.init({
                duration: 500,
                offset: 10,
                mirror: true,
            });
        })

        function reloadCaptcha() {
            $('#captcha').attr('src', $('#captcha').attr('src') + "?d=" + Date.now());
        }

    </script>
}
