﻿<div class="wp">
    <main>
        <div class="banner banner-style-2 position-relative text-white font-weight-bold z-1" data-aos="fade-up">
            <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">會員專區</h1>
            <div class="imgFill h-100" data-query="size">
                <picture>
                    <source media="(min-width: 576px)" srcset="/styles/images/banner/member.jpg" />
                    <source media="(max-width: 575px)" srcset="/styles/images/banner/member-mobile.png" />
                    <img src="#" alt="胡連精密" />
                </picture>
            </div>
        </div>
        <div class="border-bottom-C8C8C8 blank mb-3">
            <div class="max1200">
                <div class="breadcrumb-element border-bottom-5-red d-table">
                    <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                        <li class="flex-align-center"><a href="./">首頁</a></li>
                        <li class="flex-align-center">會員專區</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="blank">
            <div class="max1200">
                <h2 class="font-30 font-weight-bold border-bottom-red pb-2 pb-sm-4 mb-4 pt-1" data-aos="fade-up">Customer Company Profile</h2>
                <form action="form-send" class="form-style-1 pb-5">
                    <ul class="noneStyle ul-style-3 border-bottom-C8C8C8 pb-3 mb-4">
                        <li class="mb-1" data-aos="fade-up">
                            <span class="font-weight-bold">Customer Code: </span>
                            <span>00000000</span>
                        </li>
                        <li class="mb-1" data-aos="fade-up">
                            <span class="font-weight-bold">Customer Brief Name: </span>
                            <span>
                                Daimler AG
                            </span>
                        </li>
                        <li class="mb-1" data-aos="fade-up">
                            <span class="font-weight-bold">Sales Representative:</span>
                            <span>Gottlieb Wilhelm Daimler</span>
                        </li>
                    </ul>
                    <div class="border-bottom-C8C8C8 mb-4 pb-3">
                        <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">Customer General Information</p>
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="companyName" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Company Name</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="companyName" name="companyName">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="Country" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Country</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="Country" name="Country">
                                </div>
                                <div class="d-lg-flex pl-3" data-aos="fade-up">
                                    <span class="d-block font-weight-bold mr-4 mb-2 mb-lg-3">Location</span>
                                    <div class="radio-style-2 black-style d-sm-flex align-center flex-wrap">
                                        <div class="flex-align-center mr-3 p-0 mb-2 mb-sm-3">
                                            <input class="mr-3" type="radio" id="location-1" name="location">
                                            <label for="location-1">TWN</label>
                                        </div>
                                        <div class="flex-align-center mr-3 p-0 mb-2 mb-sm-3">
                                            <input class="mr-3" type="radio" id="location-2" name="location">
                                            <label for="location-2">Asia</label>
                                        </div>
                                        <div class="flex-align-center mr-3 p-0 mb-2 mb-sm-3">
                                            <input class="mr-3" type="radio" id="location-3" name="location">
                                            <label for="location-3">Europe</label>
                                        </div>
                                        <div class="flex-align-center mr-3 p-0 mb-2 mb-sm-3">
                                            <input class="mr-3" type="radio" id="location-4" name="location">
                                            <label for="location-4">America</label>
                                        </div>
                                        <div class="flex-align-center mr-3 p-0 mb-2 mb-sm-3">
                                            <input class="mr-3" type="radio" id="location-5" name="location">
                                            <label for="location-5">Oceanic</label>
                                        </div>
                                        <div class="flex-align-center mr-3 p-0 mb-2 mb-sm-3">
                                            <input class="mr-3" type="radio" id="location-6" name="location">
                                            <label for="location-6">Africa</label>
                                        </div>
                                        <div class="flex-align-center mr-3 p-0 mb-2 mb-sm-3">
                                            <input class="mr-3" type="radio" id="location-7" name="location">
                                            <label for="location-7">M.East </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="invoiceAddress" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Invoice/Mail Address</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="invoiceAddress" name="invoiceAddress">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="deliveryAddress" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Delivery Address</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="deliveryAddress" name="deliveryAddress">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="tel" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Telephone No.</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="tel" name="tel">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="fax" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Fax No.</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="fax" name="fax">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="chairman" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Chairman</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="chairman" name="chairman">
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="contactPerson" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Person to Contact</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="contactPerson" name="contactPerson">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="website" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Website</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="website" name="website">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="Email" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Email</span>
                                    </label>
                                    <input type="email" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="Email" name="Email">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="establishment" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Date of Establishment</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="establishment" name="establishment">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="stock" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Capital Stock</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="stock" name="stock">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="license" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Business License</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="license" name="license">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="employees" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Number of Employees</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="employees" name="employees">
                                </div>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="Overseas" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Branch Office / Factory in Overseas</span>
                                    </label>
                                    <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="Overseas" name="Overseas">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom-C8C8C8 mb-4 pb-3">
                        <p class="font-weight-bold font-19 left-blue-dec-circle style-2 border-bottom-dash mb-2 pb-3" data-aos="fade-up">Bank Affiliates</p>
                        <div class="row g-1 text-center border-bottom-C8C8C8 border-bottom-lg-0 mb-3 pb-3 pb-lg-0">
                            <div class="col-12 col-md-6 col-lg-3 px-1 mb-2 mb-lg-0">
                                <label for="bankName-1" class="font-weight-bold mb-1 mb-sm-2" data-aos="fade-up">Bank Name</label>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 py-1 py-sm-2" data-aos="fade-up">
                                    <input type="text" class="border-0 text-center w-100 pt-2 pb-0 py-sm-0 px-3" id="bankName-1" name="bankName-1">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 px-1 mb-2 mb-lg-0">
                                <label for="branch-1" class="font-weight-bold mb-1 mb-sm-2" data-aos="fade-up">Branch</label>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 py-1 py-sm-2" data-aos="fade-up">
                                    <input type="text" class="border-0 text-center w-100 pt-2 pb-0 py-sm-0 px-3" id="branch-1" name="branch-1">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 px-1 mb-2 mb-lg-0">
                                <label for="account-1" class="font-weight-bold mb-1 mb-sm-2" data-aos="fade-up">Account No.</label>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 py-1 py-sm-2" data-aos="fade-up">
                                    <input type="text" class="border-0 text-center w-100 pt-2 pb-0 py-sm-0 px-3" id="account-1" name="account-1">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 px-1 mb-2 mb-lg-0">
                                <label for="remark-1" class="font-weight-bold mb-1 mb-sm-2" data-aos="fade-up">Remark</label>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 py-1 py-sm-2" data-aos="fade-up">
                                    <input type="text" class="border-0 text-center w-100 pt-2 pb-0 py-sm-0 px-3" id="remark-1" name="remark-1">
                                </div>
                            </div>
                        </div>
                        <div class="row g-1 text-center border-bottom-C8C8C8 border-bottom-lg-0 mb-3 pb-3 pb-lg-0">
                            <div class="col-12 col-md-6 col-lg-3 px-1 mb-2 mb-lg-0">
                                <label for="bankName-2" class="font-weight-bold d-block d-lg-none mb-2" data-aos="fade-up">Bank Name</label>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 py-1 py-sm-2" data-aos="fade-up">
                                    <input type="text" class="border-0 text-center w-100 pt-2 pb-0 py-sm-0 px-3" id="bankName-2" name="bankName-2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 px-1 mb-2 mb-lg-0">
                                <label for="branch-2" class="font-weight-bold d-block d-lg-none mb-2" data-aos="fade-up">Branch</label>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 py-1 py-sm-2" data-aos="fade-up">
                                    <input type="text" class="border-0 text-center w-100 pt-2 pb-0 py-sm-0 px-3" id="branch-2" name="branch-2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 px-1 mb-2 mb-lg-0">
                                <label for="account-2" class="font-weight-bold d-block d-lg-none mb-2" data-aos="fade-up">Account No.</label>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 py-1 py-sm-2" data-aos="fade-up">
                                    <input type="text" class="border-0 text-center w-100 pt-2 pb-0 py-sm-0 px-3" id="account-2" name="account-2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 px-1 mb-2 mb-lg-0">
                                <label for="remark-2" class="font-weight-bold d-block d-lg-none mb-2" data-aos="fade-up">Remark</label>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 py-1 py-sm-2" data-aos="fade-up">
                                    <input type="text" class="border-0 text-center w-100 pt-2 pb-0 py-sm-0 px-3" id="remark-2" name="remark-2">
                                </div>
                            </div>
                        </div>
                        <div class="row g-1 text-center mb-lg-3 pb-md-3 pb-lg-0">
                            <div class="col-12 col-md-6 col-lg-3 px-1 mb-2 mb-lg-0">
                                <label for="bankName-3" class="font-weight-bold d-block d-lg-none mb-2" data-aos="fade-up">Bank Name</label>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 py-1 py-sm-2" data-aos="fade-up">
                                    <input type="text" class="border-0 text-center w-100 pt-2 pb-0 py-sm-0 px-3" id="bankName-3" name="bankName-3">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 px-1 mb-2 mb-lg-0">
                                <label for="branch-3" class="font-weight-bold d-block d-lg-none mb-2" data-aos="fade-up">Branch</label>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 py-1 py-sm-2" data-aos="fade-up">
                                    <input type="text" class="border-0 text-center w-100 pt-2 pb-0 py-sm-0 px-3" id="branch-3" name="branch-3">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 px-1 mb-2 mb-lg-0">
                                <label for="account-3" class="font-weight-bold d-block d-lg-none mb-2" data-aos="fade-up">Account No.</label>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 py-1 py-sm-2" data-aos="fade-up">
                                    <input type="text" class="border-0 text-center w-100 pt-2 pb-0 py-sm-0 px-3" id="account-3" name="account-3">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 px-1 mb-2 mb-lg-0">
                                <label for="remark-3" class="font-weight-bold d-block d-lg-none mb-2" data-aos="fade-up">Remark</label>
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 py-1 py-sm-2" data-aos="fade-up">
                                    <input type="text" class="border-0 text-center w-100 pt-2 pb-0 py-sm-0 px-3" id="remark-3" name="remark-3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom-C8C8C8 mb-4 pb-3">
                        <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2" data-aos="fade-up">Business Type</p>
                        <div class="checkbox-style-1 d-sm-flex align-center flex-wrap">
                            <div class="mr-3 pr-1 mb-2 mb-sm-3" data-aos="fade-up">
                                <input type="radio" id="businessType-1" name="businessType">
                                <label for="businessType-1">Automobile</label>
                            </div>
                            <div class="mr-3 pr-1 mb-2 mb-sm-3" data-aos="fade-up">
                                <input type="radio" id="businessType-2" name="businessType">
                                <label for="businessType-2">Motorcycle</label>
                            </div>
                            <div class="mr-3 pr-1 mb-2 mb-sm-3" data-aos="fade-up">
                                <input type="radio" id="businessType-3" name="businessType">
                                <label for="businessType-3">Electronics</label>
                            </div>
                            <div class="mr-3 pr-1 mb-2 mb-sm-3" data-aos="fade-up">
                                <input type="radio" id="businessType-4" name="businessType">
                                <label for="businessType-4">Appliance</label>
                            </div>
                            <div class="d-flex align-center mb-2 mb-sm-3" data-aos="fade-up">
                                <div class="mr-3">
                                    <input type="radio" id="otherbusinessType" name="businessType">
                                    <label for="otherbusinessType">Others</label>
                                </div>
                                <div style="flex:0 0 200px;">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="otherbusinessTypeText" name="otherbusinessTypeText">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom-C8C8C8 mb-4 pb-3">
                        <div class="max550">
                            <p class="font-weight-bold font-19 left-blue-dec-circle style-2 border-bottom-dash mb-2 mb-md-3 pb-3" data-aos="fade-up">Top – 3 Business Contents or Products</p>
                            <div class="row align-center w-100 mx-0 mb-1" data-aos="fade-up">
                                <div class="font-weight-bold opacity0 pl-0 pr-2">0.</div>
                                <div class="col font-weight-bold text-center px-1 px-sm-2">Item</div>
                                <div class="col-3 font-weight-bold text-center px-1 px-sm-2">%</div>
                            </div>
                            <div class="row align-center w-100 mx-0 mb-3" data-aos="fade-up">
                                <div class="font-weight-bold pl-0 pr-2">1.</div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="products-item-1" name="products-item-1">
                                    </div>
                                </div>
                                <div class="col-3 px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="products-precent-1" name="products-precent-1">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-center w-100 mx-0 mb-3" data-aos="fade-up">
                                <div class="font-weight-bold pl-0 pr-2">2.</div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="products-item-2" name="products-item-2">
                                    </div>
                                </div>
                                <div class="col-3 px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="products-precent-2" name="products-precent-2">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-center w-100 mx-0 mb-3" data-aos="fade-up">
                                <div class="font-weight-bold pl-0 pr-2">3.</div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="products-item-3" name="products-item-3">
                                    </div>
                                </div>
                                <div class="col-3 px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="products-precent-3" name="products-precent-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom-C8C8C8 mb-4 pb-3">
                        <div class="max550">
                            <p class="font-weight-bold font-19 left-blue-dec-circle style-2 border-bottom-dash mb-2 mb-md-3 pb-3" data-aos="fade-up">Top – 3 Customers </p>
                            <div class="row align-center w-100 mx-0 mb-1" data-aos="fade-up">
                                <div class="font-weight-bold opacity0 pl-0 pr-2">0.</div>
                                <div class="col font-weight-bold text-center px-1 px-sm-2">Customer Name</div>
                                <div class="col-3 font-weight-bold text-center px-1 px-sm-2">%</div>
                            </div>
                            <div class="row align-center w-100 mx-0 mb-3" data-aos="fade-up">
                                <div class="font-weight-bold pl-0 pr-2">1.</div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="customer-item-1" name="customer-item-1">
                                    </div>
                                </div>
                                <div class="col-3 px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="customer-precent-1" name="customer-precent-1">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-center w-100 mx-0 mb-3" data-aos="fade-up">
                                <div class="font-weight-bold pl-0 pr-2">2.</div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="customer-item-2" name="customer-item-2">
                                    </div>
                                </div>
                                <div class="col-3 px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="customer-precent-2" name="customer-precent-2">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-center w-100 mx-0 mb-3" data-aos="fade-up">
                                <div class="font-weight-bold pl-0 pr-2">3.</div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="customer-item-3" name="customer-item-3">
                                    </div>
                                </div>
                                <div class="col-3 px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="customer-precent-3" name="customer-precent-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom-C8C8C8 mb-4 pb-3">
                        <div class="max550">
                            <p class="font-weight-bold font-19 left-blue-dec-circle style-2 border-bottom-dash mb-2 mb-md-3 pb-3" data-aos="fade-up">Top – 3 Venders</p>
                            <div class="row align-center w-100 mx-0 mb-1" data-aos="fade-up">
                                <div class="font-weight-bold opacity0 pl-0 pr-2">0.</div>
                                <div class="col font-weight-bold text-center px-1 px-sm-2">Vender Name</div>
                                <div class="col-3 font-weight-bold text-center px-1 px-sm-2">%</div>
                            </div>
                            <div class="row align-center w-100 mx-0 mb-3" data-aos="fade-up">
                                <div class="font-weight-bold pl-0 pr-2">1.</div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="vender-item-1" name="vender-item-1">
                                    </div>
                                </div>
                                <div class="col-3 px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="vender-precent-1" name="vender-precent-1">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-center w-100 mx-0 mb-3" data-aos="fade-up">
                                <div class="font-weight-bold pl-0 pr-2">2.</div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="vender-item-2" name="vender-item-2">
                                    </div>
                                </div>
                                <div class="col-3 px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="vender-precent-2" name="vender-precent-2">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-center w-100 mx-0 mb-3" data-aos="fade-up">
                                <div class="font-weight-bold pl-0 pr-2">3.</div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="vender-item-3" name="vender-item-3">
                                    </div>
                                </div>
                                <div class="col-3 px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="vender-precent-3" name="vender-precent-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom-C8C8C8 mb-4 pb-3">
                        <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">Major Equipment List</p>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="flex-align-center mb-3" data-aos="fade-up">
                                    <span class="font-weight-bold pr-3">1.</span>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18 w-100">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="list-1" name="list-1">
                                    </div>
                                </div>
                                <div class="flex-align-center mb-3" data-aos="fade-up">
                                    <span class="font-weight-bold pr-3">2.</span>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18 w-100">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="list-2" name="list-2">
                                    </div>
                                </div>
                                <div class="flex-align-center mb-3" data-aos="fade-up">
                                    <span class="font-weight-bold pr-3">3.</span>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18 w-100">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="list-3" name="list-3">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="flex-align-center mb-3" data-aos="fade-up">
                                    <span class="font-weight-bold pr-3">4.</span>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18 w-100">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="list-4" name="list-4">
                                    </div>
                                </div>
                                <div class="flex-align-center mb-3" data-aos="fade-up">
                                    <span class="font-weight-bold pr-3">5.</span>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18 w-100">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="list-5" name="list-5">
                                    </div>
                                </div>
                                <div class="flex-align-center mb-3" data-aos="fade-up">
                                    <span class="font-weight-bold pr-3">6.</span>
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18 w-100">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="list-6" name="list-6">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="border-bottom-C8C8C8 mb-4 pb-3">
                        <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">Floor Area</p>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="headquarter" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Headquarter</span>
                                    </label>
                                    <div class="d-flex flex-grow">
                                        <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="headquarter" name="headquarter">
                                        <span class="pr-3 pt-2 pt-sm-0">SQ.M.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 mb-2 mb-md-3" data-aos="fade-up">
                                    <label for="branch" class="d-block right-C8C8C8-sm-dec-line border-bottom-C8C8C8 border-bottom-sm-0 pb-2 pb-sm-0 pr-3" style="flex:0 0 210px;">
                                        <span class="font-weight-bold">Branch</span>
                                    </label>
                                    <div class="d-flex flex-grow">
                                        <input type="text" class="border-0 w-100 pt-2 pb-0 py-sm-0 px-3" id="branch" name="branch">
                                        <span class="pr-3 pt-2 pt-sm-0">SQ.M.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom-C8C8C8 mb-4 pb-3">
                        <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">Product Model / Brand of your Customers</p>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="checkbox-style-1 d-block d-sm-flex flex-align-center mb-3" data-aos="fade-up">
                                    <div class="mb-2 mb-sm-0 mr-sm-3 pr-sm-1" style="flex:0 0 185px;">
                                        <input type="radio" id="Customers-1" name="Customers-1">
                                        <label for="Customers-1">Mitsubishi, Model:</label>
                                    </div>
                                    <div class="form-field border-C8C8C8 bg-F4F4F4 flex-grow rounded-5 lh18">
                                        <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="CustomersText-1" name="CustomersText-1">
                                    </div>
                                </div>
                                <div class="checkbox-style-1 d-block d-sm-flex flex-align-center mb-3" data-aos="fade-up">
                                    <div class="mb-2 mb-sm-0 mr-sm-3 pr-sm-1" style="flex:0 0 185px;">
                                        <input type="radio" id="Customers-2" name="Customers-2">
                                        <label for="Customers-2">Nissan, Model:</label>
                                    </div>
                                    <div class="form-field border-C8C8C8 bg-F4F4F4 flex-grow rounded-5 lh18">
                                        <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="CustomersText-2" name="CustomersText-2">
                                    </div>
                                </div>
                                <div class="checkbox-style-1 d-block d-sm-flex flex-align-center mb-3" data-aos="fade-up">
                                    <div class="mb-2 mb-sm-0 mr-sm-3 pr-sm-1" style="flex:0 0 185px;">
                                        <input type="radio" id="Customers-3" name="Customers-3">
                                        <label for="Customers-3">Honda, Model:</label>
                                    </div>
                                    <div class="form-field border-C8C8C8 bg-F4F4F4 flex-grow rounded-5 lh18">
                                        <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="CustomersText-3" name="CustomersText-3">
                                    </div>
                                </div>
                                <div class="checkbox-style-1 d-block d-sm-flex flex-align-center mb-3" data-aos="fade-up">
                                    <div class="mb-2 mb-sm-0 mr-sm-3 pr-sm-1" style="flex:0 0 185px;">
                                        <input type="radio" id="Customers-4" name="Customers-4">
                                        <label for="Customers-4">Suzuki, Model:</label>
                                    </div>
                                    <div class="form-field border-C8C8C8 bg-F4F4F4 flex-grow rounded-5 lh18">
                                        <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="CustomersText-4" name="CustomersText-4">
                                    </div>
                                </div>
                                <div class="checkbox-style-1 d-block d-sm-flex flex-align-center mb-3" data-aos="fade-up">
                                    <div class="mb-2 mb-sm-0 mr-sm-3 pr-sm-1" style="flex:0 0 185px;">
                                        <input type="radio" id="Customers-5" name="Customers-5">
                                        <label for="Customers-5">Ford, Model:</label>
                                    </div>
                                    <div class="form-field border-C8C8C8 bg-F4F4F4 flex-grow rounded-5 lh18">
                                        <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="CustomersText-5" name="CustomersText-5">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="checkbox-style-1 d-block d-sm-flex flex-align-center mb-3" data-aos="fade-up">
                                    <div class="mb-2 mb-sm-0 mr-sm-3 pr-sm-1" style="flex:0 0 185px;">
                                        <input type="radio" id="Customers-6" name="Customers-6">
                                        <label for="Customers-6">Isuzu, Model:</label>
                                    </div>
                                    <div class="form-field border-C8C8C8 bg-F4F4F4 flex-grow rounded-5 lh18">
                                        <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="CustomersText-6" name="CustomersText-6">
                                    </div>
                                </div>
                                <div class="checkbox-style-1 d-block d-sm-flex flex-align-center mb-3" data-aos="fade-up">
                                    <div class="mb-2 mb-sm-0 mr-sm-3 pr-sm-1" style="flex:0 0 185px;">
                                        <input type="radio" id="Customers-7" name="Customers-7">
                                        <label for="Customers-7">Yamaha, Model:</label>
                                    </div>
                                    <div class="form-field border-C8C8C8 bg-F4F4F4 flex-grow rounded-5 lh18">
                                        <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="CustomersText-7" name="CustomersText-7">
                                    </div>
                                </div>
                                <div class="checkbox-style-1 d-block d-sm-flex flex-align-center mb-3" data-aos="fade-up">
                                    <div class="mb-2 mb-sm-0 mr-sm-3 pr-sm-1" style="flex:0 0 185px;">
                                        <input type="radio" id="Customers-8" name="Customers-8">
                                        <label for="Customers-8">Kawasaki, Model:</label>
                                    </div>
                                    <div class="form-field border-C8C8C8 bg-F4F4F4 flex-grow rounded-5 lh18">
                                        <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="CustomersText-8" name="CustomersText-8">
                                    </div>
                                </div>
                                <div class="checkbox-style-1 d-block d-sm-flex flex-align-center mb-3" data-aos="fade-up">
                                    <div class="mb-2 mb-sm-0 mr-sm-3 pr-sm-1" style="flex:0 0 185px;">
                                        <input type="radio" id="Customers-9" name="Customers-9">
                                        <label for="Customers-9">Others:</label>
                                    </div>
                                    <div class="form-field border-C8C8C8 bg-F4F4F4 flex-grow rounded-5 lh18">
                                        <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="CustomersText-9" name="CustomersText-9">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom-C8C8C8 mb-4 pb-3">
                        <div class="clearfix">
                            <div class="float-md-left mr-md-5 pr-md-4">
                                <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">Company Type I </p>
                                <div class="checkbox-style-1">
                                    <div class="mb-4 pb-1" data-aos="fade-up">
                                        <input type="radio" id="TypeI-1" name="TypeI">
                                        <label for="TypeI-1">Manufacturing Company</label>
                                    </div>
                                    <div class="mb-4 pb-1" data-aos="fade-up">
                                        <input type="radio" id="TypeI-2" name="TypeI">
                                        <label for="TypeI-2">Trading Company</label>
                                    </div>
                                    <div class="mb-4 pb-1" data-aos="fade-up">
                                        <input type="radio" id="TypeI-3" name="TypeI">
                                        <label for="TypeI-3">Distributing Company</label>
                                    </div>
                                    <div class="mb-4 pb-1" data-aos="fade-up">
                                        <input type="radio" id="TypeI-4" name="TypeI">
                                        <label for="TypeI-4">Whole Sale Company</label>
                                    </div>
                                    <div class="mb-4 pb-1" data-aos="fade-up">
                                        <input type="radio" id="TypeI-5" name="TypeI">
                                        <label for="TypeI-5">Retailing Store</label>
                                    </div>
                                </div>
                            </div>
                            <div class="float-md-left pl-md-3">
                                <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2 mb-md-3" data-aos="fade-up">Company Type II</p>
                                <div class="checkbox-style-1">
                                    <div class="mb-4 pb-1" data-aos="fade-up">
                                        <input type="radio" id="TypeII-1" name="TypeII">
                                        <label for="TypeII-1">Government Owned</label>
                                    </div>
                                    <div class="mb-4 pb-1" data-aos="fade-up">
                                        <input type="radio" id="TypeII-2" name="TypeII">
                                        <label for="TypeII-2">Listed in Stock Market</label>
                                    </div>
                                    <div class="mb-4 pb-1" data-aos="fade-up">
                                        <input type="radio" id="TypeII-3" name="TypeII">
                                        <label for="TypeII-3">Publicly Issued Company</label>
                                    </div>
                                    <div class="mb-4 pb-1" data-aos="fade-up">
                                        <input type="radio" id="TypeII-4" name="TypeII">
                                        <label for="TypeII-4">Unissued Company</label>
                                    </div>
                                    <div class="mb-4 pb-1" data-aos="fade-up">
                                        <input type="radio" id="TypeII-5" name="TypeII">
                                        <label for="TypeII-5">Private Company</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom-C8C8C8 mb-4 pb-3">
                        <div class="max780">
                            <p class="font-weight-bold font-19 left-blue-dec-circle style-2 border-bottom-dash mb-2 mb-md-3 pb-3" data-aos="fade-up">Cooperation / Joint Venture with (Ex: Sumitomo, Yazaki, Furukawa, etc.)</p>
                            <div class="row align-center w-100 mx-0 mb-1" data-aos="fade-up">
                                <div class="font-weight-bold opacity0 pl-0 pr-2">0.</div>
                                <div class="col font-weight-bold text-center px-1 px-sm-2">Company Name</div>
                                <div class="col font-weight-bold text-center px-1 px-sm-2">Capital Share %</div>
                            </div>
                            <div class="row align-center w-100 mx-0 mb-3" data-aos="fade-up">
                                <div class="font-weight-bold pl-0 pr-2">1.</div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="Cooperation-item-1" name="Cooperation-item-1">
                                    </div>
                                </div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="Cooperation-precent-1" name="Cooperation-precent-1">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-center w-100 mx-0 mb-3" data-aos="fade-up">
                                <div class="font-weight-bold pl-0 pr-2">2.</div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="Cooperation-item-2" name="Cooperation-item-2">
                                    </div>
                                </div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="Cooperation-precent-2" name="Cooperation-precent-2">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-center w-100 mx-0 mb-3" data-aos="fade-up">
                                <div class="font-weight-bold pl-0 pr-2">3.</div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="Cooperation-item-3" name="Cooperation-item-3">
                                    </div>
                                </div>
                                <div class="col px-1 px-sm-2">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 text-center w-100 lh18 py-0 px-3" id="Cooperation-precent-3" name="Cooperation-precent-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom-C8C8C8 mb-4 pb-3">
                        <p class="font-weight-bold font-19 left-blue-dec-circle style-2 mb-2" data-aos="fade-up">Which methods to know our company</p>
                        <div class="checkbox-style-1 d-sm-flex align-center flex-wrap">
                            <div class="mr-3 pr-1 mb-2 mb-sm-3" data-aos="fade-up">
                                <input type="radio" id="methodsType-1" name="methodsType">
                                <label for="methodsType-1">Search Engine</label>
                            </div>
                            <div class="mr-3 pr-1 mb-2 mb-sm-3" data-aos="fade-up">
                                <input type="radio" id="methodsType-2" name="methodsType">
                                <label for="methodsType-2">Industrial recommendation</label>
                            </div>
                            <div class="mr-3 pr-1 mb-2 mb-sm-3" data-aos="fade-up">
                                <input type="radio" id="methodsType-3" name="methodsType">
                                <label for="methodsType-3">Exhibition</label>
                            </div>
                            <div class="mr-3 pr-1 mb-2 mb-sm-3" data-aos="fade-up">
                                <input type="radio" id="methodsType-4" name="methodsType">
                                <label for="methodsType-4">AD-WEB Platform</label>
                            </div>
                            <div class="d-sm-flex align-center mb-2 mb-sm-3" data-aos="fade-up">
                                <div class="mr-3">
                                    <input type="radio" id="othermethodsType" name="methodsType">
                                    <label for="othermethodsType">Others Sale Comments</label>
                                </div>
                                <div class="mt-2 mt-sm-0" style="flex:0 0 200px;">
                                    <div class="form-field d-sm-flex border-C8C8C8 bg-F4F4F4 rounded-5 lh18">
                                        <input type="text" class="border-0 w-100 lh18 py-0 px-3" id="othermethodsTypeText" name="othermethodsTypeText">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-table mx-auto pt-lg-4 pb-lg-5" data-aos="fade-up">
                        <button class="form-button button-black btn-dec mx-2" type="reset">重填表單</button>
                        <button class="form-button button-blue btn-dec mx-2" type="submit">送出表單</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

@section scripts {
    <script>
        $(function () {
            AOS.init({
                duration: 500,
                offset: 10,
                mirror: true,
            });
        })

    </script>
}
