﻿@using Web.DB.Models
@using Web.Service;
@{
    abouts data = ViewBag.data;
}

<main>
    <div class="banner banner-style-1 position-relative text-white font-weight-bold z-3" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["產品介紹"]</h1>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/product.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/product-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>

    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1200">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["產品介紹"]</li>
                    <li class="flex-align-center">@ViewBag.ResLang["依規格搜尋"]</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="blank pb-md-3">
        <div class="max1400 pb-5">
            <div class="pt-lg-3">
                <div class="font-20 d-block d-sm-flex mb-md-4 mt-1 pb-3" data-aos="fade-up">
                    <div class="font-weight-500">
                        @ViewBag.productTypeKeyWord：@ViewBag.typeName / @ViewBag.productTypeTotalSearch<span class="d-inline-block font-22 bg-gradient-red text-white rounded-25 les1 box-shadow-style-4 px-3 mx-3">@ViewBag.typeDataCount</span>@ViewBag.productTypeFit
                    </div>
                </div>

                <div class="table-style-3 long-table scrollbarX text-center lh14" data-aos="fade-up">
                    <div class="table position-relative d-flex mb-0">
                        <div class="left-table z-1">
                            <div class="thead bg-blue4C87A7">
                                <div class="tr d-flex mx-0">
                                    <div class="th flex-center px-0 flex-140">@ViewBag.productTypePhoto</div>
                                    <div class="th flex-center px-0 flex-grow">@ViewBag.productTypeNo</div>
                                </div>
                            </div>
                            <div class="tbody">
                                @if (ViewBag.typeList != null)
                                {
                                    foreach (var item in ViewBag.typeList)
                                    {
                                        <div class="tr row mx-0">
                                            <div class="td px-0 flex-140">
                                                <a href="@ViewBag.webURL/@ViewBag.Lang/product/index/@item.id" target="_blank" class="flex-center flex-grow h-100" style="flex:0 0 140px;" data-target="@item.id">
                                                    <img src="@item.productImg" alt="胡連精密">
                                                </a>
                                            </div>
                                            <div class="td px-0 flex-grow">
                                                <a href="@ViewBag.webURL/@ViewBag.Lang/product/index/@item.id" target="_blank" class="flex-center h-100" data-product="@item.id" data-target="@item.id">
                                                    <span class="d-block">
                                                        <span class="d-block">@item.new_name</span>
                                                        <span class="d-block text-C8C8C8">@item.new_name</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="right-table">
                            <div class="scrollbarX">
                                <div style="width:1050px;">
                                    <div class="inner-table mb-0">
                                        <div class="thead bg-blue-gradient-3">
                                            <div class="tr d-flex">
                                                <div class="th flex-center px-2">@ViewBag.productTypeCategory</div>
                                                @*<div class="th flex-center px-2">系列</div>*@
                                                <div class="th flex-center px-2">@ViewBag.typeMaterial</div>
                                                <div class="th flex-center px-2">@ViewBag.typeaMleFemale</div>
                                                @*<div class="th flex-center px-2 flex-160"><span><span class="d-block d-lg-inline">防水/</span><span class="d-block d-lg-inline">非防水</span></span></div>*@
                                                @*<div class="th flex-center px-2">孔數</div>
                                                    <div class="th flex-center px-2 flex-140">適用溫度</div>*@
                                                <div class="th flex-center px-2 flex-300">
                                                    <div class="flex-grow">
                                                        <div class="mb-3">@ViewBag.typeSizeType</div>
                                                        <div class="row">
                                                            <div class="col-4">L</div>
                                                            <div class="col-4">W</div>
                                                            <div class="col-4">H</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tbody">
                                            @if (ViewBag.typeList != null)
                                            {
                                                foreach (var item in ViewBag.typeList)
                                                {
                                                    <a href="@ViewBag.webURL/@ViewBag.Lang/product/index/@item.id" class="tr d-flex" data-product="@item.id" data-target="@item.id">
                                                        <span class="td flex-center px-2">@item.item_class</span>
                                                        <span class="td flex-center px-2 flex-160">@item.reMaterial</span>
                                                        @*<span class="td flex-center px-2">@item.series</span>*@
                                                        <span class="td flex-center px-2">@item.reSex</span>
                                                        @*<span class="td flex-center px-2 flex-160">@item.reSealable</span>*@
                                                        @*<span class="td flex-center px-2 text-C8C8C8">@item.positions</span>
                                                            <span class="td flex-center px-2 text-C8C8C8 flex-140">@item.temper_operating</span>*@
                                                        <span class="td flex-center px-2 flex-100">@item.length</span>
                                                        <span class="td flex-center px-2 flex-100">@item.width</span>
                                                        <span class="td flex-center px-2 flex-100">@item.height</span>
                                                    </a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="extra-table position-absolute">
                            @if (ViewBag.typeList != null)
                            {
                                foreach (var item in ViewBag.typeList)
                                {
                                    <div class="flex-center bg-purple border-C8C8C8 rounded-right py-2 px-2" data-product="@item.id" data-target="@item.id">
                                        <div class="mx-1">
                                            <a href="javascript:void(0)" class="flex-align-center bg-white text-hover-blue1B79C4 rounded-25 mb-2 addToInquery" data-product="index" data-id="@item.id">
                                                <i class="icon-pen font-18 text-blue1B79C4 mr-1"></i>
                                                <span>規格比較</span>
                                            </a>
                                            <a href="~/contact/index" class="flex-align-center bg-white text-hover-blue1B79C4 rounded-25">
                                                <i class="icon-mail font-14 text-blue1B79C4 mr-2"></i>
                                                <span>產品詢問</span>
                                            </a>
                                        </div>
                                    </div>

                                }
                            }

                        </div>

                    </div>
                </div>

                <div class="mt-4 mt-sm-5">
                    <div class="pages d-table text-center m-auto roboto pb-sm-3 lol" data-lol="fadeInUp">
                        <ul class="pages-element noneStyle flex-align-center" data-aos="fade-up">
                            @Html.Raw(ViewBag.pageView)
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>


@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });

                $(document).ready(function () {

             $("body").delegate(".addToInquery", "click", function (){

                  let needVal = new FormData();
                  needVal.append('id' , $(this).data('id'));


                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/Ajax/addToInquery")',
                    data: needVal,
                    // dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (json) {

                         swal({
                            title: '@ViewBag.ResLang["已加入諮詢單"].ToString()',
                            text: "",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '@ViewBag.ResLang["確定"].ToString()',
                        });

                    },
                });

            });

        });
    </script>

}

