﻿<div id="app" class="wp" data-products-link-active="0">
    <products-main>
        <div class="banner banner-style-2 position-relative text-white font-weight-bold z-1" data-aos="fade-up">
            <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["產品介紹"]</h1>
            <h2 class="hidden">依規格搜尋</h2>
            <div class="imgFill h-100" data-query="size">
                <picture>
                    <source media="(min-width: 576px)" srcset="~/styles/images/banner/product.jpg" />
                    <source media="(max-width: 575px)" srcset="~/styles/images/banner/product-mobile.png" />
                    <img src="#" alt="胡連精密" />
                </picture>
            </div>
        </div>
        <div class="blank pb-md-3">
            <div class="max1400 pb-5">
                <div class="breadcrumb-element">
                    <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                        <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                        <li class="flex-align-center">@ViewBag.ResLang["產品介紹"]</li>
                        <li class="flex-align-center">@ViewBag.ResLang["依規格搜尋"]</li>
                    </ol>
                </div>
                <search-tab v-bind:tabindex="tabIndex" v-on:tab-index-change="tabIndexChange"></search-tab>
                <search-by-spec v-if="tabIndex==0" :homesearchitems="homeSearchItems">
                </search-by-spec>
                <search-by-apply v-if="tabIndex==1" ref="searchbyapply" :homesearchitems="homeSearchItems">
                </search-by-apply>
                <search-by-keyword v-if="tabIndex==2" ref="searchbykeyword" v-bind:isauth="isauth" :keyword="keyword" :homesearchitems="homeSearchItems">
                </search-by-keyword>
                <search-by-last v-if="tabIndex==3" ref="searchbylast">
                </search-by-last>
            </div>
        </div>
    </products-main>

    <input type="hidden" id="homeSearch" value="@ViewBag.HomeSearch" />
    <input type="hidden" id="homeSearchKeyword" value="@ViewBag.HomeSearchKeyword" />
</div>

@section scripts {
    <script>
        function isAuthed() {
            return "@ViewBag.isauth" === "True";
        }

        function getTabIndex() {
            return @ViewBag.TabIndex;
        }
       
    </script>

    @Scripts.Render("~/ViewsApp/bundle/products.js")

<script>
        $(document).ready(function () {

             $("body").delegate(".addToInquery", "click", function (){

                  let needVal = new FormData();
                  needVal.append('id' , $(this).data('id'));


                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/Ajax/addToInquery")',
                    data: needVal,
                    // dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (json) {

                         swal({
                            title: '@ViewBag.ResLang["已加入諮詢單"].ToString()',
                            text: "",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '@ViewBag.ResLang["確定"].ToString()',
                        });

                    },
                });

            });

        });

</script>

}
