﻿<template>
    <div class="col-12 col-xl-6 px-0">
        <div class="index-about background-cover pt-5 pb-5" :style="{ backgroundImage: 'url(' + aboutbg + ')'} " data-aos="fade-up">
            <div class="blank pr-xl-0 pt-sm-4 mt-sm-2 mb-1">
                <div class="d-xl-table ml-auto">
                    <div class="max820">
                        <p class="font-40 font-weight-bold les06 lh14 mb-0 mb-xxl-4 pb-3" data-aos="fade-up">AUTO WORLD WE CONNECT</p>
                        <p class="font-20 opacity05 font-weight-bold mb-0 mb-sm-1" data-aos="fade-up">ABOUT HU LANE</p>
                        <h2 class="font-30 mb-0 mb-xxl-4" data-aos="fade-up">關於胡連</h2>
                        <div class="row pr-xl-4 mx-0 pt-3">
                            <div class="col-12 col-md-6 col-xl-12 col-xxxl-6 scrollbarY pl-0 pr-0 pr-md-4 pr-xl-0 pr-xxl-4">
                                <div class="pr-1">
                                    <ul class="noneStyle ul-style-1">
                                        <li data-aos="fade-up">全球專業汽車業連接器和端子供應商</li>
                                        <li data-aos="fade-up">醫療端子、家電用品連接器和端子、板端連接器</li>
                                        <li data-aos="fade-up">塑膠連接器、金屬端子、車用橡膠類產品自主開發與製造</li>
                                        <li data-aos="fade-up"> IATF 16949 國際認證</li>
                                        <li data-aos="fade-up"> ISO 14001 國際環保管理認證</li>
                                    </ul>
                                    <p data-aos="fade-up">胡連公司成立於 1977 年，一直致力於汽、機車端子等連接器之開發，均以誠信的態度及務實的作法來面對客戶，提供優良的產品與服務滿足顧客的需求，為顧客爭取最大的利益。</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-12 col-xxxl-6 pl-0 pr-0 pr-xl-4" data-aos="fade-up">
                                <button type="button" class="position-relative shadow rounded-25 d-table mx-auto" data-toggle="modal" data-target="#videoModal">
                                    <img :src="videopreview | appPathFormat" alt="胡連精密">
                                    <span class="d-block absolute-center border-white-5 rounded-circle">
                                        <i class="d-block icon-play font-24 text-white lh14 py-3 px-4"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more position-absolute">
                <a :href="abouturl | appPathFormat" class="d-block text-white py-2 py-sm-3 py-lg-4 px-3 px-lg-5" data-aos="fade-up">
                    <span class="flex-center px-4 mx-lg-3">
                        <span class="mr-3 mr-sm-4 pr-sm-1">關於胡連 │ 深入了解</span>
                        <span class="border-white rounded-circle flex-center" style="width:50px;height:50px;">
                            <i class="icon-right-big font-20"></i>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data: function () {
            return {
                aboutbg: this.$options.filters.appPathFormat("/Styles/images/index/about-bg.jpg"),
                videopreview: "/Styles/images/index/about-video-preview.png",
                abouturl : "/about"
            }

        }
    }
</script>

<style>
    .index-about {
        -webkit-box-shadow: 0px 13px 25px -4px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 13px 25px -4px rgba(0, 0, 0, 0.5);
    }

    .index-about .scrollbarY {
        height: 380px;
    }

    .index-about button {
        -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .index-about .more {
        bottom: -25px;
        right: 0;
        background: #37504F;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .index-about .more:hover {
        background: #425F5E;
    }

    @media (max-width: 1600px) {
        .index-about {
            padding-bottom: 120px !important;
        }

        .index-about .scrollbarY {
            height: auto;
            padding-bottom: 30px;
        }
    }

    @media (max-width: 1199px) {
        .index-about .more {
            bottom: 0;
        }
    }

    @media (max-width: 575px) {
        .index-about .play {
            -webkit-transform: scale(0.7);
            transform: scale(0.7);
        }

        .index-about .more {
            width: 100%;
        }

        .index-about .more .border-white {
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
        }
    }

</style>