﻿<template>
    <div class="blank index-car text-white position-relative background-cover pt-5" :style="indexCarStyle" data-aos="fade-up">
        <h2 class="hidden">汽車連接器&端子應用</h2>
        <div class="max1640 pt-sm-3 pt-lg-5 mt-lg-1">
            <div class="max510 text-center text-lg-left position-relative z-1 mx-auto ml-lg-0">
                <div data-aos="fade-up">
                    <p class="font-26 font-weight-bold opacity05 mb-0 mb-lg-3">APPLICATIONS FOR CONNECTOR & TERMINAL OF AUTOMOTIVE</p>
                </div>
                <p class="font-40 font-weight-bold" data-aos="fade-up">{{carTitle13}}</p>
                <ul class="noneList row font-weight-bold mt-4 mt-sm-5 pb-5 mb-0 pl-0">
                    <li class="col-12 col-sm-6 mb-3 pb-1" data-aos="fade-up">
                        <a href="products/HomeIndex" class="d-block rounded-25 opacity08 box-shadow-hover-style-1 px-4 py-2 mx-1" @mouseover="activeIndex=1" @mouseleave="activeIndex=-1">
                            {{carTitle1}}
                        </a>
                    </li>
                    <li class="col-12 col-sm-6 mb-3 pb-1" data-aos="fade-up">
                        <a href="products/HomeIndex" class="d-block rounded-25 opacity08 box-shadow-hover-style-1 px-4 py-2 mx-1" @mouseover="activeIndex=2" @mouseleave="activeIndex=-1">
                            {{carTitle2}}
                        </a>
                    </li>
                    <li class="col-12 col-sm-6 mb-3 pb-1" data-aos="fade-up">
                        <a href="products/HomeIndex" class="d-block rounded-25 opacity08 box-shadow-hover-style-1 px-4 py-2 mx-1" @mouseover="activeIndex=3" @mouseleave="activeIndex=-1">
                            {{carTitle3}}
                        </a>
                    </li>
                    <li class="col-12 col-sm-6 mb-3 pb-1" data-aos="fade-up">
                        <a href="products/HomeIndex" class="d-block rounded-25 opacity08 box-shadow-hover-style-1 px-4 py-2 mx-1" @mouseover="activeIndex=4" @mouseleave="activeIndex=-1">
                            {{carTitle4}}
                        </a>
                    </li>
                    <li class="col-12 col-sm-6 mb-3 pb-1" data-aos="fade-up">
                        <a href="products/HomeIndex" class="d-block rounded-25 opacity08 box-shadow-hover-style-1 px-4 py-2 mx-1" @mouseover="activeIndex=5" @mouseleave="activeIndex=-1">
                            {{carTitle5}}
                        </a>
                    </li>
                    <li class="col-12 col-sm-6 mb-3 pb-1" data-aos="fade-up">
                        <a href="products/HomeIndex" class="d-block rounded-25 opacity08 box-shadow-hover-style-1 px-4 py-2 mx-1" @mouseover="activeIndex=6" @mouseleave="activeIndex=-1">
                            {{carTitle6}}
                        </a>
                    </li>
                    <li class="col-12 col-sm-6 mb-3 pb-1" data-aos="fade-up">
                        <a href="products/HomeIndex" class="d-block rounded-25 opacity08 box-shadow-hover-style-1 px-4 py-2 mx-1" @mouseover="activeIndex=7" @mouseleave="activeIndex=-1">
                            {{carTitle7}}
                        </a>
                    </li>
                    <li class="col-12 col-sm-6 mb-3 pb-1" data-aos="fade-up">
                        <a href="products/HomeIndex" class="d-block rounded-25 opacity08 box-shadow-hover-style-1 px-4 py-2 mx-1" @mouseover="activeIndex=8" @mouseleave="activeIndex=-1">
                            {{carTitle8}}
                        </a>
                    </li>
                    <li class="col-12 col-sm-6 mb-3 pb-1" data-aos="fade-up">
                        <a href="products/HomeIndex" class="d-block rounded-25 opacity08 box-shadow-hover-style-1 px-4 py-2 mx-1" @mouseover="activeIndex=9" @mouseleave="activeIndex=-1">
                            {{carTitle9}}
                        </a>
                    </li>
                    <li class="col-12 col-sm-6 mb-3 pb-1" data-aos="fade-up">
                        <a href="products/HomeIndex" class="d-block rounded-25 opacity08 box-shadow-hover-style-1 px-4 py-2 mx-1" @mouseover="activeIndex=10" @mouseleave="activeIndex=-1">
                            {{carTitle10}}
                        </a>
                    </li>
                    <li class="col-12 col-sm-6 mb-3 pb-1" data-aos="fade-up">
                        <a href="products/HomeIndex" class="d-block rounded-25 opacity08 box-shadow-hover-style-1 px-4 py-2 mx-1" @mouseover="activeIndex=11" @mouseleave="activeIndex=-1">
                            {{carTitle11}}
                        </a>
                    </li>
                    <li class="col-12 col-sm-6 mb-sm-3 pb-sm-1" data-aos="fade-up">
                        <a href="products/HomeIndex" class="d-block rounded-25 opacity08 box-shadow-hover-style-1 px-4 py-2 mx-1" @mouseover="activeIndex=12" @mouseleave="activeIndex=-1">
                            {{carTitle12}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <img class="car-back d-none d-lg-block position-absolute" :style="carBackStyle" src="../../Styles/images/index/car-back.png" alt="胡連精密">
        <div class="car d-none d-lg-block position-absolute" :style="carStyle" ref="carBox">
            <img class="car-front" :src="carfront" alt="胡連精密">
            <ul class="noneStyle">
                <li :class="{'position-absolute':true,'car-1':true,active:activeIndex==1}">
                    <img :src="car1 | appPathFormat" alt="胡連精密">
                </li>
                <li :class="{'position-absolute':true,'car-2':true, active:activeIndex==2}">
                    <img :src="car2 | appPathFormat" alt="胡連精密">
                </li>
                <li :class="{'position-absolute':true,'car-3':true, active:activeIndex==3}">
                    <img :src="car3 | appPathFormat" alt="胡連精密">
                </li>
                <li :class="{'position-absolute':true,'car-4':true, active:activeIndex==4}">
                    <img :src="car4 | appPathFormat" alt="胡連精密">
                </li>
                <li :class="{'position-absolute':true,'car-5':true, active:activeIndex==5}">
                    <img :src="car5 | appPathFormat" alt="胡連精密">
                </li>
                <li :class="{'position-absolute':true,'car-7':true, active:activeIndex==6}">
                    <img :src="car7 | appPathFormat" alt="胡連精密">
                </li>
                <li :class="{'position-absolute':true,'car-8':true, active:activeIndex==7}">
                    <img :src="car8 | appPathFormat" alt="胡連精密">
                </li>
                <li :class="{'position-absolute':true,'car-6':true, active:activeIndex==8}">
                    <img :src="car6 | appPathFormat" alt="胡連精密">
                </li>
                <li :class="{'position-absolute':true,'car-9':true, active:activeIndex==9}">
                    <img :src="car9 | appPathFormat" alt="胡連精密">
                </li>
                <li :class="{'position-absolute':true,'car-10':true, active:activeIndex==10}">
                    <img :src="car10 | appPathFormat" alt="胡連精密">
                </li>
                <li :class="{'position-absolute':true,'car-11':true, active:activeIndex==11}">
                    <img :src="car11 | appPathFormat" alt="胡連精密">
                </li>
                <li :class="{'position-absolute':true,'car-12':true, active:activeIndex==12}">
                    <img :src="car12 | appPathFormat" alt="胡連精密">
                </li>
            </ul>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                carbg: this.$options.filters.appPathFormat("/Styles/images/index/car-bg.jpg"),
                carfront: this.$options.filters.appPathFormat("/Styles/images/index/car-front.png"),
                car1: "/Styles/images/index/car-1.svg",
                car2: "/Styles/images/index/car-2.svg",
                car3: "/Styles/images/index/car-3.svg",
                car4: "/Styles/images/index/car-4.svg",
                car5: "/Styles/images/index/car-5.svg",
                car6: "/Styles/images/index/car-6.svg",
                car7: "/Styles/images/index/car-7.svg",
                car8: "/Styles/images/index/car-8.svg",
                car9: "/Styles/images/index/car-9.svg",
                car10: "/Styles/images/index/car-10.svg",
                car11: "/Styles/images/index/car-11.svg",
                car12: "/Styles/images/index/car-12.svg",
                carTitle1: "",
                carTitle2: "",
                carTitle3: "",
                carTitle4: "",
                carTitle5: "",
                carTitle6: "",
                carTitle7: "",
                carTitle8: "",
                carTitle9: "",
                carTitle10: "",
                carTitle11: "",
                carTitle12: "",
                carTitle13: "",
                windowWidth: window.innerWidth,
                tmStyle: {
                    transform: 1,
                    marginRight : 0
                },
                activeIndex : -1
            }
        },
        watch: {
            windowWidth(newWidth, oldWidth) {
                console.log(this.refs.carBox);
                let scale = newWidth / 1903;
                this.tmStyle.transform = scale;
                this.tmStyle.marginRight = this.$refs.carBox.clientWidth * (scale -1) / 2;
            }
        },
        created: function () {
            this.$axios.get($('#langPath').val() + '/products/getProductsCategories')
                .then((res) => {
                    console.log(res.data);
                    this.carTitle1 = res.data.carConnector1;
                    this.carTitle2 = res.data.carConnector2;
                    this.carTitle3 = res.data.carConnector3;
                    this.carTitle4 = res.data.carConnector4;
                    this.carTitle5 = res.data.carConnector5;
                    this.carTitle6 = res.data.carConnector6;
                    this.carTitle7 = res.data.carConnector7;
                    this.carTitle8 = res.data.carConnector8;
                    this.carTitle9 = res.data.carConnector9;
                    this.carTitle10= res.data.carConnector10;
                    this.carTitle11 = res.data.carConnector11;
                    this.carTitle12 = res.data.carConnector12;
                    this.carTitle13 = res.data.carConnector13;
                })
                .catch((error) => {
                    console.error(error)
                })
        },
        computed: {
            indexCarStyle: function() {
                return {
                    backgroundImage: 'url(' + this.carbg + ')',
                    transform: 'scale(' + this.tmStyle.transform + ')',
                    "margin-right": this.tmStyle.marginRight
                }
            },
            carBackStyle: function () {
                return {
                    "mix-blend-mode": 'multiply',
                    transform: 'scale(' + this.tmStyle.transform + ')',
                    "margin-right": this.tmStyle.marginRight
                }
            },
            carStyle: function () {
                return {
                    transform: 'scale(' + this.tmStyle.transform + ')',
                    "margin-right": this.tmStyle.marginRight
                }
            }
        },
        mounted: function () {
            this.$nextTick(() => {
                window.addEventListener('resize', this.onResize);
            })
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.onResize);
        },
        methods: {
            onResize() {
                this.windowWidth = window.innerWidth
            }
        }
    }
</script>

<style>
    .index-car {
        height: 951px;
    }

    .index-car ul li a {
        background: -webkit-gradient(linear, left top, left bottom, from(#4E84B6), to(#366A9E));
        background: linear-gradient(#4E84B6, #366A9E);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: 2px solid white;
    }

    .index-car ul li a:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#FDC866), to(#F19409));
        background: linear-gradient(#FDC866, #F19409);
        color: black;
        opacity: 1;
    }

    .index-car .car-back {
        top: 10px;
        right: 0;
    }

    .index-car .car {
        top: 10px;
        right: 0;
    }

    .index-car .car .car-front {
        top: 0;
        right: 0;
    }

    .index-car .car ul li {
        opacity: 0;
        pointer-events: none;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .index-car .car ul li.car-1 {
        width: 338px;
        top: 41.5%;
        left: 9%;
    }

    .index-car .car ul li.car-2 {
        width: 960px;
        top: 2%;
        left: 22%;
    }

    .index-car .car ul li.car-3 {
        width: 206px;
        top: 48%;
        left: 54.6%;
    }

    .index-car .car ul li.car-4 {
        width: 252px;
        top: 12%;
        left: 67.5%;
    }

    .index-car .car ul li.car-5 {
        width: 155px;
        top: 42.5%;
        left: 73.5%;
    }

    .index-car .car ul li.car-6 {
        width: 368px;
        top: 2%;
        left: 50%;
    }

    .index-car .car ul li.car-7 {
        width: 368px;
        top: 2%;
        left: 50%;
    }

    .index-car .car ul li.car-8 {
        width: 211px;
        top: 47%;
        left: 6%;
    }

    .index-car .car ul li.car-9 {
        width: 252px;
        top: 12%;
        left: 67.5%;
    }

    .index-car .car ul li.car-10 {
        width: 228px;
        top: 2%;
        left: 72%;
    }

    .index-car .car ul li.car-11 {
        width: 416px;
        top: 39%;
        left: 21%;
    }

    .index-car .car ul li.car-12 {
        width: 642px;
        top: 44%;
        left: 1%;
    }

    .index-car .car ul li.active {
        opacity: 1;
    }

    @media (max-width: 1400px) {
        .index-car {
            height: 850px;
        }

        .index-car .car-back,
        .index-car .car {
            width: 1100px;
        }

        .index-car .car ul {
            display: none;
        }
    }

    @media (max-width: 1199px) {
        .index-car .car-back,
        .index-car .car {
            width: 1000px;
        }
    }

    @media (max-width: 991px) {
        .index-car {
            height: auto;
        }
    }
</style>