﻿<template>
    <div class="index-global position-static position-xl-relative background-cover col-12 col-xl-6 px-0"  :style="{ backgroundImage: 'url(' + globalbg + ')'} ">
        <div class="border-white m-3 p-3 p-lg-5">
            <div class="d-md-flex justify-center pt-4 pt-sm-5 pb-4 mt-sm-3">
                <div class="text-center text-md-right pr-md-5" data-aos="fade-up">
                    <p class="font-20 opacity05 font-weight-bold mb-sm-1">GLOBAL LOCATIONS</p>
                    <h2 class="font-30">全球據點</h2>
                </div>
                <div class="text-center text-md-left pb-3" data-aos="fade-up">
                    <p class="max300 mx-auto ml-md-0">在1977年成立的Hu Lane Associates Inc.，我們的重點一直是為汽車和摩托車行業開發終端產品。(模擬文案)</p>
                    <div class="d-table pt-sm-3 mx-auto ml-md-0">
                        <a :href="strongholdurl | appPathFormat" class="border-white btn-style-1 bg-darkGreen bg-hover-lightGreen btn-dec">深入了解</a>
                    </div>
                </div>
            </div>
            <div class="pb-sm-5 mb-3">
                <div class="mt-sm-5 mb-lg-5 pb-sm-5 pb-xl-0" data-aos="fade-up">
                    <global-sites-slick></global-sites-slick>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                globalbg: this.$options.filters.appPathFormat("/Styles/images/index/global-bg.jpg"),
                strongholdurl: "/about/stronghold"
            }
        },
    }
</script>

<style>
    .index-global {
        top: 68px;
    }

    .index-global .border-white {
        height: calc(100% - 32px);
    }

    .index-global .slider {
        height: auto;
        padding: 0 70px;
    }

    .index-global .slider span {
        bottom: 12px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .index-global .slider .slick-slide {
        padding: 0 30px;
    }

    .index-global .slider .slick-arrow {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid white;
        background: #518730;
    }

    .index-global .slider .slick-arrow:hover {
        background: #6AAE40;
    }

    .index-global .slider .slick-arrow svg, .index-global .slider .slick-arrow img {
        width: 19px;
    }

    .index-global .slider .slick-dots li.slick-active button {
        background: white;
    }

    .index-global .slider .slick-dots li button {
        border: 2px solid white;
    }

    @media (max-width: 991px) {
        .index-global .slider {
            padding: 0 55px;
        }

        .index-global .slider .slick-slide {
            padding: 0 10px;
        }
    }

    @media (max-width: 575px) {
        .index-global .slider {
            padding: 0;
        }

        .index-global .slider .slick-slide {
            padding: 0;
        }
    }
</style>