﻿<template>
    <div>
        <h2 class="hidden">最新產品資訊</h2>
        <p class="font-weight-bold" data-aos="fade-up">
            <span class="font-20 mr-2">最新產品資訊</span>
            <span class="font-18 text-BABABA">NEW PRODUCTS</span>
        </p>
        <div class="d-md-flex d-xl-block d-xxl-flex align-center pt-md-3 mb-5 pb-2">
            <div class="bg-F4F4F4 flex-grow" data-aos="fade-up">
                <div>
                    <ul class="row noneStyle les06">
                        <!--<li v-for="category in categories" :key="category.id" :class="[{active: category.id == 1}]" @click.native="handleCategoryClick(category)">
                            <a class="d-block text-hover-red py-2 py-md-3">
                                <span class="d-block py-1">{{category.name}}</span>
                            </a>
                        </li>-->
                        <li v-for="category in categories" :key="category.id" class="border-right-dec-C8C8C8 col-auto" @click="handleCategoryClick(category)">
                            <a class="d-block text-hover-red py-2 py-md-3">
                                <span class="d-block py-1">{{category.name}}</span>
                            </a>
                        </li>
                        <!--<li class="border-right-dec-C8C8C8 col-auto active">
                            <a @click="test" class="d-block text-hover-red py-2 py-md-3">
                                <span class="d-block py-1">膠盒</span>
                            </a>
                        </li>

                        <li class="border-right-dec-C8C8C8 col-auto" @click="handleCategoryClick('端子')">
                            <a class="d-block text-hover-red py-2 py-md-3">
                                <span class="d-block py-1">端子</span>
                            </a>
                        </li>-->
                    </ul>
                </div>
            </div>
            <div data-aos="fade-up">
                <a :href="lastesturl | appPathFormat" class="d-block bg-DCDCDC text-hover-red py-2 py-md-3 px-4">
                    <span class="d-block py-1">{{newAllList}}</span>
                </a>
            </div>
        </div>
        <div>
            <new-product-list-slick :datas="searchDatas"></new-product-list-slick>
        </div>
    </div>

</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                lastesturl: "/products/lastest",
                selectCategory: "",
                searchDatas: [],
                //categories: [
                //    { id: 1, name: '膠盒' },
                //    { id: 2, name: '端子' },
                //    { id: 3, name: '防水栓' },
                //    { id: 4, name: 'PVC絕緣護套' },
                //    { id: 5, name: '索環護套' }],
                categories: [],
                newAllList:"",
                activeName: '膠盒'
            }
        },
        //created: function () {
        //    this.$nextTick(function () {
        //        console.log(168168168);
        //        //document.getElementById("text").click();
        //        this.handleCategoryClick({ id: 1, name: '膠盒' });
        //    });
        //},
        created: function () {
            this.$axios.get($('#langPath').val() +'/products/getProductsCategories')
                .then((res) => {
                    console.log(res.data);
                    this.categories = res.data.categoryList;
                    this.newAllList = res.data.newCategoryAll;
                })
                .catch((error) => {
                    console.error(error)
                })
            this.handleCategoryClick({ id: 1, name: '膠盒' });
        },
        methods: {
            handleCategoryClick: function (category) {
                console.log(category);
                //this.$emit('handleCategoryClick');
                this.searchDatas = null;

                this.$axios.post('/products/SearchByLastHome', { pageSize: 32768, pageIndex: 1, table: category.id })
                    .then((res) => {
                        this.searchDatas = res.data;
                    })
                    .catch((error) => {
                        console.error(error)
                    })
            }
        }
    }
</script>
