﻿<template>
    <div class="blank mt-xl-5 pt-xl-5">
        <div class="max1640 index-news text-center text-sm-left mb-sm-4 mb-xl-5">
            <h2 class="hidden">最新訊息</h2>
            <div class="">
                <div class="d-sm-flex pb-3 pb-sm-5 mb-sm-1" data-aos="fade-up">
                    <div class="title d-table position-relative w-100 mr-4" style="flex:0 0 305px">
                        <p class="d-inline-block text-646464 font-20 font-weight-bold bg-white pr-3 mb-0">NEWS & EVENT</p>
                    </div>
                    <div class="arrows d-table position-relative arrows-style-1 clearfix pl-sm-3 mt-2 mt-sm-0">
                        <button class='slick-prev slick-arrow float-left text-black text-hover-red mx-2' type='button'><i class='icon-left-big font-24'></i></button>
                        <button class='slick-next slick-arrow float-left text-black text-hover-red mx-2' type='button'><i class='icon-right-big font-24'></i></button>
                    </div>
                </div>
                <news-and-event-slick></news-and-event-slick>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
               
            }
        },
       
        methods: {
           
        }
    }
</script>

<style>
    
</style>
