﻿<template>
    <div class="col-12 col-xl-6 border-right-xl-C8C8C8 pl-0 pr-0 pr-xl-4 pr-xxl-5 pt-3 pt-md-4">
        <h2 class="hidden">產品進階搜尋</h2>
        <p class="font-weight-bold" data-aos="fade-up">
            <span class="font-20 mr-2">產品進階搜尋</span>
            <span class="font-18 text-BABABA">PRODUCT SEARCH</span>
        </p>
        <form class="pt-md-3" action="~/products/Keyword">
            <div class="d-flex flex-wrap align-center bg-F4F4F4 border-C8C8C8 py-3 px-3 px-sm-4" data-aos="fade-up">
                <div class="radio-style-1 col-12 col-sm-auto p-0">
                    <input class="d-none" type="radio" name="searchMethod" id="keyword" :checked="searchMethod=='keyword'" @click="handleSearchMethod('keyword')">
                    <label for="keyword" class="font-weight-500">{{tab3}}</label>
                </div>
                <input name="onkeyon" class="flex-grow px-0 px-md-1 py-1 py-sm-2 ml-sm-4" type="text" v-model="searchItems.keyword" :placeholder="[[keywordNo]]" @keyup.enter="handleSearch">
                <a @click="handleSearch">
                </a>
            </div>
            <div class="d-xxl-flex position-relative z-1 border-bottom-C8C8C8 pl-md-4 mt-3 mt-md-4 pb-4 mb-4">
                <div class="radio-style-1 mt-md-2 pt-md-1" data-aos="fade-up">
                    <input class="d-none" type="radio" name="searchMethod" id="specification" :checked="searchMethod=='specification'" @click="handleSearchMethod('specification')">
                    <label for="specification" class="font-weight-500">{{tab1}}</label>
                </div>
                <div class="flex-grow pl-xxl-3 mt-2 mt-md-3 mt-xxl-0" data-aos="fade-up">
                    <div class="mb-2 pb-sm-1">
                        <div class="border-sm-C8C8C8 rounded-5 row m-0">
                            <div class="col-12 col-sm-4 p-0 border-right-sm-C8C8C8 border-C8C8C8 border-sm-0 mb-2 mb-sm-0">
                                <select name="type-1" id="type-1" class="selectpicker firstHide style-1 style-1-1 red-tri w-100" v-model="tableKey">
                                    <!--<option value="">產品類別Product Category</option>-->
                                    <option value="">{{productCategory}}</option>
                                    <!--<option v-if="productCategory == '產品類別'" value="">product</option>-->
                                    <!--<option v-if="productCategory == '3'" :value="null">Products Category</option>-->
                                    <!--<option v-for="productTable in productTables" v-bind:value="productTable.key">{{productTable.value}}</option>-->
                                    <option v-for="productTable in productTables" v-bind:value="productTable.key">{{productTable.value}}</option>
                                </select>
                            </div>
                            <!--<div class="col-12 col-sm-4 p-0 border-right-sm-C8C8C8 border-C8C8C8 border-sm-0 mb-2 mb-sm-0">
                                <select-picker :title="productCategory" :options="productTables" ref="productTables" @change="changeSelect"></select-picker>
                            </div>-->

                            <div class="col-12 col-sm-4 p-0 border-right-sm-C8C8C8 border-C8C8C8 border-sm-0 mb-2 mb-sm-0">
                                <select-picker :title="sizeType" :options="productSizeType" ref="productSizeType"></select-picker>
                            </div>
                            <div class="col-12 col-sm-4 p-0 border-C8C8C8 border-sm-0">
                                <select-picker :title="functionCategory" :options="productClass" ref="productClass"></select-picker>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 pb-sm-1">
                        <div class="border-sm-C8C8C8 rounded-5 row m-0">
                            <div class="col-12 col-sm-4 p-0 border-right-sm-C8C8C8 border-C8C8C8 border-sm-0 mb-2 mb-sm-0">
                                <select-picker :title="seriesCode" :options="productSerial" ref="productSerial"></select-picker>
                            </div>
                            <div class="col-12 col-sm-4 p-0 border-right-sm-C8C8C8 border-C8C8C8 border-sm-0 mb-2 mb-sm-0">
                                <select-picker :title="maleFemale" :options="productSex" ref="productSex"></select-picker>
                            </div>
                            <div class="col-12 col-sm-4 p-0 border-C8C8C8 border-sm-0">
                                <select-picker :title="sealedUnsealed" :options="productSealable" ref="productSealable"></select-picker>
                            </div>
                        </div>
                    </div>

                    <div class="mb-2 pb-sm-1">
                        <div class="border-sm-C8C8C8 rounded-5 row m-0">
                            <div class="col-12 col-sm-4 p-0 border-right-sm-C8C8C8 border-C8C8C8 border-sm-0 mb-2 mb-sm-0">
                                <select-picker :title="numofPositions" :options="productPosition" ref="productPosition"></select-picker>
                            </div>
                            <div class="col-12 col-sm-4 p-0 border-right-sm-C8C8C8 border-C8C8C8 border-sm-0 mb-2 mb-sm-0">
                                <select-picker :title="temperatureR" :options="productTemper" ref="productTemper"></select-picker>
                            </div>
                            <div class="col-12 col-sm-4 p-0 border-C8C8C8 border-sm-0">
                                <select-picker :title="thickness" :options="productDepth" ref="productDepth"></select-picker>
                            </div>
                        </div>
                    </div>

                    <div class="mb-2 pb-sm-1">
                        <div class="row m-0">
                            <div class="col-12 col-sm-8 row border-sm-C8C8C8 rounded-5 m-0 p-0 mb-2 mb-sm-0">
                                <div class="col-12 col-sm-6 p-0 border-right-sm-C8C8C8 border-C8C8C8 border-sm-0 mb-2 mb-sm-0">
                                    <select-picker :title="appWireSize" :options="productDiameter" ref="productDiameter"></select-picker>
                                </div>
                                <div class="col-12 col-sm-6 p-0 border-C8C8C8 border-sm-0">
                                    <select-picker :title="tabThickness" :options="productTab" ref="productTab"></select-picker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-table d-sm-flex justify-between pt-2 mx-auto mx-sm-0">
                <p class="d-flex align-center font-20 font-weight-500 mb-0" data-aos="fade-up">
                    <button type="button" class="btn-style-1 bg-black text-white btn-dec mt-3 mt-sm-0 mx-auto mr-sm-0" data-aos="fade-up" @click="handleSearch">{{searchBtn}}</button>
                </p>

                <p class="d-flex align-center font-20 font-weight-500 mb-0" data-aos="fade-up">
                    <span>{{totalRecord}}</span>
                    <a :href="searchBySpecurl">
                        <span class="d-inline-block font-22 text-white rounded-25 les1 px-3 mx-3" style=" background: linear-gradient(to right,#FD2D2D,#C00101); box-shadow: 0 2px 5px rgba(0,0,0,0.3);">
                            <span class="d-block py-1">{{dataCount}}</span>
                        </span>
                    </a>
                    <span>{{conformHits}}</span>
                </p>

            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                categories: [
                    { key: "A", value: "所有(All)" },
                    { key: "H", value: "膠盒 H" },
                    { key: "T", value: "端子 T" },
                    { key: "R", value: "防水栓 R" },
                    { key: "S", value: "PVC絕緣護套 S" },
                    { key: "G", value: "索環護套 G" }
                ],
                keywordNo: "",
                tab1: "",
                tab3: "",
                judge: "",
                searchMethod: "keyword",
                tableKey: "",
                productCategory: "",
                sizeType: "",
                functionCategory: "",
                seriesCode: "",
                maleFemale: "",
                sealedUnsealed: "",
                numofPositions: "",
                temperatureR: "",
                thickness: "",
                appWireSize: "",
                tabThickness: "",
                searchBtn: "",
                totalRecord: "",
                conformHits: "",
                productTables: [],
                productSizeType: [],
                productClass: [],
                productSerial: [],
                productSex: [],
                productSealable: [],
                productTemper: [],
                productPosition: [],
                productDepth: [],
                productDiameter: [],
                productTab: [],
                dataCount: 0,
                searchItems: {
                    keyword: null,
                    productTable: null,
                    productSizeType: null,
                    productClass: null,
                    productSerial: null,
                    productSex: null,
                    productSealable: null,
                    productPosition: null,
                    productTemper: null,
                    productDepth: null,
                    productDiameter: null,
                    productTab: null
                },
                searchBySpecurl: $('#langPath').val() + '/products/keyword'
            }
        },
        created: function () {
            this.$nextTick(function () {
                this.getAllTables();
                this.$axios.get($('#langPath').val() +'/products/getProductsCategories')
                    .then((res) => {
                        this.judge = res.data.moreName;
                        this.tab1 = res.data.tab1;
                        this.tab3 = res.data.tab3;
                    })
                    .catch((error) => {
                        console.error(error)
                    })
            })
        },
        mounted: function () {
            this.$nextTick(function () {
                this.getAllTables();
            })
        },
        watch: {
            tableKey: function (val) {
                console.log(val);
                if (val == "")
                    return;

                this.getAllCategoryByTable(val);
            }
        },
        methods: {
            getAllTables: function () {
                this.$axios.get($('#langPath').val() +'/Products/GetProductTables')
                    .then((res) => {
                        this.keywordNo = res.data.keywordNo;
                        this.productTables = res.data.categoryItems;
                        this.productCategory = res.data.productCategory;
                        this.sizeType = res.data.sizeType;
                        this.functionCategory = res.data.functionCategory;
                        this.seriesCode = res.data.seriesCode;
                        this.maleFemale = res.data.maleFemale;
                        this.sealedUnsealed = res.data.sealedUnsealed;
                        this.numofPositions = res.data.numofPositions;
                        this.temperatureR = res.data.temperatureR;
                        this.thickness = res.data.thickness;
                        this.appWireSize = res.data.appWireSize;
                        this.tabThickness = res.data.tabThickness;
                        this.searchBtn = res.data.searchBtn;
                        this.totalRecord = res.data.totalRecord;
                        this.conformHits = res.data.conformHits;
                    })
                    .catch((error) => {
                        console.error(error)
                    })

            },
            getAllCategoryByTable: function (key) {
                this.$axios.get($('#langPath').val() +'/Products/GetProductTable?key=' + key)
                    .then((res) => {
                        let result = res.data;
                        this.productSizeType = result.sizeType == null ? [] : result.sizeType.categoryItems;
                        this.productClass = result.productClass == null ? [] : result.productClass.categoryItems;
                        this.productSerial = result.serial == null ? [] : result.serial.categoryItems;
                        this.productSex = result.sex == null ? [] : result.sex.categoryItems;
                        this.productSealable = result.sealable == null ? [] : result.sealable.categoryItems;
                        this.productPosition = result.position == null ? [] : result.position.categoryItems;
                        this.productTemper = result.temper == null ? [] : result.temper.categoryItems;
                        this.productDepth = result.depth == null ? [] : result.depth.categoryItems;
                        this.productDiameter = result.diameter == null ? [] : result.diameter.categoryItems;
                        this.productTab = result.tab == null ? [] : result.tab.categoryItems;
                    })
                    .catch((error) => {
                        console.error(error)
                    })
            },
            handleSearch: function () {
                console.log(168);
                this.searchItems.productTable = this.tableKey == "" ? "A" : this.tableKey;
                this.searchItems.productSizeType = this.$refs.productSizeType.selectedItem;
                this.searchItems.productClass = this.$refs.productClass.selectedItem;
                this.searchItems.productSerial = this.$refs.productSerial.selectedItem;
                this.searchItems.productSex = this.$refs.productSex.selectedItem;
                this.searchItems.productSealable = this.$refs.productSealable.selectedItem;
                this.searchItems.productPosition = this.$refs.productPosition.selectedItem;
                this.searchItems.productTemper = this.$refs.productTemper.selectedItem;
                this.searchItems.productDepth = this.$refs.productDepth.selectedItem;
                this.searchItems.productDiameter = this.$refs.productDiameter.selectedItem;
                this.searchItems.productTab = this.$refs.productTab.selectedItem;

                this.$axios.post('/products/SearchByHomeSpec', { ...this.searchItems })
                    .then((res) => {

                        this.dataCount = res.data;
                    })
                    .catch((error) => {
                        console.error(error)
                    })
            },
            handleSearchMethod: function (val) {
                this.searchMethod = val;

                if (val == "keyword") {
                    this.searchBySpecurl = "/products/keyword";
                } else {
                    this.searchBySpecurl = "/products/spec";
                }

                //this.searchBySpecurl = this.$options.filters.appPathFormat(this.searchBySpecurl);
                this.searchBySpecurl = $('#langPath').val() + this.searchBySpecurl;
            }
        }
    }
</script>

<style>
    .bootstrap-select .dropdown-toggle {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .bootstrap-select.firstHide .dropdown-menu li:nth-child(1) {
        display: none;
    }

    .bootstrap-select .dropdown-toggle {
        border: 0 !important;
    }

        .bootstrap-select .dropdown-toggle:focus {
            outline: none !important;
        }

    .bootstrap-select.red-tri .dropdown-toggle::after {
        margin-top: 0;
        border-top: 6px solid red;
        border-right: 6px solid transparent;
        border-bottom: 0;
        border-left: 6px solid transparent;
    }

    .bootstrap-select.style-1 .dropdown-toggle {
        color: black !important;
        background: #F4F4F4 !important;
    }

    .bootstrap-select.style-1 .dropdown-item.active, .bootstrap-select.style-1 .dropdown-item:active {
        background: red;
    }

    .bootstrap-select.style-1.style-1-1 .dropdown-toggle {
        padding: 11px 15px;
        border-radius: 0;
    }

    .bootstrap-select.style-1.style-1-1 .dropdown-item {
        padding-right: 15px;
        padding-left: 15px;
    }
</style>