

//字型 相關
.Heebo{
  font-family: "Heebo";
}
.NotoSansTC{
  font-family: Noto Sans TC;
}
// height  相關{
.h50{
  height: 50px;
}

//width 相關

//max-width 相關
.max1640{
  max-width: 1640px;
  margin: auto;
}
.max1400{
  max-width: 1400px;
  margin: auto;
}
.max1200{
  max-width: 1200px;
  margin: auto;
}
.max830{
  max-width: 830px; 
  margin: auto;
}
.max820{
  max-width: 820px;
  margin: auto;
}
.max780{
  max-width: 780px;
}
.max660{
  max-width: 660px; 
}
.max510{
  max-width: 510px; 
}
.max550{
  max-width: 550px;
}
.max450{
  max-width: 450px;
  margin: auto;
}
.max380{
  max-width: 380px;
  margin: auto;
}
.max300{
  max-width: 300px;
}
.w36{
  width: 36px;
}
.h36{
  height: 36px;
}
.w40{
  width: 40px;
}
.h40{
  height: 40px;
}
.w60{
  width: 60px;
}
.h60{
  height: 60px;
}
.w80{
  width: 80px;
}
.h80{
  height: 80px;
}
//z-index 相關

.z-1{
  z-index: 1;
}
.z-2{
  z-index: 2;
}
.z-3{
  z-index: 3;
}
.z-4{
  z-index: 4;
}
//line-height 相關
.lh1{
  line-height: 1;
}
.lh14{
  line-height: 1.4;
}

.lh165{
  line-height: 1.65;
}
.lh18{
  line-height: 1.8;
}
.lh19{
  line-height: 1.9;
}
.lh2{
  line-height: 2;
}
//overflow 相關
.overflow-hidden{
  overflow: hidden;
}
.overflow-auto{
  overflow: auto;
}




//display 相關
.d-xxl-none{
  @media (min-width:1400px) {
    display: none !important;
  }
}
.d-xxl-block{
  @media (min-width:1400px) {
    display: block !important;
  }
}
.d-xxl-flex{
  @media (min-width:1400px) {
    display: flex !important;
  }
}

//padding 相關
.pl-xxl-3{
  @media (min-width: 1400px){
    padding-left: 1rem !important;
  }
}
.pl-xxl-4{
  @media (min-width: 1400px){
    padding-left: 1.5rem!important;
  }
}
.pl-xxl-5{
  @media (min-width: 1400px){
    padding-left: 3rem !important;
  }
}
.pr-xxl-0{
  @media (min-width: 1400px){
    padding-right: 0!important;
  }
}
.pr-xxl-4{
  @media (min-width: 1400px){
    padding-right: 1.5rem!important;
  }
}
.pr-xxl-5{
  @media (min-width: 1400px){
    padding-right: 3rem !important;
  }
}
.py-xxl-3{
  @media (min-width: 1400px){
    padding-top: 1rem !important;
     padding-bottom: 1rem !important;
  }
}
.px-xxl-5{
  @media (min-width: 1400px){
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
}

//margin 相關
.mr-xxl-2{
  @media (min-width: 1400px){
    margin-right: 0.5rem !important;
  }
}
.mr-xxl-4{
  @media (min-width: 1400px){
    margin-right: 1.5rem !important;
  }
}
.mb-xxl-4{
  @media (min-width: 1400px){
    margin-bottom: 1.5rem !important;
  }
}
.mt-xxl-0{
  @media (min-width: 1400px){
    margin-top: 0rem !important;
  }
}


//letter-spaceing 相關
.les06{
  letter-spacing: 0.6px;
}
.les1{
  letter-spacing: 1px;
}
.les2{
  letter-spacing: 2px;
}

//font-weight 相關
.font-weight-500{
  font-weight: 500;
}
.font-weight-bold{
  font-weight: 700;
}
//color 相關
.text-red{
  color:$red;
}
.text-C8C8C8{
  color:$grayC8C8C8;
}
.text-969696{
  color:$gray969696;
}
.text-black{
  color:black;
}
.text-hover-red{
  transition: all .3s;
  &:hover{
    color:red !important;
  }
}
.text-green2AB3AC{
  color:$green2AB3AC;
}
.text-hover-green2AB3AC{
  transition: all .3s;
  &:hover{
    color:$green2AB3AC;  
  }
  
}
.text-darkBlue{
  color:$darkBlue;
}
.text-blue225387{
  color:$blue225387;
}
.text-hover-blue225387{
  transition: all .3s;
  &:hover{
    color:$blue225387 !important;
  }
}
.text-blue5E86BC{
  color:$blue5E86BC;
}
.text-hover-blue5E86BC{
  transition: all .3s;
  &:hover{
    color:$blue5E86BC !important;
  }
}
.text-blue325FAB{
  color:$blue325FAB;
}
.text-blue1B79C4{
  color:$blue1B79C4;
}
.text-hover-blue1B79C4{
   transition: all .3s;
  &:hover{
    color:$blue1B79C4 !important;
  }
}
.text-BABABA{
  color:$grayBABABA;
}
.text-646464{
  color:$gray646464;
}
.text-323232{
  color:$black323232;
}
.text-hover-white{
  transition: all .3s;
  &:hover{
    color:white !important;
  }
}

//bg 相關
.bg-black{
  background: $black323232;
}
.bg-orange{
  background: $orange;
}
.bg-black21262E{
  background: $black21262E;
}
.bg-F4F4F4{
  background: $grayF4F4F4;
}
.bg-E6E6E6{
  background: $grayE6E6E6;
}
.bg-DCDCDC{
  background: $grayDCDCDC;
}
.bg-F5F5F5{
  background: $grayF5F5F5;
}
.bg-green2AB3AC{
  background: $green2AB3AC;
}
.bg-green91A82C{
  background: $green91A82C;
}
.bg-green2CA897{
  background: $green2CA897;
}

.bg-transparent{
  background: transparent;
}
.bg-red{
  background: red;
}
.bg-gradient-red{
    background: linear-gradient(#FD2D2D,#C00101);
}
.bg-gradient-yellow{
    background: linear-gradient(#FED073,#F09104);
}
.bg-gradient-green{
    background: linear-gradient(#61BA96,#338E77);
}
.bg-blue225387{
  background: $blue225387;
}
.bg-blue5E86BC{
  background: $blue5E86BC;
}
.bg-blue4C87A7{
  background: $blue4C87A7;
}
.bg-blueECF1F9{
  background: $blueECF1F9;
}
.bg-blue2C65A8{
  background: $blue2C65A8;
}
.bg-blueEDF4FF{
  background: $blueEDF4FF;
}

.bg-purple{
  background: $purple;
}
.bg-lg-blueCAE3ED{
  @media(min-width:992px){
     background: $blueCAE3ED;
  }
}
.bg-blueB4D8E5{
  background: $blueB4D8E5;
}
.bg-darkGreen{
  background: $darkGreen;
}
.bg-darkRed{
  background: $darkRed;
}
.bg-hover-lightGreen{
 transition: all .3s;
   &:hover{
    background: $lightGreen;
  }
}
.bg-hover-yellow{
  position: relative;
  .icon-right-big{
    opacity: 0;
  }
  &::after{
    transition: all .3s;
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#FED073,#F19205);
    opacity: 0;
  }
   &:hover{
     opacity: 1;
     .icon-right-big{
       opacity: 1;
     }
     &::after{
      opacity: 1;
     }
    
  }
}
.bg-hover-white{
  transition: all .3s;
  &:hover{
    background: white;
  }
}
.bg-hover-red{
  transition: all .3s;
  &:hover{
    background: red;
  }
}
.bg-gray-gradient{
    background: linear-gradient(#C5C5C5,#D2D2D2);
}
.bg-blue-gradient{
  background: linear-gradient(#547FC3,#295398);
}
.bg-blue-gradient-2{
  background: linear-gradient(#295398,#5781C6);
}
.bg-blue-gradient-3{
  background: linear-gradient(#5781C6,#295398);
}
.bg-blue-gradient-4{
  background: linear-gradient(to right,#2C6592,#18417D);
}
// flex 相關
.flex-wrap{
  flex-wrap: wrap;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-align-center{
  display: flex;
  align-items: center;
}
.flex-justify-space-between{
  display: flex;
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.justify-md-end{
  @media(min-width:768px){
      justify-content: flex-end;
  }
}
.justify-between{
  justify-content: space-between;
}

.flex-grow{
  flex-grow: 1;
}
.flex-shrink-0{
  flex-shrink: 0;
}
.flex-shrink-1{
  flex-shrink: 1;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-md-start{
  @media (min-width:768px) {
      justify-content: flex-start;
  }
}

//border 相關

.border-bottom-white{
  border-bottom:1px solid white;
}
.border-red{
  border:1px solid red;
}
.border-orangeCB7B03{
   border:1px solid $orangeCB7B03;
}
.border-DCDCDC{
   border:2px solid $grayDCDCDC;
}
.border-hover-orangeFCB813{
  transition: all .3s;
  &:hover{
       border:2px solid $orangeFCB813;
  }

}

.border-green2A7764{
   border:1px solid $green2A7764;
}
.border-bottom-red{
  border-bottom:1px solid red;
}
.border-bottom-5-red{
  border-bottom:5px solid red;
  @media (max-width:575px) {
    border-bottom:0;
  }
}
.broder-bottom-green2AB3AC{
  border-bottom:1px solid rgba(42,179,172,0.3);
}
.broder-top-green2AB3AC{
  border-top:1px solid rgba(42,179,172,0.3);
}


.border-right-black{
  border-right: 1px solid black;
}
.border-blue225387{
  border:1px solid $blue225387;
}
.border-blue779DDB{
  border:1px solid $blue779DDB;
}
.border-lg-blue9AC4D5{
  @media(min-width:992px){
    border:1px solid $blue9AC4D5;
  }
}

.border-bottom-blue{
  border-bottom:1px solid $blue;
}
.border-bottom-5blue{
  border-bottom:5px solid $blue;
}
.border-top-5green2AB3AC{
  border-top:5px solid $green2AB3AC;
}
.border-C8C8C8{
  border:1px solid $grayC8C8C8;
}
.border-bottom-C8C8C8{
  border-bottom:1px solid $grayC8C8C8;
}
.border-bottom-lg-C8C8C8{
  @media (min-width: 992px){
    border-bottom:1px solid $grayC8C8C8;
  } 
}
.border-bottom-2-C8C8C8{
  border-bottom:2px solid $grayC8C8C8;
}
.border-top-C8C8C8{
  border-top:1px solid $grayC8C8C8;
}
.border-right-C8C8C8{
  border-right:1px solid $grayC8C8C8;
}

.border-right-lg-C8C8C8{
  @media (min-width: 992px){
    border-right:1px solid $grayC8C8C8;
  } 
}
.border-left-lg-C8C8C8{
  @media (min-width: 992px){
    border-left:1px solid $grayC8C8C8;
  } 
}
.border-right-xl-C8C8C8{
  @media (min-width: 1200px){
    border-right:1px solid $grayC8C8C8;
  } 
}
.border-sm-C8C8C8{
  @media (min-width: 576px){
     border:1px solid $grayC8C8C8;
  } 
}
.border-white03{
  border:1px solid rgba(255,255,255,0.3);
}
.border-sm-0{
  @media (min-width: 576px){
     border:0;
  } 
}
.border-bottom-sm-0{
  @media (min-width: 576px){
     border-bottom:0;
  } 
}
.border-bottom-lg-0{
  @media (min-width: 992px){
     border-bottom:0;
  } 
}
.border-bottom-lg-0{
  @media (min-width: 992px){
     border-bottom:none;
  } 
}
.border-right-sm-C8C8C8{
  @media (min-width: 576px){
    border-right:1px solid $grayC8C8C8;
  } 
}
.border-bottom-dec-2-red{
    position: relative;
    &::after{
      content:"";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background: $red;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
    }
}
.border-right-dec-xxl-C8C8C8{
  @media (min-width: 1400px){
    position: relative;
    &::after{
      content:"";
      display: block;
      position: absolute;
      width: 1px;
      height: 15px;
      background: $grayC8C8C8;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  } 
}
.border-right-dec-C8C8C8{
      position: relative;
      &::after{
        content:"";
        display: block;
        position: absolute;
        width: 1px;
        height: 15px;
        background: $grayC8C8C8;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
}
.border-right-md-dec-black{
  @media (min-width: 767px){
    position: relative;
    &::after{
      content:"";
      display: block;
      position: absolute;
      width: 1px;
      height: 15px;
      background: black;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  } 

}
.border-white{
  border:1px solid white;
}
.border-white-5{
  border:5px solid white;
}
.border-hover-white{
  &:hover{
      border:1px solid white;
  }

}
.border-bottom-dash{
  border-bottom: 2px dashed $grayC8C8C8;
}

//svg 相關
.fill-currentColor{
  fill:currentColor !important;
}
.stroke-currentColor{
  stroke:currentColor !important;
}

// rounded 相關
.rounded-5{
  border-radius: 5px;
}
.rounded-10{
  border-radius: 10px;
}
.rounded-15{
  border-radius: 15px;
}
.rounded-25{
  border-radius: 25px;
}
.rounded-35{
  border-radius: 35px;
}
.rounded-50{
  border-radius: 50px;
}
.rounded-bottom{
  border-bottom-right-radius:10px !important;
  border-bottom-left-radius:10px !important;
}
.rounded-bottom-20{
  border-bottom-right-radius:20px !important; 
  border-bottom-left-radius:20px !important;
}
.rounded-top{
  border-top-right-radius:10px !important;
  border-top-left-radius:10px !important;
}
.rounded-right{
  border-top-right-radius:10px !important;
  border-bottom-right-radius:10px !important;
}
.rounded-right-md-15{
  @media (min-width: 768px){
    border-top-right-radius:15px !important;
    border-bottom-right-radius:15px !important;
  }
}
.rounded-left-md-15{
  @media (min-width: 768px){
    border-top-left-radius:15px !important;
    border-bottom-left-radius:15px !important;
  }
}
//position 相關
.absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.absolute-md-center{
  @media (min-width: 768px){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.position-relative{
  position: relative;
}
.position-absolute{
  position: absolute;
}
.position-xl-relative{
  @media (min-width: 1200px){
    position: relative !important; 
  }
}
.position-xl-static{
  @media (min-width: 1200px){
    position: static !important;
  }
}
// g
.row{
  &.g-1{
    margin-left: -4px;
    margin-right: -4px;
  }
  &.g-2{
    margin-left: -8px;
    margin-right: -8px;
  }
  &.g-3{
    margin-left: -48px;
    margin-right: -48px;
    @media (max-width: 1199px){
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}
//box-shadow
.box-shadow-style-1{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.box-shadow-style-2{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}
.box-shadow-style-3{
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
.box-shadow-style-4{
  box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
.box-shadow-style-5{
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.box-shadow-style-6{
  box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}
.box-shadow-hover-style-1{
  transition:box-shadow .3s ;
  &:hover{
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  }
}
.box-shadow-hover-style-2{
  transition:box-shadow .3s ;
  &:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  }
}
//background 相關
.background-cover{
  background-size: cover;
}
.background-center{
  background-position: center;
}
.background-no-repeat{
  background-repeat: no-repeat;
}
//其他
.blank{
  padding-right: 30px;
  padding-left: 30px;
  @media (max-width:1199px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.shadow-style-1{
  filter: drop-shadow(10px 10px 20px rgba(0,0,0,0.3));
}
.opacity0{
  opacity: 0;
}
.opacity05{
  transition: all .3s;
  opacity: 0.5;
}
.opacity08{
  opacity: 0.8;
}

.line3{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media (min-width: 1600px){
  .col-xxxl-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
}			
.writing-vertical{
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr ;
}
.cursor{
  cursor: pointer;
}
.background-no-repeat{
  background-repeat: no-repeat;
}
.background-position-center{
  background-position: center;
}
.text-decoration-underline{
  text-decoration: underline;
}
.table-layout-fixed{
  table-layout:fixed
}
.fit-content{
  width:fit-content;
}
[class^="icon-"].scale075::before{
  transform: scale(0.75);
}
[class^="icon-"].scale08::before{
  transform: scale(0.8);
} 
.white-space-nowrap{
  white-space:nowrap;
}