
.font-80{
  @include fz(80px);
}
.font-60{
  @include fz(60px);
}
.font-40 {
  @include fz(40px);
}
.font-30 {
  @include fz(30px);
}
.font-26 {
  @include fz(26px);
}
.font-25 {
  @include fz(25px);
}
.font-24{
  @include fz(24px);
}
.font-22 {
  @include fz(22px);
}
.font-20{
  @include fz(20px);
}
.font-19 {
  @include fz(19px);
}
.font-18{
  @include fz(18px);
}
.font-17 {
  @include fz(17px);
}
.font-16{
  @include fz(16px);
}
.font-15{
  @include fz(15px);
}
.font-14{
  @include fz(14px);
}
.font-12 {
  @include fz(12px);
}
@media (max-width: 1199px){
  .font-80 {
    @include fz(55px);
  }
  .font-60 {
    @include fz(50px);
  }
  .font-40{
    @include fz(35px);
  }
  .font-30 {
    @include fz(28px);
  }
  .font-25 {
    @include fz(22px);
  }
  .font-24{
    @include fz(22px);
  }
}
@media (max-width: 991px){
  .font-80 {
    @include fz(40px);
  }
}
@media (max-width: 767px){
  .font-80 {
    @include fz(35px);
  }
  .font-60 {
    @include fz(35px);
  }
  .font-40 {
    @include fz(32px);
  }
  .font-30 {
    @include fz(24px);
  }
  .font-26 {
    @include fz(22px);
  }
  .font-25 {
    @include fz(18px);
  }
  .font-24 {
    @include fz(18px);
  }
}
@media (max-width: 575px){
  .font-18{
    @include fz(16px);
  }
}