$grayC8C8C8:#c8c8c8;
$grayF4F4F4:#F4F4F4;
$grayBABABA:#BABABA;
$gray646464:#646464;
$grayF5F5F5:#F5F5F5;
$grayE6E6E6:#E6E6E6;
$gray969696:#969696;
$grayDCDCDC:#DCDCDC;
$black323232:#323232;
$darkGreen:#518730;
$lightGreen:#6AAE40;
$green2AB3AC:#2AB3AC;
$green91A82C:#91A82C;
$green2CA897:#2CA897;
$green2A7764:#2A7764;

$red:red;
$darkRed:#B10000;
$darkBlue:#306AB6;
$blue:#C1D3E9;
$blue225387:#225387;
$blue5E86BC:#5E86BC;
$blue325FAB:#325FAB;
$black21262E:#21262E;
$blueCAE3ED:#CAE3ED;
$blue9AC4D5:#9AC4D5;
$blueB4D8E5:#B4D8E5;
$blue4C87A7:#4C87A7;
$blue1B79C4:#1B79C4;
$blueECF1F9:#ECF1F9;
$blue779DDB:#779DDB;
$blue2C65A8:#2C65A8;
$blueEDF4FF:#EDF4FF;
$purple:#DDE6F4;
$orange:#F08F00;
$orangeCB7B03:#CB7B03;
$orangeFCB813:#FCB813;
@mixin fz($size) {
  font-size: $size;
}