﻿@using System.Text.RegularExpressions;
@using System.Collections.Generic;
@using Web.Models;
@using Web.DB.Models;
@using System.Configuration;
@using Newtonsoft.Json;

@functions {
    /// <summary>
    /// 文字拆解
    /// </summary>
    /// <param name="str"></param>
    /// <param name="st"></param>
    /// <param name="ed"></param>
    /// <returns></returns>
    public static string SubString(string str, int st, int ed)
    {

        str = Regex.Replace(str, "<.*?>", string.Empty);
        str = Regex.Replace(str, "&.*?;", string.Empty);
        //Substr
        if (str.Length > ed)
        {
            str = str.Substring(st, ed) + "...";
        }

        return str;
    }

    /// <summary>
    /// 置換Ascii
    /// </summary>
    /// <param name="code"></param>
    /// <returns></returns>
    public static string changeASCII(int code)
    {

        byte[] array = new byte[1];
        array[0] = (byte)(Convert.ToInt32(code)); //ASCII碼強制轉換二進制
        string str = Convert.ToString(System.Text.Encoding.ASCII.GetString(array));

        return str;
    }

    /// <summary>
    /// 系統資訊
    /// </summary>
    /// <param name="uri"></param>
    /// <param name="lang"></param>
    /// <returns></returns>
    public static List<system_item> SystemItemList(string uri , string lang)
    {
        Model DB = new Model();
        List<system_item> _Items = DB.system_item.Where(m => m.category == uri).Where(m => m.lang == lang).OrderBy(m=>m.sortIndex).ToList();
        return _Items;
    }


}


