﻿<template>
    <div class="card rounded-10 overflow-hidden mb-2">
        <button class="text-white bg-blue-gradient btn-dec px-4 py-2 py-md-3" type="button" data-toggle="collapse" :data-target="'#' + collapseId">
            <span class="flex-justify-space-between py-lg-1 lh14">
                <span class="font-weight-bold">{{caption}}</span>
                <i class="icon-down-open"></i>
            </span>
        </button>
        <div :id="collapseId" class="collapse" data-parent="#accordion">
            <div class="bg-white scrollbarY py-2 pl-2">
                <div class='pr-3'>
                    <a :href="productUrl + '/index/' + product.id" v-for="product in productions" class="flex-align-center border-DCDCDC border-hover-orangeFCB813 bg-F4F4F4 rounded-10 overflow-hidden mb-2">
                        <span class="flex-center w60 h60 flex-shrink-0">
                            <img v-bind:src="product.ImgUrl" alt="">
                        </span>
                        <span class="d-block px-3">
                            <span class="d-block">系列名稱</span>
                            <span class="d-block">{{product.name}}</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["caption", "productions", "index"],
        data: function () {
            return {
                //productUrl: this.$options.filters.appPathFormatTw("/product"), 
                productUrl: $('#langPath').val() + '/product',
            }
        },
        mounted: function () {
            $(".scrollbarY").mCustomScrollbar({
                axis: "y",
            });
        },
        computed: {
            collapseId: function () {
                return "collapse-" + this.index;
            }
        }
    }
</script>