﻿<template>
    <div class="box-shadow-style-5 mb-4 mb-md-5 pb-4 pb-md-0" data-aos="fade-up">
        <div class="dec"></div>
        <div class="row">
            <div class="col product-block">
                <div class="pt-4 pt-md-2 pb-3 pb-md-4 px-3 px-md-0">
                    <slot></slot>
                    <img class="productImg d-table mx-auto" v-bind:src="product.productImg" alt="">
                    <!--<span id="productfileimg" style="visibility:hidden">{{product.productImg}}</span>
                    <input type="hidden" id="aaabbb" v-model="product.productImg" value="{{product.productImg}}" />-->
                </div>
                <div class="d-table mx-auto pt-1">
                    <div class="d-flex">
                        <button class="zoom-toggle flex-center text-hover-blue1B79C4 mx-3" v-bind:class="{zoom:zoomToggle}" @click="handleZoomClick">
                            <span class="flex-center w40 h40 bg-orange rounded-circle mr-3">
                                <i class="icon-zoom text-white font-20 lh1"></i>
                                <i class="icon-zoomout text-white font-20 lh1"></i>
                            </span>
                            <span>{{productBoxData10}}</span>
                        </button>
                        <!--<button class="flex-center text-hover-blue1B79C4 mx-3" @click="open3DDialog" v-if="product.o_type != 'Terminal' &&  product.item_class != 'Other(其他)' && product.o_type != 'Sleeve' && product.o_type != 'Rubber'">-->
                        <button class="flex-center text-hover-blue1B79C4 mx-3" @click="open3DDialog" v-if="product.new_name == '304426033APW'">
                            <span class="flex-center w40 h40 bg-green91A82C rounded-circle mr-3">
                                <i class="icon-eye text-white font-20 lh1"></i>
                            </span>
                            <span>3D</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col detail-block border-left-lg-C8C8C8 pt-4 pb-4">
                <div class="pl-3 pr-3 pr-md-5">
                    <div class="d-md-table mb-4 pb-md-2 mt-md-1">
                        <div class="d-md-flex text-white lh165">
                            <div class="bg-gradient-yellow border-orangeCB7B03 rounded-left-md-15 py-2 px-3">
                                <span class="d-block py-1 px-1">{{productBoxData1}}：{{product.productReType}}</span>
                            </div>
                            <div class="bg-gradient-green border-green2A7764 rounded-right-md-15 py-2 px-3">
                                <span class="d-block py-1 px-1">{{productBoxData2}}：{{product.productReItemClass}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 pb-md-1 pl-2">
                        <p class="mb-1 mb-md-2 pb-md-1">
                            <span>» {{productBoxData3}}：</span>
                            <span class="font-20 font-weight-bold">{{product.new_name}}</span>
                        </p>
                        <p class="mb-1 mb-md-2 pb-md-1">
                            <span>» {{productBoxData4}}：</span>
                            <span class="font-weight-bold text-969696">{{product.name}}</span>
                        </p>
                        <p class="mb-1 mb-md-2 pb-md-1">
                            <span>» {{productBoxData5}}：</span>
                            <span v-if="product.o_type == 'Housing'">{{product.size}}</span>
                            <span v-if="product.o_type == 'Terminal'">{{product.sizeT}}</span>
                            <span v-if="product.o_type == 'Rubber'">{{product.sizeR}}</span>
                            <span v-if="product.o_type == 'Sleeve'">{{product.sizeS}}</span>
                        </p>
                        <p v-if="product.o_type == 'Housing'" class="mb-1 mb-md-2 pb-md-1">
                            <span>» {{productBoxData6}}：</span>
                            <span>{{product.series}}</span>
                        </p>
                    </div>
                    <div class="pr-4 pl-2">
                        <div class="flex-align-center mb-2 mb-md-0">
                            <div class="flex-center text-white w40 h40 rounded-circle bg-green2CA897 mr-3">
                                <i class="icon-download"></i>
                            </div>
                            <button class="flex-grow text-left border-bottom-dash text-hover-blue5E86BC py-2 py-md-3" @click="opendownloaddialog" data-download="download">{{productBoxData7}}</button>
                            <!--<a v-bind:href="product.productSpc" class="flex-grow text-left border-bottom-dash text-hover-blue5E86BC py-2 py-md-3" target="_blank">參考規格圖</a>-->
                        </div>
                        <div class="flex-align-center mb-2 mb-md-0">
                            <div class="flex-center text-white w40 h40 rounded-circle bg-blue2C65A8 mr-3" style="margin-bottom:6px;">
                                <i class="icon-download"></i>
                            </div>
                            <!--<button type="button" class="flex-grow text-left border-bottom-dash text-hover-blue5E86BC py-2 py-md-3" data-toggle="modal" data-target="#downloadModal">產品圖紙</button>
                            <a class="d-none" href="#" download></a>-->
                            <button class="flex-grow text-left border-bottom-dash text-hover-blue5E86BC py-2 py-md-3" @click="openpaperdialog">{{productBoxData8}}</button>
                            <!--<a v-bind:href="product.productPaper" class="flex-grow text-left border-bottom-dash text-hover-blue5E86BC py-2 py-md-3" target="_blank">產品圖紙</a>-->
                        </div>
                        <div class="flex-align-center mb-2 mb-md-0" v-if="product.o_type == 'Housing' && product.productBook == 'JD'">
                            <div class="flex-center text-white w40 h40 rounded-circle bg-green91A82C mr-3">
                                <i class="icon-download"></i>
                            </div>
                            <!--<button type="button" class="flex-grow text-left text-hover-blue5E86BC py-2 py-md-3" data-toggle="modal" data-target="#downloadModal">產品規格書</button>-->
                            <button class="flex-grow text-left border-bottom-dash text-hover-blue5E86BC py-2 py-md-3" @click="openspcdialog">{{productBoxData9}}</button>
                            <!--<a v-bind:href="product.productBook" class="flex-grow text-left border-bottom-dash text-hover-blue5E86BC py-2 py-md-3" target="_blank">產品規格書</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-blueEDF4FF border-C8C8C8 py-4 mx-3 mx-md-0">
            <div class="row align-center px-4 mx-0">
                <div class="col-12 col-md-3 text-center text-md-left px-0">
                    <img class="mx-1 my-2" src="styles/images/products/product/mark-1.png" alt="">
                </div>
                <div class="col-12 col-md-9 pr-0 pl-0 pl-md-3 mt-3 mt-md-0">
                    <div class="d-block d-xl-flex flex-justify-space-between pl-md-4">
                        <div class="row justify-md-end align-center mb-4 mb-xl-0">
                            <div class="col-12 col-md-auto col-xl-6 mb-2 mb-md-0">
                                <!--<button type="button" class="flex-align-center bg-white text-hover-blue1B79C4 border-C8C8C8 rounded-25 h40 lh165 px-4 py-1 mx-auto" data-toggle="modal" data-target="#successModal">
                                    <i class="icon-pen font-18 text-blue1B79C4 mr-1"></i>
                                    <span class="white-space-nowrap">規格比較-5</span>
                                </button>-->
                                <div class="d-table mx-auto">
                                    <a href="javascript:void(0)" class="flex-align-center bg-white text-hover-blue1B79C4 border-C8C8C8 rounded-25 h40 lh165 px-4 py-1" @click="handleAddIq(product.id)">
                                        <i class="icon-pen font-18 text-blue1B79C4 mr-1"></i>
                                        <span class="pr-2" style="white-space:nowrap;">{{productBoxData11}}</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-md-auto col-xl-6">
                                <div class="d-table mx-auto">
                                    <a href="javascript:void(0)" class="flex-align-center bg-white text-hover-blue1B79C4 border-C8C8C8 rounded-25 h40 lh165 px-4 py-1" @click="handleAddIqTurn(product.id)">
                                        <!--<a href="http://iis.24241872.tw/projects/public/e000482/test/tw/contact/index" class="flex-align-center bg-white text-hover-blue1B79C4 border-C8C8C8 rounded-25 h40 lh165 px-4 py-1">-->
                                        <i class="icon-mail font-14 text-blue1B79C4 mr-2"></i>
                                        <span class="pr-2" style="white-space:nowrap;">{{productBoxData12}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-table ml-auto mr-auto mr-md-0">
                            <div class="flex-align-center">
                                <!--<div class="text-969696 mr-2">
                                    <i class="icon-share mr-1"></i>
                                    <span class="font-weight-bold">Share</span>
                                </div>
                                <div>
                                    <a class="d-inline-block box-shadow-hover-style-2 rounded-10 overflow-hidden w40 mx-1" href="#" target="_blank">
                                        <img :src="line | appPathFormat" alt="">
                                    </a>
                                    <a class="d-inline-block box-shadow-hover-style-2 rounded-10 overflow-hidden w40 mx-1" href="#" target="_blank">
                                        <img :src="dialog | appPathFormat" alt="">
                                    </a>
                                    <a class="d-inline-block box-shadow-hover-style-2 rounded-10 overflow-hidden w40 mx-1" href="#" target="_blank">
                                        <img :src="link | appPathFormat" alt="">
                                    </a>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade blank" id="downloadModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-10 px-5 py-4">
                <div class="border-bottom-dash pb-4 pt-3">所下載2D-產品圖紙、產品規格書、3D 圖，非正式文件僅供初步參考使用。所需工程使用文件，洽詢業務取得正式規格文件。</div>
                <div class="d-table mx-auto pt-4 mt-2 pb-2">
                    <button type="button" class="bg-blue-gradient btn-dec text-white rounded-5 py-2 px-4 mx-2" data-download="download">同意並下載檔案</button>
                    <button type="button" class="bg-black btn-dec text-white rounded-5 py-2 px-4 mx-2" data-dismiss="modal">不同意</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["product"],
        data() {
            return {
                productBoxData1: "",
                productBoxData2: "",
                productBoxData3: "",
                productBoxData4: "",
                productBoxData5: "",
                productBoxData6: "",
                productBoxData7: "",
                productBoxData8: "",
                productBoxData9: "",
                productBoxData10: "",
                productBoxData11: "",
                productBoxData12: "",
                line: "/Styles/images/products/product/line.svg",
                dialog: "/Styles/images/products/product/dialog.svg",
                link: "/styles/images/products/product/link.svg",
                zoomToggle: false,
                zoom: false,
                zoomInit: false
            }

        },
        created: function () {
            this.$nextTick(function () {
                this.$axios.get($('#langPath').val() +'/products/getProductsCategories')
                    .then((res) => {
                        this.productBoxData1 = res.data.productBoxData1;
                        this.productBoxData2 = res.data.productBoxData2;
                        this.productBoxData3 = res.data.productBoxData3;
                        this.productBoxData4 = res.data.productBoxData4;
                        this.productBoxData5 = res.data.productBoxData5;
                        this.productBoxData6 = res.data.productBoxData6;
                        this.productBoxData7 = res.data.productBoxData7;
                        this.productBoxData8 = res.data.productBoxData8;
                        this.productBoxData9 = res.data.productBoxData9;
                        this.productBoxData10 = res.data.productBoxData10;
                        this.productBoxData11 = res.data.productBoxData11;
                        this.productBoxData12 = res.data.productBoxData12;
                    })
                    .catch((error) => {
                        console.error(error)
                    })
            })
        },
        methods: {
            handleZoomClick: function () {
                this.zoomToggle = !this.zoomToggle;

                if (!this.zoomInit) {
                    this.zoom = true;
                    this.zoomInit = true;

                    this.$emit("zoomtoggle", { zoomInit: this.zoomInit, zoom: this.zoom });
                } else {
                    this.zoom = !this.zoom;
                    this.zoomInit = false;
                    this.$emit("zoomtoggle", { zoomInit: this.zoomInit, zoom: this.zoom });
                }
            },
            open3DDialog: function () {
                this.$emit("open3ddialog");
            },
            opendownloaddialog: function () {
                this.$emit("opendownloaddialog");
            },
            openpaperdialog: function () {
                this.$emit("openpaperdialog");
            },
            openspcdialog: function () {
                this.$emit("openspcdialog");
            },
            handleAddIqTurn: function (dataid) {

                let needVal = new FormData();
                needVal.append('id', dataid);

                this.$axios.post('/Ajax/addToProductInquery', { data: dataid })
                    .then((res) => {
                        location.href = "http://iis.24241872.tw/projects/public/e000482/test/tw/contact/index";
                    })
                    .catch((error) => {
                        console.error(error)
                    })
            },
            handleAddIq: function (dataid) {

                let needVal = new FormData();
                needVal.append('id', dataid);

                this.$axios.post('/Ajax/addToProductInquery', { data: dataid })
                    .then((res) => {
                        swal({
                            title: '已加入諮詢單',
                            text: "",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '確定',
                        });
                    })
                    .catch((error) => {
                        console.error(error)
                    })


                //$.ajax({
                //    type: 'POST',
                //    url: '@Url.Content("~/Ajax/addToInquery")',
                //    data: needVal,
                //    // dataType: 'json',
                //    cache: false,
                //    contentType: false,
                //    processData: false,
                //    success: function (json) {

                //        swal({
                //            title: '@ViewBag.ResLang["已加入諮詢單"].ToString()',
                //            text: "",
                //            type: "success",
                //            showCancelButton: false,
                //            confirmButtonColor: '#3085d6',
                //            cancelButtonColor: '#d33',
                //            confirmButtonText: '@ViewBag.ResLang["確定"].ToString()',
                //        });

                //    },
                //});
            }
        }
    }
</script>