﻿<template>
    <div class="modal fade blank" id="productModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-10 px-1 pb-3 pb-md-2 pt-4">
                <div class="h-100">
                    <button type="button" class="position-absolute w36 h36 bg-black rounded-circle">
                        <i class="icon-cancel font-24 text-white"></i>
                    </button>
                    <div class="h-100">
                        <div class="logo position-absolute">
                            <img src="styles/images/products/product/logo.svg" alt="">
                        </div>
                        <iframe class="border-0 w-100 h-100" src="styles/images/products/product/3D.html"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade blank" id="downloadModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-10 px-5 py-4">
                <div class="border-bottom-dash pb-4 pt-3">所下載2D-產品圖紙、產品規格書、3D 圖，非正式文件僅供初步參考使用。所需工程使用文件，洽詢業務取得正式規格文件。</div>
                <div class="d-table mx-auto pt-4 mt-2 pb-2">
                    <button type="button" class="bg-blue-gradient btn-dec text-white rounded-5 py-2 px-4 mx-2" data-download="download">同意並下載檔案</button>
                    <button type="button" class="bg-black btn-dec text-white rounded-5 py-2 px-4 mx-2" data-dismiss="modal">不同意</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    }
</script>