
.page-content {
    margin-left: $left-width;
    padding: 50px 0px 0 0px;
    background: $page-content-bg;
    position: relative;
    transition: all 0.4s ease;
    overflow-x: hidden;
    @include media-breakpoint-down(lg){
        left: $left-width;
        margin-left: 0;
    }
    .slide-nav-close & {
        margin-left: 44px;

        @include media-breakpoint-down(lg){
            left: 0;
            margin-left: 0;
        }
        
    }
    .content-body {
        padding: 15px;
        @include media-breakpoint-down(lg){
            padding: 0;
        }
    }
    .content-header {
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
        box-shadow: 0 1px 3px rgba(55, 55, 55, .1);
        @include media-breakpoint-down(sm){
            display: none;
        }
        h1 {
            margin: 0;
            i {
                color: rgba(55, 55, 55, .5);
                margin-right: 15px;
            }
            @include media-breakpoint-down(lg) {
                font-size: 15px;
            }
        }
        .breadcrumb {
            font-size: 13px;
            border: 0;
            font-weight: 600;
            margin: 0;
            a {
                color: #000;
                display: inline-block;
                opacity: 0.5;
                transition: 0.3s ease;
                text-decoration: none !important;
                &:hover {
                    opacity: 1;
                }
            }
            &>.breadcrumb-item+.breadcrumb-item::before {
                color: #212121;
                opacity: .5;
                font-family: 'icomoon';
                content: "\e939";
                padding: 1px 9px;
                float: left;
            }
        }
    }
}

.panel {
    background-color: #ffffff;
    margin: 0;
    box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
    &+& {
        margin: 15px 0 0 0;
    }
    &.panel-default {
        &>.panel-heading {
            background: #f9f9f9;
            border-bottom: 1px solid #e6e6e6;
        }
        .panel-body {
            padding: 35px 20px 20px 20px;
            @include media-breakpoint-down(md) {
                padding: 15px;
            }
        }
    }
    .panel-heading {
        background-color: #ffffff;
        position: relative;
        padding: 15px 20px 10px 20px;
        &::after {
            display: block;
            clear: both;
            content: "";
        }
    }
    .panel-body {
        background-color: #ffffff;
        border: 0px solid #e8e8e8;
        border-top: 0px;
        -webkit-transition: 800ms;
        -moz-transition: 800ms;
        -o-transition: 800ms;
        transition: 800ms;
        &::after {
            display: block;
            clear: both;
            content: "";
        }
    }
    .panel-title,
    .legend {
        line-height: 24px;
        text-transform: capitalize;
        font-weight: bolder;
        border-bottom: 1px solid rgba(33, 33, 33, 0.1);
        padding-bottom: 5px;
        margin-bottom: 20px;
    }
}

.image-container {
    display: inline-block;
}

.thumb {
    background-color: #fff;
    padding: 3px;
    border: 1px solid #dee2e6;
    display: inline-block;
    font-size: 0;
    span {
        width: 80px;
        height: 80px;
        display: inline-block;
        @include media-breakpoint-down(md) {
            width: 50px;
            height: 50px;
        }
    }
}
.thumb-sm {
    span {
        width: 35px!important;
        height: 35px!important;
    }
}
.table {
    thead {
        th {
            white-space: nowrap;
        }
    }
    td {
        .thumb {
            span {
                width: 80px;
                height: 80px;
                @include media-breakpoint-down(md) {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}

.thumb-80 {
    .thumb {
        span {
            width: 80px;
            height: 80px;
            @include media-breakpoint-down(md) {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.talbe-sort {
    .form-control {
        width: 37px;
        font-size: 11px;
        margin-right: 5px;
    }
}

.form-btn-group {
    .btn {
        min-width: 150px;
        @include media-breakpoint-down(sm) {
            min-width: inherit;
        }
    }
}

.table-search-input {
    @include media-breakpoint-down(lg) {
        width: 100px!important;
    }
    @include media-breakpoint-down(sm) {
        width: 100% !important;
    }
}

.nav-tabs {
    border-bottom: 1px solid rgba(33, 33, 33, 0.1);
    .nav-link {
        color: inherit;
        &.active {
            color: $main;
        }
    }
}

#fileContent {
    .table-search-input {
        width: 100px !important;
    }
    .file-nav {
        display: none;
    }
}

.file-img {
    .card {
        width: 108px;
        border: 0;
        margin-right: 5px;
        a {
            background-color: #fff;
            padding: 3px;
            border: 1px solid $table-border-color;
            display: inline-block;
            text-align: center;
            span {
                width: 100px;
                height: 100px;
                display: inline-block;
                @include media-breakpoint-down(md) {
                    width: 100px;
                    height: 100px;
                }
                i {
                    font-size: 80px;
                }
            }
        }
        .card-title {
            margin: 0;
            font-size: 12px;
            overflow: hidden;
            text-align: center;
            padding: 0px 3px;
            height: 40px;
        }
        .card-body {
            padding: 0;
        }
        .custom-control {
            margin: 0;
            position: absolute;
            top: 0px;
            right: -2px;
        }
    }
    .file-icon {
        a {
            i {
                color: #ccc;
            }
        }
    }
    .file-folder a i {
        color: #F7CA18;
        font-size: 100px;
    }
}

.file-img-list {
    .card {
        width: 138px;
        border: 0;
        margin-right: 5px;
        .thumb {
            margin-bottom: 5px;
            span {
                width: 130px;
                height: 130px;
            }
        }
        .card-title {
            margin: 0;
            font-size: 12px;
            overflow: hidden;
            text-align: center;
            padding: 0px 3px;
            height: 40px;
        }
        .card-body {
            padding: 0;
        }
        .custom-control {
            margin: 0;
            position: absolute;
            top: 0px;
            right: -2px;
        }
        .btn-group-sm>.btn {
            padding: 0.3rem 0.3rem;
            font-size: 0.8rem;
            line-height: 1;
        }
        .btn-group{
            .btn{
                line-height: 0.95rem;
            }
        }
    }
}

.inbox-img-list {
    .card {
        width: 138px;
        border: 0;
        margin-right: 5px;
        .thumb {
            margin-bottom: 5px;
            span {
                width: 130px;
                height: 130px;
            }
        }
        .card-title {
            margin: 0;
            font-size: 12px;
            overflow: hidden;
            text-align: center;
            padding: 0px 3px;
            height: 40px;
        }
        .card-body {
            padding: 0;
        }
        .custom-control {
            margin: 0;
            position: absolute;
            top: 0px;
            right: -2px;
        }
        .btn-group-sm>.btn {
            padding: 0.3rem 0.3rem;
            font-size: 0.8rem;
            line-height: 1;
        }
        .btn-group{
            .btn{
                line-height: 0.95rem;
            }
        }
    }
}
.jcrop-wp {
    position: relative;
    .jcrop-mark {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        background: rgba(0, 0, 0, 0.3);
    }
    img {
        z-index: 2;
    }
    .jcrop-holder {
        z-index: 1;
    }
}

.a-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}
.profile-userpic{
    display:inline-block;
    span {
        display: inline-block;
        width: 200px;
        height: 200px;
        border:0;
    }
}