﻿@using Web.Models;
@using Web.DB.Models;
@using Newtonsoft.Json;
@{
    Layout = "~/Views/Siteadmin/Shared/_Layout.cshtml";
    member data = new member();

    if (ViewBag.data != null)
    {
        data = ViewBag.data;
    }

    customerGeneralData customerGeneralData = new customerGeneralData();
    bankAffiliatesData bankAffiliatesData = new bankAffiliatesData();
    businessTypeData businessTypeData = new businessTypeData();
    top3BusinessContentsData top3BusinessContentsData = new top3BusinessContentsData();
    top3CustomersData top3CustomersData = new top3CustomersData();
    top3VendersData top3VendersData = new top3VendersData();
    majorEquipmentData majorEquipmentData = new majorEquipmentData();
    floorAreaData floorAreaData = new floorAreaData();
    productModelData productModelData = new productModelData();
    companyType1Data companyType1Data = new companyType1Data();
    companyType2Data companyType2Data = new companyType2Data();
    cooperationData cooperationData = new cooperationData();
    whitchMethodsData whitchMethodsData = new whitchMethodsData();

    if (data.customer_general_information != null)
    {
        customerGeneralData = JsonConvert.DeserializeObject<customerGeneralData>(data.customer_general_information);
    }
    if (data.bank_affiliates != null)
    {
        bankAffiliatesData = JsonConvert.DeserializeObject<bankAffiliatesData>(data.bank_affiliates);
    }
    if (data.businessType != null)
    {
        businessTypeData = JsonConvert.DeserializeObject<businessTypeData>(data.businessType);
    }
    if (data.top3_businessContents != null)
    {
        top3BusinessContentsData = JsonConvert.DeserializeObject<top3BusinessContentsData>(data.top3_businessContents);
    }
    if (data.top3_customers != null)
    {
        top3CustomersData = JsonConvert.DeserializeObject<top3CustomersData>(data.top3_customers);
    }
    if (data.top3_venders != null)
    {
        top3VendersData = JsonConvert.DeserializeObject<top3VendersData>(data.top3_venders);
    }
    if (data.major_equipmentList != null)
    {
        majorEquipmentData = JsonConvert.DeserializeObject<majorEquipmentData>(data.major_equipmentList);
    }
    if (data.floorArea != null)
    {
        floorAreaData = JsonConvert.DeserializeObject<floorAreaData>(data.floorArea);
    }
    if (data.productModel != null)
    {
        productModelData = JsonConvert.DeserializeObject<productModelData>(data.productModel);
    }
    if (data.companyType1 != null)
    {
        companyType1Data = JsonConvert.DeserializeObject<companyType1Data>(data.companyType1);
    }
    if (data.companyType2 != null)
    {
        companyType2Data = JsonConvert.DeserializeObject<companyType2Data>(data.companyType2);
    }
    if (data.cooperation != null)
    {
        cooperationData = JsonConvert.DeserializeObject<cooperationData>(data.cooperation);
    }
    if (data.whitchMethods != null)
    {
        whitchMethodsData = JsonConvert.DeserializeObject<whitchMethodsData>(data.whitchMethods);
    }
}

@section css {
    @Styles.Render("~/Scripts/elfinder/css/smoothness-1.8.23/jquery-ui-1.8.23.custom.css")
    @Styles.Render("~/Scripts/elfinder/css/elfinder.full.css")
    @Styles.Render("~/Scripts/elfinder/windows-10/css/theme.css")
    @Styles.Render("~/Scripts/imgareaselect/css/imgareaselect-default.css")

}

<div class="content-body">
    <!-- layout-content-->
    <section class="panel panel-default">
        <header class="panel-heading">
            <h1 class="h5 float-left font-weight-bold">
                客戶帳號管理
            </h1>



            <div class="float-right">

                <button class="btn btn-sm btn-light" type="button" onclick="window.location.href='@Url.Content("~/siteadmin/member/list")'" title="返回"><i class="icon-undo2"></i><span class="ml-1 d-none d-md-inline-block">返回</span></button>


            </div>
        </header>
        <div class="panel-wrapper">
            <div class="panel-body">
                <form action="@Url.Content("~/siteadmin/member/save")" method="post" name="saveForm" id="saveForm">


                    <input type="hidden" name="id" id="id" value="@Html.Raw(ViewBag.data != null ? data.id.ToString() : "")">
                    <input type="hidden" name="guid" id="guid" value="@Html.Raw(ViewBag.data != null ? data.guid.ToString() : "")">



                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>主要設定</legend>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                帳號
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" name="username" id="username" data-tables="member" value="@Html.Raw(ViewBag.data != null ? data.username.ToString() : "")" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                密碼
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="password" name="password" id="password" value="" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                密碼確認
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="password" id="password_chk" value="" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                姓名
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" name="name" id="name" value="@Html.Raw(ViewBag.data != null ? data.name.ToString() : "")" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                E-Mail
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" name="email" id="email" value="@Html.Raw(ViewBag.data != null ? data.email.ToString() : "")" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>





                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                公司
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" name="company" id="company" value="@Html.Raw(ViewBag.data != null ? data.company : "")" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>



                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                電話
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" name="phone" id="phone" value="@Html.Raw(ViewBag.data != null ? data.phone.ToString() : "")" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>




                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Customer General Information</legend>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Company Name：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.companyName;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Country：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.contry;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Location：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.location;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Invoice/Mail Address：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.invoiceAddress;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Delivery Address：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.deliveryAddress;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Telephone No.：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.tel;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Fax No.：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.fax;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Chairman：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.chairman;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Person to Contact：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.contactPerson;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Website：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.website;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Email：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.email;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Date of Establishment：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.establishment;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Capital Stock：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.stock;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Business License：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.license;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Number of Employees：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.employees;
                                }
                            </div>
                        </div>
                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Branch Office / Factory in Overseas：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.customer_general_information != null)
                                {
                                    @customerGeneralData.Overseas;
                                }
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Bank Affiliates</legend>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Bank Name：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.bank_affiliates != null)
                                {
                                    @bankAffiliatesData.bankName1;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                Branch：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.bank_affiliates != null)
                                {
                                    @bankAffiliatesData.branch1;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                Account No.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.bank_affiliates != null)
                                {
                                    @bankAffiliatesData.account1;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                Remark：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.bank_affiliates != null)
                                {
                                    @bankAffiliatesData.remark1;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Bank Name：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.bank_affiliates != null)
                                {
                                    @bankAffiliatesData.bankName2;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                Branch：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.bank_affiliates != null)
                                {
                                    @bankAffiliatesData.branch2;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                Account No.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.bank_affiliates != null)
                                {
                                    @bankAffiliatesData.account2;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                Remark：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.bank_affiliates != null)
                                {
                                    @bankAffiliatesData.remark2;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Bank Name：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.bank_affiliates != null)
                                {
                                    @bankAffiliatesData.bankName3;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                Branch：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.bank_affiliates != null)
                                {
                                    @bankAffiliatesData.branch3;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                Account No.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.bank_affiliates != null)
                                {
                                    @bankAffiliatesData.account3;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                Remark：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.bank_affiliates != null)
                                {
                                    @bankAffiliatesData.remark3;
                                }
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Business Type</legend>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Business Type：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.businessType != null)
                                {
                                    @businessTypeData.businessType;
                                }
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Top – 3 Business Contents or Products</legend>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Item 1.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_businessContents != null)
                                {
                                    @top3BusinessContentsData.productsItem1;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                % ：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_businessContents != null)
                                {
                                    @top3BusinessContentsData.productsPrecent1;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Item 2.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_businessContents != null)
                                {
                                    @top3BusinessContentsData.productsItem2;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                % ：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_businessContents != null)
                                {
                                    @top3BusinessContentsData.productsPrecent2;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Item 3.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_businessContents != null)
                                {
                                    @top3BusinessContentsData.productsItem3;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                % ：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_businessContents != null)
                                {
                                    @top3BusinessContentsData.productsPrecent3;
                                }
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Top – 3 Customers</legend>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Customer Name 1.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_customers != null)
                                {
                                    @top3CustomersData.customerItem1;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                % ：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_customers != null)
                                {
                                    @top3CustomersData.customerPrecent1;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Customer Name 2.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_customers != null)
                                {
                                    @top3CustomersData.customerItem2;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                % ：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_customers != null)
                                {
                                    @top3CustomersData.customerPrecent2;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Customer Name 3.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_customers != null)
                                {
                                    @top3CustomersData.customerItem3;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                % ：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_customers != null)
                                {
                                    @top3CustomersData.customerPrecent3;
                                }
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Top – 3 Venders</legend>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Vender Name 1.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_venders != null)
                                {
                                    @top3VendersData.venderItem1;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                % ：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_venders != null)
                                {
                                    @top3VendersData.venderPrecent1;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Vender Name 2.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_venders != null)
                                {
                                    @top3VendersData.venderItem2;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                % ：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_venders != null)
                                {
                                    @top3VendersData.venderPrecent2;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Vender Name 3.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_venders != null)
                                {
                                    @top3VendersData.venderItem3;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                % ：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.top3_venders != null)
                                {
                                    @top3VendersData.venderPrecent3;
                                }
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Major Equipment List</legend>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                1. ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.major_equipmentList != null)
                                {
                                    @majorEquipmentData.list1;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                2. ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.major_equipmentList != null)
                                {
                                    @majorEquipmentData.list2;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                3. ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.major_equipmentList != null)
                                {
                                    @majorEquipmentData.list3;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                4. ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.major_equipmentList != null)
                                {
                                    @majorEquipmentData.list4;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                5. ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.major_equipmentList != null)
                                {
                                    @majorEquipmentData.list5;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                6. ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.major_equipmentList != null)
                                {
                                    @majorEquipmentData.list6;
                                }
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Floor Area</legend>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Headquarter ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.floorArea != null)
                                {
                                    @floorAreaData.headquarter;
                                }
                                SQ.M.
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Branch ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.floorArea != null)
                                {
                                    @floorAreaData.branch;
                                }
                                SQ.M.
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Product Model / Brand of your Customers</legend>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Mitsubishi, Model ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.productModel != null)
                                {
                                    if (productModelData.CustomersText1 != "" && productModelData.CustomersText1 != null)
                                    {
                                        @productModelData.CustomersText1;
                                    }
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Nissan, Model ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.productModel != null)
                                {
                                    if (productModelData.CustomersText2 != "" && productModelData.CustomersText2 != null)
                                    {
                                        @productModelData.CustomersText2;
                                    }
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Honda, Model ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.productModel != null)
                                {
                                    if (productModelData.CustomersText3 != "" && productModelData.CustomersText3 != null)
                                    {
                                        @productModelData.CustomersText3;
                                    }
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Suzuki, Model ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.productModel != null)
                                {
                                    if (productModelData.CustomersText4 != "" && productModelData.CustomersText4 != null)
                                    {
                                        @productModelData.CustomersText4;
                                    }
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Ford, Model ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.productModel != null)
                                {
                                    if (productModelData.CustomersText5 != "" && productModelData.CustomersText5 != null)
                                    {
                                        @productModelData.CustomersText5;
                                    }
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Isuzu, Model ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.productModel != null)
                                {
                                    if (productModelData.CustomersText6 != "" && productModelData.CustomersText6 != null)
                                    {
                                        @productModelData.CustomersText6;
                                    }
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Yamaha, Model ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.productModel != null)
                                {
                                    if (productModelData.CustomersText7 != "" && productModelData.CustomersText7 != null)
                                    {
                                        @productModelData.CustomersText7;
                                    }
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Kawasaki, Model ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.productModel != null)
                                {
                                    if (productModelData.CustomersText8 != "" && productModelData.CustomersText8 != null)
                                    {
                                        @productModelData.CustomersText8;
                                    }
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Others ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.productModel != null)
                                {
                                    if (productModelData.CustomersText9 != "" && productModelData.CustomersText9 != null)
                                    {
                                        @productModelData.CustomersText9;
                                    }
                                }
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Company Type I</legend>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Company Type I ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.companyType1 != null)
                                {
                                    @companyType1Data.type1;
                                }
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Company Type II</legend>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Company Type II ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.companyType2 != null)
                                {
                                    @companyType2Data.type2;
                                }
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Cooperation / Joint Venture with (Ex: Sumitomo, Yazaki, Furukawa, etc.)</legend>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Company Name 1.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.cooperation != null)
                                {
                                    @cooperationData.cooperationItem1;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                Capital Share % ：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.cooperation != null)
                                {
                                    @cooperationData.cooperationPrecent1;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Company Name 2.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.cooperation != null)
                                {
                                    @cooperationData.cooperationItem2;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                Capital Share % ：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.cooperation != null)
                                {
                                    @cooperationData.cooperationPrecent2;
                                }
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-2 col-xl-2">
                                Company Name 3.：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.cooperation != null)
                                {
                                    @cooperationData.cooperationItem3;
                                }
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                Capital Share % ：
                            </div>
                            <div class="col-lg-2 col-xl-2">
                                @if (data.cooperation != null)
                                {
                                    @cooperationData.cooperationPrecent3;
                                }
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Which methods to know our company</legend>

                        <div class="form-group row vLay v_tw">
                            <div class="col-lg-5 col-xl-4">
                                Methods ：
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @if (data.whitchMethods != null)
                                {
                                    @whitchMethodsData.methodsType;
                                }
                            </div>
                        </div>
                    </fieldset>



                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>進階選項</legend>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="tiptop">
                                狀態
                            </label>
                            <div class="col-lg-10">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" id="status_tw0" name="status" value="Y" @if ((ViewBag.data != null && data.status == "Y") || data == null) { @Html.Raw("checked") ; } />
                                    <label class="custom-control-label" for="status_tw0">啟用</label>
                                </div><div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" id="status_tw1" name="status" value="N" @if (ViewBag.data != null && data.status == "N") { @Html.Raw("checked") ; } />
                                    <label class="custom-control-label" for="status_tw1">停用</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="text-center my-4 form-btn-group">

                        <button class="btn btn-main submitBut" type="submit">送出</button>
                        <button class="btn btn-default" type="reset">清除重填</button>
                    </div>

                </form>
            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>
@section scripts {
    <input type="hidden" id="fileMegRoot" value="@Url.Content("~/connector")" />

    <!--page index-->
    @*@Scripts.Render("~/Content/Siteadmin/scripts/index2.js")*@

    <!-- * * * DataTables 表格-->
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/datatables.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/dataTables.responsive.min.js")
    <!-- * * form -->
    <!-- * * * ckeditor 編輯器-->
    @Scripts.Render("~/Content/Siteadmin/modules/ckeditor/ckeditor.js")
    <!-- * * * Bootstrap Daterangepicker 日期區間-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/moment.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/daterangepicker.js")
    <!-- * * * bootstrap-select 下拉選單-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-select/bootstrap-select.js ")
    <!-- * * * multiselect 分類左右選擇 select multiple-->
    @Scripts.Render("~/Content/Siteadmin/modules/multiselect/js/jquery.multi-select.js")
    <!-- * * * multiselect 分類左右選擇 搜尋框 jquery-quicksearch-->
    @Scripts.Render("~/Content/Siteadmin/modules/quicksearch-master/jquery.quicksearch.js")
    @Scripts.Render("~/Content/Siteadmin/modules/select2/js/select2.full.min.js")
    <!-- * * * typeahead 建議字詞清單 typeahead.bundle.js-->
    @Scripts.Render("~/Content/Siteadmin/modules/typeahead/typeahead.bundle.js")

    <!-- * * * inputmask 表單格式-->
    @Scripts.Render("~/Content/Siteadmin/modules/inputmask/jquery.inputmask.bundle.min.js")
    <!-- * * * jquery.repeater.min.js 新增欄位-->
    @Scripts.Render("~/Content/Siteadmin/modules/repeater/jquery.repeater.min.js")
    <!-- * * * bootstrap-colorpicker-master 顏色選取-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-colorpicker-master/js/bootstrap-colorpicker.min.js")
    <!-- * * * nestable 排序拖曳-->
    @Scripts.Render("~/Content/Siteadmin/modules/nestable/jquery.nestable.js")
    <!-- * * * dropzonejs 檔案上傳-->
    @Scripts.Render("~/Content/Siteadmin/modules/dropzonejs/dropzone.js")
    <!-- * * * Jcrop Image Cropping Plugin 圖片座標截圖 -->
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.Jcrop.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.color.js")
    <!-- * * * ammap 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/ammap.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/maps/js/worldLow.js")
    <!-- * * * amcharts 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/amcharts.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/pie.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/serial.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/export/export.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/dataloader/dataloader.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/themes/light.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/lib/amstock.js")
    <!-- * * * bootstrap-datepicker 日曆-->
    <!--@Scripts.Render("~/Content/Siteadmin/modules/bootstrap-datepicker/bootstrap-datepicker.min.js")-->
    <!-- * * * bootstrap-year-calendar 年曆-->
    <!-- @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/bootstrap-year-calendar.js")
     @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/languages/bootstrap-year-calendar.tw.js")-->
    @Scripts.Render("~/Content/Siteadmin/scripts/form.js")

    @Scripts.Render("~/Content/Siteadmin/scripts/datatables.js")
    @Scripts.Render("~/Content/Siteadmin/scripts/typeahead.js")

    <script src="@Url.Content("~/")Scripts/elfinder/js/elfinder.full.js" type="text/javascript" charset="utf-8"></script>
    @Scripts.Render("~/Scripts/elfinder/js/i18n/elfinder.zh_TW.js")
    @Scripts.Render("~/Scripts/elfinder/js/jquery-ui-1.11.4.min.js")
    @Scripts.Render("~/Scripts/imgareaselect/scripts/jquery.imgareaselect.js")

    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")
    @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")

    @Scripts.Render("~/Scripts/jquery.blockUI.js")

    <!-- /  layout-js-->
}