﻿<ul class="noneStyle mb-4 pb-sm-2">
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">資本額：</span>
        <span>新台幣 97,158 萬元</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">廠房面積：</span>
        <span>11,257 平方米</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">主要產品項目：</span>
        <span>1. 端子 2. 連接器 3. 套管 4.防水栓 5. 汽車橡膠防塵套6. 繼電器盒 7.保險絲盒 8. 壓著模具</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">地址：</span>
        <span>新北市汐止區環河街68號</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">電話：</span>
        <span>
            <a class="text-hover-green2AB3AC" href="tel:+886-2-26940551">+886-2-26940551</a>
        </span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">傳真：</span>
        <span>+886-2-2694-2526 (台灣業務服務)、<br />+886-2-2694-6248 (國外業務服務)</span>
    </li>
</ul>