﻿<ul class="noneStyle mb-4 pb-sm-2">
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">電話及傳真：</span>
        <span>+86-553-5907127</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">地址：</span>
        <span>安徽省蕪湖市經濟技術開發區波爾卡國際花園52幢2單元201室</span>
    </li>
</ul>