﻿<ul class="noneStyle mb-4 pb-sm-2">
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">電話及傳真：</span>
        <span>+86-591-22778691</span>
        <span class="d-block font-weight-bold flex-shrink-0 ml-sm-3">東南網：</span>
        <span>
            1136
        </span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">地址：</span>
        <span>福州市閩侯縣青口鎮吉山北路6號</span>
    </li>
</ul>