﻿<ul class="noneStyle mb-4 pb-sm-2">
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">電話及傳真：</span>
        <span>+86-731-86189449</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">地址：</span>
        <span>湖南省長沙市星沙開元東路恒基凱旋門二期23棟2404室</span>
    </li>
</ul>