﻿<ul class="noneStyle mb-4 pb-sm-2">
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">電話及傳真：</span>
        <span>
            +86-576-82356206
        </span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">地址：</span>
        <span>浙江省台州市路橋區螺洋街道雙廟村香樟源36幢2單元803</span>
    </li>
</ul>