﻿<ul class="noneStyle mb-4 pb-sm-2">
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">資本額：</span>
        <span>美金500 萬元</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">廠房面積：</span>
        <span>22,233.27 平方米</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">地址：</span>
        <span>廣東省東莞市大朗鎮犀牛陂村象山工業園公凹一路7號</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">電話：</span>
        <span>
            <a class="text-hover-green2AB3AC" href="tel:+86-769-8331-3618">+86-769-8331-3618</a>、<a class="text-hover-green2AB3AC" href="tel:+86-769-8331-6178">+86-769-8331-6178</a>
        </span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">傳真：</span>
        <span>+86-769-8331-7018</span>
    </li>
</ul>