﻿<ul class="noneStyle mb-4 pb-sm-2">
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">電話及傳真：</span>
        <span>+86-371-55309707</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">地址：</span>
        <span>河南省郑州市鄭東新區東風南路与永平路交叉口鑫苑鑫城1棟1單元2607</span>
    </li>
</ul>