﻿<ul class="noneStyle mb-4 pb-sm-2">
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">資本額：</span>
        <span>美金554 萬元</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">廠房面積：</span>
        <span>6,900 平方米</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">地址：</span>
        <span>Lot XN 28 and 32 Dai An Industrial Zone, Hai Duong Province,Vietnam</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">電話：</span>
        <span>
            <a class="text-hover-green2AB3AC" href="tel:+84-220-3555-477">+84-220-3555-477</a>
        </span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">傳真：</span>
        <span>+84-220-3555-476</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">Công ty TNHH Hulane Electronic (Việt Nam)</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">ADD：</span>
        <span>Lô đất XN 28 và 32, KCN Đại An, TP Hải Dương, Tỉnh Hải Dương</span>
    </li>
</ul>