﻿<ul class="noneStyle mb-4 pb-sm-2">
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">資本額：</span>
        <span>美金808 萬元</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">廠房面積：</span>
        <span>31,304 平方米</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">地址：</span>
        <span>廣東省東莞市大朗鎮犀牛陂村象山工業園公凹一路5號</span>
    </li>
</ul>