﻿<ul class="noneStyle mb-4 pb-sm-2">
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">地址：</span>
        <span>Jl. Jababeka II E Blok C No. 16 I dan J, Pasirgombong, Cikarang Utara, Kab. Bekasi, Jawa Barat, #17530 Indonesia</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">電話：</span>
        <span>
            <a class="text-hover-green2AB3AC" href="tel:+62-21-8983-1816">+62 21-8983-1816</a>
        </span>
    </li>
</ul>