﻿<ul class="noneStyle mb-4 pb-sm-2">
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">資本額：</span>
        <span>美金 1,035萬 萬元</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">廠房面積：</span>
        <span>19,108 平方米</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">地址：</span>
        <span>江蘇省南京市江寧區祿口鎮空港工業園來鳳路 28 號</span>
    </li>
</ul>