﻿<ul class="noneStyle mb-4 pb-sm-2">
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">電話：</span>
        <span>
            <a class="text-hover-green2AB3AC" href="tel:+852-26873228">+852-26873228</a>
        </span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">傳真：</span>
        <span>+852-26871576</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">地址：</span>
        <span>香港新界沙田火炭山尾街31號華東工業中心B座20樓28室</span>
    </li>
</ul>