﻿<ul class="noneStyle mb-4 pb-sm-2">
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">電話：</span>
        <span>
            <a class="text-hover-green2AB3AC" href="tel:+86-21-59561941,,2">+86-21-59561941~2</a>
        </span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">傳真：</span>
        <span>+86-21-59561943</span>
    </li>
    <li class="d-sm-flex">
        <span class="d-block font-weight-bold flex-shrink-0">地址：</span>
        <span>上海市嘉定區安智路155弄萬創坊4層403室</span>
    </li>
</ul>