﻿@using Web.Models;
@using Web.DB.Models;
@using Newtonsoft.Json;
@{
    Layout = "~/Views/Siteadmin/Shared/_Layout.cshtml";

    List<string> haveNext = new List<string> { "diretors" };

    survey data = ViewBag.data;
    companyData company = JsonConvert.DeserializeObject<companyData>(data.company);
    areaData area = JsonConvert.DeserializeObject<areaData>(data.area);
    industryData industry = JsonConvert.DeserializeObject<industryData>(data.industry);
    problemData problem = JsonConvert.DeserializeObject<problemData>(data.problem);
    satisfactionData satisfaction = JsonConvert.DeserializeObject<satisfactionData>(data.satisfaction);

}

@section css {
    @Styles.Render("~/Scripts/elfinder/css/smoothness-1.8.23/jquery-ui-1.8.23.custom.css")
    @Styles.Render("~/Scripts/elfinder/css/elfinder.full.css")
    @Styles.Render("~/Scripts/elfinder/windows-10/css/theme.css")
    @Styles.Render("~/Scripts/imgareaselect/css/imgareaselect-default.css")

}

<div class="content-body">
    <!-- layout-content-->
    <section class="panel panel-default">
        <header class="panel-heading">
            <h1 class="h5 float-left font-weight-bold">
                客戶滿意度調查
            </h1>



            <div class="float-right">

                <button class="btn btn-sm btn-light" type="button" onclick="window.location.href='@Url.Content("~/siteadmin/survey/list")'" title="返回"><i class="icon-undo2"></i><span class="ml-1 d-none d-md-inline-block">返回</span></button>


            </div>
        </header>
        <div class="panel-wrapper">
            <div class="panel-body">
                <form action="@Url.Content("~/siteadmin/survey/save")" method="post" name="saveForm" id="saveForm">


                    <input type="hidden" name="id" id="id" value="@data.id">
                    <input type="hidden" name="guid" id="guid" value="@data.guid">



                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>主要設定</legend>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                客戶編號
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@data.no" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                姓名
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@data.name" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                公司名稱
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@company.title" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                部門
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@company.department" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                公司電話
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@company.tel" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                職稱
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@company.jobTitle" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                E-Mail
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@data.email" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                客戶區域
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@area.area" />
                            </div>
                            <div class="col-lg-5 col-xl-2">
                                <input class="form-control" type="text" readonly value="@area.other" />
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                產業分類
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@industry.industry" />
                            </div>
                            <div class="col-lg-5 col-xl-2">
                                <input class="form-control" type="text" readonly value="@industry.industry_other" />
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                產品分類
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@industry.product" />
                            </div>
                            <div class="col-lg-5 col-xl-2">
                                <input class="form-control" type="text" readonly value="@industry.product_other" />
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                市場分類
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@industry.market" />
                            </div>
                            <div class="col-lg-5 col-xl-2">
                                <input class="form-control" type="text" readonly value="@industry.market_other" />
                            </div>
                        </div>


                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>滿意度調查</legend>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                一、產品品質：
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                1.產品『首次送樣』，即能符合貴司之產品使用需求?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.A
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">
                                2.連接器產品品質&功能，符合貴司使用需求?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.B
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">
                                3.產品交貨包裝，符合貴司收貨品質需求?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.C
                            </div>
                        </div>



                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">

                            </div>
                            <div class="col-lg-5 col-xl-4">

                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                二、產品交期：
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                1.本公司人員是否適時告知您訂單的目前處理狀況?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.D
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">
                                2.產品交貨:日期、數量、品項，是否依照雙方約定交貨?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.E
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">

                            </div>
                            <div class="col-lg-5 col-xl-4">

                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                三、產品回饋處理：
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                1.產品回饋處理，『異常回覆』是否能滿足貴司需求?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.F
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">
                                2.產品回饋處理，『處理時效』是否滿足貴司需求?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.G
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">
                                3.對於產品回饋處理，保持良好『持續追蹤服務』?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.H
                            </div>
                        </div>



                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">

                            </div>
                            <div class="col-lg-5 col-xl-4">

                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                四、新品/技術服務：
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                1. 本公司的產品種類 / 範圍，符合貴司需求 ?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.I
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">
                                2.本公司之『新品開發件速度』，符合貴司約定之時程?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.J
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">
                                3.本公司提供的『產品資料/新品資訊』，是否滿足貴司需求?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.K
                            </div>
                        </div>



                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">

                            </div>
                            <div class="col-lg-5 col-xl-4">

                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                五、產品目錄資訊/品牌服務：
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                1.產品型錄&產品規格資訊，是否滿足貴司需求?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.L
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">
                                2.本公司網站內容，是否提供完整的內容資訊?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.M
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">
                                3.本公司產品『價格、品質、服務』，相較於同業是否具有競爭力?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.N
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">
                                4.本公司的業務服務態度是否滿意?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.O
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">

                            </label>

                            <div class="col-lg-5 col-xl-4">
                                5.您願意將公司產品介紹給同業?
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                @satisfaction.P
                            </div>
                        </div>


                    </fieldset>


                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>綜合問題</legend>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                1.貴公司近期是否有綠能或醫療產業相關的產品開發計畫?
                            </label>
                            @if (!string.IsNullOrEmpty(problem.comprehensive))
                            {
                                <div class="col-lg-5 col-xl-4">
                                    @{
                                        List<string> comprehensive = JsonConvert.DeserializeObject<List<string>>(problem.comprehensive);
                                        int i = 0;
                                    }
                                    @foreach (string val in comprehensive)
                                    {
                                        @Html.Raw(val)

                                        if ((comprehensive.Count - 1) > i)
                                        {
                                            @Html.Raw("、")
                                        }

                                        i++;
                                    }
                                </div>
                                <div class="col-lg-5 col-xl-4">
                                    其他：@problem.comprehensive_other
                                </div>
                            }

                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                2.貴公司對於『環保法規及物質管制』的要求為有哪些?
                            </label>
                            @if (!string.IsNullOrEmpty(problem.env))
                            {
                                <div class="col-lg-5 col-xl-4">
                                    @{
                                        List<string> env = JsonConvert.DeserializeObject<List<string>>(problem.env);
                                        int i = 0;
                                    }
                                    @foreach (string val in env)
                                    {
                                        @Html.Raw(val)

                                        if ((env.Count - 1) > i)
                                        {
                                            @Html.Raw("、")
                                        }

                                        i++;
                                    }
                                </div>
                                <div class="col-lg-5 col-xl-4">
                                    其他：@problem.env_other
                                </div>
                            }
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                3.除了本公司產品，請問您採購連接器，另外三大家廠商是?
                            </label>
                            @if (!string.IsNullOrEmpty(problem.company))
                            {
                                <div class="col-lg-5 col-xl-4">
                                    @problem.company_other
                                </div>
                            }
                        </div>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                詢問訊息
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                @data.message
                            </div>
                        </div>
                    </fieldset>


                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>進階選項</legend>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="tiptop">
                                狀態
                            </label>
                            <div class="col-lg-10">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" id="status_tw0" name="status" value="Y" @if (data.status == "Y") { @Html.Raw("checked") ; } />
                                    <label class="custom-control-label" for="status_tw0">已處理</label>
                                </div><div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" id="status_tw1" name="status" value="N" @if (data.status == "N") { @Html.Raw("checked") ; } />
                                    <label class="custom-control-label" for="status_tw1">未處理</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="text-center my-4 form-btn-group">

                        <button class="btn btn-main submitBut" type="submit">送出</button>
                        <button class="btn btn-default" type="reset">清除重填</button>
                    </div>

                </form>
            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>
@section scripts {
    <input type="hidden" id="fileMegRoot" value="@Url.Content("~/connector")" />

    <!--page index-->
    @*@Scripts.Render("~/Content/Siteadmin/scripts/index2.js")*@

    <!-- * * * DataTables 表格-->
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/datatables.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/dataTables.responsive.min.js")
    <!-- * * form -->
    <!-- * * * ckeditor 編輯器-->
    @Scripts.Render("~/Content/Siteadmin/modules/ckeditor/ckeditor.js")
    <!-- * * * Bootstrap Daterangepicker 日期區間-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/moment.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/daterangepicker.js")
    <!-- * * * bootstrap-select 下拉選單-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-select/bootstrap-select.js ")
    <!-- * * * multiselect 分類左右選擇 select multiple-->
    @Scripts.Render("~/Content/Siteadmin/modules/multiselect/js/jquery.multi-select.js")
    <!-- * * * multiselect 分類左右選擇 搜尋框 jquery-quicksearch-->
    @Scripts.Render("~/Content/Siteadmin/modules/quicksearch-master/jquery.quicksearch.js")
    @Scripts.Render("~/Content/Siteadmin/modules/select2/js/select2.full.min.js")
    <!-- * * * typeahead 建議字詞清單 typeahead.bundle.js-->
    @Scripts.Render("~/Content/Siteadmin/modules/typeahead/typeahead.bundle.js")

    <!-- * * * inputmask 表單格式-->
    @Scripts.Render("~/Content/Siteadmin/modules/inputmask/jquery.inputmask.bundle.min.js")
    <!-- * * * jquery.repeater.min.js 新增欄位-->
    @Scripts.Render("~/Content/Siteadmin/modules/repeater/jquery.repeater.min.js")
    <!-- * * * bootstrap-colorpicker-master 顏色選取-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-colorpicker-master/js/bootstrap-colorpicker.min.js")
    <!-- * * * nestable 排序拖曳-->
    @Scripts.Render("~/Content/Siteadmin/modules/nestable/jquery.nestable.js")
    <!-- * * * dropzonejs 檔案上傳-->
    @Scripts.Render("~/Content/Siteadmin/modules/dropzonejs/dropzone.js")
    <!-- * * * Jcrop Image Cropping Plugin 圖片座標截圖 -->
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.Jcrop.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.color.js")
    <!-- * * * ammap 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/ammap.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/maps/js/worldLow.js")
    <!-- * * * amcharts 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/amcharts.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/pie.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/serial.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/export/export.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/dataloader/dataloader.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/themes/light.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/lib/amstock.js")
    <!-- * * * bootstrap-datepicker 日曆-->
    <!--@Scripts.Render("~/Content/Siteadmin/modules/bootstrap-datepicker/bootstrap-datepicker.min.js")-->
    <!-- * * * bootstrap-year-calendar 年曆-->
    <!-- @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/bootstrap-year-calendar.js")
     @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/languages/bootstrap-year-calendar.tw.js")-->
    @Scripts.Render("~/Content/Siteadmin/scripts/form.js")

    @Scripts.Render("~/Content/Siteadmin/scripts/datatables.js")
    @Scripts.Render("~/Content/Siteadmin/scripts/typeahead.js")

    <script src="@Url.Content("~/")Scripts/elfinder/js/elfinder.full.js" type="text/javascript" charset="utf-8"></script>
    @Scripts.Render("~/Scripts/elfinder/js/i18n/elfinder.zh_TW.js")
    @Scripts.Render("~/Scripts/elfinder/js/jquery-ui-1.11.4.min.js")
    @Scripts.Render("~/Scripts/imgareaselect/scripts/jquery.imgareaselect.js")

    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")
    @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")

    @Scripts.Render("~/Scripts/jquery.blockUI.js")

    <!-- /  layout-js-->
}