﻿@{
    Layout = null;
}
@Styles.Render("~/Content/styless")
<link href="~/Styles/sweetalert.css" rel="stylesheet">
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script>

        $(document).ready(function () {

            swal({
                title: "@ViewBag.alertData["title"]",
                text: "@ViewBag.alertData["text"]",
                type: "@ViewBag.alertData["type"]",
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '@ViewBag.ResLang["確定"].ToString()',
            },function () {
                window.location.href = '@ViewBag.alertData["url"]';
            });

        });
</script>
