﻿@using Web.DB.Models
@using Web.Service;
@{
    List<advertise> banner = ViewBag.banner;
    List<advertise> footer = ViewBag.footer;
    List<index_content> indexContent = ViewBag.indexContent;
    List<news> news = ViewBag.news;
}
<div id="app">
    <home-main id="index">
        <h1 class="hidden">胡連精密股份有限公司</h1>
        <div class="index-banner-wrapper">
            <div class="slider">

                @if (banner.Count > 0)
                {
                    foreach (advertise data in banner)
                    {
                        <div class="position-relative">
                            <picture>
                                <source media="(min-width: 576px)" srcset="@Url.Content("~/"+data.pic)" />
                                <source media="(max-width: 575px)" srcset="@Url.Content("~/"+data.mobile_pic)" />
                                <img class="w-100" src="#" alt="@Html.Raw( string.IsNullOrEmpty(data.pic_alt) ? data.pic_alt : "" )" />
                            </picture>

                            @Html.Raw(FunctionService.FormatImagePath(data.content))

                        </div>
                    }
                }




            </div>
        </div>
        <div class="blank">
            <div class="max1640">
                <div class="index-products row pt-md-3 mt-md-2 mx-0 pb-4">
                    <product-advance-search>
                    </product-advance-search>

                    <div class="latest text-center text-md-left col-12 col-xl-6 pr-0 pl-0 pl-xl-4 pl-xxl-5 pt-4">
                        <new-product-list>
                        </new-product-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-white m-0">
            @*<about-me></about-me>*@
            @if (indexContent.Count > 0)
            {
                foreach (index_content data in indexContent)
                {
                    @Html.Raw(FunctionService.FormatImagePath(data.content1))

                    @Html.Raw(FunctionService.FormatImagePath(data.content2))
                }
            }

            @*<div class="col-12 col-xl-6 px-0">
            <div class="index-about background-cover pt-5 pb-5" style="background-image: url(/projects/public/e000482/test/styles/images/index/about-bg.jpg)" data-aos="fade-up">
                <div class="blank pr-xl-0 pt-sm-4 mt-sm-2 mb-1">
                    <div class="d-xl-table ml-auto">
                        <div class="max820">
                            <p class="font-40 font-weight-bold les06 lh14 mb-0 mb-xxl-4 pb-3" data-aos="fade-up">AUTO WORLD WE CONNECT</p>
                            <p class="font-20 opacity05 font-weight-bold mb-0 mb-sm-1" data-aos="fade-up">ABOUT HU LANE</p>
                            <h2 class="font-30 mb-0 mb-xxl-4" data-aos="fade-up">關於胡連</h2>
                            <div class="row pr-xl-4 mx-0 pt-3">
                                <div class="col-12 col-md-6 col-xl-12 col-xxxl-6 scrollbarY pl-0 pr-0 pr-md-4 pr-xl-0 pr-xxl-4">
                                    <div class="pr-1">
                                        <ul class="noneStyle ul-style-1">
                                            <li data-aos="fade-up">全球專業汽車業連接器和端子供應商</li>
                                            <li data-aos="fade-up">醫療端子、家電用品連接器和端子、板端連接器</li>
                                            <li data-aos="fade-up">塑膠連接器、金屬端子、車用橡膠類產品自主開發與製造</li>
                                            <li data-aos="fade-up"> IATF 16949 國際認證</li>
                                            <li data-aos="fade-up"> ISO 14001 國際環保管理認證</li>
                                        </ul>
                                        <p data-aos="fade-up">胡連公司成立於 1977 年，一直致力於汽、機車端子等連接器之開發，均以誠信的態度及務實的作法來面對客戶，提供優良的產品與服務滿足顧客的需求，為顧客爭取最大的利益。</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-12 col-xxxl-6 pl-0 pr-0 pr-xl-4" data-aos="fade-up">
                                    <button type="button" class="position-relative shadow rounded-25 d-table mx-auto" data-toggle="modal" data-target="#videoModal">
                                        <img src="/projects/public/e000482/test/styles/images/index/about-video-preview.png" alt="胡連精密">
                                        <span class="d-block absolute-center border-white-5 rounded-circle">
                                            <i class="d-block icon-play font-24 text-white lh14 py-3 px-4"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more position-absolute">
                    <a href="~/about/index" class="d-block text-white py-2 py-sm-3 py-lg-4 px-3 px-lg-5" data-aos="fade-up">
                        <span class="flex-center px-4 mx-lg-3">
                            <span class="mr-3 mr-sm-4 pr-sm-1">關於胡連 │ 深入了解</span>
                            <span class="border-white rounded-circle flex-center" style="width:50px;height:50px;">
                                <i class="icon-right-big font-20"></i>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>*@

            @*<div class="col-12 col-xl-6 px-0">
            <div class="background-cover index-about pb-5 pt-5" style="background-image:url(/projects/public/e000482/test/styles/images/index/about-bg.jpg)">
                <div class="blank mb-1 mt-sm-2 pr-xl-0 pt-sm-4">
                    <div class="d-xl-table ml-auto">
                        <div class="max820">
                            <p class="font-40 font-weight-bold les06 lh14 mb-0 mb-xxl-4 pb-3">AUTO WORLD WE CONNECT</p>

                            <p class="font-20 font-weight-bold mb-0 mb-sm-1 opacity05">ABOUT HU LANE</p>

                            <p>About Hu Lane</p>

                            <div class="mx-0 pr-xl-4 pt-3 row">
                                <div class="col-12 col-md-6 col-xl-12 col-xxxl-6 pl-0 pr-0 pr-md-4 pr-xl-0 pr-xxl-4 scrollbarY">
                                    <div class="pr-1">
                                        <ul class="noneStyle ul-style-1">
                                            <li>The Automotive Connector and Terminal Manufacture for the Global Supplier</li>
                                            <li>Medical Terminal, Electronic Connectors and Terminals for White Goods, and Header Connector</li>
                                            <li>Self-development and manufacturing for injection molding housing, stamping terminals, rubber components</li>
                                            <li>International Qualification of IATF 16949</li>
                                            <li>Environmental Management Standard ISO 14001</li>
                                        </ul>

                                        <p>At Hu Lane Associates Inc., incorporated in 1977, our focus has been on developing the terminal products for the automotive and motorcycle industries. Today we continue this tradition to supply quality products to our customers with dedicated services and a positive attitude. As we consistently live up to the highest customer satisfaction, our customers are able to gain the maximum profitability.</p>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-12 col-xxxl-6 pl-0 pr-0 pr-xl-4"><img alt="胡連精密" src="http://iis.24241872.tw/projects/public/e000482/test/styles/images/index/about-video-preview.png" /></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="more position-absolute"><a class="d-block text-white py-2 py-sm-3 py-lg-4 px-3 px-lg-5" href="~/about/index">關於胡連 │ 深入了解 </a></div>
            </div>
        </div>*@

            @*<global-sites></global-sites>*@

            @*<div class="index-global position-static position-xl-relative background-cover col-12 col-xl-6 px-0" style="background-image: url(/projects/public/e000482/test/styles/images/index/global-bg.jpg)">
                <div class="border-white m-3 p-3 p-lg-5">
                    <div class="d-md-flex justify-center pt-4 pt-sm-5 pb-4 mt-sm-3">
                        <div class="text-center text-md-right pr-md-5" data-aos="fade-up">
                            <p class="font-20 opacity05 font-weight-bold mb-sm-1">GLOBAL LOCATIONS</p>
                            <h2 class="font-30">全球據點</h2>
                        </div>
                        <div class="text-center text-md-left pb-3" data-aos="fade-up">
                            <p class="max300 mx-auto ml-md-0">在1977年成立的Hu Lane Associates Inc.，我們的重點一直是為汽車和摩托車行業開發終端產品。(模擬文案)</p>
                            <div class="d-table pt-sm-3 mx-auto ml-md-0">
                                <a href="~/about/stronghold" class="border-white btn-style-1 bg-darkGreen bg-hover-lightGreen btn-dec">深入了解</a>
                            </div>
                        </div>
                    </div>
                    <div class="pb-sm-5 mb-3">
                        <div class="slider mt-sm-5 mb-lg-5 pb-sm-5 pb-xl-0" data-aos="fade-up">
                            <div>
                                <div class="position-relative bg-white rounded-15 p-1">
                                    <img class="rounded-15 w-100" src="/projects/public/e000482/test/styles/images/index/global-1.jpg" alt="胡連精密">
                                    <span class="position-absolute font-17 font-weight-bold">台北新廠</span>
                                </div>
                            </div>
                            <div>
                                <div class="position-relative bg-white rounded-15 p-1">
                                    <img class="rounded-15 w-100" src="/projects/public/e000482/test/styles/images/index/global-2.jpg" alt="胡連精密">
                                    <span class="position-absolute font-17 font-weight-bold">南京廠</span>
                                </div>
                            </div>
                            <div>
                                <div class="position-relative bg-white rounded-15 p-1">
                                    <img class="rounded-15 w-100" src="/projects/public/e000482/test/styles/images/index/global-1.jpg" alt="胡連精密">
                                    <span class="position-absolute font-17 font-weight-bold">台北新廠</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>

        <div class="blank mt-xl-5 pt-xl-5">
            <div class="max1640 index-news text-center text-sm-left mb-sm-4 mb-xl-5">
                <h2 class="hidden">最新訊息</h2>
                <div class="">
                    <div class="d-sm-flex pb-3 pb-sm-5 mb-sm-1" data-aos="fade-up">
                        <div class="title d-table position-relative w-100 mr-4" style="flex:0 0 305px">
                            <p class="d-inline-block text-646464 font-20 font-weight-bold bg-white pr-3 mb-0">NEWS & EVENT</p>
                        </div>
                        <div class="arrows d-table position-relative arrows-style-1 clearfix pl-sm-3 mt-2 mt-sm-0"></div>
                    </div>
                    <div class=" slider dots-style-1" data-aos="fade-up">
                        @foreach (news data in news)
                        {
                            <div class="px-sm-3 px-lg-0">
                                <h3 class="hidden">@data.title</h3>
                                <a href="@Url.Content("~/"+ViewBag.Lang)/news/detail/@data.guid" class="row text-hover-red mx-0 mx-xl-3">
                                    <span class="col-12 col-lg-5 d-block img px-0">
                                        <img class="w-100" src="@Url.Content("~/"+data.pic)" alt="胡連精密">
                                    </span>
                                    <span class="col-12 col-lg-7 d-block pl-0 pl-lg-4 pr-0 pr-lg-3 pr-xl-0 pt-3 pt-lg-0 pb-3 pb-md-0">
                                        <span class="d-block font-20 font-weight-bold lh14 mb-2 pb-1">@data.title</span>
                                        <span class="text-646464 line3 mb-2 mb-md-3">@data.notes ...</span>
                                        <span class="d-block text-red font-weight-bold">@DateTime.Parse(data.startdate.ToString()).ToString("yyyy-MM-dd")</span>
                                    </span>
                                </a>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>



        <car-connector></car-connector>

        <div class="index-applications text-center">
            <div class="slider arrows-style-1" data-aos="fade-up">
                @if (footer.Count > 0)
                {
                    foreach (advertise data in footer)
                    {
                <div class="pb-4 pb-sm-5">
                    <div class="jqimgFill">
                        <img src="@Url.Content("~/"+data.pic)" alt="@Html.Raw( string.IsNullOrEmpty(data.pic_alt) ? data.pic_alt : "" )">
                    </div>
                    <p class="font-20 font-weight-bold pt-4 mt-2 mt-sm-3 pb-sm-2">@data.title</p>
                    @*<a href="@Html.Raw( string.IsNullOrEmpty(data.link) ? data.link : "#")" class="d-table font-weight-bold border-red bg-hover-red text-red text-hover-white rounded-25 lh2 py-2 px-4 mx-auto mb-2">@ViewBag.ResLang["深入了解"].ToString()</a>*@
                    @if (data.guid == "footer4")
                    {
                        <a href="@Url.Content(data.link)" target="_blank" class="d-table font-weight-bold border-red bg-hover-red text-red text-hover-white rounded-25 lh2 py-2 px-4 mx-auto mb-2">@ViewBag.ResLang["深入了解"].ToString()</a>
                    }
                    else
                    {
                        <a href="~/products/bannerindex?productType=@data.link&page=1" class="d-table font-weight-bold border-red bg-hover-red text-red text-hover-white rounded-25 lh2 py-2 px-4 mx-auto mb-2">@ViewBag.ResLang["深入了解"].ToString()</a>
                    }
                </div>
                    }
                }

            </div>
        </div>



    </home-main>

    <div class="modal fade modal-style-1 blank" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered max830" role="document">
            <div class="modal-content p-3">
                <div>
                    <button type="button" class="close d-table ml-auto mb-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="video-element">
                        <iframe id="video" class="border-0 w-100" src="https://www.youtube.com/embed/ykEbgOojWiU?loop=1&playlist=ykEbgOojWiU&enablejsapi=1" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>

        function initAOS() {
            AOS.init({
                duration: 500,
                offset: 10,
                mirror: true,
            });
        }

        var player;
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        function onYouTubeIframeAPIReady() {
            player = new YT.Player("video", {});
        }


        //$("#index").each(function () {


        //    $(".index-global .slider").slick({
        //        slidesToShow: 2,
        //        slidesToScroll: 1,
        //        prevArrow: " <button class='slick-prev slick-arrow text-white' type='button'><i class='icon-left-big font-24'></i></button>",
        //        nextArrow: " <button class='slick-next slick-arrow text-white' type='button'><i class='icon-right-big font-24'></i></button>",
        //        responsive: [
        //            {
        //                breakpoint: 1600,
        //                settings: {
        //                    slidesToShow: 1,
        //                },
        //            },
        //            {
        //                breakpoint: 1200,
        //                settings: {
        //                    slidesToShow: 2,
        //                },
        //            },
        //            {
        //                breakpoint: 768,
        //                settings: {
        //                    slidesToShow: 1,
        //                },
        //            },
        //            {
        //                breakpoint: 576,
        //                settings: {
        //                    slidesToShow: 1,
        //                    arrows: false,
        //                    dots: true
        //                },
        //            },
        //        ],
        //    });

        //});
    </script>

    @Scripts.Render("~/ViewsApp/bundle/home.js")
}