﻿@using Web.DB.Models
@using Web.Service;
@{
    notes_data data = ViewBag.data;
}


<main>
    <div class="banner banner-style-3 position-relative text-white font-weight-bold z-1" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">隱私權政策</h1>
        <div class="jqimgFill h-100">
            <img src="~/styles/images/banner/sitemap.jpg" alt="胡連精密">
        </div>
    </div>
    <div class="blank py-4 py-sm-5 mt-lg-5 mb-lg-4">
        <div class="max1200">
            <div class="editor" id="termsEditor">
                @Html.Raw(FunctionService.FormatImagePath(data.content))
            </div>
        </div>
    </div>
</main>


@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });

    </script>
}

