﻿<div class="wp">
    <main>
        <div class="banner banner-style-3 position-relative text-white font-weight-bold z-1" data-aos="fade-up">
            <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">網站地圖</h1>
            <div class="jqimgFill h-100">
                <img src="@Url.Content("~/styles/images/banner/sitemap.jpg")" alt="胡連精密">
            </div>
        </div>
        <div class="blank py-4 py-md-5 mt-xl-5">
            <div class="max1200">
                <div class="mb-4 pb-lg-3" data-aos="fade-up">
                    <div class="border-bottom-2-C8C8C8">
                        <h2 class="d-table font-25 font-weight-bold border-bottom-dec-2-red mb-0 pb-2 pb-md-3">產品介紹</h2>
                    </div>
                    <div class="border-bottom-C8C8C8 lh19 py-2">
                        <div class="d-md-flex flex-wrap py-md-1" style="margin-left:-12px;">
                            <span class="font-weight-bold pl-2 ml-1 mr-2">依規格搜尋</span>»
                            <a href="@Url.Content("~/home/SitemapSpec?spec=H")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">膠盒</span></a>
                            <a href="@Url.Content("~/home/SitemapSpec?spec=T")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">端子</span></a>
                            <a href="@Url.Content("~/home/SitemapSpec?spec=R")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">防水栓</span></a>
                            <a href="@Url.Content("~/home/SitemapSpec?spec=S")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">PVC絕緣護套</span></a>
                            <a href="@Url.Content("~/home/SitemapSpec?spec=G")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">索環護套</span></a>
                            <a href="@Url.Content("~/home/SitemapSpec?spec=A")" class="d-block text-hover-red px-2"><span class="mx-1">所有</span></a>
                        </div>
                    </div>
                    <div class="border-bottom-C8C8C8 lh19 py-2">
                        <div class="d-md-flex flex-wrap py-md-1" style="margin-left:-12px;">
                            <span class="font-weight-bold pl-2 ml-1 mr-2">產品應用功能篩選</span>»
                            <a href="@Url.Content("~/home/SitemapApply?activeCategory=1")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">地板線束</span></a>
                            <a href="@Url.Content("~/home/SitemapApply?activeCategory=2")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">尾門線束總成</span></a>
                            <a href="@Url.Content("~/home/SitemapApply?activeCategory=8")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">車門線束</span></a>
                            <a href="@Url.Content("~/home/SitemapApply?activeCategory=3")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">前艙線束</span></a>
                            <a href="@Url.Content("~/home/SitemapApply?activeCategory=9")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">前保險桿線束</span></a>
                            <a href="@Url.Content("~/home/SitemapApply?activeCategory=9")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">後保險桿線束</span></a>
                            <a href="@Url.Content("~/home/SitemapApply?activeCategory=4")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">倒車雷達線束</span></a>
                            <a href="@Url.Content("~/home/SitemapApply?activeCategory=10")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">座椅線束</span></a>
                            <a href="@Url.Content("~/home/SitemapApply?activeCategory=0")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">動力線束</span></a>
                            <a href="@Url.Content("~/home/SitemapApply?activeCategory=6")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">頂棚線束</span></a>
                            <a href="@Url.Content("~/home/SitemapApply?activeCategory=11")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">發動機線束</span></a>
                            <a href="@Url.Content("~/home/SitemapApply?activeCategory=5")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">儀表板線束</span></a>
                            <a href="products/Keyword" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">產品關鍵字搜尋</span></a>
                            <a href="products/lastest" class="d-block text-hover-red px-2"><span class="mx-1">新品專區</span></a>
                        </div>
                    </div>
                </div>
                <div class="mb-2 mb-sm-3 mb-lg-4 pb-lg-2" data-aos="fade-up">
                    <div class="border-bottom-2-C8C8C8">
                        <h2 class="d-table font-25 font-weight-bold border-bottom-dec-2-red mb-0 pb-2 pb-md-3">關於胡連</h2>
                    </div>
                    <div class="lh19 py-2">
                        <div class="d-md-flex flex-wrap py-md-1" style="margin-left:-12px;">
                            <a href="@Url.Content("~/about/index")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">關於胡連</span></a>
                            <a href="@Url.Content("~/about/history")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">胡連沿革</span></a>
                            <a href="@Url.Content("~/about/overview")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">企業願景</span></a>
                            <a href="@Url.Content("~/about/stronghold")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">全球據點</span></a>
                            <a href="@Url.Content("~/about/glory")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">品質榮耀</span></a>
                            <a href="@Url.Content("~/about/technology")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">技術發展</span></a>
                            <a href="@Url.Content("~/about/organization")" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">胡連組織</span></a>
                            <a href="@Url.Content("~/about/team")" class="d-block text-hover-red px-2"><span class="mx-1">經營團隊</span></a>
                        </div>
                    </div>
                </div>
                <div class="mb-2 mb-sm-3 mb-lg-4 pb-lg-2" data-aos="fade-up">
                    <div class="border-bottom-2-C8C8C8">
                        <h2 class="d-table font-25 font-weight-bold border-bottom-dec-2-red mb-0 pb-2 pb-md-3">商務專區</h2>
                    </div>
                    <div class="lh19 py-2">
                        <div class="d-md-flex flex-wrap py-md-1" style="margin-left:-12px;">
                            <a href="business/faq" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">FAQ問與答</span></a>
                            <a href="business/login" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">客戶線上教育訓練</span></a>
                            <a href="business/survey" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">客戶滿意度調查</span></a>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfRrn_RlQX89-3L36i-FAh40f1vIWhJio5O3qSfk-QT-sv-Kg/viewform" target="_blank" class="d-block text-hover-red px-2"><span class="mx-1">客戶意見反饋</span></a>
                        </div>
                    </div>
                </div>
                <div class="mb-2 mb-sm-3 mb-lg-4 pb-lg-2" data-aos="fade-up">
                    <div class="border-bottom-2-C8C8C8">
                        <h2 class="d-table font-25 font-weight-bold border-bottom-dec-2-red mb-0 pb-2 pb-md-3">最新消息</h2>
                    </div>
                    <div class="lh19 py-2">
                        <div class="d-md-flex flex-wrap py-md-1" style="margin-left:-12px;">
                            <a href="news/index" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">熱門訊息</span></a>
                            <a href="news/index/2" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">最新展覽</span></a>
                            <a href="news/index/3" class="d-block text-hover-red px-2"><span class="mx-1">歷史展覽</span></a>
                        </div>
                    </div>
                </div>
                <div class="mb-2 mb-sm-3 mb-lg-4 pb-lg-2" data-aos="fade-up">
                    <div class="border-bottom-2-C8C8C8">
                        <h2 class="d-table font-25 font-weight-bold border-bottom-dec-2-red mb-0 pb-2 pb-md-3">投資人專區</h2>
                    </div>
                    <div class="lh19 py-2">
                        <div class="d-md-flex flex-wrap py-md-1" style="margin-left:-12px;">
                            <a href="investor/stakeholder" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">利害關係人</span></a>
                            <a href="investor/csr" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">企業社會責任</span></a>
                            <a href="investor/meeting" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">公司治理</span></a>
                            <a href="investor/monthlyReport" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">財務資訊</span></a>
                            <a href="https://mops.twse.com.tw/mops/web/t05st01" target="_blank" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">股務重大消息</span></a>
                            <a href="investor/corporateBriefing" class="d-block text-hover-red px-2"><span class="mx-1">投資人資訊</span></a>
                            <a href="investor/shareholderFaq" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">投資人問答集</span></a>
                            <a href="investor/service" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">投資人服務</span></a>
                        </div>
                    </div>
                </div>
                <div class="mb-2 mb-sm-3 mb-lg-4 pb-lg-2" data-aos="fade-up">
                    <div class="border-bottom-2-C8C8C8">
                        <h2 class="d-table font-25 font-weight-bold border-bottom-dec-2-red mb-0 pb-2 pb-md-3">人力資源</h2>
                    </div>
                    <div class="lh19 py-2">
                        <div class="d-md-flex flex-wrap py-md-1" style="margin-left:-12px;">
                            <a href="welfare/index" class="d-block text-hover-red border-right-md-dec-black px-2 py-1 py-md-0"><span class="mx-1">選擇胡連</span></a>
                            <a href="welfare/recruit" class="d-block text-hover-red px-2"><span class="mx-1">人才招募</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>

@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });
    </script>
}
