﻿@if (ViewBag.colJson["useLang"] == "Y")
{
    if (ViewBag.language != null)
    {
        int a = 0;
        foreach (var item in ViewBag.language)
        {
            <input class="form-control" type="hidden" name="@Html.Raw(ViewBag.key + "_" + item.lang)" id="@Html.Raw(ViewBag.key + "_" + item.lang)" value="@if (ViewBag.data == null || !ViewBag.data.ContainsKey(item.lang) || ViewBag.data[item.lang][ViewBag.key] == null  || ViewBag.data[item.lang][ViewBag.key].ToString() == "") {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[item.lang][ViewBag.key])}" />
        }
    }
}
else
{
    if(ViewBag.key.IndexOf("def_") == -1) 
    { 

        <input class="form-control" type="hidden" name="@ViewBag.key" id="@ViewBag.key" value="@if (ViewBag.data == null || ViewBag.data[ViewBag.key] == null  || ViewBag.data[ViewBag.key].ToString() == "") {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.key])}" />

    }
    else
    {
        string newKey = ViewBag.key.ToString().Replace("def_","");

        <input class="form-control" type="hidden" name="@ViewBag.key" id="@ViewBag.key" value="@if (ViewBag.data == null || ViewBag.data[newKey] == null  || ViewBag.data[newKey].ToString() == "") {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[newKey])}" />

    }


}
