﻿<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="reviewMultiple">
        @Html.Raw(ViewBag.colJson["subject"])
        @if (ViewBag.colJson["required"] != "")
        {<span class="text-danger ml-1">*</span>}
    </label>
    <div class="col-lg-10">
        <select class="multiSelect" multiple="" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"]>
            @if (ViewBag.category != null)
            {
                foreach (var item in ViewBag.category)
                {
                    if (ViewBag.colJson["prev_table"] == null)
                    {
                        string selected = "";

                        if (ViewBag.inherit == "user")
                        {
                            if (ViewBag.masterUser != null && ViewBag.data[ViewBag.key].ToString().IndexOf(item.guid) != -1)
                            {
                                selected = " selected";
                            }



                            if (selected == "" && ViewBag.colJson["next_table"] != null)
                            {
                                //selected = Faq.Service.TablesService.selectMultipleSelected(ViewBag.colJson["next_table"].ToString(), item.guid, ViewBag.data["guid"].ToString());
                            }


                            <option value="@item.guid" @selected>@item.name (@item.username)</option>
                        }
                        else if (ViewBag.inherit == "carsysl4")
                        {
                            int count = 0;
                            if (ViewBag.data != null)
                            {
                                var tempSelectString = ViewBag.data["carsysl4name"].ToString();
                                var tempStringSplit = tempSelectString.Split(',');
                                foreach (var data in tempStringSplit)
                                {
                                    if (data == item.guid.ToString())
                                    {
                                        count = 1;
                                    }
                                }
                                if (count == 1)
                                {
                                    selected = "selected";
                                }
                            }
                            <option value="@item.guid" @selected>@item.caption</option>
                            count = 0;
                        }
                        else
                        {
                            <option value="@item.guid" @selected>@item.title</option>
                        }
                    }
                }
            }
        </select>
        <div class="button-multiselect-box mt-1"><a class="select-all btn btn-secondary btn-sm" href="#">選取全部</a><a class="deselect-all btn btn-secondary btn-sm" href="#">清除選取  </a></div>
    </div>
    @Html.Raw(ViewBag.colJson["notes"])
</div>
