﻿@if (ViewBag.colJson["useLang"] == "Y")
{
    <div class="form-group row">
        <label class="col-lg-2 col-form-label" for="categoryId">
            @Html.Raw(ViewBag.colJson["subject"])<span class="text-danger ml-1">*</span>
        </label>
        <div class="col-lg-5 col-xl-4">
            <select class="bs-select form-control" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"]>
                <option value="">請選擇</option>
                @if (ViewBag.category != null)
                {
                    foreach (var item in ViewBag.category)
                    {
                        if (ViewBag.colJson["prev_table"] == null)
                        {
                            string selected = "";
                            if (ViewBag.data != null && ViewBag.data.ContainsKey(item.lang) && ViewBag.data[item.lang][ViewBag.key].ToString() == item.guid)
                            {
                                selected = " selected";
                            }
                            if (ViewBag.inherit == "user")
                            {
                                <option value="@item.guid" @selected>@item.name</option>
                            }
                            else
                            {
                                <option value="@item.guid" @selected>@item.title</option>
                            }
                        }
                        else
                        {
                            if (ViewBag.data[ViewBag.colJson["prev_field"].ToString()].ToString() == item.forumcategoryguid.ToString())
                            {

                                string selected = "";
                                if (ViewBag.data != null && ViewBag.data.ContainsKey(item.lang) && ViewBag.data[item.lang][ViewBag.key].ToString() == item.guid)
                                {
                                    selected = " selected";
                                }
                                if (ViewBag.inherit == "user")
                                {
                                    <option value="@item.guid" @selected>@item.name</option>
                                }
                                else
                                {
                                    <option value="@item.guid" @selected>@item.title</option>
                                }
                            }


                        }

                    }
                }

            </select>
        </div>
        @Html.Raw(ViewBag.colJson["notes"])
    </div>
}
else
{
    <div class="form-group row">
        <label class="col-lg-2 col-form-label" for="categoryId">
            @Html.Raw(ViewBag.colJson["subject"])<span class="text-danger ml-1">*</span>
        </label>
        <div class="col-lg-5 col-xl-4">
            <select class="bs-select form-control" onchange="handleL2()" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"]>
                <option value="">請選擇</option>
                @if (ViewBag.category != null)
                {
                    foreach (var item in ViewBag.category)
                    {
                        if (ViewBag.colJson["prev_table"] == null)
                        {
                            string selected = "";
                            try
                            {
                                if (ViewBag.data[ViewBag.key] == item.guid)
                                {
                                    selected = " selected";
                                }
                            }
                            catch
                            {

                            }

                            try
                            {
                                if (ViewBag.data[ViewBag.defLang][ViewBag.key] == item.guid)
                                {
                                    selected = " selected";
                                }
                            }
                            catch
                            {

                            }
                            //if (ViewBag.defLang != null && ViewBag.data[ViewBag.defLang] != null)
                            if (ViewBag.defLang != null)
                            {
                                // selected = " ";
                            }


                            if (ViewBag.inherit == "user")
                            {
                                <option value="@item.guid" @selected>@item.name</option>
                            }
                            else if (ViewBag.inherit == "carsysl2")
                            {
                                <option value="@item.guid" @selected>@item.caption</option>
                            }
                            else if (ViewBag.inherit == "carsysl4")
                            {
                                <option value="@item.guid" @selected>@item.caption</option>
                            }
                            else
                            {
                                <option value="@item.guid" @selected>@item.title</option>
                            }
                        }
                        else
                        {
                            if (ViewBag.data[ViewBag.colJson["prev_field"].ToString()].ToString() == item.forumcategoryguid.ToString())
                            {

                                string selected = "";
                                if (ViewBag.data != null && ViewBag.data[ViewBag.key].ToString() == item.guid)
                                {
                                    selected = " selected";
                                }
                                if (ViewBag.inherit == "user")
                                {
                                    <option value="@item.guid" @selected>@item.name</option>
                                }
                                else
                                {
                                    <option value="@item.guid" @selected>@item.title</option>
                                }
                            }


                        }

                    }
                }

            </select>
        </div>
        @Html.Raw(ViewBag.colJson["notes"])
    </div>
}
