﻿       <div class="form-group row">
            <label class="col-lg-2 col-form-label" for="subject">
            @Html.Raw(ViewBag.colJson["subject"])
            @if(ViewBag.colJson["required"] != "")
                        {<span class="text-danger ml-1">*</span>}
            </label>

            <div class="col-lg-5 col-xl-4">
                @if (ViewBag.useLang == "Y")
                {
                    <input class="form-control" type="text" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] value="@if (ViewBag.data == null) {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.defLang][ViewBag.key])}" @if (ViewBag.colJson["readonly"] != null) { @ViewBag.colJson["readonly"].ToString() } /><div class="_formErrorMsg"></div>
                }
                else
                {
                    <input class="form-control" type="text" name="residential" id="residential" @ViewBag.colJson["required"] value="@if (ViewBag.data == null) {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data["residential"])}" @if (ViewBag.colJson["readonly"] != null) { @ViewBag.colJson["readonly"].ToString() } /><div class="_formErrorMsg"></div>
                    <input class="form-control" type="text" name="business" id="business" @ViewBag.colJson["required"] value="@if (ViewBag.data == null) {@Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data["business"])}" @if (ViewBag.colJson["readonly"] != null) { @ViewBag.colJson["readonly"].ToString() } /><div class="_formErrorMsg"></div>
                }
            </div>

              @Html.Raw(ViewBag.colJson["notes"])
        </div>


