﻿<div class="form-group row">
     <input type="hidden" name="@ViewBag.key" id="@ViewBag.key" value="">
    <label class="col-lg-2 col-form-label" for="">
        @Html.Raw(ViewBag.colJson["subject"])
    </label>
    <div class="col-lg-10">
        <div class="file-list border p-3">


            @if (ViewBag.data != null && ViewBag.data[ViewBag.key].ToString() != "")
            {
              
                    string[] fileList = ViewBag.data[ViewBag.key].ToString().Split(',');


                    for (int i = 0; i < fileList.Length; i++)
                    {

                        <div class="list-item row align-items-center noUploadUrl"  data-value="@Html.Raw(fileList[i].ToString())">
                            <div class="col text-truncate"><i class="icon-link2"> </i><a class="name text-truncate" href="@Html.Raw(fileList[i].ToString())" target="_blank">@Html.Raw(fileList[i].ToString())</a></div>
                            <div class="col-auto ml-auto px-0">
                                <button class="delete btn btn-link mt-sweetalert" type="button" data-title="是否確認刪除" data-message="您將刪除此檔案" data-type="info" data-show-confirm-button="true" data-confirm-button-class="btn-danger" data-show-cancel-button="true" data-cancel-button-class="btn-outline-default" data-close-on-confirm="false" data-confirm-button-text="確認" data-cancel-button-text="取消" data-popup-title-success="刪除完成" data-popup-message-success="您的項目已刪除"><i class="icon-bin"></i></button>
                            </div>
                        </div>
                        <hr>

                    }
                
            }
        </div>
    </div>
</div>
