.faqList{
    .circle-element,
    .title{
        transition: all .3s;
    }
    button{
        &[aria-expanded="true"],
        &:hover{
            .circle-element{
                background: $blue225387;
            }
            .title{
                color:$blue225387;
            }
        }
    }
    @media (max-width:575px) {
        .content{
            border-top: 1px solid $grayC8C8C8;
        }
    }
}