.index-banner-wrapper{
     
    .text{
        top: 50%;
        left: 133px;
        transform: translateY(-50%);
        line-height: 1;
        >p{
            &:nth-child(1){
                span{
                    animation-duration: .5s;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                    opacity: 0;
                }
            }
            &:nth-child(2){
                animation-duration: .5s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                opacity: 0;
            }
        }
    }
    .circle-group{
        top: 50%;
        transform: translateY(-50%);
        right: 14.2%;
        .circle-bg{
            width: 251px;
            height: 251px;
            img{
                left: -20px;
            }
        }
    }

    .circle {
        height: 534px;
        width: 534px;
        margin: auto;   
        .wave {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: rgba(158,125,84,0.2);
            border-radius: 50%;
            opacity: 0;
            animation: radarWave cubic-bezier(0,.54,.53,1) 5s 0s;
            animation-iteration-count: infinite;
            border:1px solid white;
            &.wave-1{
                width: 100%;
                height: 100%;
                
            }
            &.wave-2{
                width: 95%;
                height: 95%;
                animation-delay: .4s;
            }
            &.wave-3{
                width: 90%;
                height: 90%;
                animation-delay: .8s;
            }
            &.wave-4{
                width: 85%;
                height: 85%;
                animation-delay: 1.2s;
            }
            &.wave-5{
                width: 80%;
                height: 80%;
                animation-delay: 1.6s;
            }
            &.wave-6{
                width: 100%;
                height: 100%;
                
            }
            &.wave-7{
                width: 75%;
                height: 75%;
                animation-delay: .4s;
            }
            &.wave-8{
                width: 70%;
                height: 70%;
                animation-delay: .8s;
            }
            &.wave-9{
                width: 65%;
                height: 65%;
                animation-delay: 1.2s;
            }
            &.wave-10{
                width: 60%;
                height: 60%;
                animation-delay: 1.6s;
            }
        }
    }
    .slick-dots{
        position: absolute;
        top: 50%;
        left: 60px;
        transform: translateY(-50%);
        width: auto;
        display: table;
        li{
            display: block;
            margin: 10px 0;
            width: 12px;
            height: 12px;
            &.slick-active{
                button{
                    background: white;
                }
            }
            button{
                width: 100%;
                height: 100%;
                border:3px solid white;
                padding: 0;
            }
        }
    }
    @media (max-width:1199px){
        .text{
            left: 100px;
        }
        .circle-group{
            top: 60%;
            right: 10%;
            .circle-bg{
                width:150px;
                height:150px;
            }
            .circle{
                width: 250px;  
                height: 250px; 
            }
        }
    }
    @media (max-width:991px){
        .text{
           top: 50%;
           left: 60px;
        }
        .circle-group{
            top: 50%;
            right: 60px;
        }
        .slick-dots{
            left: 20px;
        }
    }
    @media (max-width:767px){
        .slider{
            margin-bottom:  0;
        }
        .slick-slide{
            margin-bottom: 0;
            >div{
                >div{
                    height:auto;
                }
            }
            img{
                display: block !important;
            }
        }
        .text{
           left: 20px;
           top: 10%;
           transform: none;
        }
        .circle-group{
            top: 60%;
            right: 5%;
            .circle-bg{
                width:150px;
                height:150px;
            }
            .circle{
                width: 150px;  
                height: 150px; 
                .wave{ 
                    display:none;   
                }
            }
        }

        .slick-dots{
            top: auto;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            li{
                display: inline-block;
                margin: 0 5px;
                button{
                    border:2px solid white;
                }
            }
        }
    }
    @media (max-width:575px){
        .text{
            top: 20px;
            right: 20px;
        }
        .circle-group{
            top:auto;
            bottom: 20px;
            right: 20px;
            transform: none;
            .circle{
                width: 80px;
                height: 80px;
            }
            .circle-bg{
                width: 80px;
                height: 80px;
                img{
                    left: -10px;
                }
            }
        }
        .slick-dots{
            left: 20px;
            transform: none;
        }
    }
}
.index-products{
    .dropdown-toggle{
        border:0 !important;
    }
    .border-C8C8C8{
        >div{
            &:first-child{
                .dropdown-toggle{
                    border-radius: 5px 0 0 5px;
                }
            }
            &:last-child{
                .dropdown-toggle{
                    border-radius: 0 5px 5px 0;
                }
            }
        }
    }
    .latest{
        li.active{
            background: white;
            border-top:2px solid red;
        }
    }

}
.index-about{
    box-shadow: 0px 13px 25px -4px rgba(0 ,0 ,0 ,0.5);
    .scrollbarY{
        height: 380px;
    }
    button{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    }
    .more{
        bottom: -25px;
        right: 0;
        background:#37504F;
        transition: all .3s;
        &:hover{
            background: #425F5E;
        }
    }
	@media (max-width:1600px){
        padding-bottom: 120px !important;
        .scrollbarY{
            height: auto;
            padding-bottom: 30px;
        }
	}
	@media (max-width:1199px){
        .more{
            bottom: 0;
        }
	}
	@media (max-width:575px){
        .play{
            transform: scale(0.7);
        }
        .more{
            width: 100%;
            .border-white{
                transform: scale(0.8);
            }
        }
	}
}
.index-global{
    top: 68px;
    .border-white{
        height: calc(100% - 32px);
    }
    .slider{
        height: auto;
        padding: 0 70px;
        span{        
            bottom: 12px;
            left: 50%;
            transform: translateX(-50%);
        }
        .slick-slide{
            padding: 0 30px;
        }
        .slick-arrow{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border:2px solid white;
            background: $darkGreen;

            &:hover{
                background: $lightGreen;
            }
            svg,img{
                width: 19px;
            }
        }
        .slick-dots li{
            &.slick-active{
                button{
                    background: white;
                }
            }
            button{
                border: 2px solid white;
            }
        }
    }

    @media (max-width:991px){
        .slider{
            padding: 0 55px;
            .slick-slide{
                padding: 0 10px;
            }
        }
    }
    @media (max-width:575px){
        .slider{
            padding: 0;
            .slick-slide{
                padding: 0;
            }
        }
    }
}
.index-news{
    padding: 48px;
    .title{
        margin-left: 40px;
        &::after{

        
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: $grayC8C8C8;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
        }
    }
    .slick-slide{
        padding: 0 24px;
    }
    @media (max-width:1600px){
        padding:48px 0;
        .title{
            margin-left: 16px;
        }
        .slick-slide{
            padding: 0 0px;
        }
    }
    @media (max-width:1199px){
        .title{
            margin-left: 0px;
        }
    }
}
.index-car{
    height: 951px;
    ul{
        li{
            a{
                background: linear-gradient(#4E84B6,#366A9E);
                transition: all .3s;
                border:2px solid white;
                &:hover{
                    background: linear-gradient(#FDC866,#F19409);
                    color:black;
                    opacity: 1;
                }
            }
        }
    }
    .car-back{
        top: 10px;
        right: 0; 
    }
    .car{
        top: 10px;
        right: 0;
        .car-front{
            top: 0;
            right: 0;
        }
        ul{
            li{
                opacity: 0;
                pointer-events: none;
                transition: all .3s;
                &.car-1{
                    width: 338px;
                    top: 41.5%;
                    left: 9%;
                }
                &.car-2{
                    width: 960px;
                    top: 2%;
                    left: 22%;
                }
                &.car-3{
                    width: 206px;
                    top: 48%;
                    left: 54.6%;
                } 
                &.car-4{
                    width: 252px;
                    top: 12%;
                    left: 67.5%;
                }  
                &.car-5{
                    width: 155px;
                    top: 42.5%;
                    left: 73.5%;
                } 
                &.car-6{
                    width: 368px;
                    top: 2%;
                    left: 50%;
                }
                &.car-7{
                    width: 368px;
                    top: 2%;
                    left: 50%;
                } 
                &.car-8{
                    width: 211px;
                    top: 47%;
                    left: 6%;
                }
                &.car-9{
                    width: 252px;
                    top: 12%;
                    left: 67.5%;
                }
                &.car-10{
                    width: 228px;
                    top: 2%;
                    left: 72%;
                }
                &.car-11{
                    width: 416px;
                    top: 39%;
                    left: 21%;
                }
                &.car-12{
                    width: 642px;
                    top: 44%;
                    left: 1%;
                }
                &.active{
                    opacity: 1;
                }
            }
        }
    }
    @media (max-width:1400px){
        height: 850px;
        .car-back,
        .car{
            width: 1100px;
        }
        .car ul{
            display: none;
        }
    }
    @media (max-width:1199px){
        .car-back,
        .car{
            width: 1000px;
        }
    }
    @media (max-width:991px){
        height: auto;  
    }
}
.index-applications{
    .jqimgFill{
        height: 320px;
    }
    .slick-slide{
        position: relative;
        &::after{
            content:"";
            display: block;
            height: 100%;
            width: 30px;
            position: absolute;
            top: 0;
            right: 0;
            background: linear-gradient(to right ,rgba(0,0,0,0),rgba(0,0,0,0.1));
        }
    }
    .slick-arrow{
        background: black;
        width: 60px;
        height: 60px;
        transform: none;
        top: 288px;
        &:hover{
            background: red;
        }
        &.slick-next{
            right: 20px;
        }
        &.slick-prev{
            left: 20px;
        }
    }
    @media (max-width:1600px){
        .jqimgFill{
            height: 250px;
        }
        .slick-arrow{
            top: 219px;
        }
    }
    @media (max-width:1400px){
        .jqimgFill{
            height: 200px;
        }
        .slick-arrow{
            top: 169px;
        }
    }
    @media (max-width:1199px){
        .jqimgFill{
            height: 300px;
        }
        .slick-arrow{
            top: 269px;
        }
    }
    @media (max-width:991px){
        .jqimgFill{
            height: 250px;
        }
        .slick-arrow{
            top: 219px;
        }
    }
    @media (max-width:575px){
        // .jqimgFill{
        //     height: 300px;
        // }
        .slick-arrow{
            top: 229px;
            width: 40px;
            height: 40px;
        }
    }
}