.listList{
    a{
        img{
            transition: all .5s;
        }
        &:hover{
            img{
                transform: scale(1.02);
            }
            box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
        }
    }
}