.newsList{
    a{
        img{
            transition: all .5s;
        }
        .text-323232{
             transition: all .3s;
        }
        &:hover{
            img{
                transform: scale(1.02);
            }
            .text-323232{
                color:red;
            }
        }
    } 
}