#product{
    main{
        .dec{
            height: 10px;
            background: linear-gradient(to right, #285297,#5781C6);
        }
        .main-section{
            flex: 0 0 69%;
            max-width: 69%;
            .product-block{
                flex: 0 0 56.3%;
                max-width: 56.3%;   
                .zoom-toggle{
                    &.zoom{
                        i{
                            &:nth-child(1){
                                display: none;
                            }
                            &:nth-child(2){
                                display: block;
                            }
                        }
                    }
                    i{
                        &:nth-child(2){
                            display: none;
                        }
                    }
                }
            }
            .detail-block{
                flex: 0 0 43%;
                max-width: 43%;
            }
            .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
                background: #C5D9F8;
            }
            .mCSB_container{
                margin-bottom: 20px;
                margin-right: 0;
            }
            .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
                height: 6px;
                background: #C5D9F8;
            }
        }
        .side-section{
            flex: 0 0 31%;
            max-width: 31%;
            .card.active{
                box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
                i:before{
                    transform: rotate(180deg);
                }
            }
            .scrollbarY{
                max-height: 513px;
            }
            .mCSB_inside > .mCSB_container{
                margin-right: 0;
            }
            .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
                background: #97B2DD;
            }
            .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
                width: 4px;
                background: #97B2DD;
            }
            .mCSB_scrollTools .mCSB_draggerRail{
                background: transparent;
            }
        }
    }
    #downloadModal .modal-dialog{
        max-width: 600px;
    }
    #successModal .modal-dialog{
        max-width: 260px;
        button{
            top: -18px;
            right: -18px;
        }
    }
    #productModal .modal-dialog{
        max-width: 800px;
        .modal-content{
            height: 610px;
            button{
                top: -18px;
                right: -18px;  
            }
            .logo{
                top: 130px;
                left: 50px;
                width: 110px;
            }
            iframe{
                body{
                    background: red;
                }
            }
        }


    } 
    @media(max-width:1199px){
        main .main-section{
            .product-block,
            .detail-block{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .zoom-toggle{
                display: none;
            }
        }
    }
    @media(max-width:991px){
        main{
            .main-section,
            .side-section{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    @media(max-width:767px){
        #productModal .modal-dialog .modal-content{
            height: 300px;
            .logo{
                display: none;
            }
        }
    }
}
.round-loupe {
    border-radius: 50%;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
    img{
        max-width: initial;
        max-height:initial;
    }
}