#products-2{
    .categtories-section{
        min-height: 410px;
        background: url(images/products/car-bg.jpg);
        background-size: cover;
        background-position: center;
        .content{
            height: 364px;
            .mCSB_scrollTools{
                width: 10px;
                .mCSB_dragger .mCSB_dragger_bar{
                    width: 10px;
                    background: white;
                    opacity: 0.5;
                }
                .mCSB_draggerRail{
                    display: none;
                }
            }
            .category.active{
                position: relative;
                opacity: 1;
                &::after{
                    transition: all .3s;
                    content:"";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(#FED073,#F19205);
                    opacity: 1;
                }
                .icon-right-big{
                    opacity: 1;
                }
            }
        }
        .items{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            &.active{
                position: static;
                pointer-events: all;
                opacity: 1;
            }
        }
    } 
    @media(max-width:767px){
        .categtories-section{ 
            .content{           
                display: none;
                height: auto;
                background: linear-gradient(#5781C6, #295398);
                border:1px solid white;
                border-radius: 10px;
                margin-top: 5px;
                position: absolute;
                z-index: 2;
                .category{
                    opacity: 1;
                    background: transparent;
                    border:0;
                    &::after{
                        display: none;
                    }
                    .icon-right-big{
                        opacity: 1;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}