#products-1{
    main{
        form{
            .scrollbarX{
                &::after,
                &::before{
                    content:"";
                    display: block;
                    position: absolute;
                    width: 1px;
                    height: calc(100% - 21px);
                    background: #285297;
                    top: 0;
                    z-index: 1;
                }
                &::after{
                    left: 0;
                }
                &::before{
                    right: 0;
                }
            }

            .items-group{
                margin-left: -3px;
                margin-right: -3px;
                border-top:1px solid #285297;
                border-bottom:1px solid #285297;
                .items{
                    padding-right: 3px;
                    padding-left: 3px;
                    min-width: 202px;
                    .item{
                        height: 320px;
                        border-left:1px solid #285297; 
                        border-right:1px solid #285297;
                        .bg-white{
                            &.active{
                                color:#285297;
                                background: #BECFEA !important;
                            }
                        }
                    }
                }

            }
            .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
                background: #97B2DD;
            }
            .mCSB_container{
                margin-bottom: 20px;
                margin-right: 0;
            }
            .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
                height: 10px;
                background: #97B2DD;
            }
            .bootstrap-select {
                width: 145px;
                .dropdown-toggle{
                    color:black !important;
                }
            }

        }
    }

}
.Android{
    #products-1 main form{
        .scrollbarX{
            border-left:1px solid #285297;
            border-right:1px solid #285297;
            &::after,
            &:before{
                display: none;
            }
        }
        .items-group{
            margin-left: 0;
            margin-right: 0;
            .items{
                &:nth-child(1){
                    padding-left: 0;
                }
                &:last-child{
                    padding-right: 0;
                }
                .item{
                    overflow-y: auto;
                }
                
            }
            
        }
    }
}