﻿@*<script src="~/Scripts/default/jquery.min.js"></script>
    <script src="~/Scripts/plugins/popper.min.js"></script>
    <script src="~/Scripts/plugins/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/slick.js"></script>
    <script src="~/Scripts/plugins/aos.js"></script>
    <script src="~/Scripts/plugins/bootstrap-select.min.js"></script>
    <script src="~/Scripts/plugins/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/plugins/zoomsl.js"></script>
    <script src="~/Scripts/default/ui2.js"></script>*@

    <input type="hidden" id="langPath" value="@Html.Raw(ViewBag.webURL + "/" + ViewBag.Lang)" />

<script src="~/Scripts/default/jquery.min.js"></script>
<script src="~/Scripts/plugins/popper.min.js"></script>
<script src="~/Scripts/plugins/bootstrap.min.js"></script>
<script src="~/Scripts/plugins/slick.js"></script>
<script src="~/Scripts/plugins/imgLiquid.js"></script>
<script src="~/Scripts/plugins/mCustomScrollbar.js"></script>
<script src="~/Scripts/plugins/aos.js"></script>
<script src="~/Scripts/plugins/skrollr.js"></script>
<script src="~/Scripts/plugins/bootstrap-select.min.js"></script>
<script src="~/Scripts/plugins/zoomsl.js"></script>
<script src="~/Scripts/default/function.js"></script>
<script src="~/Scripts/default/ui.js"></script>
<script>
    let langJsonUrl = "@Url.Content("~/"+ViewBag.Lang)/Base/langjsonM?lang = 'tw'";
    let langJsonUrlDt = "@Url.Content("~/tw")/Base/langjsonM?lang = 'tw'";
    let langJsonUrlTw = "@Url.Content("~/cn")/Base/langjsonM?lang = 'cn'";
    let langJsonUrlEn = "@Url.Content("~/en")/Base/langjsonM?lang = 'en'";
        //取代語系文字
    function runLangJson() {

              $.getJSON(langJsonUrl, function(json) {
                $.each( json, function( key, value ) {
                    try {
                         $('#' + key).text(value);
                         $('.' + key).text(value);
                    }
                    catch (e) {

                    }
                });
            });
    }

    function runLangJsonDt() {

        $.getJSON(langJsonUrlDt, function (json) {
            $.each(json, function (key, value) {
                try {
                    $('#' + key).text(value);
                    $('.' + key).text(value);
                }
                catch (e) {

                }
            });
        });
        location.replace('@Html.Raw(ViewBag.webURL + "/tw")');
    }

    function runLangJsonTw() {

        $.getJSON(langJsonUrlTw, function (json) {
            $.each(json, function (key, value) {
                try {
                    $('#' + key).text(value);
                    $('.' + key).text(value);
                }
                catch (e) {

                }
            });
        });
        location.replace('@Html.Raw(ViewBag.webURL + "/cn")');
    }

    function runLangJsonEn() {

        $.getJSON(langJsonUrlEn, function (json) {
            $.each(json, function (key, value) {
                try {
                    $('#' + key).text(value);
                    $('.' + key).text(value);
                }
                catch (e) {

                }
            });
        });
        location.replace('@Html.Raw(ViewBag.webURL + "/en")');
    }
</script>
