﻿<footer>
    <div class="side-wrapper position-fixed text-white rounded-15 overflow-hidden z-3">
        <div class="d-none d-xxl-block bg-red py-2">
            <div class="flex-center py-1">
                <div class="toggle cursor py-1 px-2">
                    <i class="icon-humb font-18 opacity05"></i>
                </div>
                <ul class="noneStyle font-weight-500 overflow-hidden">
                    <li class="mb-3">
                        <a class="d-block pb-2" href="@Url.Content("~/"+ViewBag.Lang)/about/stronghold">
                            <span class="d-table mx-auto mb-1">
                                <i class="icon-earth-2"></i>
                            </span>
                            <span class="writing-vertical">@ViewBag.ResLang["全球據點"]</span>
                        </a>
                    </li>
                    <li class="mb-3">
                        <a class="d-block pb-2" href="@Url.Content("~/"+ViewBag.Lang)/contact/index">
                            <span class="d-table mx-auto mb-1">
                                <i class="icon-mail font-14"></i>
                            </span>
                            <span class="writing-vertical">@ViewBag.ResLang["聯絡我們"]</span>
                        </a>
                    </li>
                    <li>
                        <a class="d-block pb-2" href="@Url.Content("~/"+ViewBag.Lang)/business/login">
                            <span class="d-table mx-auto mb-1">
                                <i class="icon-person"></i>
                            </span>
                            <span class="writing-vertical">@ViewBag.ResLang["會員登入"]</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="goTop" class="bg-darkRed flex-center text-center cursor px-2 py-1">
            <div>
                <i class="icon-up-big opacity05"></i>
                <span class="d-none d-sm-block font-14 lh1 opacity05">TOP</span>
            </div>
        </div>
    </div>
    <div class="top-wrapper text-white pt-md-2 pb-md-4">
        <div class="blank py-4">
            <ul class="noneStyle d-table d-md-flex justify-center py-md-5 my-md-4 mx-auto">
                <li class="px-4 px-xl-5 mb-3 mb-md-0">
                    <a href="@Url.Content("~/"+ViewBag.Lang)/business/login" class="d-flex align-center px-lg-3 px-xxl-5 mx-lg-2">
                        <span class="img flex-center mr-4">
                            <img src="~/styles/images/footer/icon-1.svg" alt="胡連精密">
                        </span>
                        <span>
                            <span class="d-block font-20 font-weight-bold">@ViewBag.ResLang["會員專區"]</span>
                            <span class="d-block font-weight-bold" style="color:rgba(255,255,255,0.6)">MEMBER</span>
                        </span>
                    </a>
                </li>
                <li class="px-4 px-xl-5 mb-3 mb-md-0">
                    <a href="@Url.Content("~/"+ViewBag.Lang)/contact/index" class="d-flex align-center px-lg-3 px-xxl-5 mx-lg-2">
                        <span class="img flex-center mr-4">
                            <img src="~/styles/images/footer/icon-2.svg" alt="胡連精密">
                        </span>
                        <span>
                            <span class="d-block font-20 font-weight-bold">@ViewBag.ResLang["聯絡我們"]</span>
                            <span class="d-block font-weight-bold" style="color:rgba(255,255,255,0.6)">CONTACT US</span>
                        </span>
                    </a>
                </li>
                <li class="px-4 px-xl-5">
                    <a href="@Url.Content("~/"+ViewBag.Lang)/investor/stakeholder" class="d-flex align-center px-lg-3 px-xxl-5 mx-lg-2">
                        <span class="img flex-center mr-4">
                            <img src="~/styles/images/footer/icon-3.svg" alt="胡連精密">
                        </span>
                        <span>
                            <span class="d-block font-20 font-weight-bold">@ViewBag.ResLang["利害關係人專區"]</span>
                            <span class="d-block font-weight-bold" style="color:rgba(255,255,255,0.6)">STAKEHOLDER</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom-wrapper bg-white py-4 py-md-5">
        <div class="blank d-block d-md-flex justify-center py-md-2">
            <div class="d-block d-sm-table d-md-block flex-shrink-0 pr-md-3 pr-lg-5 ml-auto ml-md-0 mr-auto mr-md-0 mr-xl-4">
                <a class="logo d-block mx-auto mx-md-0 mb-2 pb-1" href="~/">
                    <img src="~/styles/images/logo.svg" alt="胡連精密">
                </a>
                <div class="font-15 text-center text-sm-left pl-sm-5 ml-sm-5">
                    <span class="d-block mb-md-2">Copyright© Hu Lane Associate Inc.</span>
                    <span class="d-block">Designed by <a class="text-hover-red" href="https://minmax.tw/" target="_blank">MINMAX 網頁設計</a> </span>
                    <div class="mt-1 mt-md-3">
                        <a class="text-hover-red" href="@Url.Content("~/"+ViewBag.Lang)/home/privacy">@ViewBag.ResLang["隱私權政策"]</a><span class="mx-2">|</span>
                        <a class="text-hover-red" href="@Url.Content("~/"+ViewBag.Lang)/home/terms">@ViewBag.ResLang["網站使用條款"]</a>
                    </div>
                </div>
            </div>
            <div class="d-table d-md-block font-weight-bold flex-shrink-0 text-center text-md-left ml-auto ml-md-0 mr-auto mr-md-0 mr-xl-5 pr-xl-5 mt-2 mt-md-4 mt-md-0">
                <span class="d-block font-18 font-weight-bold mb-md-2">@ViewBag.ResLang["總公司"]</span>
                <ul class="noneStyle">
                    <li class="d-flex justify-center justify-md-start pb-md-2">
                        <div style="width:18px;" class="mr-2">
                            <i class="icon-phone font-20" style="line-height:28px;"></i>
                        </div>
                        TEL:<a href="tel:@ViewBag.webData.phone" class="text-hover-red"> @Html.Raw(ViewBag.webData.phone.Replace("+",""))</a>
                    </li>
                    <li class="d-flex justify-center justify-md-start pb-2 pb-md-3 mb-2 border-bottom-C8C8C8">
                        <div style="width:18px;" class="mr-2">
                            <i class="icon-mail font-14"></i>
                        </div>
                        E-MAIL: <a href="mailto:@ViewBag.webData.servicemail" class="text-hover-red"> @ViewBag.webData.servicemail</a>
                    </li>
                    <li class="d-flex justify-center justify-md-start pt-1">
                        <div style="width:18px;" class="mr-2">
                            <i class="icon-earth font-18" style="line-height:28px;"></i>
                        </div>
                        <a href="@Url.Content("~/"+ViewBag.Lang)/about/stronghold" class="text-hover-red">@ViewBag.ResLang["集團全球聯絡據點"]</a>
                    </li>
                </ul>
            </div>
            <div class="row flex-shrink-1 justify-center justify-md-start mt-3 mt-md-5 mt-xl-0">
                <div class="mx-2 mb-3">
                    <img src="~/Styles/images/footer/1.png" alt="胡連精密">
                </div>
                <div class="mx-2 mb-3">
                    <img src="~/styles/images/footer/2.png" alt="胡連精密">
                </div>
                <div class="mx-2 mb-3">
                    <img src="~/styles/images/footer/3.png" alt="胡連精密">
                </div>
                <div class="mx-2 mb-3">
                    <img src="~/styles/images/footer/4.png" alt="胡連精密">
                </div>
                <div class="mx-2 mb-3">
                    <img src="~/styles/images/footer/5.png" alt="胡連精密">
                </div>
                <div class="mx-2 mb-3">
                    <img src="~/styles/images/footer/6.png" alt="胡連精密">
                </div>
                <div class="mx-2 mb-3">
                    <img src="~/styles/images/footer/7.png" alt="胡連精密">
                </div>
                <div class="mx-2 mb-3">
                    <img src="~/styles/images/footer/8.png" alt="胡連精密">
                </div>
            </div>
        </div>
    </div>
</footer>
