﻿<header class="bg-white blank position-fixed w-100 z-4 box-shadow-style-6">
    <div class="d-flex align-center justify-between max1640">
        <a href="~/" class="logo">
            <img class="" src="~/Styles/images/logo.svg" alt="胡連精密">
        </a>
        <div class="menu-toggle position-relative d-xxl-none">
            <div class="bar1 bg-red position-absolute"></div>
            <div class="bar2 bg-red position-absolute"></div>
        </div>
        <div class="gray_block d-xxl-none position-absolute"></div>
        <div class="bg_phone bg-white flex-grow">

            <div class="position-relative d-xxl-flex justify-between z-1 px-4 pr-xxl-0 pl-xxl-4">
                <ul class="menu noneStyle d-xxl-flex les06">
                    <li class="border-right-dec-xxl-C8C8C8 @Html.Raw( (ViewBag.headerActive.ContainsKey("product") && ViewBag.headerActive["product"] != null) ? ViewBag.headerActive["product"] : "")">
                        <a class="d-block text-hover-red" href="@Url.Content("~/"+ViewBag.Lang)/products/index">@ViewBag.ResLang["產品介紹"]</a>
                    </li>
                    <li class="border-right-dec-xxl-C8C8C8 @Html.Raw( (ViewBag.headerActive.ContainsKey("about") && ViewBag.headerActive["about"] != null) ? ViewBag.headerActive["about"] : "")">
                        <a class="d-block text-hover-red" href="@Url.Content("~/"+ViewBag.Lang)/about/index">@ViewBag.ResLang["關於胡連"]</a>
                    </li>
                    <li class="border-right-dec-xxl-C8C8C8 @Html.Raw( (ViewBag.headerActive.ContainsKey("business") && ViewBag.headerActive["business"] != null) ? ViewBag.headerActive["business"] : "")">
                        <a class="d-block text-hover-red" href="@Url.Content("~/"+ViewBag.Lang)/business/list">@ViewBag.ResLang["商務專區"]</a>
                    </li>
                    <li class="border-right-dec-xxl-C8C8C8 @Html.Raw( (ViewBag.headerActive.ContainsKey("news") && ViewBag.headerActive["news"] != null) ? ViewBag.headerActive["news"] : "")">
                        <a class="d-block text-hover-red" href="@Url.Content("~/"+ViewBag.Lang)/news/index">@ViewBag.ResLang["最新訊息"]</a>
                    </li>
                    <li class="border-right-dec-xxl-C8C8C8 @Html.Raw( (ViewBag.headerActive.ContainsKey("investor") && ViewBag.headerActive["investor"] != null) ? ViewBag.headerActive["investor"] : "")">
                        <a class="d-block text-hover-red" href="@Url.Content("~/"+ViewBag.Lang)/investor/list">@ViewBag.ResLang["投資人專區"]</a>
                    </li>
                    <li class="@Html.Raw( (ViewBag.headerActive.ContainsKey("welfare") && ViewBag.headerActive["welfare"] != null) ? ViewBag.headerActive["welfare"] : "")">
                        <a class="d-block text-hover-red" href="@Url.Content("~/"+ViewBag.Lang)/welfare/index">@ViewBag.ResLang["人力資源"]</a>
                    </li>
                </ul>
                <div class="d-xxl-flex align-center mt-4 mt-xxl-0">
                    <div class="border-right-dec-xxl-C8C8C8 mr-xxl-4 pr-xxl-4">
                        <form action="@Url.Content("~/"+ViewBag.Lang+"/products/keyword")" method="post" class="d-table border-C8C8C8 rounded-5 bg-F4F4F4 mx-auto p-2 mr-xxl-2">
                            <input type="text" class="px-2" name="keyword" style="width:155px" placeholder="@ViewBag.ResLang["產品關鍵字搜尋"]">
                            <button class="text-red px-1" type="submit">
                                <i class="icon-search"></i>
                            </button>
                        </form>
                    </div>
                    <a class="d-table font-weight-500 text-hover-red border-right-dec-xxl-C8C8C8 mx-auto pr-xxl-4 mr-xxl-2 mt-3 mt-xxl-0" href="@Url.Content("~/home/Sitemap")">
                        <span class="d-block px-1">@ViewBag.ResLang["網站地圖"]</span>
                    </a>
                    <div class="lang d-table position-relative mx-auto">
                        <button type="button" class="toggle text-hover-red py-2 py-xxl-3 pl-3">
                            <span class="flex-align-center py-2">
                                <span class="mr-2 pr-1">@ViewBag.langulange</span>
                                <span style="width:18px;height:18px;" class="flex-center border-C8C8C8 rounded-circle">
                                    <span class="flex-center text-red">
                                        <i class="icon-down-open font-12"></i>
                                    </span>
                                </span>
                            </span>
                        </button>
                        <div class="content bg-white position-absolute py-xxl-2">
                            <ul class="noneStyle text-center  w-100 pb-3 px-3">
                                <li class="text-hover-red py-2 border-bottom-C8C8C8">
                                    <button onclick="runLangJsonDt()"><span>繁體中文</span></button>
                                    @*<a href="#">繁體中文</a>*@
                                </li>
                                <li class="text-hover-red py-2 border-bottom-C8C8C8">
                                    <button onclick="runLangJsonTw()"><span>簡體中文</span></button>
                                    @*<a href="@Url.Content("~/cn")/Base/langjson">簡體中文</a>*@
                                </li>
                                <li class="text-hover-red py-2 border-bottom-C8C8C8">
                                    <button onclick="runLangJsonEn()"><span>English</span></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

