﻿<!-- Title and Meta
================================================== -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>@Html.Raw(!string.IsNullOrEmpty(ViewBag.title) ? ViewBag.title + "-" + ViewBag.webData.title : ViewBag.webData.title)</title>
<meta name="author" content="" />
<meta name="description" content="@Html.Raw(!string.IsNullOrEmpty(ViewBag.description) ? ViewBag.description : ViewBag.description)" />
<meta name="keywords" content="@Html.Raw(!string.IsNullOrEmpty(ViewBag.keywords) ? ViewBag.keywords : ViewBag.keywords)" />

<!-- Facebook Open Graph Meta
================================================== -->
<meta property="og:title" content="" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover" />
<meta name="format-detection" content="telephone=no">
<link rel="icon" type="image/x-icon" href="~/Styles/images/web-icon.ico" />
<link href="//vjs.zencdn.net/7.3.0/video-js.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/Styles/style.css" />
<!-- sameAs 標記公司的其他官方網站或社群，如FB、推特、IG、linkdin等等 -->
<script type="application/ld+json">
    {
        "context": "https://schema.org",
        "type": "Organization",
        "url": "https://html.e000482.24241872.tw",
        "name": "胡連精密股份有限公司",
        "legalName": "胡連精密股份有限公司",
        "logo": "https://html.e000482.24241872.tw/styles/images/web-icon.ico",
        "sameAs": [


        ],
        "contactPoint": [{
            "type": "ContactPoint",
            "telephone": "+886-2-26940551",
            "contactType": "customer service",
            "contactOption": "TollFree",
            "areaServed": "TW",
            "availableLanguage": "zh-TW"
        }]
    }
</script>