﻿<!doctype html>
<html lang="@ViewBag.Lang">

<head>
    @Html.Partial("_HeaderTitle")
    @RenderSection("style", required: false)
    <link href="~/Styles/sweetalert.css" rel="stylesheet">
</head>

<body>
    <div class="wp">

        @Html.Partial("_Header")

        <!-- main ======================================================================================= -->
        @RenderBody()

        <!-- main ======================================================================================= -->
        @Html.Partial("_Footer")
    </div>



    <input type="hidden" name="appPath" id="appPath" value="@(Request.ApplicationPath == "/"?"":Request.ApplicationPath)" />
    <input type="hidden" name="appPath" id="appPathtw" value="@(Request.ApplicationPath == "/"?"":Request.ApplicationPath + "/tw")" />
    @Scripts.Render("~/ViewsApp/bundle/layout.js")
    @Html.Partial("_FooterJS")
    <script src="~/Scripts/sweetalert.min.js"></script>
    @RenderSection("scripts", required: false)

</body>

</html>