﻿<img class="mb-3 mb-sm-4 pb-sm-2" src="Styles/images/news/new/img.jpg" alt="胡連精密" data-aos="fade-up">
<p class="mb-2" data-aos="fade-up">本期推出線束連接器產品應用，包含保險盒、後箱控制感應、電池管理系統、DC-DC穩壓器、連接器固定、電子駐車剎車、安全氣囊轉換器、影像監測、電動機車用端子、電動座椅、電子儀表、攝像感應器、車身控制模組等。</p>
<p class="mb-2" data-aos="fade-up">請按 「下載」 以取得本期新產品資料.</p>
<p class="mb-2" data-aos="fade-up">Email:<a class="text-red" href="mailto:marketing@hulane.com.tw"> marketing@hulane.com.tw</a></p>

<a class="d-inline-block bg-red text-white rounded-50 px-4 mt-3" href="#" download data-aos="fade-up">
    <span class="flex-align-center py-sm-1 px-1">
        <i class="icon-download-1 font-26 mr-2"></i>
        <span>下載</span>
    </span>
</a>