﻿@using Web.Models;
@using Web.DB.Models;
@using Newtonsoft.Json;
@{
    Layout = "~/Views/Siteadmin/Shared/_Layout.cshtml";
    
    inquire data = ViewBag.data;


    int i = 1;


}

@section css {
    @Styles.Render("~/Scripts/elfinder/css/smoothness-1.8.23/jquery-ui-1.8.23.custom.css")
    @Styles.Render("~/Scripts/elfinder/css/elfinder.full.css")
    @Styles.Render("~/Scripts/elfinder/windows-10/css/theme.css")
    @Styles.Render("~/Scripts/imgareaselect/css/imgareaselect-default.css")

}

<div class="content-body">
    <!-- layout-content-->
    <section class="panel panel-default">
        <header class="panel-heading">
            <h1 class="h5 float-left font-weight-bold">
                投資人意見留言板
            </h1>



            <div class="float-right">
            
                    <button class="btn btn-sm btn-light" type="button" onclick="window.location.href='@Url.Content("~/siteadmin/survey/list")'" title="返回"><i class="icon-undo2"></i><span class="ml-1 d-none d-md-inline-block">返回</span></button>
             
               
            </div>
        </header>
        <div class="panel-wrapper">
            <div class="panel-body">
                <form action="@Url.Content("~/siteadmin/survey/save")" method="post" name="saveForm" id="saveForm">


                    <input type="hidden" name="id" id="id" value="@data.id">
                    <input type="hidden" name="guid" id="guid" value="@data.guid">



                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>主要設定</legend>



                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                姓名
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@data.name" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                E-Mail
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@data.email" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                部門
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@data.department" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                職稱
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@data.jobTitle" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>



                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                eNews
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@data.eNews" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>




                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                公司
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@data.company" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                國家
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@data.country" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                網址
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@data.website" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>



                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                電話
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@data.tel" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                傳真
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                <input class="form-control" type="text" readonly value="@data.fax" />
                                <div class="_formErrorMsg"></div>
                            </div>
                        </div>


                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="subject">
                                詢問訊息
                            </label>

                            <div class="col-lg-5 col-xl-4">
                                @data.message
                            </div>
                        </div>


                    </fieldset>


                 



                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>進階選項</legend>

                        <div class="form-group row vLay v_tw">
                            <label class="col-lg-2 col-form-label" for="tiptop">
                                狀態
                            </label>
                            <div class="col-lg-10">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" id="status_tw0" name="status" value="Y" @if (data.status == "Y") { @Html.Raw("checked") ; } />
                                    <label class="custom-control-label" for="status_tw0">已處理</label>
                                </div><div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" id="status_tw1" name="status" value="N" @if (data.status == "N") { @Html.Raw("checked") ; } />
                                    <label class="custom-control-label" for="status_tw1">未處理</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="text-center my-4 form-btn-group">

                        <button class="btn btn-main submitBut" type="submit">送出</button>
                        <button class="btn btn-default" type="reset">清除重填</button>
                    </div>

                </form>
            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>
@section scripts {
    <input type="hidden" id="fileMegRoot" value="@Url.Content("~/connector")" />

    <!--page index-->
    @*@Scripts.Render("~/Content/Siteadmin/scripts/index2.js")*@

    <!-- * * * DataTables 表格-->
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/datatables.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/dataTables.responsive.min.js")
    <!-- * * form -->
    <!-- * * * ckeditor 編輯器-->
    @Scripts.Render("~/Content/Siteadmin/modules/ckeditor/ckeditor.js")
    <!-- * * * Bootstrap Daterangepicker 日期區間-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/moment.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/daterangepicker.js")
    <!-- * * * bootstrap-select 下拉選單-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-select/bootstrap-select.js ")
    <!-- * * * multiselect 分類左右選擇 select multiple-->
    @Scripts.Render("~/Content/Siteadmin/modules/multiselect/js/jquery.multi-select.js")
    <!-- * * * multiselect 分類左右選擇 搜尋框 jquery-quicksearch-->
    @Scripts.Render("~/Content/Siteadmin/modules/quicksearch-master/jquery.quicksearch.js")
    @Scripts.Render("~/Content/Siteadmin/modules/select2/js/select2.full.min.js")
    <!-- * * * typeahead 建議字詞清單 typeahead.bundle.js-->
    @Scripts.Render("~/Content/Siteadmin/modules/typeahead/typeahead.bundle.js")

    <!-- * * * inputmask 表單格式-->
    @Scripts.Render("~/Content/Siteadmin/modules/inputmask/jquery.inputmask.bundle.min.js")
    <!-- * * * jquery.repeater.min.js 新增欄位-->
    @Scripts.Render("~/Content/Siteadmin/modules/repeater/jquery.repeater.min.js")
    <!-- * * * bootstrap-colorpicker-master 顏色選取-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-colorpicker-master/js/bootstrap-colorpicker.min.js")
    <!-- * * * nestable 排序拖曳-->
    @Scripts.Render("~/Content/Siteadmin/modules/nestable/jquery.nestable.js")
    <!-- * * * dropzonejs 檔案上傳-->
    @Scripts.Render("~/Content/Siteadmin/modules/dropzonejs/dropzone.js")
    <!-- * * * Jcrop Image Cropping Plugin 圖片座標截圖 -->
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.Jcrop.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.color.js")
    <!-- * * * ammap 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/ammap.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/maps/js/worldLow.js")
    <!-- * * * amcharts 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/amcharts.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/pie.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/serial.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/export/export.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/dataloader/dataloader.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/themes/light.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/lib/amstock.js")
    <!-- * * * bootstrap-datepicker 日曆-->
    <!--@Scripts.Render("~/Content/Siteadmin/modules/bootstrap-datepicker/bootstrap-datepicker.min.js")-->
    <!-- * * * bootstrap-year-calendar 年曆-->
    <!-- @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/bootstrap-year-calendar.js")
     @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/languages/bootstrap-year-calendar.tw.js")-->
    @Scripts.Render("~/Content/Siteadmin/scripts/form.js")

    @Scripts.Render("~/Content/Siteadmin/scripts/datatables.js")
    @Scripts.Render("~/Content/Siteadmin/scripts/typeahead.js")

    <script src="@Url.Content("~/")Scripts/elfinder/js/elfinder.full.js" type="text/javascript" charset="utf-8"></script>
    @Scripts.Render("~/Scripts/elfinder/js/i18n/elfinder.zh_TW.js")
    @Scripts.Render("~/Scripts/elfinder/js/jquery-ui-1.11.4.min.js")
    @Scripts.Render("~/Scripts/imgareaselect/scripts/jquery.imgareaselect.js")

    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")
    @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")

    @Scripts.Render("~/Scripts/jquery.blockUI.js")

    <!-- /  layout-js-->
}