﻿<div class="text text-white position-absolute">
    <p class="font-80 font-weight-bold mb-md-4">
        <span class="d-block">Professional</span>
        <span class="d-block">Connector</span>
        <span class="d-block">Manufacture</span>
    </p>
    <p class="font-24">全球專業汽車業連接器和端子供應商</p>
    <a href="products-1" class="d-table Heebo font-15 font-weight-bold les2 border-white rounded-25 bg-hover-white text-hover-red py-2 py-sm-3 px-4 mt-3 mt-md-5">ALL PRODUCTS</a>
</div>
<div class="circle-group position-absolute">
    <div class="circle absolute-center">
        <div class="wave wave-1"></div>
        <div class="wave wave-2"></div>
        <div class="wave wave-3"></div>
        <div class="wave wave-4"></div>
        <div class="wave wave-5"></div>
        <div class="wave wave-6"></div>
        <div class="wave wave-7"></div>
        <div class="wave wave-8"></div>
        <div class="wave wave-9"></div>
        <div class="wave wave-10"></div>
    </div>
    <div class="circle-bg bg-white rounded-circle position-relative">
        <img class="position-relative" src="Styles/images/index/radius-product.png" alt="胡連精密">
    </div>
</div>