﻿@using Web.DB.Models
@using Web.Service;
@{
    news data = ViewBag.data;
    List<news_category> categoriec = ViewBag.category;
    news_category categoryData = ViewBag.categoryData;
}

<main>
    <div class="banner banner-style-1 position-relative text-white font-weight-bold z-3" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["最新訊息"]</h1>
        <h2 class="hidden">@categoryData.title</h2>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/about.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/about-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
        <div class="links-element position-absolute w-100">
            <div class="d-flex d-lg-none align-center py-2 px-4">
                <span class="text-white pr-4">單元</span>
                <span class="toggle bg-3B3B3B flex-grow flex-justify-space-between text-white px-3 py-1">
                    <span></span>
                    <i class="icon-plus"></i>
                </span>
            </div>
            <div class="d-lg-table mx-auto">
                <ul class="noneStyle d-lg-flex text-center">
                    @foreach (news_category category in categoriec)
                    {
                        <li @if (ViewBag.id == category.guid) { @Html.Raw("class=\"active\"") ; }>
                            <a href="@Url.Content("~/"+ViewBag.Lang)/news/index/@category.guid" class="d-block bg-hover-red py-1 py-lg-3 px-4"><span class="d-block m-1">@category.title</span></a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1200 d-sm-flex justify-between align-center">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["最新訊息"]</li>
                    <li class="flex-align-center">@categoryData.title</li>
                </ol>
            </div>
            @if (ViewBag.years.Count > 0)
            {
                <div class="flex-align-center border-blue225387 rounded-25 position-relative z-1 px-3 mt-1 mt-sm-0 mb-3 mb-sm-0" data-aos="fade-up">
                    <span class="flex-shrink-0">@ViewBag.ResLang["發布年分"]</span>
                    <select name="year" id="year" class="selectpicker font-18 font-weight-bold text-blue225387 style-2 w-100" onchange="window.location.href='@Url.Content("~/"+ViewBag.Lang + "/news/index/" + data.category + "?year=")' + $(this).val()">
                        <option value="">ALL</option>
                        @foreach (Web.Models.Year years in ViewBag.years)
                        {
                            <option value="@years.year" @if (ViewBag.year == years.year) { @Html.Raw("selected") ; }>@years.year</option>
                        }



                    </select>
                </div>
            }
        </div>
    </div>
    <div class="blank pb-5 pt-lg-4">
        <div class="max1200">
            <span class="font-weight-bold">@DateTime.Parse(data.startdate.ToString()).ToString("yyyy-MM-dd")</span>
            <h3 class="font-26 font-weight-bold">@data.title</h3>
            <div class="editor border-bottom-C8C8C8 pt-1 pt-sm-3 pb-4 pb-sm-5 mb-4" id="new-editor">
                <!--編輯器開始-->
                @Html.Raw(FunctionService.FormatImagePath(data.content))
                <!--編輯器結束-->
            </div>
            <p><a class="d-inline-block bg-red text-white rounded-50 px-4 mt-3" data-aos="fade-up" href="~/@data.file" target="_blank"><span class="flex-align-center py-sm-1 px-1"><i class="icon-download-1 font-26 mr-2"></i> <span>下載</span> </span> </a></p>
            <div class="flex-align-center max380 justify-between pt-sm-3" data-aos="fade-up">
                @if (ViewBag.prevData != null)
                {
                    news item = ViewBag.prevData;
                    <div>
                        <a class="flex-align-center text-blue225387" href="@Url.Content("~/"+ViewBag.Lang)/news/detail/@item.guid">
                            <i class="icon-left-open font-14"></i>
                            <span class="font-weight-500 ml-2">@ViewBag.ResLang["上一則"]</span>
                        </a>
                    </div>
                }
                <a href="@Url.Content("~/"+ViewBag.Lang)/news/index/@data.category" class="d-block fill-currentColor bg-blue225387 text-white rounded-25 btn-dec py-2 px-4">
                    <span class="flex-align-center py-1 px-sm-4">
                        <i class="icon-block mr-2"></i>
                        <span class="d-block">@ViewBag.ResLang["返回列表"]</span>
                    </span>
                </a>
                @if (ViewBag.nextData != null)
                {
                    news item = ViewBag.nextData;
                    <div>
                        <a class="flex-align-center text-blue225387" href="@Url.Content("~/"+ViewBag.Lang)/news/detail/@item.guid">
                            <span class="font-weight-500 mr-2">@ViewBag.ResLang["下一則"]</span>
                            <i class="icon-right-open font-14"></i>
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
</main>



@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });

    </script>
}

