﻿@using Web.DB.Models
@using Web.Service;
@{
    List<news_category> categoriec = ViewBag.category;
}

<main>
    <div class="banner banner-style-1 position-relative text-white font-weight-bold z-3" data-aos="fade-up">
        <h1 class="font-40 absolute-center w-100 text-center px-4 mb-0">@ViewBag.ResLang["最新訊息"]</h1>
        <h2 class="hidden">@ViewBag.title</h2>
        <div class="imgFill h-100" data-query="size">
            <picture>
                <source media="(min-width: 576px)" srcset="~/styles/images/banner/about.jpg" />
                <source media="(max-width: 575px)" srcset="~/styles/images/banner/about-mobile.png" />
                <img src="#" alt="胡連精密" />
            </picture>
        </div>
        <div class="links-element position-absolute w-100">
            <div class="d-flex d-lg-none align-center py-2 px-4">
                <span class="text-white pr-4">單元</span>
                <span class="toggle bg-3B3B3B flex-grow flex-justify-space-between text-white px-3 py-1">
                    <span></span>
                    <i class="icon-plus"></i>
                </span>
            </div>
            <div class="d-lg-table mx-auto">
                <ul class="noneStyle d-lg-flex text-center">
                      @foreach (news_category category in categoriec)
                      {
                        <li @if (ViewBag.id == category.guid) { @Html.Raw("class=\"active\""); }>
                            <a href="@Url.Content("~/"+ViewBag.Lang)/news/index/@category.guid" class="d-block bg-hover-red py-1 py-lg-3 px-4"><span class="d-block m-1">@category.title</span></a>
                        </li>
                      }
                   
                </ul>
            </div>
        </div>
    </div>
    <div class="border-bottom-C8C8C8 blank mb-3">
        <div class="max1200 d-sm-flex justify-between align-center">
            <div class="breadcrumb-element border-bottom-5-red d-table">
                <ol class="breadcrumb py-2 py-sm-3 py-lg-4 px-0 mb-0" data-aos="fade-up">
                    <li class="flex-align-center"><a href="~/">@ViewBag.ResLang["首頁"]</a></li>
                    <li class="flex-align-center">@ViewBag.ResLang["最新訊息"]</li>
                    <li class="flex-align-center">@ViewBag.title</li>
                </ol>
            </div>
            @if (ViewBag.years.Count > 0)
            {
                <div class="flex-align-center border-blue225387 rounded-25 position-relative z-1 px-3 mt-1 mt-sm-0 mb-3 mb-sm-0" data-aos="fade-up">
                    <span class="flex-shrink-0">@ViewBag.ResLang["發布年分"]</span>
                    <select name="year" id="year" class="selectpicker font-18 font-weight-bold text-blue225387 style-2 w-100" onchange="window.location.href='@Url.Content("~/"+ViewBag.Lang + "/news/index/" + ViewBag.id + "?year=")' + $(this).val()">
                        <option value="">ALL</option>
                        @foreach (Web.Models.Year years in ViewBag.years)
                        {
                            <option value="@years.year" @if (ViewBag.year == years.year) { @Html.Raw("selected"); }>@years.year</option>
                        }



                    </select>
                </div>
            }


        </div>
    </div>
    <div class="blank pb-5 pt-lg-4">
        <div class="max1200">
            <ul class="newsList row noneList mb-sm-5 pb-lg-2 pl-0">

                @if (ViewBag.list.Count > 0)
                {
                    int i = 0;
                    foreach (news data in ViewBag.list)
                    {
                        <li class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5" data-aos="fade-up">
                            <h3 class="hidden">@data.title</h3>
                            <a href="@Url.Content("~/"+ViewBag.Lang)/news/detail/@data.guid">
                                <span class="d-block overflow-hidden mb-2 mb-lg-3">
                                    <img class="w-100" src="@Url.Content("~/"+data.pic)" alt="@Html.Raw( string.IsNullOrEmpty(data.pic_alt) ? data.pic_alt : "" )">
                                </span>
                                <span class="d-block">
                                    <span class="d-block font-18 font-weight-bold text-blue225387">@DateTime.Parse(data.startdate.ToString()).ToString("yyyy-MM-dd")</span>
                                    <span class="d-block text-323232 NotoSansTC font-weight-500 mb-2 pb-lg-1">@data.title</span>
                                    <span class="flex-align-center">
                                        <span class="font-weight-bold text-BABABA mr-2 pr-1">READ MORE</span>
                                        <span class="flex-center border-blue225387 rounded-circle text-blue225387 fill-currentColor" style="width:24px;height:24px;">
                                            <i class="icon-right-big font-12 lh2"></i>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                    }
                }




            </ul>


            <div class="d-table mx-auto">
                <ul class="pages-element noneStyle flex-align-center" data-aos="fade-up">
                    @Html.Raw(ViewBag.pageView)
                </ul>
            </div>


        </div>
    </div>
</main>



@section scripts {
    <script>
        AOS.init({
            duration: 500,
            offset: 10,
            mirror: true,
        });

    </script>
}

