
// // layout
$gray:#e1e5ec;
$blue: #3598dc;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e7505a;
$orange: #F3991D;
$yellow: #F1C40F;
$green: #77bca9;
$teal: #28a745;
$cyan: #659be0;
$main:$red;
$main-color:$red;



//
// base style
//
// 左側寬度
$left-width:225px;

// //
// // color style chimei
// //

// $gray:#e1e5ec;
// $blue: #3598dc;
// $indigo: #6610f2;
// $purple: #6f42c1;
// $pink: #e83e8c;
// $red: #e7505a;
// $orange: #ffb752;
// $yellow: #F1C40F;
// $green: #28a745;
// $teal: #28a745;
// $cyan: #659be0;
// $main:#193155;
// //$main:$red;
// $main-color:$main;
// $secondary:     #3c3c3c;

//
// layout style 

@import "_style-white.scss";
//@import "_style-header-color";
//@import "_style-sidebar-color";
//@import "_style-color";
