﻿<table style="height: 100%;" width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#f5f5f5">
    <tbody>
        <tr>
            <td height="30">&nbsp;</td>
        </tr>
        <tr>
            <td align="center">
                <table border="0" width="680" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                        <tr>
                            <td height="30">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding: 0 15px;">
                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#fff">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#0095c8">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 5px; line-height: 5px;" width="680" height="5">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left; padding: 0 35px;">
                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center"><img style="width: 250px;" src="{[websiteUrl]}/styles/images/public/logoHeader.svg" alt="" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="10">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">
                                                                <h1 style="color: #479ccf; font-size: 28px; margin: 0 0 2px 0; font-weight: 300;">新會員資訊</h1>
                                                                <p style="color: #adaeb1; font-size: 12px; margin: 0 auto 5px auto;">本信件為系統自動發送，請勿直接回覆！</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="15">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#f2f7fa">
                                                    <tbody>
                                                        <tr>
                                                            <td height="30">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: left; padding: 0 25px;">
                                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFf">
                                                                    <tbody>

                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Company Name</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[companyName]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Country</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[country]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Location</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[location]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Invoice/Mail Address</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[invoice]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Delivery Address</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[delivery]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Telephone No.</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[telphone]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Fax No.</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[faxNo]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Chairman</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[chairman]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Person to Contact</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[personContact]}</td>
                                                                        </tr>


                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Website</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[website]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Email</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[email]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Date of Establishment</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[esrablishment]}</td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Capital Stock</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[capitalStock]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Business License</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[licence]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Number of Employees</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[employeeNum]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">Branch Office / Factory in Overseas</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[overseas]}</td>
                                                                        </tr>


                                                                    </tbody>
                                                                </table>
                                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td height="30">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td align="center">
                                                                                                <p style="color: #515154; font-size: 14px; margin: 0 auto 5px auto; line-height: 25px;">感謝您對 <a style="color: #515154; text-decoration: none; margin-left: 5px;" href="{[websiteUrl]}" target="_blank" rel="noopener">{[websiteName]}</a> 的支持<br />敬祝 順利 平安</p>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td height="30">&nbsp;</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="40">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="">
    <tbody>
        <tr>
            <td style="font-size: 5px; line-height: 5px;" height="15">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <!--頁尾-->
                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="">
                    <tbody>
                        <tr>
                            <td align="center">
                                <p style="color: #86868b; font-size: 12px; margin: 0 auto 5px auto;">&copy; 2021<a style="color: #86868b; text-decoration: none; margin-left: 5px;" href="{[websiteUrl]}" target="_blank" rel="noopener">{[websiteName]}</a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="20">&nbsp;</td>
        </tr>
    </tbody>
</table>